Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

build: install dependencies
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: update deployBankAccount function to include USDT and USDC addresses
  app/src/components/forms/DeploymentActions.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance ExpenseAccountEIP712 with token support
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

feat: add TODO for ERC20 token support in ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests, app-e2e-tests

fix: assign interval variable
  app/src/components/TestToast.vue
Due: app-unit-tests, app-e2e-tests

fix: handle when metamask disconnected
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

update workflow
  app/.github/workflows/app-e2e.yml
  app/.github/workflows/app-vitest.yml
  app/.github/workflows/code-quality.yml
  backend/.github/workflows/backend-vitest.yml
  contract/.github/workflows/contract-vitest.yml
  contract/.github/workflows/contract.yml
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: deploy to sepolia
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: contract-unit-tests

deploy: update deployed addresses and artifacts for multiple modules
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: use useAccount for address
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

refactor: use reactive auth api
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

refactor: use reactive get user nonce
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

refactor: use reactive fetch user
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

refactor: update user store and redirect
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

feat: handle sign message error
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused and comments
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

fix: handle error value
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

syle: prettier
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

fix: handle error
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

fix: reset is loading value
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance ExpenseAccountEIP712 with comprehensive token functionality
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

test: add test
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add more tests
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

test: change setup to be more realistic
  app/test/wallet-setup/connected.setup.ts
Due: app-unit-tests, app-e2e-tests

chore: remove xvfb
  .github/workflows/app-e2e.yml
Due: none

chore: revert
  .github/workflows/app-e2e.yml
Due: none

tests: fix setup
  app/test/wallet-setup/connected.setup.ts
Due: app-unit-tests, app-e2e-tests

test: change expectation
  app/test/e2e/navbar.spec.ts
Due: app-unit-tests, app-e2e-tests

test: fix tests
  app/test/e2e/navbar.spec.ts
Due: app-unit-tests, app-e2e-tests

ci: update workflow to trigger on pull request assignment
  .github/workflows/app-vitest.yml
Due: none

style: :lipstick: fix team listing in the drawer, and update style
  app/src/App.vue
  app/src/components/TheDrawer.vue
  app/src/components/sections/SingleTeamView/TeamDetails.vue
  app/src/views/SingleTeamView.vue
Due: app-unit-tests, app-e2e-tests

feat: add new routes for bank, admin, and contracts
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

feat: add TeamMetaComponent and integrate it into TheDrawer for team listing
  app/src/components/TeamMetaComponent.vue
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance team dropdown in TheDrawer with loading state and improved styling
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: implement click outside functionality for team dropdown in TheDrawer
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: add team store with fetching and caching functionality
  app/src/stores/teamStore.ts
Due: app-unit-tests, app-e2e-tests

fix: adjust margin for RouterView container in App.vue
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

feat: update team selection logic in TheDrawer and improve team fetching mechanism
  app/src/components/TheDrawer.vue
  app/src/stores/teamStore.ts
  app/src/utils/generalUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: remove console log from team watch function in teamStore
  app/src/stores/teamStore.ts
Due: app-unit-tests, app-e2e-tests

fix: remove bottom margin from RouterView container in App.vue
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests
