Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: add governance error catalogs for Elections, Proposals, Voting, BoardOfDirectors, and Officer contracts
  app/src/composables/contracts/errorCatalogs.financial.ts
  app/src/composables/contracts/errorCatalogs.governance.ts
  app/src/composables/contracts/errorCatalogs.ts
  app/src/composables/contracts/errorCatalogs.types.ts
Due: app-unit-tests, app-e2e-tests

Enhance contract documentation and add event emissions across multiple contracts
  contract/contracts/AdCampaignManager.sol
  contract/contracts/Bank.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/Elections/ElectionTypes.sol
  contract/contracts/Elections/ElectionUtils.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Investor/types/StockGrant.sol
  contract/contracts/Officer.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Tips.sol
  contract/contracts/Vesting.sol
  contract/contracts/Voting/Types.sol
  contract/contracts/beacons/Beacon.sol
  contract/contracts/beacons/FactoryBeacon.sol
  contract/contracts/beacons/UserBeaconProxy.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/contracts/interfaces/IBoardOfDirectors.sol
  contract/contracts/interfaces/IMintableERC20.sol
Due: contract-unit-tests

feat: add MaliciousReentrancy contract for testing reentrancy attacks; update Officer tests to enable contract deployment via BeaconProxy with additional parameters
  contract/contracts/mocks/MaliciousReentrancy.sol
  contract/test/FeeCollector.spec.ts
  contract/test/Officer.spec.ts
Due: contract-unit-tests

feat: add MaliciousReentrancy contract ABI with attack function and state mutability definitions
  app/src/artifacts/abi/json/MaliciousReentrancy.json
  contract/test/Officer.spec.ts
  dashboard/app/artifacts/abi/json/MaliciousReentrancy.json
  ponder/abis/json/MaliciousReentrancy.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: implement executeContractWrite function and refactor useContractWritesV3 for improved contract interactions
  app/src/composables/contracts/useContractWritesV3.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance withdraw modal behavior and error handling in OwnerTreasuryWithdrawAction
  app/src/components/sections/OwnerTreasuryWithdrawAction.vue
Due: app-unit-tests, app-e2e-tests

test: enhance withdraw confirmation handling and error display in OwnerTreasuryWithdrawAction tests
  app/src/components/sections/__tests__/OwnerTreasuryWithdrawAction.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor DepositBankForm and DepositSafeForm to use updated safe transaction composable; improve error handling and submission logic
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/DepositSafeForm.vue
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/forms/__tests__/DepositModal.spec.ts
  app/src/components/forms/__tests__/DepositSafeForm.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.transfer.spec.ts
  app/src/composables/transactions/useSafeSendTransaction.ts
  app/src/tests/mocks/composables.mock.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor bank contract write operations to use new mutateAsync pattern; update related tests and mocks
  app/src/components/forms/DepositBankForm.vue
  app/src/components/sections/SherTokenView/InvestorActions/PayDividendsAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
  app/src/composables/bank/__tests__/bankWrites.spec.ts
  app/src/composables/bank/writes.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/mocks/erc20.mock.ts
  app/src/views/team/[id]/DemoExample.vue
Due: app-unit-tests, app-e2e-tests

refactor: simplify conditional statements in contracts and tests for improved readability
  contract/contracts/AdCampaignManager.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/test/AdCampaignManager.spec.ts
  contract/test/Bank.spec.ts
  contract/test/BankUpgradeModule.spec.ts
  contract/test/CashRemunerationEIP712UpgradeModule.spec.ts
  contract/test/FeeCollector.spec.ts
  contract/test/Proposals.spec.ts
Due: contract-unit-tests

Implement feature X to enhance user experience and optimize performance
  dashboard/package-lock.json
Due: none

refactor: remove unused DemoExample route and mock from router tests
  app/src/router/__tests__/index.spec.ts
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify onSuccess handler in useSafeSendTransaction composable
  app/src/composables/transactions/useSafeSendTransaction.ts
Due: app-unit-tests, app-e2e-tests

refactor: update revert messages in contract tests to use custom errors for improved clarity
  app/eslint.config.js
  contract/test/BoardOfDirectors.spec.ts
  contract/test/ExpenseAccountEIP712.spec.ts
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
  contract/test/ExpenseAccountEIP712V2.customFrequency.spec.ts
  contract/test/ExpenseAccountEIP712V2.spec.ts
  contract/test/InvestorV1.spec.ts
  contract/test/Vesting.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: format code for improved readability in various test files
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/forms/__tests__/DepositModal.spec.ts
  app/src/components/forms/__tests__/DepositSafeForm.spec.ts
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/PayDividendsAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline error handling and improve code formatting in various files
  app/src/composables/contracts/errorCatalogs.types.ts
  app/src/composables/contracts/useContractWritesV3.ts
  app/src/router/__tests__/index.spec.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/utils/classifyError.ts
Due: app-unit-tests, app-e2e-tests

refactor: improve code formatting for better readability in contract test files
  contract/test/BoardOfDirectors.spec.ts
  contract/test/ExpenseAccountEIP712.spec.ts
  contract/test/ExpenseAccountEIP712V2.customFrequency.spec.ts
Due: contract-unit-tests

refactor: update CRWithdrawClaim tests to use mutate method and improve loading state handling
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/router/__tests__/index.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: comment out unused claimDividend mock in bankWrites tests
  app/src/composables/bank/__tests__/bankWrites.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add modal for updating user data in NavBar component
  app/src/components/NavBar.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace faker avatar generation with DiceBear API for profile images
  backend/src/utils/profileImage.util.ts
Due: api-unit-tests

refactor: streamline OwnerTreasuryWithdrawAction tests and improve modal handling
  app/src/components/sections/__tests__/OwnerTreasuryWithdrawAction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance SetMemberWageOvertimeStep and SetMemberWageStandardStep tests with new props and validation scenarios
  app/src/components/sections/DashboardView/__tests__/SetMemberWageOvertimeStep.spec.ts
  app/src/components/sections/DashboardView/__tests__/SetMemberWageStandardStep.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused dividend-related functions and mocks from bank and bod modules
  app/src/composables/bank/__tests__/bankWrites.spec.ts
  app/src/composables/bank/reads.ts
  app/src/composables/bank/writes.ts
  app/src/composables/bod/__tests__/writes.spec.ts
  app/src/composables/bod/reads.ts
  app/src/composables/bod/writes.ts
  app/src/composables/expenseAccount/writes.ts
  app/src/composables/safeDepositRouter/reads.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/mocks/safeDepositRouter.mock.ts
  app/src/tests/setup/bod.setup.ts
  app/src/tests/setup/safeDepositRouter.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify import statements in writes.spec.ts
  app/src/composables/bod/__tests__/writes.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add fee-bps prop to TransferForm and adjust transfer amount calculation
  app/src/components/forms/TransferModal.vue
Due: app-unit-tests, app-e2e-tests

feat: add fee breakdown to TransferForm with deposit fee calculation and total amount display
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

feat: add officer address and fee retrieval functions to bank composable
  app/src/composables/bank/reads.ts
Due: app-unit-tests, app-e2e-tests

fix: simplify balance validation logic in TransferForm
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

fix: adjust transfer button label and refine fee calculation logic in validation schema
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace useBankFeeBps with useOfficerFeeBps in TransferModal and remove unused bank officer functions
  app/src/components/forms/TransferModal.vue
  app/src/composables/bank/reads.ts
Due: app-unit-tests, app-e2e-tests

feat: add officer address and fee retrieval functions to officer composable
  app/src/composables/officer/reads.ts
Due: app-unit-tests, app-e2e-tests

feat: implement fee collection mechanism in Bank and FeeCollector contracts
  contract/contracts/Bank.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/interfaces/IFeeCollector.sol
  contract/hardhat.config.ts
  contract/scripts/bulkSendEth.ts
  contract/test/Bank.spec.ts
Due: contract-unit-tests

feat: update withdraw functionality to sweep full native and ERC20 balances
  contract/contracts/FeeCollector.sol
  contract/contracts/interfaces/IFeeCollector.sol
  contract/contracts/mocks/MaliciousReentrancy.sol
  contract/test/FeeCollector.spec.ts
Due: contract-unit-tests

refactor: remove unused error and event definitions from Bank and FeeCollector contracts
  app/src/artifacts/abi/json/Bank.json
  app/src/artifacts/abi/json/FeeCollector.json
  app/src/artifacts/abi/json/MaliciousReentrancy.json
  app/src/artifacts/deployed_addresses/chain-11155111.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  dashboard/app/artifacts/abi/json/Bank.json
  dashboard/app/artifacts/abi/json/FeeCollector.json
  dashboard/app/artifacts/abi/json/MaliciousReentrancy.json
  ponder/abis/json/Bank.json
  ponder/abis/json/FeeCollector.json
  ponder/abis/json/MaliciousReentrancy.json
Due: app-unit-tests, app-e2e-tests

feat: add support for fetching on-chain list of supported ERC20 tokens in FeeCollector
  dashboard/app/composables/FeeCollector/read.ts
  dashboard/app/composables/useFeeCollector.ts
Due: none

feat: enhance useFeeTokenBalance to support conditional reads based on token support
  dashboard/app/composables/FeeCollector/read.ts
  dashboard/app/composables/useFeeCollector.ts
Due: none

feat: update withdrawal process to sweep all fees and simplify modal interactions
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
  dashboard/app/composables/useTokenWithdraw.ts
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
