Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

chore: 🔧 widen codecov ignore + relax patch threshold for e2e flag
  codecov.yml
Due: none

fix: 🐛 lazy-load vite-plugin-istanbul so prod builds don't need the devDep
  app/vite.config.ts
Due: none

fix: 🐛 await vite config in vitest config
  app/vitest.config.ts
Due: none

chore: 🔧 scope codecov project status to unit-test flags
  codecov.yml
Due: none

ci: 👷 tolerate codecov upload failures in e2e workflow
  .github/workflows/app-e2e.yml
Due: none

docs: 📝 add mutation composable conventions
  app/src/composables/CONVENTIONS.md
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ formalize Officer/migration wrapper side-effect contracts
  app/src/composables/contracts/__tests__/useOfficerDeployment.spec.ts
  app/src/composables/contracts/useOfficerDeployment.ts
  app/src/composables/investor/useShareholderMigration.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ silence wrapper toasts/invalidation in officer redeploy
  app/src/composables/contracts/__tests__/useOfficerRedeploy.spec.ts
  app/src/composables/contracts/useOfficerRedeploy.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ assert InconsistentSupplyError survives real TanStack pipeline
  app/src/composables/investor/__tests__/useShareholderMigration.pipeline.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ drop hand-rolled SIWE nonce retry, widen axios interceptor budget
  app/src/composables/__tests__/useSiwe.spec.ts
  app/src/composables/useSiwe.ts
  app/src/lib/axios.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove dead useWalletChecks mock plumbing
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 serialise the type-check + build-only steps in app build
  app/package.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 restore zod@3.25.76 peer dep entry removed by previous install
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

feat: add data-test attributes for transaction expand buttons and refactor amount parsing logic
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: improve transaction components with consistent formatting and enhanced readability
  app/src/components/UserComponent.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/composables/transactions/useTransactionTable.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ ban local vi.mock of globally-mocked modules
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

docs: 📝 mandate global mocks in test docs
  .github/copilot-instructions/testing-anti-patterns.md
  .github/copilot-instructions/testing-overview.md
  AGENTS.md
  app/src/tests/README.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add 4 SherTokenView MintForm specs to global-mock legacy list
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

feat: enhance transaction table functionality with pagination and improved test coverage
  app/src/components/TransactionTableFooter.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/components/sections/SafeView/SafeTransactions.vue
  app/src/composables/transactions/__tests__/useTransactionTable.spec.ts
  app/src/composables/transactions/useTransactionTable.ts
  app/src/utils/__tests__/constantUtil.spec.ts
  app/src/utils/constantUtil.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: update package-lock.json to set dev dependencies correctly
  backend/package-lock.json
Due: api-unit-tests

feat: improve token icon retrieval logic and update package-lock.json for dev dependencies
  app/src/utils/constantUtil.ts
  backend/package-lock.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: refresh member profile images in weekly claims response
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: update amount formatting in RatePerHourTotalList component for improved precision
  app/src/components/RatePerHourTotalList.vue
Due: app-unit-tests, app-e2e-tests

refactor: update weekly claims handling in CashRemuneration components to use data property and improve null checks
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update ClaimHistory components to access weekly claims data correctly and enhance test coverage
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryWeekNavigator.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryActionAlerts.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update WeeklyClaim component to use rows for data binding and add pagination footer
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance weekly claims query to support pagination and update response structure
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

feat: add pagination support to getWeeklyClaimsQuerySchema with detailed comments on behavior
  backend/src/validation/schemas/weeklyClaim.ts
Due: api-unit-tests

feat: implement pagination in getTeamWeeklyClaims and update response format to include total count
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: update weekly claims query mock to include total count in response and add test for weeklyClaim queries
  app/eslint.config.js
  app/src/tests/mocks/query.mock.ts
Due: app-unit-tests, app-e2e-tests

fix: add optional chaining to prevent errors when accessing weekly claims data
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
Due: app-unit-tests, app-e2e-tests

refactor: optimize weekly claims image URL resolution and improve pagination parameter handling
  backend/src/controllers/weeklyClaimController.ts
  backend/src/utils/profileImage.util.ts
Due: api-unit-tests

feat: switch from localStorage to sessionStorage for visible columns in AccountingLedger component
  dashboard/app/components/accounting/AccountingLedger.vue
Due: none

feat: enhance AccountingIncomeStatement component with improved UI and pagination for realized trades
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/composables/useAccountingPeriod.ts
  dashboard/app/pages/accounting.vue
Due: none

feat: add isHidden and isArchived columns to MemberTeamsData and Team tables
  backend/prisma/migrations/20260513120000_member_teams_is_hidden/migration.sql
  backend/prisma/migrations/20260527112240_archive_and_hide/migration.sql
Due: api-unit-tests

feat: add AccountingMetricExplainer component to provide contextual explanations for accounting metrics in the AccountingSummary
  dashboard/app/components/accounting/AccountingMetricExplainer.vue
  dashboard/app/components/accounting/AccountingSummary.vue
Due: none

feat: add 'Open contracts at cost' metric to AccountingSummary for enhanced financial insights
  dashboard/app/components/accounting/AccountingSummary.vue
Due: none

feat: add reusable AccountingPagination component for improved table navigation and user experience
  dashboard/app/components/accounting/AccountingPagination.vue
Due: none

refactor: replace UPagination with AccountingPagination in IncomeStatement, Ledger, and Positions components for consistent pagination handling
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/components/accounting/AccountingLedger.vue
  dashboard/app/components/accounting/AccountingPositions.vue
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
