Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: ✅ cover Safe browser boundaries
  app/test/e2e/safe/safe-account.spec.ts
  app/test/e2e/safe/safe-page.ts
  app/test/e2e/safe/safe-transaction-service.ts
  docs/features/accounts/README.md
Due: app-unit-tests, app-e2e-tests

test: ✅ remove redundant Accounts browser proof
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/expense/expense-account.spec.ts
  docs/features/accounts/README.md
Due: app-unit-tests, app-e2e-tests

test: ✅ use the accessible Officer setup action
  app/src/components/sections/TeamView/forms/ContinueAddTeamForm.vue
  app/test/e2e/company/company.mocked.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ stabilize account acceptance journeys
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/expense/expense-account.spec.ts
  app/test/e2e/safe/safe-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ align Officer failure proof with frontend ownership
  app/src/components/sections/TeamView/forms/__tests__/InvestorContractStep.spec.ts
  app/test/e2e/company/company.mocked.spec.ts
  docs/features/companies/README.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enforce account acceptance boundaries
  app/src/components/sections/BankView/forms/TransferModal.vue
  app/src/components/sections/BankView/forms/__tests__/TransferModal.spec.ts
  app/test/e2e/safe/safe-page.ts
  app/test/e2e/safe/safe-transaction-service.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh account acceptance evidence
  docs/contracts/features/bank/README.md
  docs/features/accounts/README.md
Due: none

fix: 🐛 derive treasury cash-out from chain balances
  app/src/components/sections/DashboardView/CashOutAllAction.vue
  app/src/components/sections/DashboardView/__tests__/CashOutAllAction.spec.ts
  app/test/e2e/accounts.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document chain-based cash-out eligibility
  docs/features/accounts/README.md
Due: none

test: ✅ require explicit Bank transfer assets
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/bank/bank-page.ts
Due: app-unit-tests, app-e2e-tests

feat: add CashRemunerationView component with migration banner and tests
  app/src/views/team/[id]/Accounts/PayrollView.vue
  app/src/views/team/[id]/__tests__/PayrollView.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: rename CashRemunerationView to PayrollView and update references
  app/src/router/__tests__/index.spec.ts
  app/src/router/index.ts
  app/src/views/team/[id]/__tests__/PayrollView.spec.ts
  docs/features/accounts/README.md
  docs/features/payroll/README.md
Due: app-unit-tests, app-e2e-tests

fix: update implementation evidence references in README files
  docs/features/accounts/README.md
  docs/features/companies/README.md
Due: none

feat: enhance E2E testing documentation for Payroll account position and history review
  docs/features/payroll/README.md
  docs/testing/e2e-paths.md
Due: none

docs: 📝 define autonomous semantic audit contracts
  .gitignore
  AGENTS.md
  docs/development-guide/README.md
  docs/development-guide/autonomous-audits/README.md
  docs/development-guide/autonomous-audits/acceptance-proof.md
  docs/development-guide/autonomous-audits/accounting-consistency.md
  docs/development-guide/autonomous-audits/architecture-documentation.md
  docs/development-guide/autonomous-audits/contract-economic-safety.md
  docs/development-guide/autonomous-audits/cross-layer-security.md
  docs/development-guide/autonomous-audits/operational-release-risk.md
  docs/development-guide/autonomous-audits/user-journey.md
Due: none

feat: update test coverage overview and proof strategy in Payroll documentation
  docs/features/payroll/README.md
Due: none

feat: enhance E2E tests for Payroll claims and transactions, including error handling and state management
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitWeeklyGoals.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance payroll functionality with new claim validations and tests
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
  app/src/components/sections/CashRemunerationView/Form/__tests__/UploadFileDB.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryActionAlerts.spec.ts
  app/src/components/sections/DashboardView/__tests__/SetMemberWageOvertimeStep.spec.ts
  app/src/components/sections/DashboardView/__tests__/SetMemberWageStandardStep.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
  app/src/utils/claims/__tests__/form.spec.ts
  app/test/e2e/payroll/payroll-payment.integrated.spec.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/__tests__/archivedTeamGuard.test.ts
  contract/test/CashRemunerationEIP712.spec.ts
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: update wage form schemas in DashboardView components for consistency
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/DashboardView/SetMemberWageOvertimeStep.vue
  app/src/components/sections/DashboardView/SetMemberWageStandardStep.vue
Due: app-unit-tests, app-e2e-tests

feat: update weekly claim action types and add wage form validation schemas
  app/src/queries/weeklyClaim.queries.ts
  app/src/utils/wages/validation.ts
  app/src/views/team/[id]/__tests__/PayrollView.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refine weekly claim action types and enhance payroll E2E tests for improved error handling
  app/test/e2e/payroll/payroll-page.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: update weekly claim action documentation and restrict action types for clarity
  backend/src/routes/weeklyClaimRoute.ts
Due: api-unit-tests

Implement code changes to enhance functionality and improve performance
  docs/features/payroll/README.md
Due: none

fix: 🐛 validate Payroll claim ownership and withdrawal state
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/validation/schemas/claim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

test: ✅ complete Payroll acceptance coverage on the real stack
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimConfirmation.spec.ts
  app/src/components/sections/DashboardView/__tests__/SetMemberWageModal.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaim.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
  app/test/e2e/company/real-company-page.ts
  app/test/e2e/e2e-page.ts
  app/test/e2e/payroll/payroll-chain.ts
  app/test/e2e/payroll/payroll-insufficient-funds.integrated.spec.ts
  app/test/e2e/payroll/payroll-page.ts
  app/test/e2e/payroll/payroll-payment.integrated.spec.ts
  app/test/e2e/payroll/payroll.integrated.spec.ts
  backend/package.json
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/routes/__tests__/archivedTeamGuard.test.ts
  backend/test/integration/payroll-database.integration.test.ts
  backend/vitest.payroll-integration.config.ts
  docs/features/payroll/README.md
  docs/implementation/request-validation/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

test: ✅ strengthen Board Elections acceptance proof
  app/src/components/layout/__tests__/NotificationDropdown.spec.ts
  app/src/components/sections/AdministrationView/__tests__/BodMembersSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionCandidateIdentity.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionCandidatesSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionEmptyStates.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionStatsCard.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionSummarySection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PastElectionCard.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PastElectionsSection.spec.ts
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.dates.spec.ts
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.spec.ts
  app/src/components/sections/DashboardView/__tests__/TeamMetaActions.archived.spec.ts
  app/src/composables/elections/__tests__/history.spec.ts
  app/src/composables/elections/__tests__/index.spec.ts
  app/src/views/team/[id]/__tests__/BodElectionDetailsView.spec.ts
  app/src/views/team/[id]/__tests__/BodElectionView.spec.ts
  app/test/e2e/elections/elections-chain.ts
  app/test/e2e/elections/elections-page.ts
  app/test/e2e/elections/elections.spec.ts
  backend/src/routes/__tests__/archivedTeamGuard.test.ts
  contract/test/Elections.spec.ts
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 align Board Elections coverage contract
  docs/features/elections/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ isolate Elections voter snapshot proof
  contract/test/Elections.spec.ts
Due: contract-unit-tests

fix: 🐛 await election notification persistence
  backend/src/controllers/__tests__/electionsController.test.ts
  backend/src/controllers/electionsController.ts
Due: api-unit-tests

fix: 🐛 preserve election publication feedback
  app/src/components/sections/AdministrationView/PublishResult.vue
  app/src/components/sections/AdministrationView/__tests__/PublishResult.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add integrated Board Elections lifecycle
  app/src/components/sections/AdministrationView/BodMembersSection.vue
  app/test/e2e/e2e-chain.ts
  app/test/e2e/elections/elections-chain.ts
  app/test/e2e/elections/elections.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 promote Elections main path to integrated proof
  docs/features/elections/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ isolate election browser clock
  app/test/e2e/elections/elections.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh Elections evidence revision
  docs/features/elections/README.md
Due: none

fix: 🔒 remove ambiguous alternation in template-literal regex
  app/scripts/check-utility-boundaries.mjs
Due: app-unit-tests, app-e2e-tests

feat: ✨ take facture ID and amount as props in Vue and React snippets
  app/src/utils/paymentGate/__tests__/widgetSnippet.spec.ts
  app/src/utils/paymentGate/widgetSnippet.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ split Payment Gate snippets into setup and usage steps
  app/src/components/sections/PaymentGateView/IntegrationCard.vue
  app/src/components/sections/PaymentGateView/__tests__/IntegrationCard.spec.ts
  app/src/utils/paymentGate/__tests__/widgetSnippet.spec.ts
  app/src/utils/paymentGate/widgetSnippet.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Payment Gate snippet steps
  docs/features/payment-gate/README.md
Due: none

fix: 🐛 keep a created credit round when retrying its details
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record Community Credit retry-details boundary
  docs/features/community-credit/README.md
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
