Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

Refactor tests: comment out error alert tests for 401 and generic errors
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: update team data references to use teamStore.currentTeamMeta
  app/src/components/sections/DashboardView/TeamMetaSection.vue
  app/src/components/sections/DashboardView/__tests__/TeamMetaSection.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: integrate Vue Query for team wages data fetching in MemberSection tests
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: replace global fetch mock with health query mock in useBackendWake tests
  app/src/composables/__tests__/useBackendWake.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: integrate Vue Query plugin and update loading state references in ListIndex tests
  app/src/views/team/__tests__/ListIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: update team query mocks to use Vue Query and improve state management
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: format plugin array for better readability in ShowIndex tests
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: replace teamIsFetching with isPending for consistency across components
  app/src/components/NotificationDropdown.vue
  app/src/components/TheDrawer.vue
  app/src/components/sections/ContractManagementView/AdvertiseContractSection.vue
  app/src/components/sections/ContractManagementView/MainContractSection.vue
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/components/sections/ExpenseAccountView/__tests__/mock/MyApprovedExpenseSection.mock.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
  app/src/components/utils/SelectMemberContractsInput.vue
  app/src/components/utils/SelectMemberWithTokenInput.vue
  app/src/components/utils/__tests/SelectMemberContractsInput.spec.ts
  app/src/components/utils/__tests/SelectMemberWithTokenInput.spec.ts
  app/src/tests/mocks/store.mock.ts
Due: app-unit-tests, app-e2e-tests

Refactor: update loading state references from teamIsFetching to isPending for consistency
  app/src/components/TheDrawer.vue
  app/src/components/__tests__/TheDrawer.spec.ts
  app/src/views/team/[id]/ShowIndex.vue
  app/src/views/team/[id]/__tests__/ContractManagementView.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor: update error handling in AddMemberForm and improve response handling in useAddMembers
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
  app/src/queries/member.queries.ts
Due: app-unit-tests, app-e2e-tests

feat: Add Create and Delete Feature modals with validation and loading states
  dashboard/app/components/features/CreateFeatureModal.vue
  dashboard/app/components/features/DeleteFeatureModal.vue
  dashboard/app/components/features/FeaturesTable.vue
Due: none

feat: Refactor features page to use FeaturesTable component and streamline modal handling
  dashboard/app/pages/features/index.vue
Due: none

feat: Update CreateFeatureModal to use uppercase placeholders and improve layout with a Cancel button
  dashboard/app/components/features/CreateFeatureModal.vue
Due: none

feat: Update DeleteFeatureModal styles and improve layout for confirmation message
  dashboard/app/components/features/DeleteFeatureModal.vue
Due: none

feat: Add dynamic routing for feature view button in FeaturesTable
  dashboard/app/components/features/FeaturesTable.vue
Due: none

feat: Implement useUpdateFeature mutation for updating feature status
  dashboard/app/queries/function.query.ts
Due: none

feat: Add update feature status functionality and integrate with FeaturesTable
  dashboard/app/pages/features/index.vue
Due: none

feat: Replace status badge with select dropdown for feature status updates
  dashboard/app/components/features/FeaturesTable.vue
Due: none

feat: Add disabled feature alert and restrict actions based on editability
  dashboard/app/components/features/SubmitRestrictionCard.vue
Due: none

feat: Add editability restriction for team overrides in the table
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

feat: Add editability check for SubmitRestrictionCard based on feature status
  dashboard/app/pages/features/submit-restriction.vue
Due: none

add safes to dashboard
  dashboard/app/components/sections/FeeCollectorView/FeeConfigList.vue
  dashboard/app/components/sections/Safe/SafeDeployForm.vue
  dashboard/app/components/sections/Safe/SafeList.vue
  dashboard/app/components/sections/Safe/SafeManagement.vue
  dashboard/app/composables/Safe/read.ts
  dashboard/app/composables/useSafe.ts
  dashboard/app/constant/index.ts
  dashboard/app/layouts/default.vue
  dashboard/app/pages/safe.vue
  dashboard/package.json
Due: none

fix lint issue
  dashboard/app/components/sections/Safe/SafeDeployForm.vue
  dashboard/app/components/sections/Safe/SafeList.vue
  dashboard/app/components/sections/Safe/SafeManagement.vue
  dashboard/app/layouts/default.vue
Due: none

add package lock
  dashboard/package-lock.json
Due: none

lint fix
  dashboard/app/pages/safe.vue
Due: none

Refactor: clean up unused token validation logic and improve axios response interceptor for 401 errors
  app/src/composables/useAuth.ts
  app/src/composables/useCustomFetch.ts
  app/src/lib/axios.ts
  app/src/main.ts
  app/src/queries/member.queries.ts
Due: app-unit-tests, app-e2e-tests

refactor: Simplify data update structure in patchFeature function
  backend/src/utils/featureUtils.ts
Due: api-unit-tests

feat: Simplify feature route handling and update editability checks in SubmitRestrictionCard
  dashboard/app/components/features/FeaturesTable.vue
  dashboard/app/components/features/SubmitRestrictionCard.vue
Due: none

feat: Remove editability restriction from team override switches in TeamOverridesTable
  dashboard/app/components/features/GlobalRestrictionSection.vue
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

feat: Add feature details page with loading and error handling
  dashboard/app/pages/features/[id].vue
Due: none

feat: Replace function name input with a select dropdown for predefined functions
  dashboard/app/components/features/CreateFeatureModal.vue
Due: none

refactor: Remove unnecessary blank line at the beginning of featureUtils.ts
  backend/src/utils/featureUtils.ts
Due: api-unit-tests

feat: Add mock for useSubmitRestriction and update test stubs in SubmitClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: Add unit tests for featureController and clean up featureController.ts
  backend/src/controllers/__tests__/featureController.test.ts
  backend/src/controllers/featureController.ts
Due: api-unit-tests

feat: Enhance listFeatures tests with success and error handling scenarios
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

Refactor: migrate member queries to use Axios and centralize mock system for testing
  app/src/queries/member.queries.ts
  docs/AXIOS_MIGRATION.md
  docs/E2E_QUICK_REFERENCE.md
  docs/E2E_SETUP_SUMMARY.md
  docs/INSTALLATION_GUIDE_TOKEN_PRICES.md
  docs/MOCK_SYSTEM.md
Due: app-unit-tests, app-e2e-tests

Refactor: standardize currentTeamId usage across components and improve mock setup documentation
  app/src/components/GenericTransactionHistory.vue
  app/src/components/SelectMemberItem.vue
  app/src/components/TheDrawer.vue
  app/src/tests/mocks/README.md
  app/src/tests/mocks/index.ts
  app/src/tests/mocks/query.mock.ts
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/composables.setup.ts
  app/src/views/team/ListIndex.vue
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

Refactor: format code for consistency in member queries and improve conditional rendering in ListIndex
  app/src/queries/member.queries.ts
  app/src/views/team/ListIndex.vue
Due: app-unit-tests, app-e2e-tests

Refactor: correct casing of setCurrentTeamId method in ShowIndex and remove unused teamId setting in GenericTransactionHistory
  app/src/components/GenericTransactionHistory.vue
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

Refactor: standardize usage of currentTeamId across components and update related URLs
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/components/sections/AdministrationView/PastBoDElectionCard.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWeeklyClaimMemberHeader.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTotalBalance.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/CashRemunerationView/DeleteClaimModal.vue
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/PendingWeeklyClaim.vue
  app/src/components/sections/CashRemunerationView/SignedWeeklyClaim.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
  app/src/components/sections/DashboardView/TeamMetaSection.vue
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
Due: app-unit-tests, app-e2e-tests
