Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

refactor
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: standardize spacing for createdAt and updatedAt fields across models
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: use contract address for id
  the-graph/src/officer.ts
Due: none

feat: add erc20 mapping
  the-graph/src/erc20.ts
Due: none

feat: add usdc data source
  the-graph/subgraph.yaml
Due: none

refactor: comment out wage & claim logic in member & team Controller to avoir error
  backend/src/controllers/memberController.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: update Wage model and related tables for improved wage management and tracking
  backend/prisma/migrations/20250317153429_cash_remuneration/migration.sql
  backend/prisma/migrations/20250317154301_wage_update/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: remove commented-out wageRelated model for cleaner schema
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: comment out claim-related routes for future implementation
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

feat: implement wageController for managing wage data and validation, first function set wage
  backend/src/controllers/wageController.ts
Due: api-unit-tests

feat: add wage routes for setting wage data
  backend/src/routes/wageRoute.ts
Due: api-unit-tests

feat: add wage routes to server configuration for wage management
  backend/src/config/serverConfig.ts
Due: api-unit-tests

feat: add unique constraint and default value for nextWageId in Wage model, enhance wage validation in setWage function
  backend/prisma/migrations/20250317170355_wage_unique/migration.sql
  backend/prisma/migrations/20250317170907_next_wage_default/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
  backend/vitest.config.ts
Due: api-unit-tests

feat: remove default value for nextWageId in Wage table migration
  backend/prisma/migrations/20250317172051_next_wage_rm_def/migration.sql
Due: api-unit-tests

feat: update wage retrieval logic to use findFirst and handle null nextWageId
  backend/src/controllers/wageController.ts
Due: api-unit-tests

feat: update wage setting API call to include teamId and userAddress in payload
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: add OpenAPI documentation for setWage endpoint
  backend/src/routes/wageRoute.ts
Due: api-unit-tests

feat: enhance wage setting validation to check team ownership and improve error messages
  backend/src/controllers/wageController.ts
Due: api-unit-tests

feat: improve wage setting validation to handle missing and invalid parameters
  backend/src/controllers/wageController.ts
Due: api-unit-tests

test: add unit tests for setWage endpoint to validate parameters and ownership
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

test: refactor wageController tests for improved structure and clarity
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

feat: update wage endpoint to use PUT method and add address middleware
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

test: update wageController tests to use PUT method and improve error handling
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

refactor: remove setEmployeeWage endpoint from teamRoutes and its implementation in memberController
  backend/src/controllers/__tests__/memberController.test.ts
  backend/src/controllers/memberController.ts
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

chore: comment cash remuneration test in team controller test
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

feat: add Excel export functionality for transaction history
  app/src/components/GenericTransactionHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance transaction history with receipt export options and refactor data handling
  app/src/components/GenericTransactionHistory.vue
  app/src/components/sections/ExpenseAccountView/ReceiptComponent.vue
  app/src/utils/excelExport.ts
Due: app-unit-tests, app-e2e-tests

feat: add PDF export functionality for transactions and update data handling
  app/package-lock.json
  app/package.json
  app/src/components/GenericTransactionHistory.vue
  app/src/components/sections/ExpenseAccountView/ReceiptComponent.vue
  app/src/utils/excelExport.ts
  app/src/utils/pdfExport.ts
Due: app-unit-tests, app-e2e-tests

feat: simplify transaction history component and update currency handling
  app/src/components/sections/ExpenseAccountView/TransactionHistorySection.vue
Due: app-unit-tests, app-e2e-tests

feat: streamline PDF export settings and enhance transaction history display
  app/src/components/sections/BankView/TransactionsHistorySection.vue
  app/src/utils/pdfExport.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance PDF export functionality with customizable orientation and default font
  app/src/utils/pdfExport.ts
Due: app-unit-tests, app-e2e-tests

refactor: update TransactionsHistorySection to limit displayed currencies and clean up ReceiptComponent tests
  app/src/components/sections/BankView/__tests__/TransactionsHistorySection.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance GenericTransactionHistory and TransactionHistorySection tests with Pinia integration and fix export event assertion
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/TransactionHistorySection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: initialize transactions prop in TransactionHistorySection to prevent rendering issues
  app/src/views/team/[id]/ExpenseAccountView.vue
Due: app-unit-tests, app-e2e-tests

test: excel export
  app/src/utils/__tests__/excelExport.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: implement additional features for Excel export, improving data formatting and user options
  app/src/utils/__tests__/pdfExport.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for export functionality in GenericTransactionHistory, including success and error handling scenarios
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for export functionality in ReceiptComponent, verifying Excel and PDF export buttons
  app/src/components/sections/ExpenseAccountView/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for contractService
  app/src/services/__tests__/contractService.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add usdt for indexing
  the-graph/src/erc20.ts
  the-graph/subgraph.yaml
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
