Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

chore: update package-lock.json to add zod and magicast dependencies
  app/package-lock.json
  backend/package-lock.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

chore: update TypeScript ESLint packages to version 8.57.0
  contract/package-lock.json
  contract/package.json
Due: contract-unit-tests

chore: add ESLint rule to disable no-unused-expressions for test files
  contract/.eslintrc.cjs
Due: contract-unit-tests

feat: add validation schemas for storage, team, and weekly claims
  backend/src/validation/schemas/storage.ts
  backend/src/validation/schemas/team.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: api-unit-tests

fix: ensure all validation schemas are exported from index
  backend/src/validation/index.ts
Due: api-unit-tests

fix: update member addresses and improve error messages in tests
  backend/src/controllers/__tests__/memberController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

feat: enhance API routes with validation and detailed OpenAPI documentation for storage, team, wage, and weekly claim functionalities
  backend/src/routes/storageRoute.ts
  backend/src/routes/teamRoutes.ts
  backend/src/routes/uploadRoute.ts
  backend/src/routes/wageRoute.ts
  backend/src/routes/weeklyClaimRoute.ts
Due: api-unit-tests

fix: enhance balance check in transfer function and update isFeeCollectorToken method
  contract/contracts/Bank.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/base/TokenSupport.sol
Due: contract-unit-tests

refactor: add derived from comments to interface documentation and remove ICNCContract
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/IBoardOfDirectors.sol
  contract/contracts/interfaces/ICNCContract.sol
  contract/contracts/interfaces/ICashRemuneration.sol
  contract/contracts/interfaces/IFeeCollector.sol
  contract/contracts/interfaces/IInvestorV1.sol
  contract/contracts/interfaces/IMintableERC20.sol
  contract/contracts/interfaces/IOfficer.sol
  contract/contracts/interfaces/IOwnable.sol
  contract/contracts/interfaces/IPausable.sol
  contract/contracts/interfaces/ISafeDepositRouter.sol
  contract/contracts/interfaces/ITokenSupport.sol
Due: contract-unit-tests

refactor: update import statements for IOfficer and related interfaces for consistency
  contract/contracts/Bank.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/IBoardOfDirectors.sol
  contract/contracts/interfaces/IOwnable.sol
  contract/contracts/interfaces/IPausable.sol
  contract/contracts/interfaces/ITokenSupport.sol
  contract/contracts/mocks/MockBoardOfDirectors.sol
Due: contract-unit-tests

feat: add storage API for retrieving file URLs
  app/src/api/index.ts
  app/src/api/storage.api.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace direct API call with getFileUrlApi for fetching presigned URLs
  app/src/composables/useFileUrl.ts
Due: app-unit-tests, app-e2e-tests

refactor: rename MAX_FILES_PER_CLAIM to MAX_FILES_UPLOAD for clarity in file upload limits
  backend/src/services/__tests__/storageService.test.ts
  backend/src/services/storageService.ts
Due: api-unit-tests

refactor: rename MAX_FILES_PER_CLAIM to MAX_FILES_UPLOAD for clarity and add storage controller for generating presigned URLs
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/storageController.ts
  backend/src/controllers/uploadController.ts
Due: api-unit-tests

refactor: rename MAX_FILES_PER_CLAIM to MAX_FILES_UPLOAD for consistency and update routes to use new constant
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/storageRoute.ts
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests

feat: update contract ABIs and improve Bank contract functionality
  app/src/artifacts/abi/json/Bank.json
  app/src/artifacts/abi/json/MockBoardOfDirectors.json
  app/src/artifacts/abi/json/SafeDepositRouter.json
  contract/contracts/Bank.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/interfaces/IBank.sol
  contract/test/Bank.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: replace fetch mock with getFileUrlApi for presigned URL tests
  app/src/composables/__tests__/useFileUrl.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: rename supportedTokens to isTokenSupported for consistency across contracts
  contract/test/Bank.spec.ts
  contract/test/CashRemunerationEIP712.spec.ts
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
  contract/test/FactoryBeacon.spec.ts
  contract/test/FeeCollector.spec.ts
  contract/test/Officer.deployments.spec.ts
  contract/test/SafeDepositRouter.spec.ts
Due: contract-unit-tests

refactor: comment out modelChecker settings in Hardhat config for clarity
  contract/hardhat.config.ts
Due: contract-unit-tests

refactor: streamline error handling and loading state in useFileUrl composable
  app/src/composables/__tests__/useFileUrl.spec.ts
  app/src/composables/useFileUrl.ts
Due: app-unit-tests, app-e2e-tests

Refactor Voting contract tests: streamline setup, enhance clarity, and improve coverage for directive proposals and voting mechanisms
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/contracts/mocks/MockOfficer.sol
  contract/test/BoardOfDirectors.spec.ts
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
  contract/test/Elections.spec.ts
  contract/test/ExpenseAccountEIP712.spec.ts
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
  contract/test/ExpenseAccountEIP712V2.customFrequency.spec.ts
  contract/test/ExpenseAccountEIP712V2.isNewPeriod.spec.ts
  contract/test/ExpenseAccountEIP712V2.spec.ts
  contract/test/InvestorV1.spec.ts
  contract/test/Officer.deployments.spec.ts
  contract/test/Officer.spec.ts
  contract/test/Proposals.spec.ts
  contract/test/SafeDepositRouter.spec.ts
  contract/test/Voting.spec.ts
Due: contract-unit-tests

refactor: improve code readability by formatting multi-line function calls and expectations across test files
  contract/test/Bank.spec.ts
  contract/test/BoardOfDirectors.spec.ts
  contract/test/Elections.spec.ts
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
  contract/test/ExpenseAccountEIP712V2.customFrequency.spec.ts
  contract/test/ExpenseAccountEIP712V2.isNewPeriod.spec.ts
  contract/test/ExpenseAccountEIP712V2.spec.ts
  contract/test/FactoryBeacon.spec.ts
  contract/test/Proposals.spec.ts
  contract/test/SafeDepositRouter.spec.ts
  contract/test/Voting.spec.ts
Due: contract-unit-tests

refactor: update type annotations for elections and owner in createActiveElection function
  contract/test/Elections.spec.ts
Due: contract-unit-tests

refactor: streamline code formatting and remove unnecessary line breaks in TransferModal, PayDividendsAction, useContractWritesV2, and writes files
  app/src/components/forms/TransferModal.vue
  app/src/components/sections/SherTokenView/InvestorActions/PayDividendsAction.vue
  app/src/composables/contracts/useContractWritesV2.ts
  app/src/composables/investor/writes.ts
Due: app-unit-tests, app-e2e-tests

Enhance documentation for CNC Portal smart contracts architecture
  docs/contracts/contracts-architecture-diagram.md
  docs/contracts/contracts-quick-reference.md
  docs/contracts/contracts-technical-architecture.md
Due: none

refactor: simplify vote disabling logic and improve proposal handling in election components
  app/src/components/sections/AdministrationView/BoDElectionDetailsCard.vue
  app/src/components/sections/AdministrationView/BoDElectionSection.vue
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/components/sections/AdministrationView/CurrentBoDSection.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/components/sections/ProposalsView/ProposalDetail.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/forms/CreateVesting.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance dividend distribution functionality in Bank and InvestorV1 contracts
  contract/contracts/Bank.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/IInvestorV1.sol
Due: contract-unit-tests

feat: add contract synchronization on team meta updates in ShowIndex component
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove dividends display from BankBalanceSection component
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance validation in PayDividendsForm to prevent invalid submissions
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

feat: update dividend distribution methods in PayDividendsAction to use new composables
  app/src/components/sections/SherTokenView/InvestorActions/PayDividendsAction.vue
Due: app-unit-tests, app-e2e-tests

feat: update bank composables to include dividend distribution functions and refactor balance retrieval
  app/src/composables/bank/reads.ts
  app/src/composables/bank/writes.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused dividend entry types and related logic from useContractBalance composable
  app/src/composables/useContractBalance.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove BankDividendsSection from SherTokenView component
  app/src/views/team/[id]/SherTokenView.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove DividendsBalancesSection component
  app/src/components/sections/SherTokenView/DividendsBalancesSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: comment out PayDividendsTable component in SherTokenView
  app/src/views/team/[id]/SherTokenView.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove PayDividendsTable component from SherTokenView
  app/src/components/sections/SherTokenView/PayDividendsTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove commented-out dividend logic from useContractBalance
  app/src/composables/useContractBalance.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused dividend entry types from useContractBalance
  app/src/composables/useContractBalance.ts
Due: app-unit-tests, app-e2e-tests
