Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: fix indentation and improve getFeatureByName test case
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: enhance getFeatureByName and createNewFeature tests with error handling and success cases
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: add updateFeatureByName tests for error handling and successful updates
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: add deleteFeatureByName tests for error handling and successful deletion
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: add createOverride tests for error handling and successful creation
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: add updateOverride tests for error handling and successful updates
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: add removeOverride tests for error handling and successful removal
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

test: add checkSubmitRestriction tests for error handling and validation
  backend/src/controllers/__tests__/featureController.test.ts
Due: api-unit-tests

refactor: remove unnecessary blank lines in featureController
  backend/src/controllers/featureController.ts
Due: api-unit-tests

refactor: streamline axios instance creation and enhance request/response interceptors
  dashboard/app/lib/axios.ts
Due: none

feat: add closing brace for TeamRestrictionOverride interface
  dashboard/app/types/index.d.ts
Due: none

test: add comprehensive tests for featureUtils functions
  backend/src/utils/__tests__/featureUtils.test.ts
Due: api-unit-tests

refactor: improve code formatting and consistency in featureUtils tests
  backend/src/utils/__tests__/featureUtils.test.ts
Due: api-unit-tests

feat: add backend restriction for features route
  backend/src/config/serverConfig.ts
Due: api-unit-tests

feat: implement FeatureCard component for submit restriction settings
  dashboard/app/components/features/FeatureCard.vue
  dashboard/app/pages/features/[id].vue
Due: none

feat: add createTeamOverrideSchema for team override validation
  backend/src/controllers/featureController.ts
  backend/src/validation/featureValidation.ts
Due: api-unit-tests

feat: update team override endpoint to remove teamId from URL path
  backend/src/routes/featureRoutes.ts
Due: api-unit-tests

feat: enhance findFeatureByName to include team names and improve ordering of overrides
  backend/src/utils/featureUtils.ts
Due: api-unit-tests

remove files
  dashboard/app/composables/useFeatures.ts
  dashboard/app/pages/features/submit-restriction.vue
Due: none

feat: update FeatureCard to use dynamic feature name and enhance descriptions
  dashboard/app/components/features/FeatureCard.vue
  dashboard/app/pages/features/[id].vue
Due: none

feat: add feature management functions and types for team restrictions
  dashboard/app/lib/axios.ts
Due: none

feat: enhance Teams table layout and functionality with status and action columns
  dashboard/app/components/features/FeaturesTable.vue
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

feat: remove overridesCount from Feature interface and related components
  dashboard/app/components/features/FeaturesTable.vue
  dashboard/app/types/index.d.ts
Due: none

refactor
  backend/src/utils/featureUtils.ts
  backend/src/validation/featureValidation.ts
Due: api-unit-tests

refactor: clean up code formatting and improve readability in validation and axios files
  backend/src/validation/featureValidation.ts
  dashboard/app/lib/axios.ts
Due: api-unit-tests

feat: update team override endpoint to include teamId in the path
  backend/src/routes/featureRoutes.ts
Due: api-unit-tests

feat: update create team override endpoint to include teamId in the path and improve validation
  backend/src/controllers/featureController.ts
Due: api-unit-tests

feat: add ordering to feature overrides and update structure for team function overrides
  backend/src/utils/__tests__/featureUtils.test.ts
Due: api-unit-tests

feat: update feature display name and description for better clarity in settings
  dashboard/app/components/features/FeatureCard.vue
  dashboard/app/pages/features/[id].vue
Due: none

feat: remove isEditable prop and adjust button disable logic in TeamOverridesTable
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

fix: update loading state for remove override button to use removingTeamId prop
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

fix: correct grammar in the empty state message for team overrides
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

feat: add trading blade
  app/src/components/TheDrawer.vue
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

feat: add trading view
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests

feat: use button component
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests

fix: comment out the warning message about associated team overrides in DeleteFeatureModal
  dashboard/app/components/features/DeleteFeatureModal.vue
Due: none

feat: add delete confirmation modal for team overrides
  dashboard/app/components/features/DeleteTeamOverrideModal.vue
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

fix: number of transactions
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests

refactor: create component for setup
  app/src/components/sections/TradingView/AccountSetupWizard.vue
  app/src/components/sections/TradingView/PolymarketSafeDeployments.vue
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests
