Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

chore: downgrade @wagmi/core from 3.4.0 to 3.0.0 in package.json
  dashboard/package-lock.json
  dashboard/package.json
Due: none

Update dashboard/package.json
  dashboard/package.json
Due: none

Update dashboard/app/composables/useTokenWithdraw.ts
  dashboard/app/composables/useTokenWithdraw.ts
Due: none

chore: downgrade dependencies for compatibility
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

chore: add workspace and TypeScript settings for project structure
  app/package.json
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/DepositSafeForm.vue
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/ContractManagementView/TeamContractAdmins.vue
  app/src/components/sections/DashboardView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
  app/src/views/team/[id]/BodElectionDetailsView.vue
  cnc-portal.code-workspace
  contract/.vscode/settings.json
  the-graph/.vscode/settings.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

Refactor code structure for improved readability and maintainability
  app/package-lock.json
  backend/package-lock.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

chore: update VueDatePicker import syntax in test files
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/sections/DashboardView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
Due: app-unit-tests, app-e2e-tests

Implement feature X to enhance user experience and optimize performance
  contract/package-lock.json
Due: contract-unit-tests

refactor: streamline contract interaction destructuring in TransferModal and PublishResult components
  app/src/components/forms/TransferModal.vue
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/sections/AdministrationView/PublishResult.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace mutate with writeContract in test files
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.methods.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
  app/src/services/__tests__/AddCampaignService.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace presigned download URLs with stable public URLs in storage service mocks
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

refactor: replace presigned download URLs with public URLs in storage service and update attachment handling
  backend/src/controllers/authController.ts
  backend/src/controllers/claimController.ts
  backend/src/controllers/userController.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: implement user synchronization logic with backend in App.vue
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace presigned download URLs with stable public URLs in upload and storage routes
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/storageRoute.ts
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests

refactor: update storage service to use public URLs instead of presigned URLs
  backend/src/services/__tests__/storageService.test.ts
  backend/src/services/storageService.ts
Due: api-unit-tests

feat: add migration scripts for updating image URLs to stable public URLs
  backend/package.json
  backend/scripts/migrate-stable-image-urls.ts
Due: api-unit-tests

refactor: clean up code formatting and remove unnecessary whitespace in test and service files
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/claimController.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/services/storageService.ts
Due: api-unit-tests

revert: undo PR #1607 (feature/upgrade-deps) to fix useResizable options export error
  .github/workflows/release-pr.yml
  app/package-lock.json
  app/package.json
  app/src/components/CustomDatePicker.vue
  app/src/components/MonthSelector.vue
  app/src/components/forms/ApproveUsersEIP712Form.vue
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/DepositSafeForm.vue
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/ContractManagementView/TeamContractAdmins.vue
  app/src/components/sections/DashboardView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/DashboardView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/sections/ProposalsView/forms/CreateProposalForm.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
  app/src/main.ts
  app/src/tests/setup/wagmi.vue.setup.ts
  app/src/views/team/[id]/BodElectionDetailsView.vue
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
  cnc-portal.code-workspace
  contract/.vscode/settings.json
  the-graph/.vscode/settings.json
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

chore: update Node.js version to 20.10.0 in CI/CD workflow
  .github/workflows/contract-code-quality.yml
Due: none

fix: add peer dependencies to various packages in package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: update dependencies and add new packages in package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: enhance member selection logic and add user data integration
  app/src/components/SelectMemberItem.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryMemberHeader.vue
Due: app-unit-tests, app-e2e-tests

fix: rename mock functions for consistency in storage service tests
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: replace getPublicFileUrl with getPresignedDownloadUrl and update attachment URL handling across controllers
  backend/src/controllers/claimController.ts
  backend/src/controllers/teamController.ts
  backend/src/controllers/userController.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: enhance getPresignedDownloadUrl to check file existence and return a signed URL
  backend/src/services/storageService.ts
Due: api-unit-tests

fix: replace getPublicFileUrl with getPresignedDownloadUrl in upload and storage routes
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/storageRoute.ts
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests

fix: remove unused user data store and simplify member selection logic in SelectMemberItem and ClaimHistoryMemberHeader components
  app/src/components/SelectMemberItem.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryMemberHeader.vue
  app/src/queries/user.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: format code for consistency and improve readability in test and route files
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/teamController.ts
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests

fix: update storageService tests to use presigned URLs and enhance mock functionality
  backend/src/services/__tests__/storageService.test.ts
Due: api-unit-tests

fix: refactor computed properties for better type handling and clarity in various components
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/DepositSafeForm.vue
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/ContractManagementView/TeamContractAdmins.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/views/team/[id]/BodElectionDetailsView.vue
Due: app-unit-tests, app-e2e-tests

fix: format mockGetSignedUrl for improved readability in storageService tests
  backend/src/services/__tests__/storageService.test.ts
Due: api-unit-tests

fix: remove unused user query logic to simplify user data handling
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

fix: enhance user and team controller tests with additional scenarios and error handling
  backend/src/controllers/__tests__/authController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

fix: refactor image URL handling in team and user controllers for consistency
  backend/src/controllers/teamController.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

fix: add utility functions for extracting and resolving storage image URLs
  backend/src/utils/__tests__/profileImage.util.test.ts
  backend/src/utils/profileImage.util.ts
Due: api-unit-tests

fix: enhance storageService tests with additional environment variable checks and validation scenarios
  backend/src/services/__tests__/storageService.test.ts
Due: api-unit-tests

fix: clean up test code by removing unnecessary line breaks for better readability
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/services/__tests__/storageService.test.ts
  backend/src/utils/__tests__/profileImage.util.test.ts
Due: api-unit-tests

feat: Implement bidirectional SHER compensation calculation in SafeDepositRouterForm
  app/src/artifacts/deployed_addresses/chain-137.json
  app/src/components/forms/CompensationAmount.vue
  app/src/components/forms/SafeDepositRouterForm.vue
  app/src/components/sections/SherTokenView/InvestorActions/SetCompensationMultiplierButton.vue
  app/src/composables/safeDepositRouter/writes.ts
  app/src/utils/contractDeploymentUtil.ts
  app/src/utils/index.ts
  app/src/utils/safeDepositRouterUtil.ts
  contract/ignition/modules/SafeDepositRouterUpgradeModule.ts
  contract/test/Officer.spec.ts
  contract/test/SafeDepositRouter.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

update contract
  contract/contracts/SafeDepositRouter.sol
Due: contract-unit-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
