Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: ✅ migrate remaining shared mock specs
  app/eslint.config.js
  app/src/components/sections/AdministrationView/__tests__/PublishResult.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/TransferAction.spec.ts
  app/src/composables/__tests__/useSiwe.spec.ts
  app/src/router/__tests__/index.spec.ts
  app/src/tests/mocks/utils.mock.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/tests/setup/composables.setup.ts
  app/src/tests/setup/utils.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ enforce global mocks in every spec
  app/eslint.config.js
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.migration.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.test-utils.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ centralize transaction date formatting
  app/eslint.config.js
  app/src/utils/__tests__/bankTransactionUtil.spec.ts
  app/src/utils/__tests__/cashRemunerationTransactionUtil.spec.ts
  app/src/utils/__tests__/expenseTransactionUtil.spec.ts
  app/src/utils/__tests__/investorsTransactionUtil.spec.ts
  app/src/utils/bankTransactionUtil.ts
  app/src/utils/cashRemunerationTransactionUtil.ts
  app/src/utils/expenseTransactionUtil.ts
  app/src/utils/fixedReturnTransactionUtil.ts
  app/src/utils/investorsTransactionUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ delegate currency helpers to format module
  app/eslint.config.js
  app/src/utils/currencyUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ migrate transaction display formatting
  app/eslint.config.js
  app/src/components/RateDotList.vue
  app/src/components/TransactionChildRow.vue
  app/src/components/TransactionDetailModal.vue
  app/src/components/sections/AdministrationView/ElectionStats.vue
  app/src/components/sections/AdministrationView/__tests__/ElectionStats.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ use canonical formatters in account views
  app/eslint.config.js
  app/src/components/forms/ApproveExpenseSummaryForm.vue
  app/src/components/sections/AdministrationView/PastBoDElectionCard.vue
  app/src/components/sections/CashRemunerationView/DeleteClaimModal.vue
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
  app/src/components/sections/DashboardView/CompanyOverview.vue
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/components/sections/ProposalsView/ProposalsCard.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 preserve transaction input precision
  app/eslint.config.js
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/utils/accounting/mappers/expenseAccount.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ format utility output consistently
  app/eslint.config.js
  app/src/utils/abiDecodeUtil.ts
  app/src/utils/contractManagementUtil.ts
  app/src/utils/generalUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ standardize claim and period date formatting
  app/eslint.config.js
  app/src/composables/useClaimForm.ts
  app/src/composables/vesting/useVestingDateRange.ts
  app/src/stores/communityCredit.ts
  app/src/utils/datePicker.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ standardize claim and account displays
  app/eslint.config.js
  app/src/components/sections/ClaimHistoryView/ClaimHistoryDailyBreakdown.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryWeekNavigator.vue
  app/src/components/sections/ClaimHistoryView/WeeklyRecap.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/utils/format/__tests__/date.spec.ts
  app/src/utils/format/date.ts
  app/src/utils/format/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ standardize token and vesting formatting
  app/eslint.config.js
  app/src/components/forms/TokenAmount.vue
  app/src/components/forms/TransferForm.vue
  app/src/components/forms/__tests__/TokenAmount.spec.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/forms/MintRecapCard.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingSummary.vue
  app/src/components/sections/VestingView/__tests__/VestingSummary.spec.ts
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ enforce canonical formatting everywhere
  .github/copilot-instructions/formatting-standards.md
  app/eslint.config.js
  app/src/utils/__tests__/safe.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/presenter.ts
  app/src/utils/accounting/toUsd.ts
  app/src/utils/accountingPdf.ts
  app/src/utils/communityCreditUtil.ts
  app/src/utils/dayUtils.ts
  app/src/utils/safe.ts
  app/src/utils/safeDepositRouterUtil.ts
  dashboard/app/utils/format/date.ts
  dashboard/app/utils/format/index.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 remove obsolete test migration references
  .github/copilot-instructions/testing-anti-patterns.md
  app/eslint.config.js
  app/src/tests/README.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 add Bank and Expense Account journeys
  docs/features/bank/Readme.md
  docs/features/expense-account/Readme.md
Due: none

fix: update terminology from 'Shares to be issued' to 'SHERS To Be Issued' across multiple mappers
  app/src/utils/accounting/mappers/cashRemuneration.ts
  app/src/utils/accounting/mappers/investor.ts
  app/src/utils/accounting/mappers/payrollAccrual.ts
  app/src/utils/accounting/mappers/sherIssuance.ts
Due: app-unit-tests, app-e2e-tests

fix: update terminology from 'Shares to be issued' and 'Share-based Compensation' to 'SHERS To Be Issued' and 'Deferred SHER Compensation' across multiple tests and ledger entries
  app/src/utils/accounting/__tests__/accountLedger.spec.ts
  app/src/utils/accounting/__tests__/activityDestination.spec.ts
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/buildLedger.spec.ts
  app/src/utils/accounting/__tests__/cashRemuneration.spec.ts
  app/src/utils/accounting/__tests__/catalogueLedger.ts
  app/src/utils/accounting/__tests__/chartOfAccounts.spec.ts
  app/src/utils/accounting/__tests__/exportNaming.spec.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/__tests__/incomeStatement.spec.ts
  app/src/utils/accounting/__tests__/investor.spec.ts
  app/src/utils/accounting/__tests__/payrollAccrual.spec.ts
  app/src/utils/accounting/__tests__/payrollGrouping.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/__tests__/sherIssuance.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update terminology from 'Shares to be issued' to 'SHERS To Be Issued' in comments and documentation
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/sherRate.ts
Due: app-unit-tests, app-e2e-tests

fix: update terminology from 'Shares to be issued' to 'SHERS To Be Issued' and 'Deferred SHER Compensation' across accounting documentation
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: none

fix: update terminology and structure for SHERS and deferred compensation in accounting files
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

fix: update terminology from 'Share-based Compensation' to 'Deferred SHER Compensation' in tests
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
  app/src/composables/accounting/__tests__/useLedgerDrilldown.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ apply a wage change to a week nobody has opened
  backend/src/utils/__tests__/wageResolution.test.ts
  backend/src/utils/wageResolution.ts
Due: api-unit-tests

fix: 🐛 stop delaying a wage change nobody is waiting for
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

fix: 🐛 keep a week on the wage it was opened with
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: api-unit-tests

fix: 🐛 let weekly goals join the week already open
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

refactor: ♻️ read the effective date from the server
  app/src/types/cash-remuneration.ts
  app/src/utils/__tests__/wageScheduling.spec.ts
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ warn the owner when a change hits the current week
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
  app/src/components/sections/DashboardView/__tests__/SetMemberWageModal.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 correct the wage scheduling rule
  docs/features/payroll/Readme.md
  docs/features/payroll/wage-scheduling.md
Due: none

fix: 🐛 let only submitted hours hold a week to its wage
  backend/src/utils/__tests__/wageResolution.test.ts
  backend/src/utils/wageResolution.ts
Due: api-unit-tests

refactor: ♻️ decide on submitted hours, not on any row
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

fix: 🐛 move a week with no hours onto the wage in force
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: api-unit-tests

docs: 📝 say what the goals lookup actually guarantees
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: 🐛 stop announcing a change that simply takes effect
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
  app/src/components/sections/DashboardView/__tests__/SetMemberWageModal.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 restate the rule around submitted hours
  docs/features/payroll/Readme.md
  docs/features/payroll/wage-scheduling.md
Due: none

fix: 🐛 release a change whose reason to wait is gone
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

docs: 📝 explain why the effective date is recomputed
  docs/features/payroll/Readme.md
  docs/features/payroll/wage-scheduling.md
Due: none

docs: 📝 add the election user stories produced by the feature review
  docs/features/elections/Readme.md
Due: none

fix: 🐛 update CreateElectionForm tests to handle date inputs correctly and refactor harness functions
  app/src/components/sections/AdministrationView/__tests__/CurrentBoDElectionSection.spec.ts
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.dates.spec.ts
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.harness.ts
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 adjust election form date handling and improve user guidance for start and end times
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add tests for resolving house-style names and enhance date formatting with time of day
  app/src/composables/contracts/__tests__/errorCatalogs.spec.ts
  app/src/utils/format/__tests__/date.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add formatTimeOfDay function for improved time formatting
  dashboard/app/utils/format/date.ts
  dashboard/app/utils/format/index.ts
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
