Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

refactor(contracts): address review feedback on useContractWritesV3 (#1775)
  app/src/composables/contracts/useContractWritesV3.ts
Due: app-unit-tests, app-e2e-tests

test(contracts): add unit tests for useContractWritesV3 (#1775)
  app/src/composables/contracts/__tests__/useContractWritesV3.advanced.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV3.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV3.test-utils.ts
Due: app-unit-tests, app-e2e-tests

feat: streamline shareholder migration and officer redeployment processes with improved toast notifications
  app/src/components/sections/SherTokenView/ShareholderMigrationBanner.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/composables/contracts/useOfficerRedeploy.ts
  app/src/composables/investor/useShareholderMigration.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance error handling in officer deployment and redeployment components with UAlert notifications
  app/src/components/sections/ContractManagementView/RedeployOfficerModal.vue
  app/src/components/sections/SherTokenView/ShareholderMigrationBanner.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/composables/contracts/index.ts
  app/src/composables/contracts/useOfficerDeployment.ts
  app/src/composables/contracts/useOfficerRedeploy.ts
Due: app-unit-tests, app-e2e-tests

test(mocks): integrate V3 specs into the global mock system (#1775)
  app/src/composables/contracts/__tests__/useContractWritesV3.advanced.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV3.spec.ts
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: update DeleteClaimModal to format hours worked and simplify delete confirmation message
  app/src/components/sections/CashRemunerationView/DeleteClaimModal.vue
  app/src/components/sections/ClaimHistoryView/ClaimActions.vue
Due: app-unit-tests, app-e2e-tests

feat: improve code readability by simplifying template descriptions and refactoring computed properties
  app/src/components/sections/ContractManagementView/RedeployOfficerModal.vue
  app/src/components/sections/SherTokenView/ShareholderMigrationBanner.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/composables/contracts/useOfficerRedeploy.ts
  app/src/queries/contract.queries.ts
Due: app-unit-tests, app-e2e-tests

style: apply prettier formatting to V3 files (#1775)
  app/src/composables/contracts/__tests__/useContractWritesV3.advanced.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV3.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV3.test-utils.ts
  app/src/composables/contracts/useContractWritesV3.ts
Due: app-unit-tests, app-e2e-tests

fix: prefix unused destructured teamOfficers with underscore to satisfy ESLint
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

style: apply prettier formatting to backend controller files
  backend/src/controllers/__tests__/contractController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/contractController.ts
Due: api-unit-tests

feat: rename getTotalHoursWorked to getTotalTimeWorked and adjust calculations for time worked in monthly and pending claims
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: update hoursWorked to uint16 and separate minutesWorked in claim forms
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: update hoursWorked values across multiple test files to reflect accurate time representation
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: update ClaimFormData to include minutesWorked and adjust hoursWorked to represent total minutes in weekly claims
  app/src/types/cash-remuneration.ts
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: add formatCryptoAmountWithPrecision function and update tests for currency formatting
  app/src/utils/__tests__/currencyUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor time calculation to use formatMinutesAsDuration and update total hours representation
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: update RatePerHourTotalList to use formatCryptoAmount for currency formatting
  app/src/components/RatePerHourTotalList.vue
Due: app-unit-tests, app-e2e-tests

feat: update hoursWorked in test cases to reflect total minutes instead of hours
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.methods.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor bar chart calculations to use minutes instead of hours and format durations
  app/src/components/sections/ClaimHistoryView/ClaimHistoryWeekNavigator.vue
Due: app-unit-tests, app-e2e-tests

feat: refactor time calculations to use minutes instead of hours and update related components
  app/src/components/sections/ClaimHistoryView/WeeklyRecap.vue
Due: app-unit-tests, app-e2e-tests

feat: update ClaimHistoryDailyBreakdown to use totalMinutes instead of hours for calculations and display
  app/src/components/sections/ClaimHistoryView/ClaimHistoryDailyBreakdown.vue
Due: app-unit-tests, app-e2e-tests

feat: add bulk ETH transfer commands for localhost in package.json and simplify run-bulk-transfer.sh
  contract/package.json
  contract/scripts/run-bulk-transfer.sh
Due: contract-unit-tests

feat: update destination directory handling to support multiple paths for deployed addresses
  contract/scripts/moveConstants.ts
Due: contract-unit-tests

feat: update deployed addresses JSON files and improve git ignore command for local changes
  app/package.json
  dashboard/app/artifacts/deployed_addresses/chain-11155111.json
  dashboard/app/artifacts/deployed_addresses/chain-137.json
  dashboard/app/artifacts/deployed_addresses/chain-80002.json
Due: app-unit-tests, app-e2e-tests

fix: harden officer deploy/redeploy error handling
  app/src/components/sections/ContractManagementView/RedeployOfficerModal.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/composables/contracts/useOfficerDeployment.ts
Due: app-unit-tests, app-e2e-tests

fix(backend): tighten officer registration invariants and contract visibility
  backend/prisma/migrations/20260414110402_add_team_officer_history/migration.sql
  backend/prisma/migrations/20260414133122_drop_officer_address_add_linked_list/migration.sql
  backend/prisma/seeders/teams.ts
  backend/src/controllers/contractController.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: update .gitignore to include local review notes and architecture files
  .gitignore
Due: none

chore: remove obsolete deployed addresses JSON file for chain-31337
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

feat: update hoursWorked in tests to reflect total minutes instead of hours
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimActions.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryDailyBreakdown.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryWeekNavigator.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: update hoursWorked to use total minutes instead of hours in mock data
  app/src/artifacts/abi/json/CashRemunerationEIP712.json
  app/src/tests/mocks/query.mock.ts
Due: app-unit-tests, app-e2e-tests

feat: update seeder to generate hoursWorked in minutes instead of hours
  backend/prisma/migrations/20260416120000_hours_to_minutes/migration.sql
  backend/prisma/seeders/claims.ts
Due: api-unit-tests

feat: add new error types and events to cash_remuneration_eip712_abi.json
  backend/src/artifacts/cash_remuneration_eip712_abi.json
Due: api-unit-tests

feat: update hoursWorked validation to require whole minutes and enforce limits
  backend/src/controllers/claimController.ts
  backend/src/validation/schemas/claim.ts
Due: api-unit-tests

feat: update hoursWorked in tests and mocks to reflect total minutes instead of hours
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/statsController.test.ts
Due: api-unit-tests

feat: update hoursWorked type to uint16 and adjust test values to reflect total minutes
  contract/test/CashRemunerationEIP712.spec.ts
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

feat: update hoursWorked type in WageClaim struct to uint16 for improved precision
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

Refactor code structure for improved readability and maintainability
  dashboard/app/artifacts/abi/json/CashRemunerationEIP712.json
  ponder/abis/json/CashRemunerationEIP712.json
  the-graph/abis/CashRemunerationEIP712.json
Due: none

fix: add missing newline at end of cash_remuneration_eip712_abi.json
  backend/src/artifacts/cash_remuneration_eip712_abi.json
Due: api-unit-tests

refactor: remove redundant test case for maximum weekly claim limit
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

chore: cleaning components
  app/src/components/sections/TeamView/forms/ContinueAddTeamForm.vue
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests
