Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat(dashboard): initialize dashboard project with Nuxt.js setup
  dashboard/.gitignore
  dashboard/README.md
  dashboard/app/app.vue
  dashboard/eslint.config.mjs
  dashboard/nuxt.config.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/public/favicon.ico
  dashboard/public/robots.txt
  dashboard/tsconfig.json
Due: none

feat: restructure app layout and add index page template
  dashboard/app/app.vue
  dashboard/app/pages/index.vue
Due: none

contract updates
  contract/contracts/Bank.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/Officer.sol
Due: contract-unit-tests

test: weekly budget with partial week
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
Due: contract-unit-tests

chore: remove unused
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
Due: contract-unit-tests

chore: update @vuepic/vue-datepicker to version 11.0.3 and add peer dependencies in package-lock.json
  app/package-lock.json
  app/package.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  contract/package.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: enhance claim action dropdown to disable signing for current week claims
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

feat(dashboard): update favicon for improved branding
  dashboard/public/favicon.ico
Due: none

feat(dashboard): enhance dashboard layout with new items and remove unused code
  dashboard/app/layouts/default.vue
  dashboard/app/pages/index.vue
Due: none

feat(dashboard): implement dynamic page title and panel ID based on route
  dashboard/app/layouts/default.vue
Due: none

fix: enable submit button based on weekly claim status in SubmitClaims component
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

fix: add 'disabled' status to WeeklyClaim interface to reflect backend submission states
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

add and update modules
  contract/contracts/Officer.sol
  contract/deploy.sh
  contract/ignition/modules/FeeCollectorModule.ts
  contract/ignition/modules/OfficerModule.ts
  contract/test/FeeCollector.spec.ts
Due: contract-unit-tests

feat: change ui components
  app/src/components/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests, app-e2e-tests

fix: update Submit button click handler to always open modal for claim submission
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: use select component
  app/src/components/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests, app-e2e-tests

test: approve user eip712
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add number type
  app/src/components/SelectComponent.vue
Due: app-unit-tests, app-e2e-tests

test: fix type errors
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests, app-e2e-tests

test: remove any
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update date input component to use dynamic UI binding and remove redundant class
  app/src/App.vue
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

update and fix failing tests
  contract/contracts/Bank.sol
  contract/test/Bank.spec.ts
  contract/test/BoardOfDirectors.spec.ts
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
  contract/test/Officer.deployments.spec.ts
  contract/test/Officer.spec.ts
Due: contract-unit-tests

fix format issue
  contract/test/Bank.spec.ts
Due: contract-unit-tests

fix lint issue
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
  contract/test/Officer.deployments.spec.ts
Due: contract-unit-tests

add test for bank balance section
  app/src/components/sections/BankView/__tests__/BankBalanceSection.spec.ts
  app/src/tests/mocks/useContractBalance.mock.ts
Due: app-unit-tests, app-e2e-tests

test: use time.increase
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
Due: contract-unit-tests

style: prettier
  contract/test/ExpenseAccountEIP712V2.calendarBasedPeriods.spec.ts
Due: contract-unit-tests

add more tests to upgrade the cov
  app/src/components/sections/AdministrationView/__tests__/ElectionStatus.spec.ts
  app/src/views/team/[id]/__tests__/BodElectionView.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add new budget limit type
  app/src/types/expense-account.ts
Due: app-unit-tests, app-e2e-tests

feat: sign new budget limit type
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add expense frequency util
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: display new limit values
  app/src/components/forms/ApproveExpenseSummaryForm.vue
Due: app-unit-tests, app-e2e-tests

test: approve expense summary new limit
  app/src/components/forms/__tests__/ApproveExpenseSummaryForm.spec.ts
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/forms/ApproveExpenseSummaryForm.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/types/expense-account.ts
Due: app-unit-tests, app-e2e-tests

feat: update team fetching logic to include user-specific address
  app/src/stores/teamStore.ts
Due: app-unit-tests, app-e2e-tests

Update app/src/stores/teamStore.ts
  app/src/stores/teamStore.ts
Due: app-unit-tests, app-e2e-tests
