Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: use derived safe
  app/src/components/sections/TradingView/PolymarketSafeDeployment.vue
Due: app-unit-tests, app-e2e-tests

style: use info class
  app/src/components/sections/TradingView/ApprovalAndConfig.vue
Due: app-unit-tests, app-e2e-tests

doc: add swagger documentation
  backend/src/routes/polymarketRoute.ts
Due: api-unit-tests

build: add polymarket safe abi
  app/src/artifacts/abi/polymarket-safe.ts
Due: app-unit-tests, app-e2e-tests

feat: add approval util
  app/src/utils/trading/approvalsUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: add tokens constants
  app/src/constant/tokens.ts
Due: app-unit-tests, app-e2e-tests

feat: add approvals composable
  app/src/composables/trading/index.ts
  app/src/composables/trading/useTokenApprovals.ts
Due: app-unit-tests, app-e2e-tests

fix: make signer not reactive
  app/src/composables/trading/useRelayClient.ts
Due: app-unit-tests, app-e2e-tests

feat: handle deployment & config
  app/src/components/sections/TradingView/AccountSetupWizard.vue
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/sections/TradingView/AccountSetupWizard.vue
  app/src/components/sections/TradingView/PolymarketSafeDeployment.vue
  app/src/composables/trading/useRelayClient.ts
  app/src/composables/trading/useTokenApprovals.ts
  app/src/constant/index.ts
  app/src/constant/tokens.ts
  app/src/utils/trading/approvalsUtil.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/TradingView/AccountSetupWizard.vue
  app/src/composables/trading/useRelayClient.ts
  app/src/composables/trading/useSafeDeployment.ts
  app/src/utils/ethers-adapter.ts
  app/src/utils/trading/approvalsUtil.ts
Due: app-unit-tests, app-e2e-tests

prettier: style
  backend/src/controllers/polymarketController.ts
  backend/src/routes/polymarketRoute.ts
Due: api-unit-tests

chore: move to web3 utils
  app/src/composables/trading/useRelayClient.ts
  app/src/utils/ethers-adapter.ts
  app/src/utils/web3Util.ts
Due: app-unit-tests, app-e2e-tests

fix: update ShowIndex component to check for isPending state instead of isEnabled
  app/src/views/team/[id]/ShowIndex.vue
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove outdated documentation files for accessibility, error handling, performance optimization, repository patterns, security, state management, TypeScript guidelines, and web3 integration
  .github/copilot-instructions/README.md
  .github/copilot-instructions/accessibility.md
  .github/copilot-instructions/error-handling.md
  .github/copilot-instructions/performance-optimization.md
  .github/copilot-instructions/repository-patterns.md
  .github/copilot-instructions/security.md
  .github/copilot-instructions/state-management.md
  .github/copilot-instructions/typescript-guidelines.md
  .github/copilot-instructions/vue-component-standards.md
  .github/copilot-instructions/web3-integration.md
Due: none

feat: add initial step
  app/src/components/sections/TradingView/AccountSetupWizard.vue
Due: app-unit-tests, app-e2e-tests

feat: add is ready
  app/src/composables/trading/useRelayClient.ts
Due: app-unit-tests, app-e2e-tests

feat: add conditional rendering
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests

test: web3 util
  app/src/utils/__tests__/web3Util.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: use proper types
  app/src/utils/__tests__/web3Util.spec.ts
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/utils/__tests__/web3Util.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: implement file upload and display functionality in ClaimForm
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

feat: reset uploaded files on form reset in ClaimForm
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

feat: add system signers
  app/.env.example
  app/src/components/sections/TradingView/ApprovalAndConfig.vue
  app/src/utils/trading/approvalsUtil.ts
  backend/.env.example
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: handle failed actions
  app/src/components/sections/TradingView/AccountSetupWizard.vue
Due: app-unit-tests, app-e2e-tests

fix: don't change status if not ready
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests

update prisma:migrate script to use reset --force for migrations
  backend/package.json
Due: api-unit-tests

fix: update prisma:migrate script to remove --force option
  backend/package.json
Due: api-unit-tests

fix: update prisma:migrate script to use deploy instead of reset
  backend/package.json
Due: api-unit-tests

fix: add newline at end of package.json file
  backend/package.json
Due: api-unit-tests

fix: update logging in index.ts and adjust role handling in default.vue; enhance auth middleware and access-denied page
  dashboard/app/constant/index.ts
  dashboard/app/layouts/default.vue
  dashboard/app/middleware/auth.global.ts
  dashboard/app/pages/access-denied.vue
  dashboard/nuxt.config.ts
Due: none

feat: enhance file attachment handling in ClaimHistory with view and delete options
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: add FilePreviewGallery component for file preview and management
  app/src/components/sections/CashRemunerationView/Form/FilePreviewGallery.vue
Due: app-unit-tests, app-e2e-tests

safe contract interaction
  dashboard/app/artifacts/abi/bank.ts
  dashboard/app/components/sections/Safe/SafeContractInteraction.vue
  dashboard/app/components/sections/Safe/SafeDeployForm.vue
  dashboard/app/components/sections/Safe/SafeList.vue
  dashboard/app/components/sections/Safe/SafeTransactionsModal.vue
  dashboard/app/composables/Safe/read.ts
  dashboard/app/composables/Safe/useContractWrite.ts
  dashboard/app/composables/Safe/useSafeContractInteraction.ts
  dashboard/app/composables/useSafe.ts
  dashboard/app/constant/abi.ts
  dashboard/app/types/safe.ts
Due: none

fix lint
  dashboard/app/components/sections/Safe/SafeContractInteraction.vue
  dashboard/app/components/sections/Safe/SafeList.vue
  dashboard/app/components/sections/Safe/SafeTransactionsModal.vue
Due: none

feat: deprecate cloud storage functionality and update upload handling to use database storage
  backend/src/utils/storage.ts
  backend/src/utils/upload.ts
Due: api-unit-tests

feat: add ClaimAttachment table and update Claim model to support file attachments
  backend/prisma/migrations/add_claim_attachments_table/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: add updateClaimBodySchema and deleteClaimFileParamsSchema for claim updates and file deletion
  backend/src/validation/schemas/claim.ts
  backend/src/validation/schemas/common.ts
Due: api-unit-tests

feat: update claim routes to support file uploads and remove unused schema
  backend/src/routes/claimRoute.ts
  backend/src/validation/schemas/common.ts
Due: api-unit-tests

feat: update upload endpoint to use database storage and deprecate GCS upload
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests
