Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: add bod members section
  app/src/components/sections/AdministrationView/CurrentBoDSection.vue
  app/src/views/team/[id]/BodElectionView.vue
Due: app-unit-tests, app-e2e-tests

feat: reorder SUPPORTED_TOKENS so USDC will be the default token
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

feat: remove USDT_ADDRESS import and update tokens structure, so USDC will be the default one
  app/src/components/utils/SelectMemberWithTokenInput.vue
Due: app-unit-tests, app-e2e-tests

feat: update tests to use SUPPORTED_TOKENS for token addresses
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/sections/TeamView/forms/__tests__/DeployContractSection.spec.ts
  app/src/components/utils/__tests/SelectMemberWithTokenInput.spec.ts
  app/src/composables/__tests__/useContractBalance.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: remove unused zeroAddress import from test file
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: remove unused zeroAddress import from SelectMemberWithTokenInput test
  app/src/components/utils/__tests/SelectMemberWithTokenInput.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: :zap: add daily hours limit validation to addClaim function
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: :zap: refactor formatDate function to utilize getSundayEnd for improved date calculation
  app/src/components/sections/CashRemunerationView/SignedWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: add current election section
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/views/team/[id]/BodElectionView.vue
Due: app-unit-tests, app-e2e-tests

feat: refactor formatDate function to use getMondayStart and getSundayEnd for improved date handling
  app/src/components/sections/CashRemunerationView/PendingWeeklyClaim.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

fix: add padding to the claim withdrawal header for improved layout
  app/src/components/sections/CashRemunerationView/CRWeeklyClaimMemberHeader.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove ol code
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
Due: app-unit-tests, app-e2e-tests

feat: create columnar user component
  app/src/components/UserComponentCol.vue
Due: app-unit-tests, app-e2e-tests

feat: create past election card
  app/src/components/sections/AdministrationView/PastBoDElectionCard.vue
Due: app-unit-tests, app-e2e-tests

feat: add past election section
  app/src/components/sections/AdministrationView/PastBoDElectionsSection.vue
  app/src/views/team/[id]/BodElectionView.vue
Due: app-unit-tests, app-e2e-tests

refactor: move data to section
  app/src/components/sections/AdministrationView/PastBoDElectionCard.vue
  app/src/components/sections/AdministrationView/PastBoDElectionsSection.vue
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/UserComponentCol.vue
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/components/sections/AdministrationView/CurrentBoDSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/AdministrationView/ProposalCard.vue
Due: app-unit-tests, app-e2e-tests

refactor: use existing user component
  app/src/components/UserComponent.vue
Due: app-unit-tests, app-e2e-tests

chore: add dummy data
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/components/sections/AdministrationView/CurrentBoDSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/UserComponentCol.vue
Due: app-unit-tests, app-e2e-tests

fix: update menu item label and route for claim history
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

fix: update path and name for claim history route in router configuration
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: comment out unused components and variables in CashRemunerationTable
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
Due: app-unit-tests, app-e2e-tests

feat: integrate with bod
  contract/contracts/Elections/ElectionTypes.sol
  contract/contracts/Elections/ElectionUtils.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/Officer.sol
  contract/contracts/mocks/MockBoardOfDirectors.sol
Due: contract-unit-tests

test: add tests
  contract/test/Elections.spec.ts
Due: contract-unit-tests

chore: remove unused
  contract/test/Elections.spec.ts
Due: contract-unit-tests

feat: extract to a function
  contract/contracts/Elections/ElectionUtils.sol
  contract/test/Elections.spec.ts
Due: contract-unit-tests

feat: add weekly claim route to team cash remunerations
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

feat: integrate user data store and add weekly claim menu item in TheDrawer
  app/src/components/TheDrawer.vue
  app/src/components/sections/CashRemunerationView/ClaimHistory/ClaimHistoty.vue
Due: app-unit-tests, app-e2e-tests

fix: adjust code and tests
  contract/contracts/Elections/ElectionUtils.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/mocks/MockBoardOfDirectors.sol
  contract/test/Elections.spec.ts
Due: contract-unit-tests

docs: update docs
  contract/contracts/Elections/Elections.sol
Due: contract-unit-tests

restructure vesting view component
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVesting.spec.ts
  app/src/types/vesting.ts
  app/src/views/team/[id]/VestingView.vue
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused variable in Elections contract
  contract/contracts/Elections/ElectionTypes.sol
  contract/contracts/Elections/Elections.sol
Due: contract-unit-tests

start updating ui
  app/src/components/sections/VestingView/forms/CreateVesting.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance DepositBankForm with query invalidation for balance updates
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

add vesting action vue
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/views/team/[id]/VestingView.vue
Due: app-unit-tests, app-e2e-tests

skip some tests
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add query invalidation for balance updates in handleTransfer function
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

update create UI/UX
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/views/team/[id]/VestingView.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
