Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: implement withdraw claim functionality with status validation
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: add route for withdrawing claims
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: update withdraw claim component to emit event on successful withdrawal and fix claim status update URL
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unused withdraw claim functionality and clean up code
  app/src/composables/useClaim.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up imports in MemberSection tests and useClaim composable
  app/src/components/sections/SingleTeamView/__tests__/MemberSection.spec.ts
  app/src/composables/useClaim.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up tests by removing unused imports and commented-out code
  app/src/composables/__tests__/useClaim.spec.ts
  app/src/stores/__tests__/user.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: standardize code formatting and clean up unused lines in components and tests
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/SingleTeamView/__tests__/MemberSection.spec.ts
  app/src/composables/__tests__/useClaim.spec.ts
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

refactor: skip tests for CashRemunerationTable and SubmitClaims components
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTable.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: add rate limiting middleware to server configuration
  backend/src/config/serverConfig.ts
Due: api-unit-tests

refactor: change cashRatePerHour and tokenRatePerHour types from Int to Float in Wage model
  backend/prisma/migrations/20250319212932_rate_float/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: add HTTP requests for claims and wage management in CNC Portal
  backend/bruno/CNC Portal/Get Claims.bru
  backend/bruno/CNC Portal/Submit Claim.bru
  backend/bruno/CNC Portal/Wage not authenticated.bru
  backend/bruno/CNC Portal/Wage.bru
  backend/bruno/CNC Portal/bruno.json
  backend/bruno/CNC Portal/environments/CNC URI.bru
Due: api-unit-tests

feat: add CHAIN_ID environment variable and update error messages
  backend/.env.example
  backend/src/config/serverConfig.ts
  backend/src/utils/serverConfigUtil.ts
Due: api-unit-tests

chore: add CHAIN_ID to backend vitest workflow
  .github/workflows/backend-vitest.yml
Due: none

build: add deployed addresses
  app/src/artifacts/deployed_addresses/chain-80002.json
Due: app-unit-tests, app-e2e-tests

ci: use variable for rpc url
  the-graph/docker-compose.yml
Due: none

ci: add localhost to networks
  the-graph/networks.json
Due: none

ci: default yaml with localhost settings
  the-graph/subgraph.yaml
Due: none

feat: implement claim management functions and fix route for withdrawing claims
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: update claim approval process to use typed data signing and improve error handling
  app/src/components/sections/CashRemunerationView/CashRemunerationAction.vue
Due: app-unit-tests, app-e2e-tests

feat: Refactor Cash Remuneration into CRSigne and cleanup code base
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
Due: app-unit-tests, app-e2e-tests

feat: update CRWithdrawClaim button size and fix import path for CRSigne component
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
  app/src/composables/useClaim.ts
Due: app-unit-tests, app-e2e-tests

ci: deploy USDC & USDT to sepolia
  contract/ignition/deployments/chain-11155111/artifacts/MockTokens#USDC.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/MockTokens#USDC.json
  contract/ignition/deployments/chain-11155111/artifacts/MockTokens#USDT.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/MockTokens#USDT.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: contract-unit-tests

ci: update seplolia deployed addresses
  app/src/artifacts/deployed_addresses/chain-11155111.json
Due: app-unit-tests, app-e2e-tests

ci: add sepolia to graph networks
  the-graph/networks.json
Due: none

feat: add mock USDC and USDT contract addresses
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

test: use mock token addresses
  app/src/constant/__tests__/index.test.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unnecessary condition
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor claim handling to support multiple actions and update route
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: enhance OpenAPI documentation for claim routes and schemas
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: update claim route to support multiple actions and enhance OpenAPI documentation
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: enhance claim schema with additional fields and update OpenAPI documentation
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: remove unimplemented claim functions from claimController
  backend/src/controllers/claimController.ts
Due: api-unit-tests

test: add unit tests for claimController endpoints
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

feat: add actions for claim management including withdraw, disable, enable, and reject
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: api-unit-tests

test: update claimController tests to handle error scenarios and remove console logs
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

refactor: remove unnecessary console log from updateClaim function
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: remove unimplemented claim functions from teamController
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refactor: remove unused useClaim composable and associated tests
  app/src/composables/__tests__/useClaim.spec.ts
  app/src/composables/useClaim.ts
Due: app-unit-tests, app-e2e-tests
