Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

style: prettier
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

tests:
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up OfficerForm.spec.ts and remove unused imports
  app/src/views/__tests__/TeamView.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance teamController tests for addTeam and cash remuneration claims
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

chore: update eslint config to ignore .cache-synpress directory
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

feat: enhance TableComponent with slot support for custom headers and improved sorting icons
  app/src/components/TableComponent.vue
Due: app-unit-tests, app-e2e-tests

chore: format eslint config for better readability
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

feat: add data-test attributes for improved testing in TableComponent
  app/src/components/TableComponent.vue
  app/src/components/__tests__/TableComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: integrate TableComponent with sample data and custom templates in HomeView
  app/src/views/HomeView.vue
Due: app-unit-tests, app-e2e-tests

test: fix type
  app/src/composables/__tests__/useSiwe.spec.ts
Due: app-unit-tests, app-e2e-tests

build: install dependencies
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

chore: remove comments and unused
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests, app-e2e-tests

feat: improve TableComponent header rendering with data-test attributes and conditional sort button display
  app/src/components/TableComponent.vue
  app/src/components/__tests__/TableComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: mock use sign typed data
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add data-test attributes for table rows and enhance tests for row rendering and sorting
  app/src/components/TableComponent.vue
  app/src/components/__tests__/TableComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: correct formatting in TableComponent and HomeView for improved readability
  app/src/components/TableComponent.vue
  app/src/views/HomeView.vue
Due: app-unit-tests, app-e2e-tests

feat: add data-test attribute to Tip your Team button for improved testability
  app/src/views/HomeView.vue
  app/src/views/__tests__/HomeView.spec.ts
Due: app-unit-tests, app-e2e-tests

test: sign typed data wagmi
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests, app-e2e-tests

Merge branch 'develop' of https://github.com/globe-and-citizen/cnc-portal into feat/login-composable
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests, app-e2e-tests

feat: deploy
  app/src/artifacts/abi/expense-account-eip712.json
  app/src/artifacts/deployed_addresses/chain-11155111.json
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/views/TeamView.vue
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: add optional chaining to prevent errors in ExpenseAccountEIP712Section component
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance BudgetData structure in ExpenseAccountEIP712 to include token address for improved transaction handling
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

feat: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: e2e setup
  app/test/wallet-setup/basic.setup.ts
  app/test/wallet-setup/connected.setup.ts
Due: app-unit-tests, app-e2e-tests

chore: add local node state
  app/local-node-state.json
Due: app-unit-tests, app-e2e-tests

chore: change playwright config
  app/playwright.config.ts
Due: none

fix: change deployed address local node
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

fix: tests
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
  app/test/e2e/teams.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: adjust e2e workflow
  .github/workflows/app-e2e.yml
Due: none

fix: format
  app/local-node-state.json
Due: app-unit-tests, app-e2e-tests

fix: try to change the step workflow
  .github/workflows/app-e2e.yml
Due: none

fix: depencies
  .github/workflows/app-e2e.yml
Due: none

fix: workflow
  .github/workflows/app-e2e.yml
Due: none

fix; change foundry installation
  .github/workflows/app-e2e.yml
Due: none

fix: typo file name
  .github/workflows/app-e2e.yml
Due: none

test: change config
  app/playwright.config.ts
Due: none

test: increase timeout
  app/playwright.config.ts
Due: none

fix: increase timeout
  app/playwright.config.ts
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
