Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 implement combineDayAndTime function and add tests for time handling
  app/src/utils/__tests__/dayUtils.spec.ts
  app/src/utils/dayUtils.ts
  app/src/utils/format/date.ts
  app/src/utils/format/index.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enhance error message resolution by removing contract prefixes for clearer user feedback
  app/src/composables/contracts/errorCatalogs.types.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 correct help text punctuation for clarity in election form
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 draft Payment Gate integration contract — confirmation lifecycle and mockup
  app/src/components/sections/PaymentGateView/IntegrationCard.vue
  app/src/components/sections/PaymentGateView/ReferenceCard.vue
  app/src/components/sections/PaymentGateView/SettlementModesCard.vue
  app/src/components/sections/PaymentGateView/TokensCard.vue
  app/src/components/sections/PaymentGateView/WidgetPreviewCard.vue
  app/src/composables/usePaymentGateMockState.ts
  app/src/composables/useSidebarNavItems.ts
  app/src/router/index.ts
  app/src/views/team/[id]/PaymentGate/IntegrationView.vue
  app/src/views/team/[id]/PaymentGate/PreviewView.vue
  app/src/views/team/[id]/PaymentGate/ReferenceView.vue
  docs/features/payment-gate/Readme.md
  docs/features/payment-gate/checkout-widget.html
  docs/features/payment-gate/end-to-end-flow.html
  docs/features/payment-gate/flow-and-edge-cases.md
  docs/features/payment-gate/merchant-config.html
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update button labels for clarity in election form date selection
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.dates.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 drop standalone HTML mockups, keep the Nuxt UI one
  docs/features/payment-gate/checkout-widget.html
  docs/features/payment-gate/end-to-end-flow.html
  docs/features/payment-gate/merchant-config.html
Due: none

fix: 🐛 update error handling to use optional chaining for clarity in election form
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.dates.spec.ts
  app/src/components/sections/AdministrationView/forms/__tests__/CreateElectionForm.harness.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update address references to use computed properties for election-related contract calls
  app/src/components/sections/AdministrationView/BoDElectionDetailsCard.vue
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/AdministrationView/CurrentBoDSection.vue
  app/src/components/sections/AdministrationView/PastBoDElectionCard.vue
  app/src/views/team/[id]/BodElectionView.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 update election feature documentation with latest changes and corrections
  docs/features/contracts/README.md
  docs/features/contracts/elections/README.md
  docs/features/elections/Readme.md
Due: none

fix: 🐛 update tests to reflect changes in PublishResult button and add validation for publishing results
  app/src/components/sections/AdministrationView/__tests__/ElectionActions.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PublishResult.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enhance PublishResult component with improved disabled state handling and tooltips
  app/src/components/sections/AdministrationView/ElectionActions.vue
  app/src/components/sections/AdministrationView/PublishResult.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove unused provide for publish result button in BodElectionDetailsView
  app/src/views/team/[id]/BodElectionDetailsView.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove unused provide for showPublishResultBtn in TeamMetaActions tests
  app/src/components/sections/DashboardView/__tests__/TeamMetaActions.archived.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 preserve accounting history across migrations by updating queries and handling contract generations
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/bank/useBankEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update contractAddress type to ContractAddressInput in event log composables
  app/src/composables/cashRemuneration/useCashRemunerationEventsViaLogs.ts
  app/src/composables/expense/useExpenseEventsViaLogs.ts
  app/src/composables/fixedReturn/useFixedReturnEventsViaLogs.ts
  app/src/composables/investor/useInvestorEventsViaLogs.ts
  app/src/composables/investor/useSafeDepositRouterEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add support for fetching team details with contract history in query mocks
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enhance contract history handling across migrations by normalizing address inputs and merging logs
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/eventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add support for fetching team details with contract history to preserve accounting across migrations
  app/src/queries/team.queries.ts
  app/src/types/team.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 implement contract history loading across officer generations to preserve accounting during migrations
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
  backend/src/validation/schemas/team.ts
Due: api-unit-tests

fix: 🐛 add tests for CNC accounting migration to ensure contract history is preserved across generations
  app/src/composables/__tests__/eventsViaLogs.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.migration.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enhance contract log scanning and internal address handling to preserve accounting history across migrations
  app/src/composables/eventsViaLogs.ts
  app/src/utils/accounting/__tests__/internalAddresses.spec.ts
  backend/src/controllers/__tests__/teamController.test.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: 🐛 update team history query mock to use current team query for consistency
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enhance wage queries mock to mirror real wageKeys factory for consistent query invalidation
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update README to include contract migration history documentation for preserving accounting across migrations
  docs/features/accounting/README.md
  docs/features/accounting/contract-migration-history.md
Due: none

fix: 🐛 improve formatting in README and contract migration history documentation for better readability
  docs/features/accounting/README.md
  docs/features/accounting/contract-migration-history.md
Due: none

docs: 📝 add per-order embed attributes, bank-scoped recheck, and #2502 open-items table
  app/src/components/sections/PaymentGateView/IntegrationCard.vue
  docs/features/payment-gate/Readme.md
  docs/features/payment-gate/flow-and-edge-cases.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove contract history handling from team queries and related tests to streamline migration process
  app/src/queries/team.queries.ts
  app/src/tests/setup/composables.setup.ts
  app/src/types/team.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
  backend/src/validation/schemas/team.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: 🐛 update contract migration history documentation to reflect status changes and improve clarity
  docs/features/accounting/contract-migration-history.md
Due: none

fix: 🐛 enhance accounting history handling to preserve contract generations across migrations
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/eventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update tests to ensure accounting history is preserved across migrations
  app/src/composables/__tests__/eventsViaLogs.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.migration.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add alert for incomplete history due to reconciliation gaps
  app/src/components/sections/AccountingView/AccountingPage.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 point open-items section at #2500, not the now-closed #2502
  docs/features/payment-gate/Readme.md
Due: none

docs: 📝 rework open-items table as item / meaning / consideration / status
  docs/features/payment-gate/Readme.md
Due: none

docs: 📝 add lightweight v0 Payment Gate readme
  docs/features/payment-gate/v0-Readme.md
Due: none

fix: 🐛 update contract migration history documentation to clarify user stories and acceptance criteria
  docs/features/accounting/contract-migration-history.md
Due: none

fix: 🐛 mock wage query keys for scheduled refresh
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update election feature documentation with latest fixes and status
  docs/features/elections/Readme.md
Due: none

fix: 🐛 adjust formatting and wording in election feature documentation for clarity
  docs/features/elections/Readme.md
Due: none

fix: 🐛 improve formatting and readability in elections documentation
  docs/features/contracts/README.md
  docs/features/contracts/elections/README.md
Due: none

feat: ✨ make Safe registration idempotent
  backend/prisma/migrations/20260820100000_add_one_safe_per_team/migration.sql
  backend/src/controllers/__tests__/contractController.test.ts
  backend/src/controllers/contractController.ts
Due: api-unit-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
