Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: refactor claim creation tests and update error messages
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

fix: update launch configuration for Edge to use correct URL and webRoot
  .vscode/launch.json
Due: none

test: :zap: improve test
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

refactor: streamline GET / wage endpoint tests for clarity and consistency
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

Revert "refactor: streamline GET / wage endpoint tests for clarity and consistency"
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

refactor: simplify GET / endpoint tests for readability
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

contract setup
  contract/contracts/Vesting.sol
  contract/ignition/modules/VestingProxyModule.ts
  contract/test/Vesting.spec.ts
Due: contract-unit-tests

update deploy.sh
  contract/deploy.sh
Due: contract-unit-tests

test: update useReadContract mock
  app/src/components/__tests__/GenericTokenHoldingsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

Revert "test: update useReadContract mock"
  app/src/components/__tests__/GenericTokenHoldingsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: use localCurrency for currency
  app/src/components/GenericTokenHoldingsSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: use unused
  app/src/components/GenericTokenHoldingsSection.vue
Due: app-unit-tests, app-e2e-tests

test: update menu items number
  app/src/components/__tests__/TheDrawerV2.spec.ts
Due: app-unit-tests, app-e2e-tests

test: mock members
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: comment out unused user fetching logic in CashRemunerationWeeklyClaim component
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

chore: formating code
  app/src/components/WeeklyClaimComponent.vue
Due: app-unit-tests, app-e2e-tests

fix: use correct property
  app/src/components/GenericTokenHoldingsSection.vue
Due: app-unit-tests, app-e2e-tests

feat: first try
  app/src/components/GenericTokenHoldingsSection.vue
  app/src/composables/useContractBalance.ts
  app/src/stores/currencyStore.ts
Due: app-unit-tests, app-e2e-tests

test: update read contract mock
  app/src/components/__tests__/GenericTokenHoldingsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused loading states for token symbol and balance
  app/src/components/GenericTokenHoldingsSection.vue
Due: app-unit-tests, app-e2e-tests

fix: update currency code reference to use local currency
  app/src/components/GenericTokenHoldingsSection.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance weekly claims retrieval by adding member address filter
  app/src/components/WeeklyClaimComponent.vue
  backend/src/controllers/claimController.ts
  backend/src/controllers/weeklyClaimController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: add weekly claims feature with new route and component
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
  app/src/views/team/[id]/CashRemunerationView.vue
  backend/src/config/serverConfig.ts
  backend/src/routes/weeklyClaimRoute.ts
  backend/src/utils/dayUtils.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: implement weekly claims feature with database schema updates and claim validation
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
  backend/prisma/migrations/20250604120914_create_weeklyclaim/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/src/controllers/claimController.ts
  backend/src/routes/weeklyClaimRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: add usdc rate type
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

feat: add sign approve tokens
  app/src/components/sections/CashRemunerationView/CRSigne.vue
Due: app-unit-tests, app-e2e-tests

feat: add erc20 withdraw
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
Due: app-unit-tests, app-e2e-tests

add vue components for vesting
  app/src/components/TheDrawer.vue
  app/src/components/forms/CreateVesting.vue
  app/src/types/vesting.ts
  app/src/views/team/[id]/VestingView.vue
Due: app-unit-tests, app-e2e-tests

update routing
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

update drawer
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

update drawer test
  app/src/components/__tests__/TheDrawerV2.spec.ts
Due: app-unit-tests, app-e2e-tests

update vesting sol
  contract/contracts/Vesting.sol
  contract/test/Vesting.spec.ts
Due: contract-unit-tests

add mock vesting store
  app/src/stores/__mocks__/vestingStore.ts
Due: app-unit-tests, app-e2e-tests

feat: add remove token support component
  app/src/components/sections/CashRemunerationView/CRAddERC20Support.vue
Due: app-unit-tests, app-e2e-tests

refactor: use array to support multiple tokens
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

test: update to use array
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

ci: update abi
  app/src/artifacts/abi/CashRemunerationEIP712.json
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
