Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: ✅ verify company deletion API and cascade
  app/test/e2e/company/company.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 scope company deletion E2E evidence
  docs/features/companies/README.md
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

fix: 🐛 reject deactivated expense approvals on-chain
  app/src/artifacts/abi/generated.ts
  contract/CHANGELOG.md
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/test/ExpenseAccountEIP712UpgradeModule.spec.ts
  contract/test/ExpenseAccountEIP712V2.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 type integrated deletion database readback
  app/test/e2e/company/company.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ prove Expense Account approval lifecycle end to end
  app/test/e2e/accounts.integrated.spec.ts
  docs/contracts/features/expense-account/README.md
  docs/features/accounts/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 decode indexed Bank token transfers for Payroll activity
  app/src/composables/bank/__tests__/useIncomingBankTokenTransfersViaLogs.spec.ts
  app/src/composables/bank/useIncomingBankTokenTransfersViaLogs.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ prove Payroll summaries and filtered activity after reload
  app/test/e2e/payroll/payroll-payment.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ derive Expense approvals from supported tokens
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/components/sections/ExpenseAccountView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/ExpenseAccountView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/ui/inputs/SelectMemberWithTokenInput.vue
  app/src/components/ui/inputs/__tests__/SelectMemberWithTokenInput.spec.ts
  app/src/composables/expenseAccount/reads.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/treasury.setup.ts
  app/src/utils/expenses/__tests__/model.spec.ts
  app/src/utils/expenses/__tests__/tokenPolicy.spec.ts
  app/src/utils/expenses/model.ts
  app/src/utils/expenses/tokenPolicy.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ warn about obligations before treasury returns
  app/src/components/sections/OwnerTreasuryWithdrawAction.vue
  app/src/components/sections/__tests__/OwnerTreasuryWithdrawAction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ link treasury funding and period evidence
  app/test/e2e/bank/bank-funding.integrated.spec.ts
  contract/test/CashRemunerationEIP712.spec.ts
  contract/test/ExpenseAccountEIP712.spec.ts
  contract/test/ExpenseAccountEIP712V2.isNewPeriod.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 record verified Payroll account E2E coverage
  docs/features/accounts/README.md
  docs/features/payroll/README.md
  docs/implementation/contract-event-feeds/README.md
  docs/testing/e2e-paths.md
Due: none

docs: 📝 define cross-domain treasury stories and rules
  docs/contracts/features/expense-account/README.md
  docs/features/accounting/journal-entry-catalogue.md
  docs/features/accounts/README.md
  docs/features/accounts/treasury-flow-map.md
  docs/features/payroll/README.md
  docs/platform/feature-specification-guide.md
Due: none

test: ✅ isolate integrated E2E RPC by checkout
  app/scripts/check-integrated-readiness.mjs
  app/test/e2e/e2e-chain.ts
  app/test/e2e/e2e-page.ts
  app/test/e2e/factories/operational-team.ts
  contract/hardhat.config.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

test: ✅ prove integrated Community Credit repayment and recovery
  app/test/e2e/community-credit/community-credit-integrated-helpers.ts
  app/test/e2e/community-credit/community-credit-page.ts
  app/test/e2e/community-credit/community-credit.integrated.spec.ts
  docs/features/community-credit/README.md
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ wait for repaid round before history reload
  app/test/e2e/community-credit/community-credit.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor code structure for improved readability and maintainability
  docs/features/accounting/README.md
  docs/features/accounting/accounting-test-script.md
  docs/features/accounting/journal-entry-catalogue.md
Due: none

fix: 🐛 restore balance sheet account details
  app/src/components/sections/AccountingView/BalanceSheetTable.vue
  app/src/views/team/[id]/Accounting/__tests__/BalanceSheetDrilldown.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record balance sheet details regression evidence
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
Due: none

test: ✅ separate company UI deletion from backend cascade proof
  .github/workflows/app-e2e.yml
  app/test/e2e/company/company.integrated.spec.ts
  backend/src/controllers/__tests__/team-deletion-cascade.e2e-test.ts
  backend/vitest.e2e.config.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 distinguish user-visible deletion from database cascade
  docs/features/companies/README.md
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ keep company deletion E2E on the owner journey
  .github/workflows/app-e2e.yml
  app/test/e2e/company/company.integrated.spec.ts
  backend/src/controllers/__tests__/team-deletion-cascade.e2e-test.ts
  backend/vitest.e2e.config.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 gate E2E assertions by actor outcome
  docs/features/companies/README.md
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ match deleted company unavailable message
  app/test/e2e/company/company.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 attest merged Payroll account evidence
  docs/features/accounts/README.md
  docs/features/payroll/README.md
Due: none

docs: 📝 attest canonical Expense Account documentation
  docs/contracts/features/expense-account/README.md
  docs/features/accounts/README.md
Due: none

fix: 🐛 reject mismatched versions before contract upgrades
  contract/deploy-upgrade-v2.0.1.sh
  contract/releases/polygon-v2.0.1.md
  contract/scripts/lib/implementation-version.ts
  contract/scripts/validate-upgrade.ts
  contract/test/ImplementationVersion.spec.ts
  contract/test/V201UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests

feat: ✨ add guarded Expense Account 2.0.2 upgrade recipe
  contract/CHANGELOG.md
  contract/README.md
  contract/deploy-upgrade-v2.0.2.sh
  contract/ignition/MODULES.md
  contract/ignition/modules/README.md
  contract/ignition/modules/upgrades/v2.0.2/ExpenseAccountUpgradeModule.ts
  contract/package.json
  contract/releases/polygon-v2.0.2.md
  contract/scripts/deploy-v201-upgrade.ts
  contract/scripts/deploy-v202-upgrade.ts
  contract/scripts/lib/beacon-upgrade-verification.ts
  contract/scripts/verify-v201-upgrade.ts
  contract/test/ExpenseAccountV202UpgradeModule.spec.ts
  contract/test/V202UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests

docs: 📝 align upgrade runbook Markdown formatting
  contract/releases/polygon-v2.0.1.md
Due: contract-unit-tests

docs: 📝 define development relationship validation
  AGENTS.md
  CONTRIBUTION.md
  docs/development-guide/README.md
  docs/development-guide/relationship-validation.md
Due: none

docs: 📝 wire relationship checks into agent and review workflows
  .agents/skills/cnc-contract-change/SKILL.md
  .agents/skills/cnc-docs-governance/SKILL.md
  .agents/skills/cnc-feature-documentation/SKILL.md
  .agents/skills/cnc-frontend-change/SKILL.md
  .agents/skills/cnc-github-flow/SKILL.md
  .agents/skills/cnc-pr-review/SKILL.md
  .agents/skills/cnc-work-orchestrator/SKILL.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/copilot-instructions/review-checklist.md
  .github/pull_request_template.md
Due: none

fix: 🐛 abbreviate Payroll History member addresses
  app/src/components/sections/ClaimHistoryView/ClaimHistoryMemberHeader.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryMemberHeader.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 clarify Payroll History address formatting
  docs/features/payroll/README.md
Due: none

docs: 📝 define universal feature evidence contract
  docs/platform/feature-specification-guide.md
Due: none

test: ✅ validate feature coverage structure
  scripts/acceptance-criteria-traceability.test.mjs
  scripts/lib/acceptance-criteria-traceability.mjs
Due: none

docs: 📝 map Authentication acceptance evidence
  docs/features/authentication/README.md
Due: none

docs: 📝 map Profile acceptance evidence
  docs/features/user-profile/README.md
Due: none

docs: 📝 map Payment Gate acceptance evidence
  docs/features/payment-gate/README.md
Due: none

test: ✅ prove Community Credit journal entry in G7
  app/test/e2e/accounting/accounting-credit.ts
  app/test/e2e/accounting/accounting-journey.integrated.spec.ts
  app/test/e2e/accounting/accounting-operations.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record G7 Community Credit journal evidence
  docs/features/accounting/README.md
  docs/testing/e2e-paths.md
Due: none

docs: 📝 map Community Credit proof boundaries
  docs/features/community-credit/README.md
Due: none
