Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

Add GlobalRestrictionSetting and TeamRestrictionOverride models for restriction management
  backend/prisma/migrations/20251215212300_add_submit_restriction/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

Refactor SubmitRestrictionCard and TeamOverridesTable components for improved UI and state management
  dashboard/app/components/features/SubmitRestrictionCard.vue
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

Refactor database schema by removing obsolete migration files and updating models for restriction management
  backend/prisma/migrations/20251215212300_add_submit_restriction/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

Add teamFunctionOverrides field to Team and GlobalSetting models for enhanced restriction management
  backend/prisma/schema.prisma
Due: api-unit-tests

update the prisma schema
  backend/prisma/migrations/20251216130817_add_submit_restriction/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

Add documentation for Backoffice Feature Management and Feature Flags system
  docs/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/feature-flags.md
Due: none

Update Backoffice Feature Management documentation with feature flags details and migration guide
  docs/features/backoffice/README.md
  docs/features/backoffice/feature-flags.md
Due: none

Update feature flags documentation with naming conventions examples
  docs/features/backoffice/feature-flags.md
Due: none

Refactor feature flag definitions by removing global restriction property and updating lifecycle steps for clarity
  docs/features/backoffice/feature-flags.md
Due: none

Add spacing for improved readability in E2E documentation
  E2E_QUICK_REFERENCE.md
  E2E_SETUP_SUMMARY.md
Due: none

Add peer dependency flag to multiple packages in package-lock.json
  app/package-lock.json
  app/playwright.config.ts
  app/test/README.md
Due: app-unit-tests, app-e2e-tests

Remove deprecated E2E test files for dashboard, navbar, and teams
  app/test/e2e/dashboard.spec.ts
  app/test/e2e/login.spec.ts
  app/test/e2e/navbar.spec.ts
  app/test/e2e/teams.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor login.spec.ts to enable API mocking for user sign-in process
  app/test/e2e/login.spec.ts
Due: app-unit-tests, app-e2e-tests

Enhance E2E workflow by adding logging and readiness checks for Anvil and Vite dev server
  .github/workflows/app-e2e.yml
Due: none

Remove unnecessary blank lines in login.spec.ts
  app/test/e2e/login.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor E2E workflow to replace Anvil with Hardhat for local blockchain setup
  .github/workflows/app-e2e.yml
Due: none

Increase wait times for Hardhat node and Vite dev server readiness in E2E workflow
  .github/workflows/app-e2e.yml
Due: none

Add E2E workflow for Synpress and Playwright integration
  .github/workflows/app-e2e.yml.new
Due: none

Update E2E_SETUP_SUMMARY.md
  E2E_SETUP_SUMMARY.md
Due: none

Update app/test/README.md
  app/test/README.md
Due: app-unit-tests, app-e2e-tests

Update refetch interval for token balance queries and correct coin ID mappings
  app/src/composables/useContractBalance.ts
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

Fix template syntax in DepositBankForm.vue by correcting comment closure
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

Add Pinia module and dependency to Nuxt configuration
  dashboard/app/stores/useTokenPriceStore.ts
  dashboard/nuxt.config.ts
  dashboard/package-lock.json
  dashboard/package.json
Due: none

Enhance weekly claims synchronization by adding onMounted lifecycle hook and updating query client after sync
  app/src/components/sections/CashRemunerationView/SignedWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

Sync weekly claims with blockchain on mount using fetch API and handle errors gracefully
  app/src/components/sections/CashRemunerationView/SignedWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

format code
  app/src/components/sections/CashRemunerationView/SignedWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

Refactor token price store to use useChainId and improve documentation
  dashboard/app/stores/useTokenPriceStore.ts
  dashboard/nuxt.config.ts
Due: none

Remove unused network utility functions and related types
  dashboard/app/utils/network.ts
Due: none

Remove useTokenPrices composable and related logic
  dashboard/app/composables/useTokenPrices.ts
Due: none

Update chainId values in networks.json to use numeric format
  dashboard/app/networks/networks.json
Due: none

Add installation and usage documentation for Pinia store integration in token price functionality
  INSTALLATION_GUIDE_TOKEN_PRICES.md
  REFACTORING_TOKEN_PRICES.md
  TOKEN_PRICES_BEFORE_AFTER.md
  TOKEN_PRICES_QUICK_REFERENCE.md
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
  dashboard/app/composables/useFeeCollector.ts
Due: none

Refactor test mocks in signedWeeklyClaim.spec.ts to include useQueryClient and enhance composable imports
  app/src/components/sections/CashRemunerationView/__tests__/signedWeeklyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

Add axios as a dependency in package.json
  dashboard/package-lock.json
  dashboard/package.json
Due: none

Implement CoinGecko API integration for fetching token prices and refactor token price store to use TanStack Query
  dashboard/app/api/coingecko.ts
  dashboard/app/api/index.ts
  dashboard/app/queries/useTokenPricesQuery.ts
  dashboard/app/stores/useTokenPriceStore.ts
Due: none

Enhance tests in signedWeeklyClaim.spec.ts by adding new cases for logging weekly claims, handling token price info, and displaying error toasts on fetch failure
  app/src/components/sections/CashRemunerationView/__tests__/signedWeeklyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

Update native token symbol retrieval in useFeeCollector composable
  dashboard/app/composables/useFeeCollector.ts
Due: none

Enhance signedWeeklyClaim tests by adding weekly claims sync error handling and improving token price handling
  app/src/components/sections/CashRemunerationView/__tests__/signedWeeklyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

Fix balance loading state and error handling in FeeCollectorStats component
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
Due: none

Refactor getTokenPrice function to use a more specific token type
  dashboard/app/stores/useTokenPriceStore.ts
Due: none
