Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: correct USDC balance display in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add USDC tipping functionality in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: rename pushTokenTip to pushUSDC and update related logic in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove Tips contract, implement tips management, and enhance functionality
  contract/contracts/Bank.sol
  contract/contracts/Tips.sol
  contract/test/Bank.spec.ts
Due: contract-unit-tests

refactor: simplify contract tests by removing Tips integration and cleaning up initialization parameters
  contract/test/BankBeacon.spec.ts
  contract/test/BoardOfDirectors.spec.ts
  contract/test/Officer.spec.ts
  contract/test/Tips.spec.ts
Due: contract-unit-tests

refactor: remove pushTokenTip and sendTokenTip from Bank and Tips contracts
  contract/contracts/Bank.sol
  contract/contracts/Tips.sol
Due: contract-unit-tests

revert:
  contract/contracts/Tips.sol
  contract/test/Tips.spec.ts
Due: contract-unit-tests

refactor: remove Tips contract integration from Bank tests and streamline deployment logic
  contract/test/Bank.spec.ts
Due: contract-unit-tests

feat: integrate Tips contract into Bank tests and implement tipping functionality
  contract/test/Bank.spec.ts
Due: contract-unit-tests

feat: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  app/src/artifacts/deployed_addresses/chain-137.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#ProxyAdmin.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#ProxyAdmin.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#Tips.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#Tips.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#TransparentUpgradeableProxy.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#TransparentUpgradeableProxy.json
  contract/ignition/deployments/chain-11155111/artifacts/TipsModule#Tips.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/TipsModule#Tips.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: correct token amount calculation in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance transaction handling and loading states in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve token allowance checks in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

test: enhance BankSection component tests with USDC functionality
  app/src/components/sections/SingleTeamView/__tests__/BankSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add data-test attributes and enhance error handling in BankSection component
  app/src/components/sections/SingleTeamView/BankSection.vue
  app/src/components/sections/SingleTeamView/__tests__/BankSection.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: update dependencies and add InvoiceSection component
  app/package-lock.json
  app/package.json
  app/src/components/sections/SingleTeamView/BankSection.vue
  app/src/components/sections/SingleTeamView/InvoiceSection.vue
Due: app-unit-tests, app-e2e-tests

feat: update dependencies and enhance BankSection component
  app/package-lock.json
  app/package.json
  app/src/components/sections/SingleTeamView/BankSection.vue
  app/src/components/sections/SingleTeamView/InvoiceSection.vue
Due: app-unit-tests, app-e2e-tests

build: update deployed addresses
  app/src/artifacts/deployed_addresses/chain-11155111.json
  app/src/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, app-e2e-tests

feat: add user name
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: table ui
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests, app-e2e-tests

test: format address and time
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update button loading state handling in CashRemunerationSection
  app/src/components/sections/SingleTeamView/CashRemunerationSection.vue
Due: app-unit-tests, app-e2e-tests

chore: :art: remove unnecessary LoadingButton component from DistributeMintForm
  app/src/components/sections/SingleTeamView/forms/DistributeMintForm.vue
Due: app-unit-tests, app-e2e-tests

fix: update UpdateTeamForm to use ButtonUI component and adjust variant usage + Testing fixe
  app/src/components/forms/__tests__/UpdateTeamForm.spec.ts
  app/src/components/sections/SingleTeamView/forms/UpdateTeamForm.vue
Due: app-unit-tests, app-e2e-tests

fix: clean up ButtonUI component usage and formatting across various forms and views
  app/src/components/ModalComponent.vue
  app/src/components/TeamContractAdmins.vue
  app/src/components/forms/CreateAddCamapaign.vue
  app/src/components/forms/CreateOfficerTeam.vue
  app/src/components/forms/DeleteConfirmForm.vue
  app/src/components/forms/DeployInvestorContractForm.vue
  app/src/components/forms/DeploymentActions.vue
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/EditUserForm.vue
  app/src/components/forms/OfficerForm.vue
  app/src/components/forms/TransferFromBankForm.vue
  app/src/components/forms/__tests__/UpdateTeamForm.spec.ts
  app/src/components/sections/SingleTeamView/BankManagement.vue
  app/src/components/sections/SingleTeamView/BankSection.vue
  app/src/components/sections/SingleTeamView/BoDActions.vue
  app/src/components/sections/SingleTeamView/BoardOfDirectorsSection.vue
  app/src/components/sections/SingleTeamView/MemberCard.vue
  app/src/components/sections/SingleTeamView/MemberRow.vue
  app/src/components/sections/SingleTeamView/ProposalCard.vue
  app/src/components/sections/SingleTeamView/ProposalSection.vue
  app/src/components/sections/SingleTeamView/TeamDetails.vue
  app/src/components/sections/SingleTeamView/VotingManagement.vue
  app/src/components/sections/SingleTeamView/forms/AddMemberForm.vue
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
  app/src/components/sections/SingleTeamView/forms/DescriptionActionForm.vue
  app/src/components/sections/SingleTeamView/forms/DistributeMintForm.vue
  app/src/components/sections/SingleTeamView/forms/PayDividendsForm.vue
  app/src/components/sections/SingleTeamView/forms/SetLimitForm.vue
  app/src/components/sections/SingleTeamView/forms/UpdateTeamForm.vue
  app/src/components/sections/SingleTeamView/forms/VoteForm.vue
  app/src/components/sections/SingleTeamView/modals/ApproveRevokeAction.vue
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
  app/src/views/HomeView.vue
  app/src/views/LoginView.vue
  app/src/views/SingleTeamView.vue
Due: app-unit-tests, app-e2e-tests

fix: update NavBar test to use correct import path and remove redundant Ethereum logo test
  app/src/components/__tests__/NavBar.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused LoadingButton and DeleteConfirmForm components and their tests
  app/src/components/__tests__/LoadingButton.spec.ts
  app/src/components/forms/DeleteConfirmForm.vue
  app/src/components/forms/__tests__/DeleteConfirmationForm.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update AddMemberForm snapshot to reflect button text change
  app/src/components/forms/__tests__/__snapshots__/AddMemberForm.spec.ts.snap
Due: app-unit-tests, app-e2e-tests

test: :bug: update DepositBankForm to correctly render ButtonUI and adjust test assertions
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update DeployInvestorContractForm test to replace LoadingButton with ButtonUI and adjust loading prop assertion
  app/src/components/forms/__tests__/DeployInvestorContractForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update DeployInvestorContractForm tests to replace button selector with ButtonUI component
  app/src/components/forms/__tests__/DeployInvestorContractForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update VotingManagement tests to use consistent selector syntax
  app/src/components/sections/SingleTeamView/__tests__/VotingManagement.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance InvoiceSection component with transaction handling improvements
  app/src/components/sections/SingleTeamView/InvoiceSection.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance InvoiceSection component with improved pagination and items per page selection
  app/src/components/sections/SingleTeamView/InvoiceSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: streamline transaction fetching in InvoiceSection component
  app/src/components/sections/SingleTeamView/InvoiceSection.vue
Due: app-unit-tests, app-e2e-tests

test: :bug: update CreateAddCampaign tests to replace LoadingButton with ButtonUI component
  app/src/components/forms/__tests__/CreateAddCampaign.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update DistributeMintForm tests to replace LoadingButton with ButtonUI component and adjust selector syntax
  app/src/components/sections/SingleTeamView/forms/__tests__/DistributeMintForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update EditUserForm tests to replace LoadingButton with ButtonUI component and assert loading prop
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update ShareholderList tests to use consistent selector syntax for mint individual button
  app/src/components/sections/SingleTeamView/__tests__/ShareholderList.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :bug: update TransferFromBankForm tests to replace LoadingButton with ButtonUI component and adjust selector syntax
  app/src/components/forms/__tests__/TransferFromBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
