Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

refactor:
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: remove all investorHeader props
  app/src/components/sections/SherTokenView/InvestorsSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: :zap: remove defineProps & handle tokenBalance and shareholders
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
Due: app-unit-tests, app-e2e-tests

refactor: :bug: bugfix of mint and modifie the rules
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: remove variable
  app/src/components/sections/SherTokenView/InvestorsSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: simplify ShareholderList component props and enhance error handling
  app/src/components/sections/SherTokenView/InvestorsSection.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: streamline MintForm usage in InvestorsActions and ShareholderList components
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: :bug: enhance error handling in MintForm and remove unused variables
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: clean up MintForm and ShareholderList components by removing unused variables and enhancing readability
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: remove code how not using
  app/src/components/sections/SherTokenView/InvestorsSection.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: :fire: update InvestorsActions and InvestorsSection components to use currentTeam from teamStore and enhance error handling
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: :art: improve code component
  app/src/components/sections/SherTokenView/InvestorsSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: :sparkles: enhance InvestorsHeader tests with improved mock setup and error handling
  app/src/components/sections/SherTokenView/__tests__/InvestorsHeader.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: :fire: clean up InvestorsActions and InvestorsSection tests by removing unused code and enhancing readability
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: :art: improve formatting and readability in InvestorsActions and InvestorsHeader tests
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsHeader.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: :fire: remove comment
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  app/src/components/sections/CashRemunerationView/PendingWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

refactor: :fire: skip tests for InvestorsSection, ShareholderList, and MintForm components
  app/src/components/sections/SherTokenView/__tests__/InvestorsSection.spec.ts
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/MintForm.spec.ts
Due: app-unit-tests, app-e2e-tests

merge with develop and bug fix
  .gitignore
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsSection.vue
  app/src/components/sections/SherTokenView/InvestorsTransactionHistory.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/types/transactions.ts
Due: app-unit-tests, app-e2e-tests

types correction
  .gitignore
  app/src/components/sections/SherTokenView/InvestorsTransactionHistory.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/types/transactions.ts
Due: app-unit-tests, app-e2e-tests

revert gitignore
  .gitignore
Due: none

remove unnecesary interface
  app/src/components/sections/SherTokenView/InvestorsTransactionHistory.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
Due: app-unit-tests, app-e2e-tests

restructure the transaction compoents
  app/src/components/sections/SherTokenView/InvestorsTransactionFilter.vue
  app/src/components/sections/SherTokenView/InvestorsTransactionHistory.vue
  app/src/components/sections/SherTokenView/InvestorsTransactionTable.vue
Due: app-unit-tests, app-e2e-tests

remove unnecessary logs
  app/src/components/sections/SherTokenView/InvestorsTransactionTable.vue
Due: app-unit-tests, app-e2e-tests

add tests
  app/src/components/sections/SherTokenView/InvestorsTransactionTable.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionFilter.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionHistory.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionTable.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add cash remuneration upgrade module
  contract/ignition/modules/CashRemunerationEIP712UpgradeModule.ts
Due: contract-unit-tests

doc: add comments
  contract/ignition/modules/CashRemunerationEIP712UpgradeModule.ts
Due: contract-unit-tests

feat: add upgrade officer contract module
  contract/ignition/modules/OfficerUpgradeModule.ts
Due: contract-unit-tests

test: add upgrade module tests
  contract/test/CashRemunerationEIP712UpgradeModule.spec.ts
  contract/test/OfficerUpgradeModule.spec.ts
Due: contract-unit-tests

add control to tranfer ownership
  app/src/components/sections/ContractManagementView/MainContractActions.vue
  app/src/components/sections/ContractManagementView/forms/TransferOwnershipForm.vue
Due: app-unit-tests, app-e2e-tests

feat: add bank upgrade module
  contract/ignition/modules/BankUpgradeModule.ts
Due: contract-unit-tests

feat: add bank upgrade test
  contract/test/BankUpgradeModule.spec.ts
Due: contract-unit-tests

fix lint issue
  app/src/components/sections/ContractManagementView/MainContractActions.vue
Due: app-unit-tests, app-e2e-tests

test: provide commented out template tests
  contract/test/BankUpgradeModule.spec.ts
  contract/test/CashRemunerationEIP712UpgradeModule.spec.ts
  contract/test/OfficerUpgradeModule.spec.ts
Due: contract-unit-tests

use vueValidate instead of custom validation
  app/src/components/sections/ContractManagementView/forms/TransferOwnershipForm.vue
Due: app-unit-tests, app-e2e-tests

feat: add 'Payment Status' menu item based on user ownership
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: allow dynamic width
  app/src/components/ModalComponent.vue
Due: app-unit-tests, app-e2e-tests

feat: add bod alert component
  app/src/components/BodAlert.vue
Due: app-unit-tests, app-e2e-tests

feat: add bod alert if bod action
  app/src/components/sections/ContractManagementView/forms/TransferOwnershipForm.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
