Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: implement dividend grouping functionality for ledger entries
  app/src/utils/accounting/__tests__/dividendGrouping.spec.ts
  app/src/utils/accounting/dividendGrouping.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance activity cell rendering to support itemized postings for grouped dividends
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 require ordered user stories
  .agents/skills/cnc-feature-documentation/SKILL.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 validate company user stories
  docs/features/companies/README.md
Due: none

docs: 📝 defer inactive Board Proposals
  docs/features/README.md
Due: none

docs: 📝 document Backoffice Team operations
  docs/features/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/team-operations/README.md
Due: none

fix: 🐛 enforce administrator authorization for team lists
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
  docs/features/backoffice/team-operations/README.md
  docs/features/companies/README.md
  docs/features/payroll/README.md
Due: api-unit-tests

fix: reject malformed facture IDs in the Payment Gate widget
  app/src/widget/main.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 trim Implementation Evidence to plain links
  docs/features/payment-gate/README.md
Due: none

docs: 📝 validate Companies Operations user stories
  docs/features/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/companies-operations/README.md
  docs/features/backoffice/team-operations/README.md
  docs/features/companies/README.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 document Backoffice Micropayments
  docs/features/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/micropayments/README.md
Due: none

docs: 📝 link Bank transfer fees to Micropayments
  docs/features/accounts/README.md
  docs/features/backoffice/micropayments/README.md
Due: none

docs: 📝 document Backoffice Polymarket accounting
  docs/features/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/polymarket-accounting/README.md
Due: none

feat: enhance member address validation and update form behavior in CreateVesting
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
  app/src/utils/vestingScheduleUtil.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 register useFactureHistory in the Payment Gate README
  docs/features/payment-gate/README.md
Due: none

feat: ✨ build Payment Gate history from real Bank transactions
  app/src/components/sections/PaymentGateView/HistoryCard.vue
  app/src/composables/paymentGate/useFactureHistory.ts
Due: app-unit-tests, app-e2e-tests

style: 🎨 match Payment Gate history to the other transaction tables
  app/src/components/sections/PaymentGateView/HistoryCard.vue
  app/src/composables/paymentGate/useFactureHistory.ts
  docs/features/payment-gate/README.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 give the Payment Gate widget's hosting domain a safe landing page
  app/vite.widget.config.ts
  app/widget-public/index.html
Due: app-unit-tests, app-e2e-tests

fix: 🐛 give the Payment Gate widget's hosting domain a safe landing page
  app/vite.widget.config.ts
  app/widget/dev/entry.ts
  app/widget/dev/index.html
  app/widget/public/index.html
Due: app-unit-tests, app-e2e-tests

docs: 📝 align remaining canonical feature stories
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/contract-operations/README.md
  docs/features/backoffice/feature-restrictions/README.md
  docs/features/backoffice/statistics/README.md
  docs/features/community-credit/README.md
  docs/features/contract-management/README.md
  docs/features/elections/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
Due: none

feat: add share vesting details to accounting documentation
  docs/features/accounting/README.md
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: none

feat: add vesting events mapping tests and refactor imports in accounting tests
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/utils/accounting/__tests__/toSafeTransferRows.spec.ts
  app/src/utils/accounting/__tests__/vesting.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add vesting events mapping and integrate into accounting mappers
  app/src/utils/accounting/mappers/index.ts
  app/src/utils/accounting/mappers/investor.ts
  app/src/utils/accounting/mappers/vesting.ts
Due: app-unit-tests, app-e2e-tests

feat: add vesting events integration in CNC accounting composables
  app/src/composables/accounting/useActivityDestination.ts
  app/src/composables/accounting/useCNCAccounting.ts
Due: app-unit-tests, app-e2e-tests

feat: implement vesting events handling via logs and define related types
  app/src/composables/vesting/useVestingEventsViaLogs.ts
  app/src/types/ponder/vesting.ts
Due: app-unit-tests, app-e2e-tests

feat: add vesting section and events handling in accounting utilities
  app/src/utils/accounting/activityDestination.ts
  app/src/utils/accounting/assemble.ts
Due: app-unit-tests, app-e2e-tests

feat: add vesting use cases and update activity descriptions in accounting utilities
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/ledgerCategory.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/safeTransfers.ts
Due: app-unit-tests, app-e2e-tests

feat: add vesting event feed links in README documentation for accounting and vesting
  docs/features/accounting/README.md
  docs/features/vesting/README.md
Due: none

ci: 👷 exempt non-behavioral source relocations from docs freshness
  docs/platform/documentation-freshness-policy.md
  scripts/documentation-freshness.test.mjs
  scripts/lib/documentation-freshness.mjs
Due: none

feat: ✨ add canonical period display styles
  .github/copilot-instructions/formatting-standards.md
  app/src/utils/format/__tests__/date.spec.ts
  app/src/utils/format/date.ts
  app/src/utils/format/index.ts
  dashboard/app/utils/format/date.ts
  dashboard/app/utils/format/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ migrate dashboard display formatting
  dashboard/app/components/accounting/AccountingIdentitiesCard.vue
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/components/accounting/AccountingLedger.vue
  dashboard/app/components/accounting/AccountingPositions.vue
  dashboard/app/components/contracts/ContractHistoryCard.vue
  dashboard/app/components/features/TeamOverridesSection.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigList.vue
  dashboard/app/components/stats/StatsActivitySection.vue
  dashboard/app/components/stats/StatsOverviewSection.vue
  dashboard/app/components/teams/ContractBalance.vue
  dashboard/app/components/teams/ProjectTvlCard.vue
  dashboard/app/components/teams/TeamOfficersCell.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useTeamsBalanceRecaps.ts
  dashboard/app/pages/contracts/history.vue
  dashboard/app/pages/features/index.vue
  dashboard/app/pages/teams/[id].vue
  dashboard/app/queries/contractTokenBalances.query.ts
  dashboard/app/utils/currency.ts
  dashboard/app/utils/datePicker.ts
  dashboard/app/utils/generalUtil.ts
  dashboard/app/utils/mergedLedger.ts
  dashboard/eslint.config.mjs
  docs/features/backoffice/README.md
  docs/features/backoffice/companies-operations/README.md
  docs/features/backoffice/contract-operations/README.md
  docs/features/backoffice/feature-restrictions/README.md
  docs/features/backoffice/micropayments/README.md
  docs/features/backoffice/polymarket-accounting/README.md
  docs/features/backoffice/statistics/README.md
  docs/implementation/feature-flags/README.md
Due: none

refactor: ♻️ replace legacy UI primitives with Nuxt UI
  .github/copilot-instructions/testing-overview.md
  .github/copilot-instructions/testing-patterns.md
  .github/copilot-instructions/vue-component-standards.md
  app/src/components/__tests__/README.md
  app/src/components/forms/TransferForm.vue
  app/src/components/forms/__tests__/TransferForm.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistoryMemberHeader.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryMemberHeader.spec.ts
  app/src/components/sections/ContractManagementView/forms/TransferOwnershipForm.vue
  app/src/components/sections/ContractManagementView/forms/__tests__/TransferOwnershipForm.spec.ts
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
  app/src/components/sections/SherTokenView/forms/__tests__/PayDividendsForm.spec.ts
  app/src/components/ui/BodAlert.vue
  app/src/components/ui/ContractOwnerCard.vue
  app/src/components/ui/SelectComponent.vue
  app/src/components/ui/SelectMemberItem.vue
  app/src/components/ui/UserAvatarComponent.vue
  app/src/components/ui/__tests__/BodAlert.spec.ts
  app/src/components/ui/__tests__/ContractOwnerCard.spec.ts
  app/src/components/ui/__tests__/SelectComponent.advanced.spec.ts
  app/src/components/ui/__tests__/SelectComponent.spec.ts
  app/src/components/ui/__tests__/SelectMemberItem.spec.ts
  app/src/components/ui/__tests__/UserAvatarComponent.spec.ts
  app/src/components/utils/SelectMemberWithTokenInput.vue
  app/src/components/utils/__tests__/SelectMemberWithTokenInput.spec.ts
  app/src/tests/stubs/nuxt-ui.stubs.ts
  docs/features/accounts/README.md
  docs/features/contract-management/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/implementation/README.md
  docs/implementation/contract-owner-resolution/README.md
  docs/implementation/member-selection/README.md
  scripts/audit-doc-drift.sh
Due: app-unit-tests, app-e2e-tests

fix: 🐛 restore Payment Gate transaction detail import
  app/src/components/sections/PaymentGateView/HistoryCard.vue
  docs/features/payment-gate/README.md
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ rename shared date picker
  app/src/components/sections/AccountingView/BalanceSheetCard.vue
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/IncomeStatementCard.vue
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
  app/src/components/ui/CustomDatePicker.vue
  app/src/components/ui/DatePicker.vue
  app/src/components/ui/__tests__/CustomDatePicker.spec.ts
  app/src/composables/useDatePicker.ts
  app/src/utils/datePicker.ts
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/community-credit/README.md
  docs/features/shareholder-management/README.md
  docs/implementation/README.md
  docs/implementation/date-picker/README.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 define component naming convention
  .github/copilot-instructions/vue-component-standards.md
Due: none

test: ✅ recognize pure component renames in docs freshness
  app/src/components/ui/AddressTooltip.vue
  app/src/components/ui/TokenHoldingsSection.vue
  app/src/components/ui/TransactionDetailSlideover.vue
  app/src/components/ui/UserIdentity.vue
  app/src/components/ui/__tests__/AddressTooltip.spec.ts
  app/src/components/ui/__tests__/TokenHoldingsSection.spec.ts
  app/src/components/ui/__tests__/TransactionDetailSlideover.spec.ts
  app/src/components/ui/__tests__/UserIdentity.spec.ts
  docs/platform/documentation-freshness-policy.md
  scripts/documentation-freshness.test.mjs
  scripts/lib/documentation-freshness.mjs
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ clarify election component responsibilities
  app/src/components/sections/AdministrationView/BodMembersEmptyState.vue
  app/src/components/sections/AdministrationView/BodMembersSection.vue
  app/src/components/sections/AdministrationView/ElectionCandidateCard.vue
  app/src/components/sections/AdministrationView/ElectionCandidateIdentity.vue
  app/src/components/sections/AdministrationView/ElectionCandidatesSection.vue
  app/src/components/sections/AdministrationView/ElectionSummaryEmptyState.vue
  app/src/components/sections/AdministrationView/ElectionSummarySection.vue
  app/src/components/sections/AdministrationView/PastElectionCard.vue
  app/src/components/sections/AdministrationView/PastElectionsEmptyState.vue
  app/src/components/sections/AdministrationView/PastElectionsSection.vue
  app/src/components/sections/AdministrationView/__tests__/BodMembersSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionCandidateIdentity.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionSummarySection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PastElectionCard.spec.ts
  app/src/composables/contracts/INVALIDATION_MAP.md
  app/src/views/team/[id]/BodElectionDetailsView.vue
  app/src/views/team/[id]/BodElectionView.vue
  app/src/views/team/[id]/__tests__/BodElectionView.spec.ts
  docs/features/elections/README.md
Due: app-unit-tests, app-e2e-tests
