Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

Refactor TokenHoldingsTable and useFeeCollector for improved token data handling and display
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/composables/useFeeCollector.ts
Due: none

Fix typo in validateBalance function and improve token balance formatting logic
  dashboard/app/composables/useFeeCollector.ts
Due: none

Refactor TokenHoldingsTable to improve ownership display and clean up unused code
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
Due: none

Add FeeCollector composable functions for balance and ownership retrieval
  dashboard/app/composables/FeeCollector/read.ts
Due: none

Refactor TokenDisplay interface and update getTokenPrice function to use token address
  dashboard/app/stores/useTokenPriceStore.ts
  dashboard/app/types/token.ts
Due: none

Implement weekly claims synchronization and enhance user authentication handling
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

Refactor App.vue for improved readability and consistency in code formatting
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

Add mocks for useAuthToken, useTeamStore, and TanStack Vue Query in tests
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

Enhance App.vue tests by adding query invalidation logic and error handling for sync mutations
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

Add tests for sync mutation handling in App.vue
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

Fix error handler to include next function parameter for proper middleware chaining
  backend/src/config/serverConfig.ts
Due: api-unit-tests

Improve error handler for better readability and maintainability
  backend/src/config/serverConfig.ts
Due: api-unit-tests

Refactor syncMutation to accept teamId as a parameter for improved flexibility
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

Remove deprecated token price composables and related documentation, transitioning to Pinia store with TanStack Query for improved caching and state management
  REFACTORING_TOKEN_PRICES.md
  TOKEN_PRICES_BEFORE_AFTER.md
  TOKEN_PRICES_QUICK_REFERENCE.md
Due: none

Fix formatting issues in DepositBankForm and update FeeCollectorStats to include zeroAddress import
  app/src/components/forms/DepositBankForm.vue
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
Due: app-unit-tests, app-e2e-tests

Add useFeeConfigs function to retrieve all fee configurations
  dashboard/app/composables/FeeCollector/read.ts
Due: none

Fix formatUSD function to handle zero values correctly
  dashboard/app/utils/currency.ts
Due: none

Refactor formatTokenBalanceValue to simplify USD formatting and remove unused fee configuration logic
  dashboard/app/composables/useFeeCollector.ts
Due: none

Update NETWORK_TO_COIN_ID mapping and enhance getSupportedTokens to include shortAddress for native and token addresses
  dashboard/app/constant/index.ts
Due: none

Refactor useFeeCollector to utilize getSupportedTokens for dynamic token handling and simplify balance mapping
  dashboard/app/composables/useFeeCollector.ts
Due: none

Enhance useFeeCollector to include error handling and total USD balance calculation
  dashboard/app/composables/useFeeCollector.ts
Due: none

Remove unused fee collector functionality and related refresh logic
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
Due: none

Fix casing of formattedTotalUSD to formattedTotalUsd in FeeCollectorStats.vue
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
Due: none

Refactor useTokenWithdraw to improve error handling and simplify token withdrawal logic
  dashboard/app/composables/useTokenWithdraw.ts
Due: none

Remove amount formatting function and update formatted balance display in TokenHoldingsTable
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
Due: none

Fix token selection logic to ensure formatted balance is used for withdrawal calculations
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
Due: none

Add composables for contract writes and transaction timeline management
  dashboard/app/composables/FeeCollector/writes.ts
  dashboard/app/composables/useContractWrites.ts
  dashboard/app/composables/useTransactionTimeline.ts
  dashboard/app/utils/errorUtil.ts
  dashboard/app/utils/generalUtil.ts
  dashboard/app/utils/index copy.ts
Due: none

Update FEE_COLLECTOR_ABI type to 'const' for improved type safety
  dashboard/app/artifacts/abi/feeCollector.ts
Due: none

Add FeeCollector contract write functions for fee management
  dashboard/app/composables/FeeCollector/writes.ts
Due: none

Add logging for gas estimation arguments and refactor transaction timeline handling
  dashboard/app/composables/useContractWrites.ts
Due: none

Remove unused type import for Abi in feeCollector.ts
  dashboard/app/artifacts/abi/feeCollector.ts
Due: none

Fix loading state handling and update fee display in FeeConfigFormModal
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
Due: none

Uncomment FeeConfigList component in FeeCollectorManagement.vue
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
Due: none

Refactor FeeConfigAddActions component to use isFeeOwner for button visibility and update feeConfigs for disabled state
  dashboard/app/components/sections/FeeCollectorView/FeeConfigAddActions.vue
Due: none

Refactor FeeConfigList component to simplify loading state handling and improve fee owner checks
  dashboard/app/components/sections/FeeCollectorView/FeeConfigList.vue
Due: none

Remove debug console logs from useContractWrites for cleaner code
  dashboard/app/composables/useContractWrites.ts
Due: none

Refactor FeeConfigFormModal to use UForm for validation and improve fee input handling
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
Due: none

Enhance FeeConfigFormModal layout and styling for improved user experience
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
Due: none

Add error alert for fee submission failures and refactor loading state handling
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
Due: none

Fix transaction error handling to include approval status
  dashboard/app/composables/useTransactionTimeline.ts
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
