Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix type-check
  app/src/composables/safeDepositRouter/writes.ts
Due: app-unit-tests, app-e2e-tests

test: enhance SelectMemberItem tests with additional scenarios and cleanup
  app/src/components/__tests__/SelectMemberItem.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add mockRouter to tests and simplify mockTeamStore data structure
  app/src/tests/mocks/index.ts
  app/src/tests/mocks/router.mock.ts
  app/src/tests/mocks/store.mock.ts
Due: app-unit-tests, app-e2e-tests

feat: integrate mockRouter into composables setup for improved routing tests
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify ClaimHistory tests by removing unused mocks and switching to mount
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add mock for useClipboard composable and update user query mocks
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance WeeklyRecap component by adding selectedMemberWage prop and integrating team wage data
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

refactor: update WeeklyRecap component to use computed properties for hours and wage, improving readability and maintainability
  app/src/components/WeeklyRecap.vue
Due: app-unit-tests, app-e2e-tests

feat: implement attachment URL refresh in weekly claims, enhancing file accessibility
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: enhance user image handling by adding profile image URL resolution and cleanup
  backend/src/controllers/userController.ts
Due: api-unit-tests

feat: add refreshAttachmentUrls function to update file URLs with presigned download links in getClaims response
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: enhance userController tests by adding image URL handling and user search filtering
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

refactor: improve weeklyClaimController tests by enhancing mock setups and streamlining test cases
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

refactor: streamline userController tests by enhancing mock setups and improving test cases
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

refactor: remove unused import of WeeklyClaim type in weeklyClaimController tests
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

feat: add WeeklyRecap component to display total hours, hourly rate, and total amount
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/WeeklyRecap.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove WeeklyRecap component tests
  app/src/components/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for ClaimHistoryMemberHeader, ClaimHistoryWeekNavigator, and WeeklyRecap components
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryMemberHeader.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryWeekNavigator.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update week selection logic to compare isoWeek for accurate highlighting
  app/src/components/sections/ClaimHistoryView/ClaimHistoryWeekNavigator.vue
Due: app-unit-tests, app-e2e-tests

test: mock vue-echarts component for improved testing setup
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: update claim submission message for clarity and consistency
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryActionAlerts.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for ClaimHistoryDailyBreakdown component
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryDailyBreakdown.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: expose computed properties for selected member address and week claims
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
Due: app-unit-tests, app-e2e-tests

update contracts test
  app/src/artifacts/abi/safe-deposit-router.ts
  app/src/artifacts/deployed_addresses/chain-137.json
  app/src/components/sections/SafeView/SafeBalanceSection.vue
  app/src/components/sections/SherTokenView/InvestInSafeButton.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/ToggleSherCompensationButton.vue
  backend/src/utils/viem.config.ts
  contract/scripts/copy-abi.ts
  contract/test/SafeDepositRouter.spec.ts
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix format issue
  app/src/artifacts/abi/safe-deposit-router.ts
Due: app-unit-tests, app-e2e-tests

feat: add mountWithProviders utility for Nuxt UI components and update tests accordingly
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/tests/README.md
  app/src/tests/mocks/index.ts
  app/src/tests/setup/nuxt-ui.setup.ts
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance EditUserForm tests with direct method calls and improve mockUserStore
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/tests/mocks/store.mock.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up whitespace and improve formatting in test files
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/nuxt-ui.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: improve type definitions for component instance and window.location in EditUserForm tests
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: implement mock mutation helper for EditUserForm tests and update test cases
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/tests/setup/nuxt-ui.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: skip ClaimHistory WeeklyRecap test suite for now
  app/src/components/sections/ClaimHistoryView/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor contract deployment logic and add utility functions
  app/eslint.config.js
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/utils/contractDeploymentUtil.ts
  app/src/utils/index.ts
Due: app-unit-tests, app-e2e-tests

fix: update script paths for bulk ETH transfer execution
  contract/scripts/run-bulk-transfer.sh
Due: contract-unit-tests

fix: comment out hardhat network configuration in hardhat.config.ts
  contract/hardhat.config.ts
Due: contract-unit-tests

feat: add USDCe minting functionality to MockTokensModule
  contract/ignition/modules/MockTokensModule.ts
Due: contract-unit-tests

feat: implement officer contract deployment composable and integrate with team deployment logic
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/composables/contracts/index.ts
  app/src/composables/contracts/useOfficerDeployment.ts
Due: app-unit-tests, app-e2e-tests

test: skip ContinueAddTeamForm and DeployContractSection tests
  app/src/components/sections/TeamView/forms/__tests__/ContinueAddTeamForm.spec.ts
  app/src/components/sections/TeamView/forms/__tests__/DeployContractSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add useGetDividendBalances function to fetch dividend balances for supported tokens
  app/src/composables/bank/reads.ts
Due: app-unit-tests, app-e2e-tests

feat: update PayDividendsTable to fetch and display pending dividends with improved UI
  app/src/components/sections/SherTokenView/PayDividendsTable.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/composables/bank/index.ts
Due: app-unit-tests, app-e2e-tests
