Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: enable disable claim
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

refactor: move to before each
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

test: test set officer address
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

refactor: update MultiSelectMemberInput props for improved member selection handling
  app/src/components/forms/AddTeamForm.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/ContractManagementView/forms/TransferOwnershipForm.vue
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: comment out AddMemberForm component to simplify modal handling
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance member selection logic and improve filtering in MultiSelectMemberInput and SelectMemberWithTokenInput
  app/src/components/utils/MultiSelectMemberInput.vue
  app/src/components/utils/SelectMemberInput.vue
  app/src/components/utils/SelectMemberWithTokenInput.vue
Due: app-unit-tests, app-e2e-tests

refactor: simplify test setup and enhance member filtering logic in SelectMemberWithTokenInput tests
  app/src/components/utils/__tests/SelectMemberWithTokenInput.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: skip test for user address update in ApproveUsersForm and comment out related assertions in CreateVestingSubmission tests
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: use separate variable for disbling claims
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

test: disabled claim
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

refactor: enhance test structure and improve member selection logic in SelectMemberInput and MultiSelectMemberInput tests
  app/src/components/utils/__tests/MultiSelectMemberInput.spec.ts
  app/src/components/utils/__tests/SelectMemberInput.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline form handling and enhance test coverage in CreateVestingSubmission tests
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance SelectMemberInput usage and simplify test cases in CreateVesting tests
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused toast store import and clear mocks before tests in CreateVestingInitial tests
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: create action dropdown
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance test setup and improve error handling in CRSigne tests
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add ability to set overflow
  app/src/components/TableComponent.vue
Due: app-unit-tests, app-e2e-tests

test: weekly claim dropdown
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: close on click outside
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

feat: add withdraw and disable if not owner
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

test: withdraw and disabled for non contract owner
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: disable disable action for non owner
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

test: disable disable action
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

test: withdraw and disable if not owner
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

test: use correct mock address
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance dropdown layout and improve member/contract selection in SelectMemberContractsInput
  app/public/image.png
  app/src/components/utils/SelectMemberContractsInput.vue
Due: app-unit-tests, app-e2e-tests

refactor: update test assertions and improve element selection in SelectMemberContractsInput tests
  app/src/components/utils/__tests/SelectMemberContractsInput.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add ContractComponent and update SelectMemberContractsInput to use it
  app/src/components/ContractComponent.vue
  app/src/components/__tests__/ContractComponent.spec.ts
  app/src/components/utils/SelectMemberContractsInput.vue
Due: app-unit-tests, app-e2e-tests

refactor: add formatDataForDisplay utility function for safe serialization of BigInt values
  app/src/utils/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace useSimulateContract with useQuery for gas estimation and improve error handling
  app/src/composables/contracts/useContractWritesV2.ts
Due: app-unit-tests, app-e2e-tests

refactor: improve code readability by formatting multiline conditions and enhancing error handling messages
  app/src/composables/useTransactionTimeline.ts
Due: app-unit-tests, app-e2e-tests

feat: add ERC20 contract write composables for transfer and approval functions
  app/src/composables/erc20/erc20Writes.ts
  app/src/composables/erc20/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: update pause and unpause button functionality to use correct result references and improve status display
  app/src/views/team/[id]/DemoExample.vue
Due: app-unit-tests, app-e2e-tests

refactor: update useBankContractWrite to accept MaybeRef for args and improve argument handling in useDepositToken
  app/src/composables/bank/bankWrites.ts
Due: app-unit-tests, app-e2e-tests

refactor: update search parameters in Get Users request for consistency
  backend/bruno/CNCPortal/Get users/Get Users - 02 - Search  Users.bru
Due: api-unit-tests

feat: add test case for handling invalid limit parameter in Get Users request
  backend/bruno/CNCPortal/Get users/Get Users - 03 - Invalid Parameters.bru
Due: api-unit-tests

feat: add Get Users - Empty Search test case with validation for response structure and Ethereum addresses
  backend/bruno/CNCPortal/Get users/Get Users - 04 -Empty Search.bru
Due: api-unit-tests
