Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

Refactor tests in TeamContracts, excelExport, and pdfExport to include placeholder tests and clean up commented code
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/TeamContractAdmins.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/TeamContracts.spec.ts
  app/src/utils/__tests__/excelExport.spec.ts
  app/src/utils/__tests__/pdfExport.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add placeholder test in GenericTransactionHistory.spec.ts
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: update @playwright/test to version 1.48.2 in package.json and package-lock.json
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

feat: enhance ClaimForm tests with validation for hoursWorked and memo length
  app/src/components/sections/CashRemunerationView/ClaimHistory/ClaimHistoty.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: update dependencies in package.json
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

chore: update @tanstack/vue-query-devtools, @vueuse/core, and dotenv to latest versions in package.json and package-lock.json
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

chore: update dependencies and improve test mocks
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/utils/__tests__/dependenciesUtil.test.ts
  backend/src/utils/__tests__/storage.test.ts
Due: api-unit-tests

chore: update type-check script and adjust TypeScript configuration includes/excludes
  app/package.json
  app/tsconfig.app.json
  app/tsconfig.vitest.json
Due: app-unit-tests, app-e2e-tests

chore: improve null checks and default values across components and utils
  app/src/components/SelectComponent.vue
  app/src/components/TableComponent.vue
  app/src/components/forms/TransferForm.vue
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/BankView/BankBalanceSection.vue
  app/src/components/sections/BankView/TransactionsHistorySection.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ContractManagementView/TeamContracts.vue
  app/src/components/sections/ContractManagementView/TeamContractsDetail.vue
  app/src/components/sections/DashboardView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
  app/src/components/sections/ExpenseAccountView/TransactionHistorySection.vue
  app/src/components/sections/SherTokenView/forms/DistributeMintForm.vue
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/composables/useContractBalance.ts
  app/src/constant/index.ts
  app/src/utils/errorUtil.ts
  app/tsconfig.app.json
Due: app-unit-tests, app-e2e-tests

Implement feature X to enhance user experience and fix bug Y in module Z
  backend/package-lock.json
Due: api-unit-tests

fix(backend): update yaml package to satisfy vite dependency requirements
  backend/package-lock.json
  backend/package.json
Due: api-unit-tests

fix(tests): update mock storage bucket method signature for consistency
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/utils/__tests__/storage.test.ts
Due: api-unit-tests

fix(package): add newline at end of file in package.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

fix(components): handle missing token data with default values in BankBalanceSection and update token handling in transaction components
  app/src/components/sections/BankView/BankBalanceSection.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/TransactionHistorySection.vue
Due: app-unit-tests, app-e2e-tests

fix: use correct property
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: add back spendable amount validation
  app/src/components/forms/TokenAmount.vue
Due: app-unit-tests, app-e2e-tests

merge with develop and perf component
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
  dashboard/app/composables/useFeeCollector.ts
  dashboard/app/composables/useTokenPrices.ts
Due: none

feat: add comprehensive statistics endpoints and validation schemas
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/statsController.test.ts
  backend/src/controllers/statsController.ts
  backend/src/routes/statsRoute.ts
  backend/src/validation/index.ts
  backend/src/validation/schemas/stats.ts
Due: api-unit-tests

feat: enhance statistics dashboard with new sections and API integration
  dashboard/app/components/home/HomeStats.vue
  dashboard/app/components/stats/StatsActionsSection.vue
  dashboard/app/components/stats/StatsActivitySection.vue
  dashboard/app/components/stats/StatsClaimsSection.vue
  dashboard/app/components/stats/StatsContractsSection.vue
  dashboard/app/components/stats/StatsExpensesSection.vue
  dashboard/app/components/stats/StatsOverviewSection.vue
  dashboard/app/components/stats/StatsTeamsSection.vue
  dashboard/app/components/stats/StatsUsersSection.vue
  dashboard/app/components/stats/StatsWagesSection.vue
  dashboard/app/composables/useStats.ts
  dashboard/app/pages/stats.vue
  dashboard/app/types/index.d.ts
Due: none

fix: update error handler to include next function parameter for improved middleware support
  backend/src/config/serverConfig.ts
Due: api-unit-tests

fix: update recent activity endpoint to use the correct path
  dashboard/app/composables/useStats.ts
Due: none

feat: add OpenAPI documentation for statistics endpoints
  backend/src/routes/statsRoute.ts
Due: api-unit-tests

feat: add v-model binding tests for ModalComponent in ClaimActions
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimActions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add comprehensive Statistics API documentation and integration guide
  docs/stats-api.md
  docs/stats-dashboard-integration.md
Due: none

feat: add test for AddMemberForm to verify member addition and team fetching
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add test to verify membersAddress computation from formData in AddMemberForm
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add test for MultiSelectMemberInput v-model updates in AddMemberForm
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat(docs): Add comprehensive documentation for Statistics Dashboard integration, system architecture, performance standards, security standards, and testing strategy
  docs/README.md
  docs/contracts/contracts-architecture-diagram.md
  docs/contracts/contracts-quick-reference.md
  docs/contracts/contracts-technical-architecture.md
  docs/features/stats/README.md
  docs/features/stats/functional-specification.md
  docs/features/stats/stats-api.md
  docs/features/stats/stats-dashboard-integration.md
  docs/platform/architecture.md
  docs/platform/performance.md
  docs/platform/security.md
  docs/platform/testing-strategy.md
Due: none

refactor(tests): streamline testing strategy and enhance coverage requirements for Statistics feature
  docs/features/stats/functional-specification.md
Due: none

feat: add tests for SignedWeeklyClaim component including rendering, loading state, and calculations
  app/src/components/sections/CashRemunerationView/__tests__/signedWeeklyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add tests for PendingWeeklyClaim component including loading state and rendering
  app/src/components/sections/CashRemunerationView/__tests__/PendingWeeklyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor(docs): reorganize Statistics feature documentation to reference platform-wide standards and eliminate duplication
  docs/REORGANIZATION-SUMMARY.md
  docs/features/stats/functional-specification.md
Due: none

feat(docs): add Feature Specification Guide and enhance README with new documentation links
  docs/README.md
  docs/features/stats/functional-specification.md
  docs/platform/feature-specification-guide.md
Due: none

refactor(docs): reorganize documentation structure to separate platform-wide standards from feature-specific content
  docs/README.md
  docs/REORGANIZATION-SUMMARY.md
Due: none

feat(docs): Enhance documentation structure and content
  docs/README.md
  docs/platform/deployment.md
  docs/platform/development-standards.md
  docs/platform/feature-specification-guide.md
  docs/tasks/08-add-architecture-diagrams.md
  docs/tasks/09-future-enhancements.md
  docs/tasks/README.md
  docs/tasks/archive/01-remove-duplicate-contracts-content.md
  docs/tasks/archive/02-fix-duplicate-headings.md
  docs/tasks/archive/03-create-deployment-documentation.md
  docs/tasks/archive/04-create-development-standards.md
  docs/tasks/archive/05-archive-reorganization-summary.md
  docs/tasks/archive/06-improve-readme-navigation.md
  docs/tasks/archive/07-verify-cross-references.md
Due: none

refactor(docs): remove outdated performance, security, and troubleshooting sections from Statistics feature documentation
  docs/features/stats/README.md
Due: none

refactor(docs): update acceptance criteria formatting in functional specification for consistency
  docs/features/stats/functional-specification.md
Due: none

fix(server): refine error handler to remove unused parameter
  backend/src/config/serverConfig.ts
Due: api-unit-tests

refactor(stats): streamline mock data and improve code readability in statistics controller tests
  backend/src/controllers/__tests__/statsController.test.ts
  backend/src/controllers/statsController.ts
Due: api-unit-tests

feat: add comprehensive database seeding implementation guide with examples and best practices
  docs/features/seed/README.md
  docs/features/seed/functional-specification.md
  docs/features/seed/seed-implementation-guide.md
Due: none
