Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

refactor: ♻️ expose event feeds as standard queries
  app/eslint.config.js
  app/package.json
  app/scripts/__tests__/query-contract-eslint.node.mjs
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/CommunityCreditView/CreditAccountTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseMonthSpent.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.test-utils.ts
  app/src/composables/__tests__/eventsViaLogs.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.migration.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useAccountingStatus.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/bank/useBankEventsViaLogs.ts
  app/src/composables/bank/useIncomingBankTokenTransfersViaLogs.ts
  app/src/composables/eventsViaLogs.ts
  app/src/composables/paymentGate/useFactureHistory.ts
  app/src/tests/mocks/eventFeed.mock.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document standard event query contract
  .github/copilot-instructions/vue-component-standards.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/community-credit/README.md
  docs/features/payment-gate/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/contract-event-feeds/README.md
  docs/implementation/transaction-history/README.md
Due: none

ci: 👷 exclude app/src/tests helpers from codecov (test infra, not product code)
  codecov.yml
Due: none

refactor: ♻️ name scanned event payloads explicitly
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/CommunityCreditView/CreditAccountTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseMonthSpent.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.test-utils.ts
  app/src/composables/__tests__/eventsViaLogs.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.migration.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/bank/useBankEventsViaLogs.ts
  app/src/composables/eventsViaLogs.ts
  app/src/composables/paymentGate/useFactureHistory.ts
  app/src/tests/mocks/eventFeed.mock.ts
Due: app-unit-tests, app-e2e-tests

test: 🧪 exclude src/tests and src/e2e recursively from vitest coverage
  app/vitest.config.ts
Due: none

docs: 📝 clarify scanned event payload naming
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/community-credit/README.md
  docs/features/payment-gate/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/contract-event-feeds/README.md
  docs/implementation/transaction-history/README.md
Due: none

test: ✅ cover event query adapters
  app/src/composables/bank/__tests__/useBankEventsViaLogs.query.spec.ts
  app/src/composables/bank/__tests__/useIncomingBankTokenTransfersViaLogs.spec.ts
Due: app-unit-tests, app-e2e-tests

test: 🧪 cover E2E Safe configuration branches
  app/src/composables/safe/__tests__/useSafeSdk.spec.ts
  app/src/constant/__tests__/safeInfra.test.ts
  app/src/types/__tests__/safe.spec.ts
Due: app-unit-tests, app-e2e-tests

test: 🧪 ignore uninstrumentable E2E imports
  app/src/constant/safeInfra.ts
  app/src/types/safe.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 keep E2E Safe constants coverage-visible
  app/src/constant/safeInfra.ts
  app/src/types/safe.ts
Due: app-unit-tests, app-e2e-tests

test: 🧪 remove unmapped coverage comments
  app/src/constant/safeInfra.ts
  app/src/types/safe.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh event feed evidence
  docs/contracts/features/bank/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/community-credit/README.md
  docs/features/contract-management/README.md
  docs/features/payment-gate/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/contract-event-feeds/README.md
  docs/implementation/transaction-history/README.md
Due: none

refactor: rename fixedReturn/invalidate.ts to invalidation.ts
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/composables/fixedReturn/__tests__/invalidation.spec.ts
  app/src/composables/fixedReturn/invalidation.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/tests/setup/fixedReturn.setup.ts
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  docs/features/community-credit/README.md
Due: app-unit-tests, app-e2e-tests

docs: refresh implementation evidence attestation
  docs/features/community-credit/README.md
Due: none

docs: 📝 assign acceptance criterion identifiers
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/backoffice/companies-operations/README.md
  docs/features/backoffice/contract-operations/README.md
  docs/features/backoffice/feature-restrictions/README.md
  docs/features/backoffice/micropayments/README.md
  docs/features/backoffice/polymarket-accounting/README.md
  docs/features/backoffice/statistics/README.md
  docs/features/community-credit/README.md
  docs/features/companies/README.md
  docs/features/contract-management/README.md
  docs/features/elections/README.md
  docs/features/payment-gate/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/features/user-profile/README.md
  docs/features/vesting/README.md
  docs/platform/feature-specification-guide.md
Due: none

test: ✅ link representative acceptance criteria
  app/src/components/forms/__tests__/ProfileImageUpload.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionCandidatesSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/ElectionStatus.spec.ts
  app/src/components/sections/BankView/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/sections/BankView/forms/__tests__/TransferModal.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/MainContractActions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/PaymentGateView/__tests__/IntegrationCard.spec.ts
  app/src/components/sections/PaymentGateView/__tests__/WidgetPreviewCard.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeTransactionActions.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/AddSignerModal.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/UpdateThresholdModal.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/ToggleSherCompensationAction.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
  app/src/composables/__tests__/useSiwe.spec.ts
  app/src/utils/accounting/__tests__/journalFinalization.spec.ts
  app/src/utils/accounting/__tests__/journalLedgerPresenter.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/RoundView.repayment.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
  app/src/widget/__tests__/payment.spec.ts
  backend/src/controllers/__tests__/authController.test.ts
  backend/src/controllers/__tests__/officerVersionController.test.ts
  backend/src/controllers/__tests__/statsController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/utils/__tests__/featureUtils.test.ts
  backend/src/validation/__tests__/claim.test.ts
  contract/test/Bank.spec.ts
  contract/test/Elections.spec.ts
  contract/test/ExpenseAccountEIP712V2.spec.ts
  contract/test/FeeCollector.spec.ts
  contract/test/SafeDepositRouter.spec.ts
  contract/test/Vesting.spec.ts
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: ✅ enforce acceptance criterion traceability
  .agents/skills/cnc-feature-documentation/SKILL.md
  .github/workflows/docs-drift.yml
  AGENTS.md
  package.json
  scripts/acceptance-criteria-traceability.test.mjs
  scripts/lib/acceptance-criteria-traceability.mjs
  scripts/validate-acceptance-criteria-traceability.mjs
Due: none

fix: 🐛 exclude traceability test fixtures
  scripts/validate-acceptance-criteria-traceability.mjs
Due: none

test: ✅ stabilize E2E account coverage
  app/src/e2e/mockConnector.ts
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/bank/bank-page.ts
  app/test/e2e/expense/expense-account.spec.ts
  app/test/e2e/safe/safe-chain.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ configure backend origin for CI E2E
  app/playwright.config.ts
Due: none

test: ✅ cover Board ownership reads
  app/src/composables/bod/__tests__/reads.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover Safe cache invalidation
  app/src/composables/bod/__tests__/reads.spec.ts
  app/src/composables/cashOut/__tests__/useCashOutAll.spec.ts
  app/src/composables/safe/__tests__/useSafeSdk.spec.ts
  app/src/constant/__tests__/safeInfra.test.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add end-to-end tests for company creation and onboarding processes
  app/test/e2e/company/company-creation.spec.ts
  app/test/e2e/company/company-onboarding.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add end-to-end tests for company recovery and Safe setup during company creation
  app/test/e2e/company/company-recovery.spec.ts
  app/test/e2e/company/company-safe.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add end-to-end tests for company creation and registration processes
  app/test/e2e/company/company-chain.ts
  app/test/e2e/company/company-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ enhance end-to-end tests with Firefox support and improve RPC call failure handling
  app/playwright.config.ts
  app/test/e2e/e2e-chain.ts
  app/test/e2e/e2e-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ report acceptance coverage by test layer
  app/test/e2e/company/company-creation.spec.ts
  app/test/e2e/company/company-onboarding.spec.ts
  package.json
  scripts/acceptance-criteria-traceability.test.mjs
  scripts/lib/acceptance-criteria-traceability.mjs
  scripts/report-acceptance-criteria-coverage.mjs
Due: app-unit-tests, app-e2e-tests

docs: 📝 pilot layered E2E coverage overview
  docs/features/companies/README.md
  docs/platform/feature-specification-guide.md
Due: none

test: ✅ write acceptance coverage reports locally
  .gitignore
  docs/platform/feature-specification-guide.md
  scripts/report-acceptance-criteria-coverage.mjs
Due: none

test: ✅ add data-test attribute for team meta toggle button
  app/src/components/sections/DashboardView/TeamMetaSection.vue
Due: app-unit-tests, app-e2e-tests

test: ✅ add Playwright helpers for company lifecycle journeys
  app/test/e2e/company/company-lifecycle-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add end-to-end tests for company archiving, deletion, update, and visibility features
  app/test/e2e/company/company-archive.spec.ts
  app/test/e2e/company/company-delete.spec.ts
  app/test/e2e/company/company-update.spec.ts
  app/test/e2e/company/company-visibility.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ update README and E2E Quick Reference with company lifecycle test details
  docs/features/companies/README.md
  docs/testing/E2E_QUICK_REFERENCE.md
Due: none

docs: ✅ update implementation evidence reference in README
  docs/features/companies/README.md
Due: none

feat: add useElectionsPastElections composable and corresponding tests
  app/src/composables/elections/__tests__/history.spec.ts
  app/src/composables/elections/history.ts
  app/src/composables/elections/index.ts
Due: app-unit-tests, app-e2e-tests

fix: update election mocks and add past elections functionality
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/mocks/erc20.mock.ts
  app/src/tests/setup/bod.setup.ts
  app/src/tests/setup/elections.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: refactor election components to improve data handling and loading states
  app/src/components/sections/AdministrationView/BodMembersSection.vue
  app/src/components/sections/AdministrationView/PastElectionCard.vue
  app/src/components/sections/AdministrationView/PastElectionsSection.vue
  app/src/components/sections/AdministrationView/__tests__/BodMembersSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PastElectionCard.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update documentation for Board of Directors reads and invalidation mechanisms
  app/src/composables/bod/reads.ts
  app/src/composables/contracts/INVALIDATION_MAP.md
Due: app-unit-tests, app-e2e-tests

fix: update implementation evidence and enhance election loading criteria after page refresh
  docs/features/contract-management/README.md
  docs/features/elections/README.md
Due: none

fix: add tests for winner badge logic and past elections section
  app/src/components/sections/AdministrationView/__tests__/ElectionCandidatesSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PastElectionCard.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PastElectionsSection.spec.ts
Due: app-unit-tests, app-e2e-tests
