Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: update voting contract
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/Voting/Types.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/interfaces/IBoardOfDirectors.sol
Due: contract-unit-tests

fix: update route parameter from claimId to id in weeklyClaimRoute refactor: enhance validation and error handling in updateWeeklyClaims
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/weeklyClaimRoute.ts
Due: api-unit-tests

test: add tests
  contract/test/Voting.spec.ts
Due: contract-unit-tests

test: refactor weekly claim tests and ensure status field is included
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: refine signature validation and update claim status handling
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: update references from claim to weeklyClaim in CRSigne component
  app/src/components/sections/CashRemunerationView/CRSigne.vue
Due: app-unit-tests, app-e2e-tests

fix: enhance weekly claim display and his header part feature
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

fix: update menu item active state and visibility logic in TheDrawer component
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: add CRWeeklyClaimHeader component for displaying pending weekly claims
  app/src/components/sections/CashRemunerationView/CRWeeklyClaimHeader.vue
Due: app-unit-tests, app-e2e-tests

refactor: simplify CashRemunerationWeeklyClaim component by replacing header and removing unused imports
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

fix: comment out unused CashRemunerationTable import and component in CashRemunerationView
  app/src/views/team/[id]/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

refactor: update layout and visibility of Pending Weekly Claim title in CRWeeklyClaimHeader component
  app/src/components/sections/CashRemunerationView/CRWeeklyClaimHeader.vue
Due: app-unit-tests, app-e2e-tests

fix: comment out unused userStore import in TheDrawer component
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

style: fix formatting in CRWeeklyClaimHeader component template
  app/src/components/sections/CashRemunerationView/CRWeeklyClaimHeader.vue
Due: app-unit-tests, app-e2e-tests

test: skip CRSigne and CashRemunerationTable tests
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/views/team/[id]/__tests__/CashRemunerationView.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: remove unnecessary assertions in weekly claim controller tests
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: update prop name from 'claim' to 'weeklyClaim' in CRSigne component tests
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update prop name from 'claim' to 'weeklyClaim' in CRSigne component
  app/src/components/TheDrawer.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
Due: app-unit-tests, app-e2e-tests

style: format CRSigne component usage for better readability
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
Due: app-unit-tests, app-e2e-tests

split vesting vue in two components
  app/src/components/forms/CreateVesting.vue
  app/src/components/forms/__tests__/CreateVesting.spec.ts
  app/src/types/vesting.ts
  app/src/views/team/[id]/VestingFlowView.vue
  app/src/views/team/[id]/VestingStatsView.vue
  app/src/views/team/[id]/VestingView.vue
  app/src/views/team/[id]/__tests__/VestingFlowView.spec.ts
  app/src/views/team/[id]/__tests__/VestingStatsView.spec.ts
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

merge develop updates
  app/src/components/forms/CreateVesting.vue
  app/src/views/team/[id]/VestingView.vue
  contract/deploy.sh
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: tests and update the contract
  contract/contracts/Voting/Voting.sol
  contract/test/Voting.spec.ts
Due: contract-unit-tests

feat: add the interface
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/interfaces/IBoardOfDirectors.sol
Due: contract-unit-tests

style: format code
  contract/test/Voting.spec.ts
Due: contract-unit-tests

fix: lint and format
  contract/contracts/Voting/Voting.sol
  contract/test/Voting.spec.ts
Due: contract-unit-tests

fix: rename func
  contract/test/Voting.spec.ts
Due: contract-unit-tests

fix: update amount parsing in DistributeMintForm to use parseUnits
  app/src/components/sections/SherTokenView/forms/DistributeMintForm.vue
Due: app-unit-tests, app-e2e-tests

fix: and add some tests
  contract/contracts/Voting/Voting.sol
  contract/test/Voting.spec.ts
Due: contract-unit-tests

test and debugs
  app/src/components/forms/CreateVesting.vue
  app/src/components/forms/__tests__/CreateVesting.spec.ts
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
  contract/test/Vesting.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

update structure
  app/src/components/VestingStats.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVesting.spec.ts
  app/src/views/team/[id]/VestingView.vue
Due: app-unit-tests, app-e2e-tests

remove unecessary comments
  app/src/components/VestingStats.vue
Due: app-unit-tests, app-e2e-tests

remove unecessary files
  app/src/views/team/[id]/VestingView.vue
Due: app-unit-tests, app-e2e-tests

feat: enable administration view
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: use teams store
  app/src/components/sections/AdministrationView/ProposalCard.vue
Due: app-unit-tests, app-e2e-tests

fix: weekly claim tests
  backend/src/controllers/teamController.ts
Due: api-unit-tests

Revert "fix: weekly claim tests"
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: weekly claim controller tests
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

feat: set default status to "pending" when adding a claim
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: enhance weekly claim actions to include "pending" status and improve validation
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

app/src/artifacts/
  app/src/artifacts/deployed_addresses/chain-11155111.json
Due: app-unit-tests, app-e2e-tests
