Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: enhance claim handling to support file attachments and update existing claims with new files
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: add file upload component with validation and preview functionality
  app/src/components/sections/CashRemunerationView/Form/UploadFileDB.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance file preview and upload handling with improved class bindings and error handling
  app/src/components/sections/CashRemunerationView/Form/FilePreviewGallery.vue
  app/src/components/sections/CashRemunerationView/Form/UploadImage.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance claim submission and editing with file upload support and preview functionality
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: update Claim interface to support file attachments and add FileAttachment type
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor file attachment handling in ClaimHistory component with improved preview gallery
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: clean up code formatting and remove deprecated cloud storage references
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
  backend/src/utils/storage.ts
  backend/src/utils/upload.ts
  backend/src/validation/schemas/common.ts
Due: api-unit-tests

feat: remove redundant upload tests and clean up commented code
  backend/src/utils/__tests__/upload.test.ts
Due: api-unit-tests

feat: add fileAttachments field to claim mock data in tests
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

feat: update storage tests to reflect deprecation and add reference for old functionality
  backend/src/utils/__tests__/storage.test.ts
Due: api-unit-tests

feat: remove commented-out code from upload tests
  backend/src/utils/__tests__/upload.test.ts
Due: api-unit-tests

feat: limit file attachments to a maximum of 10 in addClaim function
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: add file attachment tests for addClaim and update functionality
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

fix: update member address field in addTeam function
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: replace imageScreens with fileAttachments in Claim table and remove ClaimAttachment table
  backend/prisma/migrations/20260105093422_add_file_attachments_to_claim/migration.sql
  backend/prisma/migrations/add_claim_attachments_table/migration.sql
Due: api-unit-tests

chore: remove comments
  backend/src/controllers/polymarketController.ts
Due: api-unit-tests

feat: add authentication
  app/src/composables/trading/useRelayClient.ts
  backend/src/config/serverConfig.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: integrate FilePreviewGallery for displaying existing file attachments and remove unused preview modals
  app/src/components/sections/CashRemunerationView/EditClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: add validation for file upload limit in addClaim and updateClaim functions
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: enhance file upload functionality with FilePreviewGallery and validation for existing files
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

style: refine button styles and icon size in FilePreviewGallery component
  app/src/components/sections/CashRemunerationView/Form/FilePreviewGallery.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unused FilePreviewGallery component and related preview logic from EditClaims.vue style: adjust grid and item height classes for FilePreviewGallery in ClaimHistory.vue
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: add existingFileCount prop to UploadFileDB component and update fileCount computation
  app/src/components/sections/CashRemunerationView/Form/UploadFileDB.vue
Due: app-unit-tests, app-e2e-tests

feat: validate uploaded files in addClaim and updateClaim functions
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: conditionally render FilePreviewGallery based on existing files in edit mode
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

feat: use zod validation
  backend/src/controllers/polymarketController.ts
  backend/src/routes/polymarketRoute.ts
  backend/src/validation/index.ts
  backend/src/validation/schemas/polymarket.ts
Due: api-unit-tests

feat: add unit tests for UploadFileDB component including file type, size, and count validations
  app/src/components/sections/CashRemunerationView/Form/__tests__/UploadFileDB.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update file emission checks in UploadFileDB tests for optional chaining
  app/src/components/sections/CashRemunerationView/Form/__tests__/UploadFileDB.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify mocks and improve error handling in SubmitClaims tests
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance EditClaims tests with file handling and error scenarios
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add file upload integration tests for ClaimForm component
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add data attribute for testing attached files section in ClaimForm component
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

feat: add unit tests for FilePreviewGallery component
  app/src/components/sections/CashRemunerationView/Form/FilePreviewGallery.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/FilePreviewGallery.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: clean up formatting in auth.global.ts for improved readability
  dashboard/app/middleware/auth.global.ts
Due: none

test: increase coverage
  app/src/components/sections/AdministrationView/__tests__/CurrentBoDElectionSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: improve admin role handling and error logging in middleware; enhance access-denied page user role display
  dashboard/app/layouts/default.vue
  dashboard/app/middleware/auth.global.ts
  dashboard/app/pages/access-denied.vue
Due: none

feat: create trading modal
  app/src/components/sections/TradingView/TradingModal.vue
Due: app-unit-tests, app-e2e-tests

feat: create trading interface
  app/src/components/sections/TradingView/TradingInterface.vue
Due: app-unit-tests, app-e2e-tests

feat: use trading interface
  app/src/views/team/[id]/TradingView.vue
Due: app-unit-tests, app-e2e-tests

refactor: create trading table
  app/src/components/sections/TradingView/YourTradesTable.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
