Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: enhance computeAccountingIdentities function to include settlement adjustments and position basis drift in total return calculation for improved accuracy
  dashboard/app/utils/accountingIdentities.ts
Due: none

feat: add 'Settlement Adjustments' account type and implement handling in journal entries for accurate financial tracking
  dashboard/app/utils/generalLedger.ts
Due: none

fix: update AccountingPagination component to adjust page size display and improve clarity of options
  dashboard/app/components/accounting/AccountingPagination.vue
Due: none

feat: implement handling of phantom lots in income statement calculations to account for shares acquired but never disposed of, improving realized loss accuracy
  dashboard/app/utils/incomeStatement.ts
Due: none

feat: add support for settlement adjustments in accounting summary and balance sheet, enhancing financial tracking and reconciliation accuracy
  dashboard/app/utils/accounting.ts
  dashboard/app/utils/balanceSheet.ts
Due: none

feat: enhance AccountingIncomeStatement component with grouping functionality for trades, improving clarity and user interaction
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
Due: none

feat: enhance AccountingIncomeStatement component to display trades by position, improve UI clarity, and implement grouping for better financial insights
  .github/copilot-instructions/testing-anti-patterns.md
  .github/copilot-instructions/testing-overview.md
  AGENTS.md
  app/eslint.config.js
  app/src/tests/README.md
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
Due: app-unit-tests, app-e2e-tests

feat: improve AccountingIncomeStatement component with zebra striping for grouped trades, enhance share display logic, and add group share calculations for better visual clarity and financial insights
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
Due: none

refactor: update zebra striping logic in AccountingIncomeStatement component for improved visual separation of grouped trades
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
Due: none

refactor: clean up ESLint configuration and streamline mock implementations in weeklyClaim tests
  app/eslint.config.js
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update weeklyClaim tests to handle undefined values for minutesWorked and hoursWorked
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: improve formatting of createClaimResponse function in weeklyClaim tests for better readability
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance createClaimResponse and createWeeklyClaimResponse functions to improve type safety and handle null values in weeklyClaim tests
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance transaction components and utilities
  app/src/components/TransactionChildRow.vue
  app/src/components/TransactionDetailModal.vue
  app/src/components/UserComponent.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/TeamContractEventList.spec.ts
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/InvestorChildRow.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/composables/transactions/useTransactionInline.ts
  app/src/composables/transactions/useTransactionTable.ts
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
  app/src/types/index.ts
  app/src/types/transaction-history.ts
  app/src/types/transaction.ts
  app/src/types/transactions.ts
  app/src/types/ui.ts
  app/src/utils/bankTransactionUtil.ts
  app/src/utils/cashRemunerationTransactionUtil.ts
  app/src/utils/dayUtils.ts
  app/src/utils/expenseTransactionUtil.ts
  app/src/utils/investorsTransactionUtil.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: format UBadgeColor type for improved readability
  app/src/types/ui.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace usage of at(-1) with length-based indexing for improved clarity
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/MintForm.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/MintStakeSection.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/TwinAmountInputs.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 drop false-positive entries from vmCast legacy whitelist
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

test: ✅ drop wrapper.vm casts from UTable transaction specs
  app/eslint.config.js
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ drop wrapper.vm casts from SherToken InvestorActions specs
  app/eslint.config.js
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/DistributeMintAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/InvestInSafeAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/MintTokenAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/SetCompensationMultiplierAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/ToggleSherCompensationAction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ drop wrapper.vm casts from Vesting form specs
  app/eslint.config.js
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingErrors.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ drop wrapper.vm casts from assorted form specs
  app/eslint.config.js
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/forms/__tests__/DepositSafeForm.spec.ts
  app/src/components/forms/__tests__/TransferModal.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  app/src/components/sections/DashboardView/__tests__/SetMemberWageModal.spec.ts
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ isolate shared user-store mock with factory and auto-reset
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ drop redundant local store mock in RemoveOwnerButton spec
  app/src/components/sections/SafeView/__tests__/RemoveOwnerButton.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ drop wrapper.vm casts from isolated legacy specs
  app/eslint.config.js
  app/src/components/sections/AdministrationView/__tests__/CurrentBoDElectionSection.spec.ts
  app/src/components/sections/AdministrationView/__tests__/CurrentBoDSection.spec.ts
  app/src/components/sections/CashRemunerationView/Form/__tests__/ExpandableFileGallery.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryDailyBreakdown.spec.ts
  app/src/components/sections/ContractManagementView/forms/__tests__/CreateAddCampaign.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/components/ui/__tests__/SidebarLayout.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ extract TanStack Query mock into opt-in setup (#1845)
  app/src/tests/README.md
  app/src/tests/helpers/queryClient.ts
  app/src/tests/setup/composables.setup.ts
  app/src/tests/setup/tanstack.setup.ts
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 add legacy vmCast migration recipes to test README
  app/src/tests/README.md
Due: app-unit-tests, app-e2e-tests

chore: 🔧 ratchet vmCast legacy whitelist sizes against regrowth
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

fix: 🐛 drop teamId arg from invalidateQueries call in InvestorContractStep
  app/src/components/sections/TeamView/forms/InvestorContractStep.vue
Due: app-unit-tests, app-e2e-tests

test: ✅ drop teamId arg from invalidateQueries assertion
  app/src/components/sections/TeamView/forms/__tests__/InvestorContractStep.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ isolate shared team-store mock with factory and auto-reset
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 update e2e coverage scripts to ensure temporary directory creation
  app/package.json
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ update coverage scripts and improve data handling in claims components
  app/package.json
  app/src/components/RatePerHourTotalList.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryWeekNavigator.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryActionAlerts.spec.ts
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
  app/src/queries/weeklyClaim.queries.ts
  app/src/tests/mocks/query.mock.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/utils/profileImage.util.ts
  backend/src/validation/schemas/weeklyClaim.ts
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/components/accounting/AccountingLedger.vue
  dashboard/app/components/accounting/AccountingMetricExplainer.vue
  dashboard/app/components/accounting/AccountingPagination.vue
  dashboard/app/components/accounting/AccountingPositions.vue
  dashboard/app/components/accounting/AccountingSummary.vue
  dashboard/app/composables/useAccountingPeriod.ts
  dashboard/app/pages/accounting.vue
  dashboard/app/utils/accounting.ts
  dashboard/app/utils/accountingIdentities.ts
  dashboard/app/utils/balanceSheet.ts
  dashboard/app/utils/generalLedger.ts
  dashboard/app/utils/incomeStatement.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

Revert "chore: 🔧 update e2e coverage scripts to ensure temporary directory creation"
  app/package.json
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove unused import from SafeBalanceSection.vue
  app/src/components/sections/SafeView/SafeBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

test: ✅ update DeleteClaimModal test to surface mutation error messages
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
  app/src/components/sections/DashboardView/__tests__/TeamMetaActions.archived.spec.ts
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
  app/src/components/sections/SafeView/forms/UpdateThresholdModal.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
  app/src/composables/useTeamWriteGuard.ts
  backend/src/controllers/__tests__/expenseController.test.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

test: ✅ reset mockToast spy globally and drop redundant manual clears
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/AddSignerModal.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/UpdateThresholdModal.spec.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ auto-reset composable mocks globally and fill reset gaps
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ auto-reset web3 mocks globally (wagmi, contracts, erc20, safe router)
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/tests/setup/erc20.setup.ts
  app/src/tests/setup/safeDepositRouter.setup.ts
  app/src/tests/setup/wagmi.vue.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ clear shared log/parseError spies before every test
  app/src/tests/setup/utils.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ auto-reset shared notifications query mock
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
