Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract

feat: deploy all contracts
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

refactor: deployment actions
  app/src/components/forms/DeploymentActions.vue
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

fix: resolve response
  backend/src/controllers/teamController.ts
Due: api-unit-tests

test: delete claim
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

feat: bod deployment through voting
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

feat: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests

refactor: remove bod deployment from frontend
  app/src/components/forms/DeploymentActions.vue
Due: app-unit-tests

docs: add NatSpec comments
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

feat: add ignition module
  contract/ignition/modules/CashRemunerationEIP712Module.ts
Due: contract-unit-tests

tests: deployment actions
  app/src/components/forms/__tests__/DeploymentActions.spec.ts
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

fix: casing error
  app/src/components/forms/DeploymentActions.vue
Due: app-unit-tests

fix: use correct name
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

style: format
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

feat: mock wagmi
  app/src/components/forms/__tests__/DeploymentActions.spec.ts
Due: app-unit-tests

refactor: use oppen zeppelin
  contract/contracts/CashRemunerationEIP712.sol
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

chore: remove comments
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

tests:
  app/src/components/forms/__tests__/DeploymentActions.spec.ts
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

style:prettier
  app/src/artifacts/deployed_addresses/chain-11155111.json
Due: app-unit-tests

feat: simplify logic
  app/src/artifacts/deployed_addresses/chain-11155111.json
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

fix: remove unused migration
  backend/prisma/migrations/20241111143741_init/migration.sql
Due: api-unit-tests

style: prettier
  app/src/artifacts/deployed_addresses/chain-11155111.json
Due: app-unit-tests

add TeamContractEventList test
  app/src/components/__tests__/TeamContractEventList.spec.ts
Due: app-unit-tests

fix: add test for team event listening
  app/src/components/__tests__/TeamContractEventList.spec.ts
Due: app-unit-tests

fix duplicate migration
  backend/prisma/migrations/20241111143741_init/migration.sql
Due: api-unit-tests

refactor: use open zeppelin ecdsa
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

chore: remove old parameters
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

test: update tests
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

chore: remove unused
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

fix: display all missing keys
  app/src/constant/index.ts
Due: app-unit-tests

feat: use of address tooltip for better UX and cross networ link
  app/src/components/TeamContracts.vue
Due: app-unit-tests

chore: add address tooltip
  app/src/components/TeamContractAdmins.vue
  app/src/components/TeamContracts.vue
Due: app-unit-tests

chore: remove the polygon scan render test, it should work for each network
  app/src/components/__tests__/TeamContracts.spec.ts
Due: app-unit-tests

fix: apply somes review
  app/src/components/TeamContractAdmins.vue
  app/src/components/TeamContractEventList.vue
  app/src/components/TeamContracts.vue
  app/src/components/__tests__/TeamContractAdmins.spec.ts
Due: app-unit-tests

fix: enhance adcampaign tests cases
  app/src/services/AddCampaignService.ts
  app/src/services/__tests__/AddCampaignService.spec.ts
  app/src/services/__tests__/AddCampaignServiceEvent.spec.ts
Due: app-unit-tests

fix: :bug: remove migrations
  backend/prisma/migrations/20240624145749_v0_1/migration.sql
  backend/prisma/migrations/20240703112103_/migration.sql
  backend/prisma/migrations/20240819143423_add_board_of_directors_address/migration.sql
  backend/prisma/migrations/20240911104030_expense_account_address/migration.sql
  backend/prisma/migrations/20240923131303_/migration.sql
  backend/prisma/migrations/20240928112445_add_board_of_directors_actions/migration.sql
  backend/prisma/migrations/20241031141503_expense_account_eip712/migration.sql
  backend/prisma/migrations/20241120102238_wage_claim/migration.sql
  backend/prisma/migrations/20241122065942_init/migration.sql
Due: api-unit-tests

feat: :card_file_box: create migration for the schema
  backend/prisma/migrations/20241125093840_v0_2/migration.sql
Due: api-unit-tests

refactor: update claim
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

feature: add cash remuneration contract
  contract/contracts/Officer.sol
  contract/ignition/modules/OfficerModule.ts
Due: contract-unit-tests

feature: add cash remuneration front end
  app/src/artifacts/abi/CashRemunerationEIP712.json
  app/src/constant/index.ts
Due: app-unit-tests

test: DeployInvestorContractForm
  app/src/components/forms/DeployInvestorContractForm.vue
  app/src/components/forms/__tests__/DeployInvestorContractForm.spec.ts
Due: app-unit-tests
