Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

Refactor type error comments for clarity and consistency across components
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/AdministrationView/BoDElectionSection.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

Skip vesting action and bod action execution tests for further review
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/composables/bod/__tests__/bod-read.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: Remove obsolete ABI json files
  app/src/artifacts/abi/AdCampaignManager.json
  app/src/artifacts/abi/CashRemunerationEIP712.json
  app/src/artifacts/abi/Vesting.json
  app/src/artifacts/abi/bank.json
  app/src/artifacts/abi/beacon-proxy.json
  app/src/artifacts/abi/bod.json
  app/src/artifacts/abi/elections.json
  app/src/artifacts/abi/erc20.json
  app/src/artifacts/abi/expense-account-eip712.json
  app/src/artifacts/abi/expense-account.json
  app/src/artifacts/abi/factory-beacon.json
  app/src/artifacts/abi/officer.json
  app/src/artifacts/abi/tips.json
  app/src/artifacts/abi/voting.json
Due: app-unit-tests, app-e2e-tests

fix: Update snapshot data for SepoliaETH in currencyStore tests
  app/src/stores/__tests__/__snapshots__/currencyStore.spec.ts.snap
Due: app-unit-tests, app-e2e-tests

fix: Update ABI references in useBankReads functions
  app/src/composables/bank/reads.ts
Due: app-unit-tests, app-e2e-tests

refactor: Enhance documentation and clean up token support logic in Bank contract
  contract/contracts/Bank.sol
Due: contract-unit-tests

refactor: Improve documentation for Bank contract functions and events
  contract/contracts/Bank.sol
Due: contract-unit-tests

refactor: Enhance token handling and improve error messages in Bank contract
  contract/contracts/Bank.sol
Due: contract-unit-tests

refactor: Standardize parameter naming and fix critical security issues in Bank contract
  app/src/composables/bank/reads.ts
  app/src/composables/bank/types.ts
  contract/contracts/Bank.sol
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: Rename totalDividend to totalDividends and update related references for consistency
  contract/contracts/Bank.sol
Due: contract-unit-tests

Refactor Bank contract tests: Remove Tips proxy, enhance error messages, and improve token support management tests
  contract/test/Bank.spec.ts
Due: contract-unit-tests

refactor: Update error message for insufficient bank balance and remove Tips proxy from BankBeacon tests
  contract/test/Bank.spec.ts
  contract/test/BankBeacon.spec.ts
Due: contract-unit-tests

refactor: Update Bank initialization to use an empty token addresses array
  contract/test/BoardOfDirectors.spec.ts
  contract/test/Officer.spec.ts
Due: contract-unit-tests

test: add unit tests for ButtonUI component covering sizes, variants, shapes, and states
  app/src/components/__tests__/ButtonUI.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for ModalComponent covering interaction and keyboard navigation
  app/src/components/__tests__/ModalComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance ReceiptComponent tests with mock data for currency and native token
  app/src/components/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add behavior tests for Toast component to verify auto-close functionality
  app/src/components/__tests__/TestToast.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: Remove unused modules and commented-out code in OfficerModule
  contract/ignition/modules/BankBeaconModule.ts
  contract/ignition/modules/BankImplementationModule.ts
  contract/ignition/modules/CashRemunerationEIP712UpgradeModule.ts
  contract/ignition/modules/ExpenseAccountModule.ts
  contract/ignition/modules/InvestorUpgradeModule.ts
  contract/ignition/modules/MockBoardOfDirectorsModule.ts
  contract/ignition/modules/OfficerModule.ts
  contract/ignition/modules/VotingModule.ts
Due: contract-unit-tests

refactor: Enhance BANK_ABI with new error and event definitions, update function names for clarity
  app/src/artifacts/abi/bank.ts
Due: app-unit-tests, app-e2e-tests

refactor: Improve address resolution functions for better error handling and type safety
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for TheDrawer component covering rendering, collapse functionality, team selection, and navigation menu
  app/src/components/__tests__/TheDrawer.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for MonthSelector component covering model updates and month navigation
  app/src/components/__tests__/MonthSelector.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for MonthSelector component to verify model updates structure and month picker toggle functionality
  app/src/components/__tests__/MonthSelector.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: Add interfaces for IBank and IInvestorV1Contract, enhance contract deployment logic with investor address handling
  contract/contracts/Officer.sol
Due: contract-unit-tests

refactor: Remove obsolete transaction table components and their associated tests
  app/src/components/sections/TransactionsView/__tests__/PushTipTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/__tests__/SendTipTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/__tests__/TipWithdrawalTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/tables/PushTipTransactionsTable.vue
  app/src/components/sections/TransactionsView/tables/SendTipTransactonsTable.vue
  app/src/components/sections/TransactionsView/tables/TipWithdrawalTransactionsTable.vue
  app/src/views/TransactionsView.vue
Due: app-unit-tests, app-e2e-tests

refactor: Comment out unused TipsModule references and related code in address mappings and router
  app/src/artifacts/abi/tips.ts
  app/src/constant/__tests__/index.test.ts
  app/src/constant/index.ts
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for BodAlert component to verify rendering of title, message, and icon
  app/src/components/__tests__/BodAlert.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for ContractOwnerCard component to verify owner display logic and loading state
  app/src/components/__tests__/ContractOwnerCard.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for WeeklyRecap component to verify totals and calculations
  app/src/components/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for GenericTokenHoldingsSection component to verify rendering of token holdings
  app/src/components/__tests__/GenericTokenHoldingsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: Update investor address handling in Bank contract and fix naming inconsistency in Officer contract
  contract/contracts/Bank.sol
  contract/contracts/Officer.sol
Due: contract-unit-tests

refactor: Comment out ProxyModule deployment in deploy script
  contract/deploy.sh
Due: contract-unit-tests

refactor: Enhance Officer contract tests by adding InvestorV1 beacon deployment and initialization
  contract/test/Officer.spec.ts
Due: contract-unit-tests

refactor: Remove ExpenseAccountModule test file to streamline codebase
  contract/test/ExpenseAccountModule.spec.ts
Due: contract-unit-tests

refactor: Update references from 'InvestorsV1' to 'InvestorV1' across multiple components
  app/src/components/sections/CashRemunerationView/CRAddERC20Support.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/composables/useContractBalance.ts
  app/src/constant/index.ts
  app/src/stores/currencyStore.ts
  app/src/views/team/[id]/SherTokenView.vue
Due: app-unit-tests, app-e2e-tests

refactor: Fix formatting in DeployContractSection.vue by removing unnecessary comment line
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for WeeklyRecap component to verify rendering of totals and calculations
  app/src/components/__tests__/WeeklyRecap.spec.js
Due: app-unit-tests, app-e2e-tests

refactor: clean up WeeklyRecap test descriptions and formatting
  app/src/components/__tests__/WeeklyRecap.spec.js
Due: app-unit-tests, app-e2e-tests

test: enhance WeeklyRecap unit test with fully-typed WeeklyClaim object
  app/src/components/__tests__/WeeklyRecap.spec.js
  app/src/components/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update import path for WeeklyClaimResponse type in WeeklyRecap tests
  app/src/components/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
