Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: refactor WithdrawModal and integrate it into TokenHoldingsTable for improved user experience
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
Due: none

feat: integrate FeeCollectorManagement content directly into micropayments page for improved layout
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
  dashboard/app/pages/micropayments.vue
Due: none

feat: add BeneficiaryFormModal for managing fee beneficiary and integrate it into FeeCollectorStats
  dashboard/app/components/sections/FeeCollectorView/BeneficiaryFormModal.vue
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
  dashboard/app/composables/FeeCollector/read.ts
  dashboard/app/composables/FeeCollector/writes.ts
Due: none

feat: add UserIdentity component for displaying user and beneficiary addresses in FeeCollectorStats
  dashboard/app/components/UserIdentity.vue
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
Due: none

feat: refactor fee-related composables to use new V3 contract write approach and improve error handling
  dashboard/app/components/sections/FeeCollectorView/BeneficiaryFormModal.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
  dashboard/app/composables/FeeCollector/writes.ts
  dashboard/app/composables/useContractWritesV3.ts
  dashboard/app/composables/useTokenWithdraw.ts
Due: none

feat: refactor WithdrawModal to use useWithdrawAll composable and improve error handling
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
  dashboard/app/composables/useTokenWithdraw.ts
Due: none

feat: simplify handleConfirm in WithdrawModal by removing error handling block
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
Due: none

feat: improve query invalidation logic in useContractWritesV3 to handle undefined chainId
  app/src/composables/contracts/useContractWritesV3.ts
  dashboard/app/composables/useContractWritesV3.ts
Due: app-unit-tests, app-e2e-tests

feat: remove padding from UForm in FeeConfigFormModal and SafeDeployForm for consistency
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
  dashboard/app/components/sections/Safe/SafeDeployForm.vue
Due: none

feat: refactor FeeConfigFormModal to improve form handling and UI consistency
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
Due: none

feat: enhance feeConfigSchema to enforce 0.01% precision for fee inputs
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
Due: none

feat: add TransferOwnershipModal and integrate ownership transfer functionality
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
  dashboard/app/components/sections/FeeCollectorView/TransferOwnershipModal.vue
  dashboard/app/composables/FeeCollector/writes.ts
Due: none

refactor: remove unused OFFICER_ADDRESS from BANK_FUNCTION_NAMES
  app/src/composables/bank/reads.ts
Due: app-unit-tests, app-e2e-tests

feat: integrate AddressSearchInput component for user and beneficiary address selection
  app/src/composables/contracts/useContractWritesV3.ts
  dashboard/app/components/AddressSearchInput.vue
  dashboard/app/components/sections/FeeCollectorView/BeneficiaryFormModal.vue
  dashboard/app/components/sections/FeeCollectorView/TransferOwnershipModal.vue
  dashboard/app/composables/useContractWritesV3.ts
  dashboard/app/queries/user.queries.ts
Due: app-unit-tests, app-e2e-tests

feat: update AddressSearchInput to use autocomplete mode and improve user feedback
  dashboard/app/components/AddressSearchInput.vue
Due: none

feat: update AddressSearchInput to correctly handle modelValue and improve autocomplete functionality
  dashboard/app/components/AddressSearchInput.vue
Due: none

feat: add AddTokenSupportModal and RemoveTokenSupportModal components for managing token support
  dashboard/app/components/sections/FeeCollectorView/AddTokenSupportModal.vue
  dashboard/app/components/sections/FeeCollectorView/RemoveTokenSupportModal.vue
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/composables/FeeCollector/writes.ts
Due: none

feat: remove debug console logs from useFeeCollector
  dashboard/app/composables/useFeeCollector.ts
Due: none

fix: correct type definition for address and chainId in useContractWritesV3
  app/src/composables/contracts/useContractWritesV3.ts
Due: app-unit-tests, app-e2e-tests

style: format hardhat.config.ts and FeeCollector.spec.ts for improved readability
  contract/hardhat.config.ts
  contract/test/FeeCollector.spec.ts
Due: contract-unit-tests

fix: remove gas limit from hardhat and localhost configurations to prevent transaction failures
  contract/hardhat.config.ts
Due: contract-unit-tests

test: enhance TransferForm tests with additional validation and token handling
  app/src/components/forms/TransferForm.vue
  app/src/components/forms/__tests__/TransferForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: update SidebarLayout tests for modal interaction and improve stubs
  app/src/components/ui/__tests__/SidebarLayout.spec.ts
  app/src/components/ui/__tests__/TransactionTimeline.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for Officer composable reads
  app/src/composables/officer/__tests__/reads.spec.ts
Due: app-unit-tests, app-e2e-tests

test: update TransferForm validation schema to use explicit ValidationResult type
  app/src/components/forms/__tests__/TransferForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: remove unnecessary peer dependencies from package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

test: enhance AddTeamForm tests with member count display and navigation functionality
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
  app/src/components/forms/__tests__/ApproveExpenseSummaryForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: refactor DepositBankForm tests for improved clarity and functionality
  app/src/components/forms/__tests__/ApproveUsersEIP712Form.spec.ts
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: refactor DepositSafeForm tests for improved structure and error handling
  app/src/components/forms/__tests__/DepositModal.spec.ts
  app/src/components/forms/__tests__/DepositSafeForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for SafeDepositRouterForm component with comprehensive coverage
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/components/forms/__tests__/SafeDepositRouterForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for TokenAmount component to validate token selection and balance handling
  app/src/components/forms/__tests__/TokenAmount.spec.ts
  app/src/components/forms/__tests__/TransferForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance TransferModal tests with additional scenarios and improved mock setups
  app/src/components/forms/__tests__/TransferModal.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for CashRemunerationTransactions component with transaction mapping and error handling
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
Due: app-unit-tests, app-e2e-tests

test: refactor CashRemunerationMonthlyClaim tests with improved mock setups and error handling
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance CashRemunerationPendingClaim tests with subtitle verification and error handling
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enable CashRemunerationTotalBalance tests with formatted balance checks and fallback logic
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTotalBalance.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for CRSigne and CRWithdrawClaim components, enhance DeleteClaimModal tests with error handling
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add tests for file deletion tracking and error handling in SubmitClaims component
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add changelog and upgrade strategy documentation for upgradeable contracts
  contract/CHANGELOG.md
  contract/UPGRADE_STRATEGY.md
  contract/scripts/README.md
  contract/scripts/validate-upgrade.ts
Due: contract-unit-tests

Add storage baseline JSON files for various contracts on Polygon
  contract/storage-baselines/polygon/Bank.json
  contract/storage-baselines/polygon/BoardOfDirectors.json
  contract/storage-baselines/polygon/CashRemunerationEIP712.json
  contract/storage-baselines/polygon/Elections.json
  contract/storage-baselines/polygon/ExpenseAccountEIP712.json
  contract/storage-baselines/polygon/FeeCollector.json
  contract/storage-baselines/polygon/InvestorV1.json
  contract/storage-baselines/polygon/Officer.json
  contract/storage-baselines/polygon/Proposals.json
  contract/storage-baselines/polygon/SafeDepositRouter.json
  contract/storage-baselines/polygon/Tips.json
  contract/storage-baselines/polygon/Vesting.json
  contract/storage-baselines/polygon/Voting.json
Due: contract-unit-tests
