Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: simplify post mock implementation in EditClaims and SubmitClaims tests
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update allowed MIME types for file uploads and adjust error messages
  backend/src/routes/__tests__/uploadRoute.test.ts
Due: api-unit-tests

fix: add test for image upload failure and validate URL format in updateUser
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

fix: update Railway Storage setup documentation with enhanced file management functions and security measures
  backend/docs/RAILWAY_STORAGE_SETUP.md
Due: api-unit-tests

fix: remove obsolete migration file for database schema
  backend/prisma/migrations/20260112112145_v7/migration.sql
Due: api-unit-tests

fix: update download functions to open files in a new tab for better user experience
  app/src/components/sections/CashRemunerationView/Form/FilePreviewGallery.vue
Due: app-unit-tests, app-e2e-tests

fix: refactor FilePreviewGallery to use local component state and improve readability
  app/src/components/sections/CashRemunerationView/Form/FilePreviewGallery.vue
Due: app-unit-tests, app-e2e-tests

fix: remove obsolete tests for presigned URL fetching and file icon helpers in FilePreviewGallery
  app/src/components/sections/CashRemunerationView/Form/__tests__/FilePreviewGallery.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add ethers signer
  app/src/composables/trading/useEthersSigner.ts
Due: app-unit-tests, app-e2e-tests

feat: add trading session utility
  app/src/utils/trading/session.ts
Due: app-unit-tests, app-e2e-tests

feat: add user api credentials
  app/src/composables/trading/useUserApiCredentials.ts
Due: app-unit-tests, app-e2e-tests

feat: add clob client
  app/src/composables/trading/useClobClient.ts
Due: app-unit-tests, app-e2e-tests

feat: add trading session composable
  app/src/composables/trading/useTradingSession.ts
Due: app-unit-tests, app-e2e-tests

feat: add clob order
  app/src/composables/trading/useClobOrder.ts
Due: app-unit-tests, app-e2e-tests

feat: use real market data
  app/src/components/sections/TradingView/TradingModal.vue
  app/src/components/sections/TradingView/YourTradesSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add fetch marker data
  backend/src/controllers/polymarketController.ts
  backend/src/routes/polymarketRoute.ts
Due: api-unit-tests

chore: rename variable
  app/src/composables/trading/useClobOrder.ts
Due: app-unit-tests, app-e2e-tests

feat: add submit order logic
  app/src/components/sections/TradingView/TradingModal.vue
Due: app-unit-tests, app-e2e-tests

refactor: move to types
  app/src/types/trading.ts
Due: app-unit-tests, app-e2e-tests

feat: export composables
  app/src/composables/trading/index.ts
Due: app-unit-tests, app-e2e-tests

fix failing check
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeOwnersCard.spec.ts
  app/src/components/sections/TeamView/forms/__tests__/DeployContractSection.spec.ts
  app/src/composables/safe/__tests__/reads.test.ts
  app/src/composables/safe/__tests__/writes.deployment.test.ts
  backend/prisma/migrations/20260113122100_init/migration_add_safe_address_to_team.sql
  backend/src/controllers/teamController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

add missing package lock
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

add missing package lock
  backend/package-lock.json
Due: api-unit-tests

add missing migration
  backend/prisma/migrations/20260113122100_init/migration.sql
Due: api-unit-tests

Revert "fix: remove obsolete migration file for database schema"
  backend/prisma/migrations/20260112112145_v7/migration.sql
Due: api-unit-tests

fix: add missing runtimeArgs for edge browser configuration in launch.json
  .vscode/launch.json
Due: none

feat: add upload API for file handling
  app/src/api/index.ts
  app/src/api/upload.api.ts
Due: app-unit-tests, app-e2e-tests

fix: remove MultiFileUpload component and its associated tests
  app/src/components/sections/CashRemunerationView/Form/MultiFileUpload.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/MultiFileUpload.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline file upload handling and improve code organization
  app/src/components/sections/CashRemunerationView/Form/UploadFileDB.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: add upload constants and PreviewFile interface for file handling
  app/src/types/upload.ts
Due: app-unit-tests, app-e2e-tests

fix: update upload route documentation and improve clarity
  app/src/views/team/[id]/ShowIndex.vue
  backend/src/routes/uploadRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: add polymarket query
  app/src/queries/index.ts
  app/src/queries/polymarket.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: check redeemable
  app/src/composables/trading/useUserPositions.ts
Due: app-unit-tests, app-e2e-tests

fix: use negative risk adapter
  app/src/components/sections/TradingView/YourTradesSection.vue
  app/src/composables/trading/useRedeemPosition.ts
  app/src/utils/trading/redeemUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: use polymarket query
  app/src/components/sections/TradingView/TradingModal.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/TradingView/TradingModal.vue
Due: app-unit-tests, app-e2e-tests

refactor: add FeatureGlobalRestriction and TeamOverridesSection components for managing global feature restrictions and team overrides
  dashboard/app/components/features/FeatureGlobalRestriction.vue
  dashboard/app/components/features/TeamOverridesSection.vue
Due: none

refactor: update feature and team override modals to use async mutations and improve error handling
  dashboard/app/components/features/CreateFeatureModal.vue
  dashboard/app/components/features/DeleteFeatureModal.vue
  dashboard/app/components/features/DeleteTeamOverrideModal.vue
Due: none

refactor: replace FeaturesTable with FeatureGlobalRestriction and TeamOverridesSection components for improved feature management
  dashboard/app/components/features/FeatureCard.vue
  dashboard/app/components/features/FeaturesTable.vue
Due: none

refactor: replace FeaturesTable with UTable and enhance loading and empty states for better user experience
  dashboard/app/pages/features/[id].vue
  dashboard/app/pages/features/index.vue
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
