Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

test: update CreateProposalForm tests to use data-test attributes
  app/src/components/forms/__tests__/CreateProposalForm.spec.ts
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
Due: app-unit-tests

test: enhance ProposalCard tests with interaction and computed property checks
  app/src/components/__tests__/ProposalCard.spec.ts
  app/src/components/sections/SingleTeamView/ProposalCard.vue
Due: app-unit-tests

test: enhance ProposalCard and CreateProposalForm tests with modal interactions
  app/src/components/__tests__/ProposalCard.spec.ts
  app/src/components/forms/__tests__/CreateProposalForm.spec.ts
Due: app-unit-tests

tests: proposal card watchers
  app/src/components/__tests__/ProposalCard.spec.ts
Due: app-unit-tests

test: simplify useToastStore mock in ProposalCard tests
  app/src/components/__tests__/ProposalCard.spec.ts
Due: app-unit-tests

test: add more test
  app/src/components/__tests__/ProposalCard.spec.ts
Due: app-unit-tests

test: fix tests
  app/src/components/__tests__/ProposalCard.spec.ts
  app/src/components/sections/SingleTeamView/ProposalCard.vue
Due: app-unit-tests

style: prettier
  app/src/components/__tests__/ProposalCard.spec.ts
Due: app-unit-tests

tests: coverage
  app/src/components/__tests__/ProposalCard.spec.ts
  app/src/components/sections/SingleTeamView/ProposalCard.vue
Due: app-unit-tests

tests: coverage
  app/src/components/__tests__/ProposalCard.spec.ts
Due: app-unit-tests

refactor: use data-test attribute
  app/src/components/__tests__/ProposalCard.spec.ts
Due: app-unit-tests

fix: remove ref
  app/src/components/sections/SingleTeamView/ProposalCard.vue
Due: app-unit-tests

chore: upgrade synpress
  app/package-lock.json
  app/package.json
Due: app-unit-tests

chore: update playwright config
  app/playwright.config.ts
Due: app-unit-tests

chore: add playwright-report to gitignore and dockerignore
  app/.dockerignore
  app/.gitignore
Due: app-unit-tests

chore: add e2e to codecov
  codecov.yml
Due: none

chore: ignore any ts file on index app folder
  codecov.yml
Due: none

docs: add testing docs
  README.md
Due: none

tests: add e2e test for teams
  app/src/components/ToastContainer.vue
  app/src/components/sections/TeamView/AddTeamCard.vue
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
  app/src/views/TeamView.vue
  app/test/e2e/teams.spec.ts
Due: app-unit-tests

chore: remove log and comments
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

feat: add expense data type
  app/src/types/expense-account.ts
Due: app-unit-tests

feat: add multiple limit displays
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

test: multiple limit displays
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

test: display fetched limit data
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

chore: remove unused
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

style: prettier
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
  app/src/types/expense-account.ts
Due: app-unit-tests

feat: group display data
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

feat: add approve user modal
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

refactor: reorder items
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

test: approve users modal
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

chore: remove unused
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

test: use contract owner
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

chore: remove comments
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

refactor: add check and update budget data function
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

chore: remove contracts
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

docs: add NatSpec comments
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

build: add all contracts deployment script
  .gitignore
  contract/deploy.sh
Due: contract-unit-tests

dont run in parallel in ci
  app/playwright.config.ts
Due: app-unit-tests

chore: remove unused
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

feat: experiment alchemy pay
  app/package-lock.json
  app/package.json
  app/src/router/index.ts
  app/src/views/TestWidget.vue
Due: app-unit-tests

Path conditions:
  app-unit-tests: any of: app
  api-unit-tests: any of: backend
  contract-unit-tests: any of: contract
