Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: implement deferrable constraint for active wages and update wage creation logic
  backend/prisma/migrations/20260428000000_wage_active_deferrable/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/wageController.ts
Due: api-unit-tests

test: ✅ mock prisma.$transaction in wageController tests
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

refactor: replace UButton with UTooltip for improved tooltip functionality and enhance button accessibility
  app/src/components/sections/CashRemunerationView/CRSigne.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 reset weekly claims to pending after CashRemuneration redeploy
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

chore: Format code
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

chore: 🔧 remove unused GenericTransactionHistory and wrappers
  app/package-lock.json
  app/src/components/GenericTransactionHistory.vue
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
  app/src/components/sections/BankView/TransactionsHistorySection.vue
  app/src/components/sections/BankView/__tests__/TransactionsHistorySection.spec.ts
  app/src/components/sections/ExpenseAccountView/TransactionHistorySection.vue
  app/src/components/sections/ExpenseAccountView/__tests__/TransactionHistorySection.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 restore package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

test: Add unit tests for addMembers and deleteMember functions in Member Controller
  backend/src/controllers/__tests__/memberController.test.ts
Due: api-unit-tests

test: Enhance upload middleware tests for mimetype validation
  backend/src/utils/__tests__/upload.test.ts
Due: api-unit-tests

test: Add unit tests for user authorization in authMiddleware
  backend/src/middleware/__tests__/authMiddleware.test.ts
Due: api-unit-tests

test: Refactor upload middleware tests for improved readability
  backend/src/utils/__tests__/upload.test.ts
Due: api-unit-tests

test: Add unit tests for getFileUrlApi and uploadFileApi functions
  app/src/api/__tests__/storage.api.spec.ts
  app/src/api/__tests__/upload.api.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Add axios mock setup for unit testing
  app/src/tests/setup/axios.setup.ts
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

test: Clean up whitespace in storage and upload API test files
  app/src/api/__tests__/storage.api.spec.ts
  app/src/api/__tests__/upload.api.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: standardize ponder package manager to npm for Railway
  ponder/package.json
  ponder/pnpm-lock.yaml
Due: none

test: Enhance CustomDatePicker tests with modal and range validation
  app/src/components/__tests__/CustomDatePicker.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Replace custom UModal stub with standard UModalStub in CustomDatePicker tests
  app/src/components/__tests__/CustomDatePicker.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Refactor NavBar tests to use createWrapper function and improve logout handling
  app/src/components/__tests__/NavBar.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Enhance NotificationDropdown tests with notification handling and pagination
  app/src/components/__tests__/NotificationDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Refactor ReceiptComponent tests for improved clarity and functionality
  app/src/components/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Enhance mock data and stubs for notifications and currency store
  app/src/tests/mocks/query.mock.ts
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/store.setup.ts
  app/src/tests/stubs/nuxt-ui.stubs.ts
Due: app-unit-tests, app-e2e-tests

test: Refactor TeamSelectMenu tests for improved option selection and edge case handling
  app/src/components/__tests__/TeamSelectMenu.spec.ts
  app/src/stores/__tests__/currencyStore.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Refactor NavBar and NotificationDropdown tests for improved readability and structure
  app/src/components/__tests__/NavBar.spec.ts
  app/src/components/__tests__/NotificationDropdown.spec.ts
  app/src/stores/__tests__/currencyStore.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :zap: test: Add unit tests for TransferOwnershipForm component with multi-step functionality
  app/src/components/sections/ContractManagementView/forms/__tests__/CreateAddCampaign.spec.ts
  app/src/components/sections/ContractManagementView/forms/__tests__/TransferOwnershipForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Add mock for useDeployContract composable and update setup for testing
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

test: Refactor useDeployContract tests to dynamically import composable and improve structure
  app/src/composables/__tests__/useContractFunction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: Clean up whitespace and improve readability in CreateAddCampaign and useContractFunction tests
  app/src/components/sections/ContractManagementView/forms/__tests__/CreateAddCampaign.spec.ts
  app/src/composables/__tests__/useContractFunction.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document banned test patterns (Tailwind class assertions, wrapper.vm casts)
  app/src/tests/README.md
Due: app-unit-tests, app-e2e-tests

chore: 🔧 lint test files for fragile patterns
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

test: ✅ refactor TokenAmount spec to drop wrapper.vm casts
  app/src/components/forms/__tests__/TokenAmount.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove dead defensive fallbacks in TokenAmount
  app/src/components/forms/TokenAmount.vue
Due: app-unit-tests, app-e2e-tests

chore: 🔧 promote test fragility bans to error with legacy opt-out
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

test: ✅ replace Tailwind class assertions with behavioral assertions
  app/eslint.config.js
  app/src/components/OverviewCard.vue
  app/src/components/RateDotList.vue
  app/src/components/SelectComponent.vue
  app/src/components/UserAvatarComponent.vue
  app/src/components/UserComponent.vue
  app/src/components/__tests__/BodAlert.spec.ts
  app/src/components/__tests__/OverviewCard.spec.ts
  app/src/components/__tests__/RateDotList.spec.ts
  app/src/components/__tests__/SelectComponent.advanced.spec.ts
  app/src/components/__tests__/SelectComponent.spec.ts
  app/src/components/__tests__/UserAvatarComponent.spec.ts
  app/src/components/__tests__/UserComponent.spec.ts
  app/src/components/forms/ProfileImageUpload.vue
  app/src/components/forms/__tests__/ProfileImageUpload.spec.ts
  app/src/components/sections/AdministrationView/ElectionStatus.vue
  app/src/components/sections/AdministrationView/__tests__/ElectionStatus.spec.ts
  app/src/components/sections/CashRemunerationView/Form/UploadFileDB.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/UploadFileDB.spec.ts
  app/src/components/sections/DashboardView/SetMemberWageStandardStep.vue
  app/src/components/sections/DashboardView/__tests__/SetMemberWageStandardStep.spec.ts
  app/src/components/sections/SafeView/SafeIncomingTransactions.vue
  app/src/components/sections/SafeView/__tests__/SafeIncomingTransactions.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/DistributeMintAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/MintTokenAction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/ActionButton.spec.ts
  app/src/components/utils/SelectMemberContractsInput.vue
  app/src/components/utils/SelectMemberInput.vue
  app/src/components/utils/__tests__/SelectContractResults.spec.ts
  app/src/components/utils/__tests__/SelectMemberContractsInput.spec.ts
  app/src/components/utils/__tests__/SelectMemberInput.spec.ts
  app/src/components/utils/__tests__/SelectMemberResults.spec.ts
  app/src/views/team/__tests__/ListIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ restore unknown-color case to ElectionStatus spec
  app/src/components/sections/AdministrationView/__tests__/ElectionStatus.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 enable vitest/no-disabled-tests ESLint warning
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ deduplicate useUserDataStore mock in store.setup.ts
  app/src/stores/__tests__/currencyStore.spec.ts
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ remove stale skipped tests in composables/safe
  app/src/composables/safe/__tests__/useSafeApproval.spec.ts
  app/src/composables/safe/__tests__/useSafeExecution.advanced.spec.ts
  app/src/composables/safe/__tests__/useSafeExecution.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ remove stale skipped tests in other composables
  app/src/composables/__tests__/useContractBalance.spec.ts
  app/src/composables/__tests__/useSiwe.spec.ts
  app/src/composables/elections/__tests__/writes.spec.ts
  app/src/composables/investor/__tests__/writes.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ remove stale skipped tests in ExpenseAccountView
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountBalance.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.actions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseMonthSpent.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseStatsSection.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/MyApprovedExpenseSection.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/TransferAction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add unit tests for teamStore (Pinia)
  app/src/stores/__tests__/teamStore.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
