Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags:
          - app-unit-tests
      api:
        flags:
          - api-unit-tests
      contract:
        flags:
          - contract-unit-tests

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract

fix: remove related actions when delete team
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: add set limit bod implementation
  app/src/components/sections/SingleTeamView/ExpenseAccountSection.vue
  app/src/components/sections/SingleTeamView/forms/SetLimitForm.vue
Due: app-unit-tests

tests: test set max limit
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountSection.spec.ts
Due: app-unit-tests

feat: update dependencies of app
  app/package-lock.json
  app/package.json
Due: app-unit-tests

tests: methods
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountSection.spec.ts
Due: app-unit-tests

style: prettier
  app/src/components/sections/SingleTeamView/BoDActions.vue
  app/src/components/sections/SingleTeamView/ExpenseAccountSection.vue
  app/src/components/sections/SingleTeamView/forms/SetLimitForm.vue
Due: app-unit-tests

feat: update dependencies
  backend/package-lock.json
Due: api-unit-tests

feat: update contract dependencies
  contract/package-lock.json
Due: contract-unit-tests

tests: methods approve users
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountSection.spec.ts
Due: app-unit-tests

tests: set limit form
  app/src/components/sections/SingleTeamView/forms/SetLimitForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/SetLimitForm.spec.ts
Due: app-unit-tests

fix: ci
  app/src/components/sections/SingleTeamView/TeamMetaSection.vue
  app/src/components/sections/SingleTeamView/__tests__/TeamMeta.spec.ts
Due: app-unit-tests

docs: update PR template
  .github/pull_request_template.md
Due: none

feat: fix docker for develop
  docker-compose.dev.yml
Due: none

fix: fix get error message
  app/src/composables/useSiwe.ts
  app/src/utils/errorUtil.ts
Due: app-unit-tests

feat: fix add member form typing
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
Due: app-unit-tests

chore: remove unnecessary definemodule
  app/src/components/sections/SingleTeamView/forms/VoteForm.vue
Due: app-unit-tests

fix: fix typing for add member form
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
  app/src/types/proposal.ts
Due: app-unit-tests

fix: validation and broken test
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
Due: app-unit-tests

chore: format code
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
Due: app-unit-tests

docs: add more documentation
  CONTRIBUTION.md
  README.md
Due: none

docs: update document
  README.md
Due: none

refactor: CreateProposalForm to search users based on team members
  app/src/components/sections/SingleTeamView/ProposalSection.vue
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
Due: app-unit-tests

chore: remove unused import
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
Due: app-unit-tests

refactor: Improve user search functionality in CreateOfficerTeam.vue
  app/src/components/forms/CreateOfficerTeam.vue
Due: app-unit-tests

fix: code quality check
  app/src/components/forms/__tests__/CreateProposalForm.spec.ts
Due: app-unit-tests

feat: approve users form validation
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
Due: app-unit-tests

feat: set limit form validation
  app/src/components/sections/SingleTeamView/forms/SetLimitForm.vue
Due: app-unit-tests

fix: add disapprove action
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
Due: app-unit-tests

tests: add variables for form validation
  app/src/components/sections/SingleTeamView/forms/__tests__/SetLimitForm.spec.ts
Due: app-unit-tests

chore: remove logs
  app/src/components/sections/SingleTeamView/BoardOfDirectorsSection.vue
  app/src/components/sections/SingleTeamView/ExpenseAccountSection.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountSection.spec.ts
  app/src/components/sections/SingleTeamView/forms/__tests__/SetLimitForm.spec.ts
Due: app-unit-tests

style: format
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/SetLimitForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/SetLimitForm.spec.ts
Due: app-unit-tests

tests: approve user form render
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersForm.spec.ts
Due: app-unit-tests

tests: approve user state and v-model
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersForm.spec.ts
Due: app-unit-tests

test: showing errors
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersForm.spec.ts
Due: app-unit-tests

docs: :memo: update pull request template by adding contribution guideline for PR
  .github/pull_request_template.md
Due: none

fix: code quality check
  app/src/components/forms/__tests__/CreateOfficerTeam.spec.ts
Due: app-unit-tests

test: approve user emits
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersForm.spec.ts
Due: app-unit-tests

feat: :bricks: redeploy on polygon
  contract/hardhat.config.ts
  contract/ignition/deployments/chain-137/artifacts/Bank#Bank.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Bank#Bank.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Bank.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#BoardOfDirectors.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#ExpenseAccount.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-137/artifacts/ProxyModule#ProxyAdmin.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ProxyModule#Tips.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ProxyModule#Tips.json
  contract/ignition/deployments/chain-137/artifacts/ProxyModule#TransparentUpgradeableProxy.dbg.json
  contract/ignition/deployments/chain-137/artifacts/TipsModule#Tips.dbg.json
  contract/ignition/deployments/chain-137/artifacts/TipsModule#Tips.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Voting.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
Due: contract-unit-tests

feat: update address
  app/src/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests
