Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: use new budget limit
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

test: use new budget limit
  app/src/components/sections/ExpenseAccountView/__tests__/TransferAction.spec.ts
Due: app-unit-tests, app-e2e-tests

build: update abis
  app/src/artifacts/abi/bank.ts
  app/src/artifacts/abi/cash-remuneration-eip712.ts
  app/src/artifacts/abi/expense-account-eip712.ts
  app/src/artifacts/abi/officer.ts
  app/src/artifacts/abi/vesting.ts
Due: app-unit-tests, app-e2e-tests

build: update abi
  backend/src/artifacts/expense-account-eip712.json
Due: api-unit-tests

feat: update expense validation
  backend/src/validation/schemas/expense.ts
Due: api-unit-tests

feat: update budget limit type
  backend/src/types/expense-account.ts
Due: api-unit-tests

feat: update add and get expense
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

fix: remove nodemon dependency from package.json
  contract/package.json
Due: contract-unit-tests

test: add computed property test for canSubmitClaim in SubmitClaims component
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

test: update budget limit
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

chore: remove comments
  backend/src/types/expense-account.ts
  backend/src/validation/schemas/expense.ts
Due: api-unit-tests

test: use new limit for mock
  backend/src/validation/schemas/__tests__/expense.test.ts
Due: api-unit-tests

feat: update table table to use new limit
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

test: update to use new limit
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: update for new expense limit
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: update route names and paths for payroll and account features
  app/src/components/SelectMemberItem.vue
  app/src/components/TheDrawer.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: update account-related routes and menu items for payroll features
  app/src/components/TheDrawer.vue
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

Refactor code structure for improved readability and maintainability
  app/src/artifacts/deployed_addresses/chain-31337.json
  contract/package-lock.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: update routing and menu items for payroll features
  app/src/components/__tests__/SelectMemberItem.spec.ts
  app/src/components/__tests__/TheDrawer.spec.ts
  app/src/router/__tests__/index.spec.ts
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: add peer dependency flag to ens-normalize package in package-lock.json
  contract/package-lock.json
Due: contract-unit-tests

Revert "Refactor code structure for improved readability and maintainability"
  app/src/artifacts/deployed_addresses/chain-31337.json
  contract/package-lock.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

chore: remove any
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

style: change function name
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: show frequency type
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: change name
  app/src/components/forms/ApproveExpenseSummaryForm.vue
Due: app-unit-tests, app-e2e-tests

feat: use new amount
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: update account routes for consistency in naming
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

feat: handle date rang separately
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

build: update abi
  app/src/artifacts/abi/expense-account-eip712.ts
Due: app-unit-tests, app-e2e-tests

test: handle range separately
  contract/test/ExpenseAccountEIP712V2.spec.ts
Due: contract-unit-tests

contracts updated to handle token transfer fee payments
  contract/contracts/Bank.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/Officer.sol
  contract/ignition/modules/FeeCollectorModule.ts
Due: contract-unit-tests

fix: remove conflicting validation
  app/src/components/forms/TokenAmount.vue
  app/src/components/forms/__tests__/TokenAmount.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: use correct property
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

feat: disable after single transfer
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

chore: remove unused
  app/src/components/forms/TokenAmount.vue
Due: app-unit-tests, app-e2e-tests

feat: parse custom frequency
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

test: parse custom frequency
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: rename account routes for clarity and consistency
  app/src/components/TheDrawer.vue
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests
