Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: update Community Credit components and tests for deadline validation
  app/src/artifacts/abi/json/FixedReturn.json
  app/src/artifacts/abi/json/MockFixedReturn.json
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.validate.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallTermsStep.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditHistoryTable.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepayPanel.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundCard.spec.ts
  app/src/composables/contracts/fixedReturnErrorCatalog.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/setup/composables.setup.ts
  app/src/types/communityCredit.schemas.ts
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditOfferUtil.spec.ts
  app/src/utils/__tests__/communityCreditUtil.mappers.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/communityCreditOfferUtil.ts
  app/src/utils/communityCreditUtil.ts
  app/src/utils/communityCreditWizardUtil.ts
  app/src/utils/index.ts
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/test/FixedReturn.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: streamline FixedReturn tests by removing redundant expect statements
  contract/test/FixedReturn.spec.ts
Due: contract-unit-tests

feat: ✨ enhance weekly claim validation and update request handling
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/weeklyClaimRoute.ts
  backend/src/validation/middleware/validate.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: api-unit-tests

feat: enhance communityCreditUtil tests with additional scenarios for repayment and credit period formatting
  app/src/utils/__tests__/communityCreditUtil.mappers.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 bump solc to 0.8.28 and atomically initialize FeeCollector proxy
  contract/hardhat.config.ts
  contract/ignition/modules/FeeCollectorModule.ts
Due: contract-unit-tests

feat: add unit tests for Community Credit components including CreditConditionsCard, CreditRoundCard, CreditRoundGauge, and CreditRoundLedger
  app/src/components/sections/CommunityCreditView/__tests__/CreditConditionsCard.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditHistoryTable.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundCard.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundGauge.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundLedger.spec.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add maximum hours per day to wage interfaces and update deployed addresses
  app/src/queries/wage.queries.ts
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add maximum hours per day field to Wage model and migration
  backend/prisma/migrations/20260724090000_wage_maximum_hours_per_day/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: ✨ add DEFAULT_MAXIMUM_HOURS_PER_DAY constant and integrate into wage validation schema
  app/src/utils/wageUtil.ts
  backend/src/utils/wageUtil.ts
  backend/src/validation/schemas/wage.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: ✨ integrate daily hours limit into claim submission and update wage settings
  backend/src/controllers/claimController.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

feat: ✨ enhance wage claim validation with daily cap checks and default settings
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

feat: ✨ add daily hours cap input and update validation logic in wage standard step
  app/src/components/sections/DashboardView/SetMemberWageStandardStep.vue
  app/src/components/sections/DashboardView/__tests__/SetMemberWageStandardStep.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add maximum hours per day handling in wage modal and tests
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
  app/src/components/sections/DashboardView/__tests__/SetMemberWageModal.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 detect cross-contract wage claim signatures (#1812)
  app/src/components/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/CashRemunerationView/cashRemunerationEip712.ts
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ProposalsView/forms/CreateProposalForm.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/types/cash-remuneration.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/weeklyClaimRoute.ts
  backend/src/validation/middleware/validate.ts
  backend/src/validation/schemas/weeklyClaim.ts
  contract/hardhat.config.ts
  contract/ignition/modules/FeeCollectorModule.ts
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 pin backend to Node 24 / npm 11 for Railway deploy
  backend/.nvmrc
  backend/backend.Dockerfile
  backend/package.json
Due: api-unit-tests

fix: 🐛 clarify debt and interest feature description in accounting spec
  docs/features/accounting/cnc-accounting-spec.md
Due: none

feat: ✨ deploy Safe infra locally for Hardhat dev/test
  app/src/artifacts/deployed_addresses/chain-31337.json
  contract/deploy.sh
  contract/ignition/modules/SafeInfraModule.ts
  contract/package-lock.json
  contract/package.json
  contract/test/SafeInfraDeployment.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: ♻️ deploy Safes through SafeProxyFactory without the SDK
  app/package-lock.json
  app/package.json
  app/src/artifacts/abi/json/SafeProxyFactory.json
  app/src/artifacts/abi/safe-proxy-factory.ts
  app/src/components/sections/SafeView/SafeDeploymentCard.vue
  app/src/composables/safe/useSafeDeployment.ts
  app/src/composables/safe/useSafeSdk.ts
  app/src/constant/index.ts
  app/src/constant/safeInfra.ts
  app/src/queries/safe.mutations.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover the ABI-based Safe deployment path
  app/src/components/sections/SafeView/__tests__/SafeDeploymentCard.spec.ts
  app/src/composables/safe/__tests__/useSafeDeployment.spec.ts
  app/src/composables/safe/__tests__/useSafeSdk.spec.ts
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
  backend/src/controllers/__tests__/contractController.test.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: 🐛 make Community Credit's 30-year term cap calendar-accurate
  app/src/types/__tests__/communityCredit.schemas.spec.ts
  app/src/types/communityCredit.schemas.ts
  app/src/utils/communityCreditOfferUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 normalize teamId type in FixedReturn offering query keys
  app/src/queries/__tests__/fixedReturnOffering.queries.spec.ts
  app/src/queries/fixedReturnOffering.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 gate Community Credit repayment on the round actually being funded
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepayPanel.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 stop Community Credit lender reads from locking in native-token decimals
  app/src/composables/fixedReturn/reads.ts
Due: app-unit-tests, app-e2e-tests

style: 🎨 run prettier over this branch's Community Credit fixes
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/composables/fixedReturn/reads.ts
  app/src/queries/fixedReturnOffering.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 stop repay panel misreporting refunded/repaid rounds as not-yet-funded
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepayPanel.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add FeeCollector support for mock tokens in MockTokensModule
  contract/ignition/modules/MockTokensModule.ts
Due: contract-unit-tests

Refactor code structure for improved readability and maintainability
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Bank.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#BoardOfDirectors.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/ElectionsBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/ElectionsBeaconModule#Elections.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorModule#FeeCollector.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorProxyModule#FeeCollector.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorProxyModule#ProxyAdmin.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorProxyModule#TransparentUpgradeableProxy.json
  contract/ignition/deployments/chain-137/artifacts/FixedReturnBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/FixedReturnBeaconModule#FixedReturn.json
  contract/ignition/deployments/chain-137/artifacts/InvestorBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/InvestorBeaconModule#Investor.json
  contract/ignition/deployments/chain-137/artifacts/Officer#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-137/artifacts/ProposalBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/ProposalBeaconModule#Proposals.json
  contract/ignition/deployments/chain-137/artifacts/SafeDepositRouterBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/SafeDepositRouterBeaconModule#SafeDepositRouter.json
  contract/ignition/deployments/chain-137/artifacts/VestingBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/VestingBeaconModule#Vesting.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
Due: contract-unit-tests

feat: add support for polFork network in deployment scripts and configuration
  contract/deploy.sh
  contract/hardhat.config.ts
  contract/package.json
Due: contract-unit-tests

fix: 🐛 declare hardhat-keystore dependency and format hardhat.config.ts
  contract/hardhat.config.ts
  contract/package.json
Due: contract-unit-tests

fix: update deployed addresses for various modules in chain-137 and chain-31337 JSON files
  app/src/artifacts/deployed_addresses/V2/chain-137.json
  app/src/artifacts/deployed_addresses/chain-137.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  dashboard/app/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ move the ledger column list into its own module
  app/src/utils/accounting/ledgerColumns.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ compute a running balance for one account's ledger
  app/src/components/sections/AccountingView/LedgerTable.vue
  app/src/utils/accounting/accountLedger.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ show the balance in the statement details
  app/src/components/sections/AccountingView/BalanceSheetCard.vue
  app/src/components/sections/AccountingView/IncomeStatementCard.vue
  app/src/components/sections/AccountingView/LedgerDrilldownModal.vue
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
  app/src/composables/accounting/useLedgerDrilldown.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover the running balance and the opening line
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
  app/src/composables/accounting/__tests__/useLedgerDrilldown.spec.ts
  app/src/utils/accounting/__tests__/accountLedger.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: add missing newline at end of chain-137.json and chain-31337.json files
  app/src/artifacts/deployed_addresses/V2/chain-137.json
  app/src/artifacts/deployed_addresses/chain-137.json
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

fix: update expected version for Polygon Officer beacon to V2 in registry tests
  app/src/artifacts/__tests__/registry.spec.ts
Due: app-unit-tests, app-e2e-tests

feat ✨: add the Community Credit accounts to the chart of accounts
  app/src/utils/accounting/__tests__/chartOfAccounts.spec.ts
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/chartOfAccounts.ts
Due: app-unit-tests, app-e2e-tests

feat ✨: register FixedReturn as an internal money pocket
  app/src/utils/accounting/__tests__/internalAddresses.spec.ts
  app/src/utils/accounting/internalAddresses.ts
  app/src/utils/accounting/mappers/context.ts
Due: app-unit-tests, app-e2e-tests

feat ✨: surface Community Credit entries in the journal
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/ledgerCategory.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
