Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

refactor: your trades section
  app/src/components/sections/TradingView/TradingInterface.vue
  app/src/components/sections/TradingView/TradingModal.vue
  app/src/components/sections/TradingView/YourTradesSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add trading types
  app/src/types/index.ts
  app/src/types/trading.ts
Due: app-unit-tests, app-e2e-tests

feat: add trading account balance
  app/src/components/sections/TradingView/TradingAccountBalance.vue
Due: app-unit-tests, app-e2e-tests

feat: add trading performance
  app/src/components/sections/TradingView/TradingPerformance.vue
Due: app-unit-tests, app-e2e-tests

feat: add trading p&l
  app/src/components/sections/TradingView/TradingTotalPnL.vue
Due: app-unit-tests, app-e2e-tests

feat: add trading stats
  app/src/components/sections/TradingView/TradingStats.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/TradingView/TradingAccountBalance.vue
  app/src/components/sections/TradingView/TradingInterface.vue
  app/src/components/sections/TradingView/TradingModal.vue
  app/src/components/sections/TradingView/TradingPerformance.vue
  app/src/components/sections/TradingView/TradingTotalPnL.vue
  app/src/components/sections/TradingView/YourTradesSection.vue
Due: app-unit-tests, app-e2e-tests

feat: implement claim update mutation with file handling
  app/src/components/sections/CashRemunerationView/EditClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: refactor claim submission to use multipart/form-data and improve error handling
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: update axios client to set Content-Type based on request data type
  app/src/lib/axios.ts
Due: app-unit-tests, app-e2e-tests

fix: improve error message handling in claim submission and update processes
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: integrate Vue Query plugin into ClaimActions test setup
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimActions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor SubmitClaims tests to use axios mock instead of fetch
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: replace fetch with axios in EditClaims tests and integrate Vue Query plugin
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify hoisted mocks in EditClaims test
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

build: install vue sonner
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

feat: use toast sonner
  app/src/components/sections/TradingView/YourTradesSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add trading types
  app/src/types/trading.ts
Due: app-unit-tests, app-e2e-tests

feat: add use user positions
  app/src/composables/trading/index.ts
  app/src/composables/trading/useUserPositions.ts
Due: app-unit-tests, app-e2e-tests

build: add safe sdk
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

feat: add redeem position utility
  app/src/utils/trading/redeemUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: add redeem position utility
  app/src/composables/trading/index.ts
  app/src/composables/trading/useRedeemPosition.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/composables/trading/useRedeemPosition.ts
Due: app-unit-tests, app-e2e-tests

feat: increase decimals
  app/src/components/sections/TradingView/YourTradesTable.vue
Due: app-unit-tests, app-e2e-tests

feat: use real data and handle withdraw
  app/src/components/sections/TradingView/YourTradesSection.vue
Due: app-unit-tests, app-e2e-tests

fix: update backend URL to production endpoint
  dashboard/app/constant/index.ts
Due: none

fix: update backend URL to production endpoint
  dashboard/app/api/index.ts
  dashboard/app/constant/index.ts
  dashboard/nuxt.config.ts
Due: none

add safe on team deployment
  app/package.json
  app/src/components/TheDrawer.vue
  app/src/components/sections/SafeView/SafeBalanceSection.vue
  app/src/components/sections/SafeView/SafeOwnersCard.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/composables/safe/index.ts
  app/src/composables/safe/reads.ts
  app/src/composables/safe/types.ts
  app/src/composables/safe/writes.ts
  app/src/composables/useSafe.ts
  app/src/router/index.ts
  app/src/types/team.ts
  app/src/views/team/[id]/Accounts/SafeView.vue
  backend/prisma/migrations/20260105185259_add_safe_address_to_team/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/teamController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix lint issue
  app/src/components/TheDrawer.vue
  app/src/components/sections/SafeView/SafeBalanceSection.vue
  app/src/components/sections/SafeView/SafeOwnersCard.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/components/sections/TeamView/forms/DeploySafeSection.vue
  app/src/composables/safe/reads.ts
  app/src/composables/safe/types.ts
  app/src/composables/safe/writes.ts
  app/src/views/team/[id]/Accounts/SafeView.vue
Due: app-unit-tests, app-e2e-tests

fix: calculate pnl correctly
  app/src/components/sections/TradingView/YourTradesTable.vue
Due: app-unit-tests, app-e2e-tests

feat: add address parameter
  app/src/components/sections/TradingView/YourTradesSection.vue
  app/src/composables/trading/useUserPositions.ts
Due: app-unit-tests, app-e2e-tests

fix: streamline authentication middleware and update user fetching logic
  dashboard/app/middleware/auth.global.ts
Due: none

fix: update user fetching logic to use useUserQuery
  dashboard/app/stores/useUserStore.ts
Due: none

fix: correct import statement for useUserQuery in dashboard queries
  dashboard/app/queries/index.ts
  dashboard/app/queries/user.queries.ts
Due: none

fix: implement apiFetch for handling API requests and improve error handling in login component
  dashboard/app/lib/fetch.ts
  dashboard/app/pages/login.vue
Due: none

fix: replace apiClient with $fetch for fetching token prices from CoinGecko API
  dashboard/app/api/coingecko.ts
Due: none

fix: implement authentication and user management API functions
  dashboard/app/api/auth.ts
  dashboard/app/api/index.ts
  dashboard/app/api/user.ts
Due: none

fix: refactor SIWE authentication flow to use API functions for nonce and token validation
  dashboard/app/composables/useSiwe.ts
Due: none

fix: refactor feature queries to use new API structure and remove deprecated function.query
  dashboard/app/components/features/FeatureCard.vue
  dashboard/app/pages/features/[id].vue
  dashboard/app/pages/features/index.vue
  dashboard/app/queries/feature.query.ts
  dashboard/app/queries/function.query.ts
  dashboard/app/queries/index.ts
Due: none

feat: add feature management API functions for CRUD operations and team overrides
  dashboard/app/api/features.ts
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
