Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: ✨ add AccountingPage component with error handling and routing
  app/src/components/sections/AccountingView/AccountingPage.vue
Due: app-unit-tests, app-e2e-tests

test: ✅ cover the accounting page views and shared shell
  app/src/views/team/[id]/Accounting/__tests__/AccountingViews.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ exercise the accounting routes redirect and lazy view imports
  app/src/router/__tests__/index.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update stale OfferingForm import in communityCreditWhitelist.spec.ts
  app/src/utils/__tests__/communityCreditWhitelist.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add team detail page and contracts overview, including error handling and loading states
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/layouts/default.vue
  dashboard/app/pages/teams/[id].vue
  dashboard/app/pages/teams/index.vue
  dashboard/app/types/index.d.ts
Due: none

feat: implement contract balance and contract table components with officer grouping
  dashboard/app/components/teams/ContractBalance.vue
  dashboard/app/components/teams/ContractTable.vue
  dashboard/app/components/teams/TeamContractGroups.vue
  dashboard/app/pages/teams/[id].vue
  dashboard/app/queries/contractBalance.query.ts
  dashboard/app/types/index.d.ts
Due: none

feat: add contract token balances query and integrate with contract balance component
  dashboard/app/components/teams/ContractBalance.vue
  dashboard/app/queries/contractTokenBalances.query.ts
Due: none

feat: update contract queries to use dynamic chainId for client initialization
  dashboard/app/components/teams/ContractBalance.vue
  dashboard/app/components/teams/ContractTable.vue
  dashboard/app/composables/useOfficerBeaconSummary.ts
  dashboard/app/queries/contractBalance.query.ts
  dashboard/app/queries/contractTokenBalances.query.ts
  dashboard/app/queries/officerBeacon.query.ts
  dashboard/app/queries/upgradeOwner.query.ts
Due: none

feat: add team balance recap component and integrate with TeamsList
  dashboard/app/components/teams/TeamBalanceRecap.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useTeamBalanceRecap.ts
Due: none

feat: refactor team balance recap logic and implement new composable for on-chain balances
  dashboard/app/components/teams/TeamBalanceRecap.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useTeamBalanceRecap.ts
  dashboard/app/composables/useTeamsBalanceRecaps.ts
Due: none

feat: enhance contract balance display with explicit zero values and improved formatting for small amounts
  dashboard/app/components/teams/TeamBalanceRecap.vue
  dashboard/app/composables/useTeamsBalanceRecaps.ts
Due: none

feat: restructure team balance recap to group by officer version and enhance contract balance handling
  dashboard/app/components/teams/TeamBalanceRecap.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useTeamsBalanceRecaps.ts
Due: none

feat: add support for officer-less contracts in team balance recap and enhance shared contract handling
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
  dashboard/app/components/teams/TeamBalanceRecap.vue
  dashboard/app/composables/useTeamsBalanceRecaps.ts
Due: api-unit-tests

feat: remove officer-less contracts from team retrieval logic
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: fetch officer-less contracts by enhancing team detail queries
  dashboard/app/composables/useTeamsBalanceRecaps.ts
Due: none

feat: implement Project Total Value Locked (TVL) component and integrate into dashboard
  dashboard/app/components/teams/ProjectTvlCard.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useTeamsBalanceRecaps.ts
  dashboard/app/pages/index.vue
Due: none

feat: add MainContractBalanceCell component and integrate balance display in MainContractTable
  app/src/components/sections/ContractManagementView/MainContractBalanceCell.vue
  app/src/components/sections/ContractManagementView/MainContractTable.vue
Due: app-unit-tests, app-e2e-tests

feat: add OfficerContractsByVersion component and integrate into ContractManagementView
  app/src/components/sections/ContractManagementView/OfficerContractsByVersion.vue
  app/src/queries/contract.queries.ts
  app/src/views/team/[id]/ContractManagementView.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance MainContractSection with officer generations and update MainContractTable to accept contracts and version
  app/src/components/sections/ContractManagementView/MainContractSection.vue
  app/src/components/sections/ContractManagementView/MainContractTable.vue
  app/src/components/sections/ContractManagementView/OfficerContractsByVersion.vue
  app/src/views/team/[id]/ContractManagementView.vue
Due: app-unit-tests, app-e2e-tests

feat: add OfficerRegistryVersion component to display registry version for officers
  dashboard/app/components/teams/OfficerRegistryVersion.vue
  dashboard/app/components/teams/TeamOfficersCell.vue
  dashboard/app/composables/useContractRegistry.ts
Due: none

feat: add ContractLogs component and integrate event logs display in ContractTable
  dashboard/app/components/teams/ContractLogs.vue
  dashboard/app/components/teams/ContractTable.vue
  dashboard/app/queries/contractLogs.query.ts
  dashboard/app/utils/contractEventsAbi.ts
Due: none

feat: implement useBankEventsViaLogs to fetch bank transaction history via RPC
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/composables/bank/useBankEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: implement useExpenseEventsViaLogs to fetch ExpenseAccount events from RPC
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/composables/expense/useExpenseEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: implement useCashRemunerationEventsViaLogs to fetch payroll events from RPC and refactor useExpenseEventsViaLogs for consistency
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/composables/bank/useBankEventsViaLogs.ts
  app/src/composables/cashRemuneration/useCashRemunerationEventsViaLogs.ts
  app/src/composables/eventsViaLogs.ts
  app/src/composables/expense/useExpenseEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor ExpenseMonthSpent to use RPC-sourced expense events instead of GraphQL queries
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
Due: app-unit-tests, app-e2e-tests

feat: implement useInvestorEventsViaLogs to fetch investor events from RPC and refactor InvestorsTransactions component
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/composables/investor/useInvestorEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: add useSafeDepositRouterEventsViaLogs to fetch SafeDepositRouter events from RPC
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/composables/investor/useSafeDepositRouterEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor tests to use mock composables for bank, cash remuneration, and expense events
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseMonthSpent.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: update resolveFolder logic to use the oldest folder as fallback for unwired per-team resolution
  app/src/artifacts/__tests__/registry.spec.ts
  app/src/composables/contracts/__tests__/useContractVersion.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: implement contract version resolution via Officer beacon and update related logic
  app/src/artifacts/registry.ts
  app/src/composables/contracts/README.md
  app/src/composables/contracts/__tests__/useContractVersion.spec.ts
  app/src/composables/contracts/useContractVersion.ts
  app/src/composables/contracts/useOfficerBeaconFolder.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance folder resolution by incorporating chain ID in folderForOfficerBeacon function
  app/src/artifacts/__tests__/registry.spec.ts
  app/src/artifacts/registry.ts
  app/src/composables/contracts/useOfficerBeaconFolder.ts
Due: app-unit-tests, app-e2e-tests

Refactor parameter names for consistency and clarity across multiple contracts
  contract/contracts/AdCampaignManager.sol
  contract/contracts/Bank.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Elections/ElectionTypes.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/base/TokenSupport.sol
  contract/contracts/beacons/UserBeaconProxy.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/IBoardOfDirectors.sol
  contract/contracts/interfaces/IFeeCollector.sol
  contract/contracts/interfaces/IMintableERC20.sol
  contract/contracts/interfaces/ISafeDepositRouter.sol
  contract/contracts/mocks/MaliciousReentrancy.sol
  contract/contracts/mocks/MockBoardOfDirectors.sol
  contract/contracts/mocks/MockFixedReturn.sol
  contract/contracts/mocks/MockOfficer.sol
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

refactor: update chainlink-solidity rules to enforce stricter error handling and naming conventions
  contract/.solhint.json
Due: contract-unit-tests

chore: 🔧 enforce Chainlink/security Solidity lint rules as CI errors
  contract/.solhint.json
Due: contract-unit-tests

refactor: enhance Solidity linting rules and improve function visibility across contracts
  contract/.solhint.json
  contract/contracts/Bank.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

feat: add version function to contracts and update version to 2.0.0
  contract/contracts/AdCampaignManager.sol
  contract/contracts/Bank.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/test/FixedReturn.spec.ts
Due: contract-unit-tests
