Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix: validate member address in getTeamWeeklyClaims and improve query filtering
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: enhance sidebar navigation with active state for accounts and administration sections
  app/src/components/ui/SidebarLayout.vue
Due: app-unit-tests, app-e2e-tests

fix: add authorization check for team membership in weekly claim routes
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: refactor file upload logic and update query key for weekly claims
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

fix: simplify tab navigation structure by removing unnecessary template wrapper
  app/src/components/TabNavigation.vue
Due: app-unit-tests, app-e2e-tests

feat: update dividend handling functions and add investor address management in Bank and SafeDepositRouter contracts
  app/src/artifacts/abi/json/Bank.json
  app/src/artifacts/abi/json/SafeDepositRouter.json
  app/src/components/sections/SherTokenView/InvestorActions/PayDividendsAction.vue
  app/src/composables/bank/writes.ts
  app/src/composables/contracts/useContractWritesV2.ts
  app/src/composables/investor/writes.ts
Due: app-unit-tests, app-e2e-tests

fix: streamline file upload process by utilizing dedicated uploadFileApi
  app/src/components/sections/CashRemunerationView/EditClaims.vue
Due: app-unit-tests, app-e2e-tests

fix: refactor file upload logic in EditClaims and SubmitClaims components
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

add tests for safeDepositor components.
  app/src/components/forms/__tests__/CompensationAmount.advanced.spec.ts
  app/src/components/forms/__tests__/CompensationAmout.spec.ts
  app/src/components/forms/__tests__/SafeDepositRouterForm.advanced.spec.ts
  app/src/components/forms/__tests__/SafeDepositRouterForm.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/InvestInSafeButton.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/investInSafeButton.advanced.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update safe deployment to use user address from store
  app/src/components/sections/SafeView/SafeDeploymentCard.vue
Due: app-unit-tests, app-e2e-tests

fix: enhance formatSherAmount function to handle comma-separated values
  app/src/components/forms/SafeDepositRouterForm.vue
  app/src/utils/safeDepositRouterUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: streamline SafeDepositRouterForm integration and remove redundant prop
  app/src/components/forms/SafeDepositRouterForm.vue
  app/src/components/sections/SherTokenView/InvestorActions/InvestInSafeButton.vue
Due: app-unit-tests, app-e2e-tests

test: add comprehensive tests for safeDepositRouterUtil functions
  app/src/utils/__tests__/safeDepositRouterUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

test: refactor EditClaims tests to use mutation hooks and improve error handling
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline claim update process and remove unused query client
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/investInSafeButton.advanced.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add mockUploadFileApi and integrate into composables setup
  app/src/tests/mocks/api.mock.ts
  app/src/tests/mocks/index.ts
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: add useEditClaimMutation for editing claims with file attachments
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

feat: implement bulk file upload functionality with validation and presigned URL generation
  app/src/api/upload.api.ts
  backend/src/controllers/uploadController.ts
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/uploadRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: remove unused edit claim mutation and streamline file upload logic
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace error message handling with UAlert component and streamline claim update logic
  app/src/components/sections/CashRemunerationView/EditClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: add submit and edit claim mutations with file attachment handling
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance file validation in upload functions and streamline file extraction logic
  backend/src/controllers/uploadController.ts
  backend/src/services/storageService.ts
Due: api-unit-tests

docs: enhance README structure and navigation for improved clarity
  docs/README.md
Due: none

refactor: update test stubs and component references in ClaimActions tests
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimActions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add mock implementations for edit and submit claim mutations in tests
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify test setup and enhance error handling in EditClaims and SubmitClaims tests
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add mock implementation for useSubmitRestriction composable and integrate it into setup
  app/src/tests/mocks/composables.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused import from SubmitClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

Implement feature X to enhance user experience and fix bug Y in module Z
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: update expected file URLs in weekly claim controller tests
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: remove deprecated image URL migration scripts from package.json and scripts
  backend/package.json
  backend/scripts/migrate-stable-image-urls.ts
Due: api-unit-tests

fix: simplify token symbol handling and improve vesting tuple validation
  app/src/components/sections/VestingView/VestingFlow.vue
Due: app-unit-tests, app-e2e-tests

fix: streamline token symbol and investors owner handling in InvestorsActions component
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

feat: Add user stories and acceptance criteria for CNC Portal
  .gitignore
  docs/DOCUMENTATION_INDEX.md
  docs/IMPLEMENTATION_STATUS.md
  docs/README.md
  docs/USER_STORIES.md
  docs/project-charter.md
Due: none

fix: replace faker avatar generation with default profile image URL resolution
  backend/src/controllers/authController.ts
  backend/src/utils/profileImage.util.ts
Due: api-unit-tests

fix: downgrade @playwright/test to version 1.48.2 for compatibility, and update dependencies
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

fix: update token symbol handling to ensure safe values are used across components
  app/src/components/forms/CompensationAmount.vue
  app/src/components/forms/SafeDepositRouterForm.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/DashboardView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/SherTokenView/InvestorActions/SetCompensationMultiplierButton.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
Due: app-unit-tests, app-e2e-tests

Refactor code structure for improved readability and maintainability
  app/package-lock.json
  backend/package-lock.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: remove unused type import for keccak256 in WeeklyClaimActionDropdown and WeeklyClaimActionEnable components
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
Due: app-unit-tests, app-e2e-tests

style: improve code formatting for better readability in CompensationAmount, SetCompensationMultiplierButton, and InvestorsActions components
  app/src/components/forms/CompensationAmount.vue
  app/src/components/sections/SherTokenView/InvestorActions/SetCompensationMultiplierButton.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests
