Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

Remove unnecessary whitespace in DepositBankForm.vue template
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

Implement withdrawToken and withdraw functions in FeeCollector
  dashboard/app/composables/FeeCollector/writes.ts
Due: none

Remove owner status display from Token Holdings header in TokenHoldingsTable.vue
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
Due: none

Refactor FeeCollector components: remove unused fee collector owner logic and console logs
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
  dashboard/app/composables/FeeCollector/read.ts
  dashboard/app/composables/useFeeCollector.ts
  dashboard/app/utils/index copy.ts
Due: none

Refactor backend health check: migrate to Axios and create useBackendHealthQuery
  app/src/composables/useBackendWake.ts
  app/src/queries/health.queries.ts
  app/src/queries/index.ts
Due: app-unit-tests, app-e2e-tests

Refactor API calls: update token validation and health check queries to use consistent refetching and stale time settings
  app/src/queries/auth.queries.ts
  app/src/queries/health.queries.ts
Due: app-unit-tests, app-e2e-tests

Refactor team management: migrate to useTeams query and simplify team loading logic
  app/src/components/forms/AddTeamForm.vue
  app/src/stores/teamStore.ts
  app/src/views/team/ListIndex.vue
Due: app-unit-tests, app-e2e-tests

Refactor team store: remove unused imports and clean up comments for clarity
  app/src/stores/teamStore.ts
Due: app-unit-tests, app-e2e-tests

Refactor auth and backend wake composables: remove unnecessary blank lines for cleaner code
  app/src/composables/useAuth.ts
  app/src/composables/useBackendWake.ts
Due: app-unit-tests, app-e2e-tests

Refactor token validation query: remove unnecessary comma for cleaner code
  app/src/queries/auth.queries.ts
Due: app-unit-tests, app-e2e-tests

Refactor API calls and team store: remove fetchTeam calls and update to use query invalidation for improved data handling
  app/src/components/sections/ContractManagementView/forms/CreateAddCampaign.vue
  app/src/components/sections/ContractManagementView/forms/__tests__/CreateAddCampaign.spec.ts
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/TeamMetaSection.vue
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
  app/src/components/sections/DashboardView/__tests__/TeamMeta.spec.ts
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
  app/src/queries/team.queries.ts
  app/src/stores/teamStore.ts
  app/src/views/team/[id]/ShowIndex.vue
  app/src/views/team/[id]/__tests__/ContractManagementView.spec.ts
Due: app-unit-tests, app-e2e-tests

Add submit restriction route to server configuration
  backend/src/config/serverConfig.ts
Due: api-unit-tests

Implement submit restriction controller with CRUD operations for global settings and team overrides
  backend/src/controllers/submitRestrictionController.ts
Due: api-unit-tests

Add validation schemas for submit restrictions and related queries
  backend/src/validation/submitRestrictionValidation.ts
Due: api-unit-tests

Add submit restriction utility functions for team and global settings
  backend/src/utils/submitRestrictionUtils.ts
Due: api-unit-tests

Add submit restriction routes for team overrides and global settings
  backend/src/routes/submitRestrictionRoutes.ts
Due: api-unit-tests

Refactor code for clarity and consistency: remove unused imports, clean up comments, and adjust formatting across multiple components and tests
  app/src/components/sections/ContractManagementView/forms/CreateAddCampaign.vue
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
  app/src/components/sections/DashboardView/__tests__/TeamMeta.spec.ts
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
  app/src/queries/team.queries.ts
  app/src/stores/teamStore.ts
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor health query: remove unnecessary comma for cleaner code
  app/src/queries/health.queries.ts
Due: app-unit-tests, app-e2e-tests

Replace submit restriction routes with feature routes in server configuration
  backend/src/config/serverConfig.ts
Due: api-unit-tests

Implement feature CRUD operations and team overrides in featureController
  backend/src/controllers/featureController.ts
  backend/src/controllers/submitRestrictionController.ts
Due: api-unit-tests

Add feature CRUD and team override endpoints in featureRoutes
  backend/src/routes/featureRoutes.ts
  backend/src/routes/submitRestrictionRoutes.ts
Due: api-unit-tests

Refactor feature and submit restriction utilities; add validation schemas for features and team overrides
  backend/src/utils/featureUtils.ts
  backend/src/utils/submitRestrictionUtils.ts
  backend/src/validation/featureValidation.ts
  backend/src/validation/submitRestrictionValidation.ts
Due: api-unit-tests

Refactor featureController to streamline comments and improve readability
  backend/src/controllers/featureController.ts
Due: api-unit-tests

Refactor AddMemberForm and tests: replace custom fetch with useAddMembers mutation and streamline error handling
  app/src/components/TheDrawer.vue
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
  app/src/queries/member.queries.ts
Due: app-unit-tests, app-e2e-tests

Refactor TeamMetaSection: streamline API calls by replacing custom fetch with useUpdateTeam and useDeleteTeam mutations, and add unit tests for component functionality
  app/src/components/sections/DashboardView/TeamMetaSection.vue
  app/src/components/sections/DashboardView/__tests__/TeamMetaSection.spec.ts
Due: app-unit-tests, app-e2e-tests

Refactor team store and ShowIndex component: replace custom team data handling with currentTeamMeta, streamline error handling and loading states
  app/src/stores/teamStore.ts
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

Refactor API calls in team queries: add AxiosError type for better error handling and update ShowIndex component to improve error messaging and contract check logic
  app/src/queries/team.queries.ts
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

Refactor MemberSection component: update API calls to use currentTeamMeta for improved data handling and streamline loading states
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

Deprecate useCustomFetch: recommend using apiClient from '@/lib/axios' for API calls
  app/src/composables/useCustomFetch.ts
Due: app-unit-tests, app-e2e-tests

Refactor API calls in team queries and ShowIndex component: streamline error handling and improve readability
  app/src/queries/team.queries.ts
  app/src/stores/teamStore.ts
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

Add DeleteMemberModal and SetMemberWageModal components: implement member deletion and wage setting functionality
  app/src/components/sections/DashboardView/DeleteMemberModal.vue
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
  app/src/queries/member.queries.ts
  app/src/queries/wage.queries.ts
Due: app-unit-tests, app-e2e-tests

Export member queries in central query index for improved accessibility
  app/src/queries/index.ts
Due: app-unit-tests, app-e2e-tests

Fix logout functionality to use mutate method and update address handling in LockScreen component
  app/src/components/LockScreen.vue
Due: app-unit-tests, app-e2e-tests

Add feature listing and retrieval endpoints with tests
  backend/bruno/CNCPortal/Feature Flags API/Feature - 01 - List All Features.bru
  backend/bruno/CNCPortal/Feature Flags API/Feature - 02 - Get Feature.bru
Due: api-unit-tests

Add feature creation and update endpoints with tests
  backend/bruno/CNCPortal/Feature Flags API/Feature - 03 - Create Feature.bru
  backend/bruno/CNCPortal/Feature Flags API/Feature - 04 - Update Feature.bru
Due: api-unit-tests

Add delete and update endpoints for team overrides with tests
  backend/bruno/CNCPortal/Feature Flags API/Feature - 05 - Delete Feature.bru
  backend/bruno/CNCPortal/Feature Flags API/Feature - 06 - Create Team Override.bru
  backend/bruno/CNCPortal/Feature Flags API/Feature - 07 - Update Team Override.bru
  backend/bruno/CNCPortal/Feature Flags API/Feature - 08 - Delete Team Override.bru
Due: api-unit-tests

Add test feature name and team ID variables to environment configuration
  backend/bruno/CNCPortal/environments/CNCURI.bru
Due: api-unit-tests

Add edge case tests for feature and team overrides, including invalid names, statuses, and not found scenarios
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 01 - Create Feature - Invalid Name.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 02 - Create Feature - Invalid Status.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 03 - Update Feature - Not Found.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 04 - Delete Feature - Not Found.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 05 - Create Team Override - Invalid TeamId.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 06 - Create Team Override - Team Not Found.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 07 - Create Team Override - Feature Not Found.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 08 - Create Team Override - Duplicate Override.bru
  backend/bruno/CNCPortal/Feature Flags API/edge/Feature -  Edge Case - 09 - Unauthorized - Missing Token.bru
Due: api-unit-tests

Refactor account handling: replace useAccount with useConnection and useChainId in various components
  app/src/App.vue
  app/src/components/LockScreen.vue
  app/src/composables/bank/writes.ts
  app/src/composables/bod/writes.ts
  app/src/composables/contracts/README.md
  app/src/composables/contracts/useContractWritesV2.ts
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

rename files
  backend/bruno/CNCPortal/Feature/Feature - 01 - List All Features.bru
  backend/bruno/CNCPortal/Feature/Feature - 02 - Get Feature.bru
  backend/bruno/CNCPortal/Feature/Feature - 03 - Create Feature.bru
  backend/bruno/CNCPortal/Feature/Feature - 04 - Update Feature.bru
  backend/bruno/CNCPortal/Feature/Feature - 05 - Delete Feature.bru
  backend/bruno/CNCPortal/Feature/Feature - 06 - Create Team Override.bru
  backend/bruno/CNCPortal/Feature/Feature - 07 - Update Team Override.bru
  backend/bruno/CNCPortal/Feature/Feature - 08 - Delete Team Override.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 01 - Create Feature - Invalid Name.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 02 - Create Feature - Invalid Status.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 03 - Update Feature - Not Found.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 04 - Delete Feature - Not Found.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 05 - Create Team Override - Invalid TeamId.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 06 - Create Team Override - Team Not Found.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 07 - Create Team Override - Feature Not Found.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 08 - Create Team Override - Duplicate Override.bru
  backend/bruno/CNCPortal/Feature/edge/Feature -  Edge Case - 09 - Unauthorized - Missing Token.bru
Due: api-unit-tests
