Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: ✨ Implement submission restrictions for claims based on the current week
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ Add submission restriction utilities for claims
  backend/src/utils/__tests__/featureUtils.test.ts
  backend/src/utils/featureUtils.ts
  dashboard/app/queries/feature.query.ts
Due: api-unit-tests

feat: ✨ Implement server-side submission restrictions for claims
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryDailyBreakdown.spec.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: ✨ Integrate submission restriction handling in ClaimHistory components
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryDailyBreakdown.vue
Due: app-unit-tests, app-e2e-tests

Apply suggestions from code review
  backend/src/controllers/__tests__/fixedReturnOfferingController.test.ts
Due: api-unit-tests

[Feat] Persist off-chain title/purpose metadata for FixedReturn lending offers (#2201)
  backend/prisma/migrations/20260626051210_add_fixed_return_offering/migration.sql
  backend/prisma/schema.prisma
  backend/src/artifacts/fixed-return.json
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/fixedReturnOfferingController.test.ts
  backend/src/controllers/fixedReturnOfferingController.ts
  backend/src/routes/fixedReturnOfferingRoute.ts
  backend/src/validation/index.ts
  backend/src/validation/schemas/__tests__/fixedReturnOffering.test.ts
  backend/src/validation/schemas/fixedReturnOffering.ts
Due: api-unit-tests

feat: ✨ add FixedReturn offering metadata query
  app/src/queries/__tests__/fixedReturnOffering.queries.spec.ts
  app/src/queries/fixedReturnOffering.queries.ts
  app/src/queries/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ extract view utils into FixedReturn step components
  app/src/components/sections/FixedReturnView/OfferingAccessStep.vue
  app/src/components/sections/FixedReturnView/OfferingSummaryCard.vue
  app/src/components/sections/FixedReturnView/OfferingsList.vue
  app/src/components/sections/FixedReturnView/StatusBadge.vue
  app/src/components/sections/FixedReturnView/StepIndicator.vue
  app/src/components/sections/FixedReturnView/WhitelistEditor.vue
  app/src/components/sections/FixedReturnView/__tests__/OfferingsList.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement apply-to-lend flow with cap tracking
  app/src/components/sections/FixedReturnView/ApplyOfferingModal.vue
  app/src/components/sections/FixedReturnView/LenderMarketplace.vue
  app/src/components/sections/FixedReturnView/OfferingDetail.vue
  app/src/components/sections/FixedReturnView/__tests__/ApplyOfferingModal.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/LenderMarketplace.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingDetail.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 restore StepIndicator.vue, still used by CommunityCreditView
  app/src/components/sections/FixedReturnView/StepIndicator.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add ponder as a moveConstants sync destination
  contract/scripts/moveConstants.ts
Due: contract-unit-tests

feat: ✨ resolve ponder addresses from per-network artifact
  ponder/.env.local.example
  ponder/README.md
  ponder/artifacts/deployed_addresses/.gitignore
  ponder/artifacts/deployed_addresses/chain-11155111.json
  ponder/artifacts/deployed_addresses/chain-137.json
  ponder/artifacts/deployed_addresses/chain-80002.json
  ponder/ponder.config.ts
Due: none

update hardhat deployed address
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

feat: ✨ resolve Ponder addresses from synced deployment artifacts (#2219)
  contract/scripts/moveConstants.ts
  ponder/.env.local.example
  ponder/README.md
  ponder/artifacts/deployed_addresses/.gitignore
  ponder/artifacts/deployed_addresses/chain-11155111.json
  ponder/artifacts/deployed_addresses/chain-137.json
  ponder/artifacts/deployed_addresses/chain-80002.json
  ponder/ponder.config.ts
Due: contract-unit-tests

refactor: ♻️ decode Officer proxy from deployment receipt logs
  app/src/composables/contracts/__tests__/useOfficerDeployment.spec.ts
  app/src/composables/contracts/useOfficerDeployment.ts
  app/src/utils/__tests__/contractDeploymentUtil.spec.ts
  app/src/utils/contractDeploymentUtil.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ stub parseEventLogs via the global viem setup mock
  app/src/composables/contracts/__tests__/useOfficerDeployment.spec.ts
  app/src/tests/setup/viem.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ stub getConnections via the global wagmi mock
  app/src/composables/contracts/__tests__/useOfficerDeployment.spec.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ decode Officer proxy from deployment receipt logs (#2221)
  app/src/composables/contracts/__tests__/useOfficerDeployment.spec.ts
  app/src/composables/contracts/useOfficerDeployment.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/tests/setup/viem.setup.ts
  app/src/utils/__tests__/contractDeploymentUtil.spec.ts
  app/src/utils/contractDeploymentUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ Vesting contract — agreement-then-mint, per-team via Officer
  app/src/artifacts/abi/json/Vesting.json
  contract/contracts/Officer.sol
  contract/contracts/Vesting.sol
  contract/contracts/interfaces/IVesting.sol
  contract/ignition/modules/OfficerModule.ts
  contract/ignition/modules/VestingBeaconModule.ts
  contract/ignition/modules/VestingProxyModule.ts
  contract/test/Officer.deployments.spec.ts
  contract/test/Vesting.spec.ts
  dashboard/app/artifacts/abi/json/Vesting.json
  ponder/abis/json/Vesting.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: ✨ index per-team Vesting events in Ponder
  ponder/abis/vesting.ts
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/scripts/generate-abis.ts
  ponder/src/index.ts
Due: none

docs: 📝 describe the agreement-then-mint Vesting model
  docs/contracts/README.md
  docs/contracts/contracts-quick-reference.md
Due: none

refactor: ♻️ Vesting UI — Officer lookup, no approve, mint-on-release
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/VestingView/VestingSummary.vue
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingErrors.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
  app/src/composables/contracts/__tests__/errorCatalogs.spec.ts
  app/src/composables/contracts/errorCatalogs.ts
  app/src/composables/vesting/reads.ts
  app/src/composables/vesting/useCreateVesting.ts
  app/src/constant/index.ts
  app/src/tests/mocks/store.mock.ts
  app/src/types/teamContract.ts
  app/src/types/vesting.ts
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove dead vestingStore mock
  app/src/stores/__mocks__/vestingStore.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove dead vestingStore mock (#2224)
  app/src/stores/__mocks__/vestingStore.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 deploy per-team Vesting via the Officer at team creation
  app/src/constant/index.ts
  app/src/utils/__tests__/contractDeploymentUtil.spec.ts
  app/src/utils/contractDeploymentUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance GeneralLedger and LedgerTable components with activity tracking
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add unit tests for describeEntry and enhance presenter functionality
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/utils/accounting/__tests__/describeEntry.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/__tests__/safe.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add name resolution for ledger entries and implement describeEntry utility
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/utils/accounting/describeEntry.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance ledger functionality with activity descriptions and name resolution
  app/src/utils/accounting/__tests__/fixtures.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/mappers/payrollAccrual.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add member address handling and payroll enrichment to accounting
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/enrichment.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/mappers/context.ts
  app/src/utils/accounting/mappers/safe.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ drive contract table with shared ownable+pausable ABI
  app/src/artifacts/abi/ownable-pausable.ts
  app/src/utils/contractManagementUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance UserComponent and LedgerTable with address visibility control
  app/src/components/UserComponent.vue
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ simplify accounting entry narration and remove name resolution
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/utils/accounting/describeEntry.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add weekEndSeconds function to calculate claim week end time
  app/src/utils/accounting/mappers/payrollAccrual.ts
  app/src/utils/accounting/mappers/safe.ts
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ streamline accounting tests by removing name resolution and enhancing activity descriptions
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/utils/accounting/__tests__/describeEntry.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add periodEnd field to LedgerEntry and update activity handling in ledgerPresenter
  app/src/utils/accounting/__tests__/fixtures.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add shares calculation to safe transfer mapping and extend MapperContext interface
  app/src/utils/accounting/__tests__/safe.spec.ts
  app/src/utils/accounting/mappers/context.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ drive contract table with shared ownable+pausable ABI (#2226)
  app/src/artifacts/abi/ownable-pausable.ts
  app/src/utils/contractManagementUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ Vesting — allow multiple schedules per member
  app/src/artifacts/abi/json/Vesting.json
  contract/contracts/Vesting.sol
  contract/contracts/interfaces/IVesting.sol
  contract/test/Vesting.spec.ts
  dashboard/app/artifacts/abi/json/Vesting.json
  ponder/abis/json/Vesting.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: ✨ index the per-schedule index on Vesting events
  ponder/abis/vesting.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: none
