Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

docs: 📝 document Safe conflict warnings
  docs/features/accounts/README.md
Due: none

refactor: ♻️ simplify Safe transaction responsibilities
  app/src/components/sections/SafeView/SafeTransactionMobileList.vue
  app/src/components/sections/SafeView/SafeTransactions.vue
  app/src/components/sections/SafeView/SafeTransactionsTable.vue
  app/src/components/sections/SafeView/__tests__/SafeTransactions.spec.ts
  app/src/composables/safe/__tests__/index.test.ts
  app/src/composables/safe/__tests__/useSafeTransactionActions.spec.ts
  app/src/composables/safe/index.ts
  app/src/composables/safe/useSafeTransactionActions.ts
  app/src/composables/safe/useSafeTransactionConflicts.ts
  app/src/utils/__tests__/safeTransactionState.spec.ts
  app/src/utils/safeTransactionState.ts
Due: app-unit-tests, app-e2e-tests

ci: 👷 ratchet architecture candidates
  .github/copilot-instructions/vue-component-standards.md
  app/package.json
  app/scripts/__tests__/check-architecture-candidates.node.mjs
  app/scripts/architecture-candidate-baseline.json
  app/scripts/check-architecture-candidates.mjs
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Safe transaction architecture
  docs/features/accounts/README.md
Due: none

refactor: ♻️ separate campaign rate write responsibilities
  app/scripts/architecture-candidate-baseline.json
  app/src/components/sections/ContractManagementView/TeamContractsDetail.vue
  app/src/composables/campaign/writes.ts
  app/src/composables/contracts/useCampaignContractDetails.ts
  docs/contracts/features/ad-campaign-manager/README.md
Due: app-unit-tests, app-e2e-tests

test: ✅ cover campaign rate write actions
  app/src/components/sections/ContractManagementView/__tests__/TeamContractDetailExtend.spec.ts
  app/src/composables/campaign/__tests__/writes.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ simplify member selection constraints
  app/scripts/architecture-candidate-baseline.json
  app/src/components/forms/AddTeamForm.vue
  app/src/components/forms/__tests__/AddTeamForm.safe-setup.spec.ts
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/ContractManagementView/forms/TransferOwnershipForm.vue
  app/src/components/sections/ContractManagementView/forms/__tests__/TransferOwnershipForm.spec.ts
  app/src/components/sections/DashboardView/forms/AddMemberForm.vue
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/AddSignerModal.spec.ts
  app/src/components/sections/VestingView/forms/VestingGrantDetails.vue
  app/src/components/utils/MultiSelectMemberInput.vue
  app/src/components/utils/SelectMemberInput.vue
  app/src/components/utils/__tests__/MultiSelectMemberInput.spec.ts
  app/src/components/utils/__tests__/SelectMemberInput.spec.ts
  app/src/types/member.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document shared member selection
  docs/features/contract-management/README.md
  docs/features/vesting/README.md
  docs/implementation/README.md
  docs/implementation/member-selection/README.md
Due: none

refactor: ♻️ localize pending Board action coordination
  app/scripts/architecture-candidate-baseline.json
  app/src/components/sections/ContractManagementView/MainContractActions.vue
  app/src/composables/contracts/usePendingBodActions.ts
  docs/features/contract-management/README.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 map Sprint 18 script actions to use cases
  docs/README.md
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/companies/README.md
  docs/features/sher-token/README.md
Due: none

feat: ✨ scaffold the Payment Gate v0 embeddable widget
  app/.gitignore
  app/eslint.config.js
  app/package-lock.json
  app/package.json
  app/src/components/sections/PaymentGateView/PaymentGateWidgetView.vue
  app/src/components/sections/PaymentGateView/WidgetPreviewCard.vue
  app/src/e2e/mockConnector.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/utils/paymentGate/__tests__/factureCalldata.spec.ts
  app/src/utils/paymentGate/factureCalldata.ts
  app/src/widget/WidgetApp.vue
  app/src/widget/__tests__/payment.spec.ts
  app/src/widget/main.ts
  app/src/widget/payment.ts
  app/src/widget/style.css
  app/src/widget/wagmiConfig.ts
  app/vite.widget.config.ts
  docs/testing/MCP_E2E_PATTERN.md
Due: app-unit-tests, app-e2e-tests

chore: 🔧 drop local-only E2E pattern notes from the PR
  docs/testing/MCP_E2E_PATTERN.md
Due: none

feat: ✨ add a local preview server for the Payment Gate widget
  app/package.json
  app/scripts/serve-widget.mjs
Due: app-unit-tests, app-e2e-tests

feat: ✨ replace the widget's per-order <div>/<script> embed with a JS API
  app/src/components/sections/PaymentGateView/IntegrationCard.vue
  app/src/widget/main.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ group PaymentGateWidgetView's order/status props
  app/src/components/sections/PaymentGateView/PaymentGateWidgetView.vue
  app/src/components/sections/PaymentGateView/WidgetPreviewCard.vue
  app/src/widget/WidgetApp.vue
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ localize contract generation read model
  app/scripts/architecture-candidate-baseline.json
  app/src/components/sections/ContractManagementView/DeploymentHistorySection.vue
  app/src/components/sections/ContractManagementView/MainContractSection.vue
  app/src/composables/contracts/useContractManagementGenerations.ts
  app/src/types/deployments.ts
  app/src/views/team/[id]/ContractManagementView.vue
  app/src/views/team/[id]/__tests__/ContractManagementView.spec.ts
  docs/features/contract-management/README.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 restrict Bank classification to Bank owner
  docs/features/accounting/README.md
Due: none

docs: 📝 restrict Bank classification to team owner
  docs/features/accounting/README.md
Due: none

chore: 🔧 drop the local widget preview server script
  app/scripts/serve-widget.mjs
  contract/package.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 restore contract/package.json from an earlier accidental commit
  contract/package.json
Due: contract-unit-tests

docs: 📝 rename SHER Token feature to shareholder management
  docs/README.md
  docs/features/README.md
  docs/features/shareholder-management/README.md
  docs/features/sher-token/README.md
Due: none

docs: 📝 order shareholder story overview
  docs/features/shareholder-management/README.md
Due: none

chore: 🔧 document retained architecture candidate boundaries
  app/scripts/architecture-candidate-baseline.json
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh shared route ownership
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/community-credit/README.md
  docs/features/community-credit/user-flow-analysis.md
Due: none

fix: 🐛 restore client type-check
  app/src/components/sections/CommunityCreditView/CreditAccountTransactions.vue
  app/src/components/sections/CommunityCreditView/CreditCallAccessStep.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditRepayBreakdownTable.vue
  app/src/components/sections/CommunityCreditView/CreditRoundLedger.vue
  app/src/components/sections/CommunityCreditView/CreditWhitelistEditor.vue
  app/src/components/sections/ContractManagementView/AdvertisingCampaignWorkspace.vue
  docs/features/community-credit/README.md
  docs/features/contract-management/README.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 align grouped transaction row type
  app/src/components/sections/CommunityCreditView/CreditAccountTransactions.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 clarify shared team route ownership
  docs/features/companies/README.md
Due: none

feat: ✨ add classification routes and validation schemas for accounting transactions
  backend/src/routes/classificationRoute.ts
  backend/src/validation/index.ts
  backend/src/validation/schemas/classification.ts
Due: api-unit-tests

feat: ✨ add classification routes and controller for managing accounting classifications
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/classificationController.test.ts
  backend/src/controllers/classificationController.ts
Due: api-unit-tests

feat: ✨ add transaction classification model and update schema with new categories
  backend/prisma/migrations/20260821000000_add_transaction_classification/migration.sql
  backend/prisma/migrations/20260822000000_add_classification_expense_categories/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: ✨ implement applyClassification function and integrate it into bank and safe mappers
  app/src/utils/accounting/mappers/applyClassification.ts
  app/src/utils/accounting/mappers/bank.ts
  app/src/utils/accounting/mappers/context.ts
  app/src/utils/accounting/mappers/safe.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add ClassificationView component to display accounting classifications
  app/src/views/team/[id]/Accounting/ClassificationView.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add manual transaction classification support for Bank/Safe entries
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/classification.ts
  app/src/utils/accounting/classificationTarget.ts
  app/src/utils/accounting/ledgerEntry.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add ClassificationTable and LedgerClassificationCell components for transaction classification
  app/src/components/sections/AccountingView/ClassificationTable.vue
  app/src/components/sections/AccountingView/LedgerClassificationCell.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add manual classification for Bank/Safe transactions and update documentation
  app/src/composables/accounting/useCNCAccounting.ts
  docs/features/accounting/README.md
  docs/features/accounting/accounting-test-plan.md
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: app-unit-tests, app-e2e-tests

feat: ✨ add route and type for manual Bank/Safe transaction classification
  app/src/router/index.ts
  app/src/types/accounting-classification.ts
  app/src/types/index.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add manual classification queries and update sidebar navigation for Bank/Safe transactions
  app/src/components/sections/AccountingView/ClassificationTable.vue
  app/src/composables/useSidebarNavItems.ts
  app/src/queries/classification.queries.ts
Due: app-unit-tests, app-e2e-tests

docs: 📚 update documentation to reflect Accounting classification route and its relation to other features
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/community-credit/README.md
  docs/features/companies/README.md
  docs/features/payroll/README.md
  docs/implementation/feature-flags/README.md
Due: none

refactor: ♻️ lift Payment Gate token selection into IntegrationView
  app/src/components/sections/PaymentGateView/IntegrationCard.vue
  app/src/components/sections/PaymentGateView/TokenConfigCard.vue
  app/src/components/sections/PaymentGateView/WidgetPreviewCard.vue
  app/src/composables/usePaymentGateMockState.ts
  app/src/views/team/[id]/PaymentGate/IntegrationView.vue
Due: app-unit-tests, app-e2e-tests

docs: 📚 update accounting documentation to clarify manual classification of Bank/Safe transactions
  docs/features/accounting/README.md
  docs/features/accounting/accounting-test-plan.md
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: none
