Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

refactor: replace DeployContractSection with InvestorContractStep and update related documentation
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/components/sections/TeamView/forms/InvestorContractStep.vue
  app/src/components/sections/TeamView/forms/__tests__/ContinueAddTeamForm.spec.ts
  app/src/components/sections/TeamView/forms/__tests__/DeployContractSection.spec.ts
  docs/contracts/contracts-architecture-diagram.md
  docs/contracts/contracts-quick-reference.md
  docs/contracts/contracts-technical-architecture.md
Due: app-unit-tests, app-e2e-tests

fix(tests): remove unnecessary await in contract deployment event emission
  app/src/components/sections/TeamView/forms/__tests__/ContinueAddTeamForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify button structure and update deployment logic in InvestorContractStep
  app/src/components/sections/TeamView/forms/InvestorContractStep.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance form submission handling and improve team prop type in InvestorContractStep
  app/src/components/sections/TeamView/forms/InvestorContractStep.vue
Due: app-unit-tests, app-e2e-tests

fix: update team prop type to require full Team object in ContinueAddTeamForm
  app/src/components/sections/TeamView/forms/ContinueAddTeamForm.vue
Due: app-unit-tests, app-e2e-tests

fix: improve error handling by using computed registerErrorMessage in InvestorContractStep
  app/src/components/sections/TeamView/forms/InvestorContractStep.vue
Due: app-unit-tests, app-e2e-tests

fix: update TeamContract query to exclude 'Safe' type contracts in officer linking
  backend/prisma/migrations/20260414110402_add_team_officer_history/migration.sql
Due: api-unit-tests

refactor: enhance comments and update contract handling in contractController and validation schemas
  app/src/queries/contract.queries.ts
  backend/src/controllers/__tests__/contractController.test.ts
  backend/src/controllers/contractController.ts
  backend/src/routes/teamRoutes.ts
  backend/src/validation/schemas/contract.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: clean up whitespace and improve readability in ContinueAddTeamForm and InvestorContractStep components
  app/src/components/sections/TeamView/forms/ContinueAddTeamForm.vue
  app/src/components/sections/TeamView/forms/InvestorContractStep.vue
  backend/src/controllers/__tests__/contractController.test.ts
  contract/scripts/moveConstants.ts
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

chore: remove deployed_addresses.json from .gitignore and add it to the repository
  app/.gitignore
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

refactor: replace writeContract with executeContractWrite for officer deployment
  app/src/composables/contracts/useOfficerDeployment.ts
Due: app-unit-tests, app-e2e-tests

test: skip date formatting test when claim is not provided
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused tests for formatCryptoAmountWithPrecision
  app/src/utils/__tests__/currencyUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused imports in currency utility tests
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/utils/__tests__/currencyUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update ClaimForm to use new form data structure and validation
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: implement useClaimForm composable with validation and file handling
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
Due: app-unit-tests, app-e2e-tests

refactor: format code for better readability in useClaimForm interface
  app/src/composables/useClaimForm.ts
Due: app-unit-tests, app-e2e-tests

fix: adjust hoursWorked values in wageClaim tests for accuracy
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

refactor: remove thegraph compatibility layer and update event handlers
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactionFilter.vue
  app/src/components/sections/SherTokenView/InvestorsTransactionHistory.vue
  app/src/components/sections/SherTokenView/InvestorsTransactionTable.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionHistory.spec.ts
  app/src/queries/ponder/bank.queries.ts
  app/src/queries/ponder/investor.queries.ts
  app/src/types/index.ts
  app/src/types/ponder/bank.ts
  app/src/types/ponder/investor.ts
  app/src/types/transactions.ts
  app/src/utils/currencyUtil.ts
  app/src/views/team/[id]/Accounts/BankView.vue
  app/src/views/team/[id]/SherTokenView.vue
  ponder/.env.local.example
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/src/api/index.ts
  ponder/src/api/thegraph-compat.ts
  ponder/src/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove redundant error handling in useOfficerRedeploy mutations
  app/src/composables/contracts/useOfficerRedeploy.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline register mutation call in useOfficerRedeploy
  app/src/composables/contracts/useOfficerRedeploy.ts
Due: app-unit-tests, app-e2e-tests

refactor(backend): authz middleware, z.infer types, DB constraints, dead code (#1661)
  backend/prisma/migrations/20260418000000_wage_active_unique_and_indexes/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/memberController.test.ts
  backend/src/controllers/__tests__/notificationController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/claimController.ts
  backend/src/controllers/contractController.ts
  backend/src/controllers/expenseController.ts
  backend/src/controllers/memberController.ts
  backend/src/controllers/notificationController.ts
  backend/src/controllers/teamController.ts
  backend/src/controllers/wageController.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/middleware/teamAuthzMiddleware.ts
  backend/src/routes/claimRoute.ts
  backend/src/routes/contractRoutes.ts
  backend/src/routes/expenseRoute.ts
  backend/src/routes/storageRoute.ts
  backend/src/routes/teamRoutes.ts
  backend/src/routes/wageRoute.ts
  backend/src/routes/weeklyClaimRoute.ts
  backend/src/services/storageService.ts
  backend/src/validation/schemas/notification.ts
Due: api-unit-tests

style: format token assignment for better readability in BankTransactions and InvestorsTransactions components
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
Due: app-unit-tests, app-e2e-tests

refactor: rename formatCryptoAmountWithPrecision to formatAmountWithPrecision for clarity
  app/src/artifacts/abi/investor-v1.ts
  app/src/artifacts/abi/json/BaseGuard.json
  app/src/artifacts/abi/json/CompatibilityFallbackHandler.json
  app/src/artifacts/abi/json/CreateCall.json
  app/src/artifacts/abi/json/ERC1155TokenReceiver.json
  app/src/artifacts/abi/json/ERC721TokenReceiver.json
  app/src/artifacts/abi/json/ERC777TokensRecipient.json
  app/src/artifacts/abi/json/FallbackManager.json
  app/src/artifacts/abi/json/Guard.json
  app/src/artifacts/abi/json/GuardManager.json
  app/src/artifacts/abi/json/ModuleManager.json
  app/src/artifacts/abi/json/MultiSend.json
  app/src/artifacts/abi/json/MultiSendCallOnly.json
  app/src/artifacts/abi/json/NativeCurrencyPaymentFallback.json
  app/src/artifacts/abi/json/OwnerManager.json
  app/src/artifacts/abi/json/Safe.json
  app/src/artifacts/abi/json/SafeL2.json
  app/src/artifacts/abi/json/SafeProxy.json
  app/src/artifacts/abi/json/SafeProxyFactory.json
  app/src/artifacts/abi/json/SignMessageLib.json
  app/src/artifacts/abi/json/SimulateTxAccessor.json
  app/src/artifacts/abi/json/StorageAccessible.json
  app/src/artifacts/abi/json/TokenCallbackHandler.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  app/src/artifacts/deployed_addresses/elections-20260323.json
  app/src/artifacts/deployed_addresses/elections-20260324.json
  app/src/artifacts/deployed_addresses/elections-20260403.json
  app/src/artifacts/deployed_addresses/polygon-stack-20260403.json
  app/src/types/nuxt-imports.d.ts
  app/src/utils/currencyUtil.ts
Due: app-unit-tests, app-e2e-tests

replace formatCryptoAmountWithPrecision with formatAmountWithPrecision
  app/src/components/sections/SherTokenView/InvestorsTransactionTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: update InvestorsTransactionFilter tests for improved clarity and functionality
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionFilter.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update date formatting and type class mappings in InvestorsTransactionTable tests
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionTable.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor(backend): move team-authz predicates out of wageController
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/wageController.ts
  backend/src/middleware/teamAuthz.ts
  backend/src/middleware/teamAuthzMiddleware.ts
  backend/src/routes/wageRoute.ts
Due: api-unit-tests

refactor(backend): inline team-authz predicates, remove helpers
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/wageController.ts
  backend/src/middleware/teamAuthz.ts
  backend/src/middleware/teamAuthzMiddleware.ts
Due: api-unit-tests

review: address Copilot feedback on PR #1785
  backend/prisma/migrations/20260418000000_wage_active_unique_and_indexes/migration.sql
  backend/src/controllers/__tests__/notificationController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/memberController.ts
  backend/src/controllers/notificationController.ts
  backend/src/middleware/teamAuthzMiddleware.ts
Due: api-unit-tests

refactor(backend): Zod schema for Claim.fileAttachments + drop getContracts TODO
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/claimController.ts
  backend/src/controllers/contractController.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/services/__tests__/attachmentService.test.ts
  backend/src/services/attachmentService.ts
  backend/src/validation/__tests__/claim.test.ts
  backend/src/validation/schemas/claim.ts
Due: api-unit-tests

review: preserve unknown keys on refresh; loosen delete to fileKey-only
  backend/src/services/__tests__/attachmentService.test.ts
  backend/src/services/attachmentService.ts
Due: api-unit-tests

style: apply prettier formatting to attachmentService
  backend/src/services/attachmentService.ts
Due: api-unit-tests

chore(backend): remove commented-out imports in teamController
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix(backend/migration): exclude SafeDepositRouter from officer backfill
  backend/prisma/migrations/20260414110402_add_team_officer_history/migration.sql
Due: api-unit-tests

fix(backend): dedupe SyncContractsBody type and import Address
  backend/src/controllers/contractController.ts
Due: api-unit-tests

perf(backend): batch officerId backfill into a single updateMany
  backend/src/controllers/contractController.ts
Due: api-unit-tests

fix(backend): reject re-registering an Officer address on the same team
  backend/src/controllers/contractController.ts
Due: api-unit-tests

test(backend): cover createOfficer 409 branches for existing addresses
  backend/src/controllers/__tests__/contractController.test.ts
Due: api-unit-tests

fix: update tooltip formatting in ClaimHistoryWeekNavigator tests for clarity
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryWeekNavigator.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
