Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags:
          - app-unit-tests
      api:
        flags:
          - api-unit-tests
      contract:
        flags:
          - contract-unit-tests

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract

refactor: prevent duplicate selection of addresses in CreateOfficerTeam.vue
  app/src/components/forms/CreateOfficerTeam.vue
Due: app-unit-tests

refactor: update currency symbol in networks.json
  app/src/networks/networks.json
Due: app-unit-tests

refactor: remove and replace any type
  app/src/components/NotificationDropdown.vue
  app/src/components/sections/SingleTeamView/MemberCard.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
  app/src/components/sections/role-categories/RoleTable.vue
  app/src/utils/generalUtil.ts
Due: app-unit-tests

fix: add get to mock
  app/src/components/__tests__/NotificationDropdown.spec.ts
Due: app-unit-tests

test: add missing prop
  app/src/components/__tests__/MemberCard.spec.ts
Due: app-unit-tests

refactor: use generic types
  app/src/utils/generalUtil.ts
Due: app-unit-tests

style: prettier
  app/src/components/NotificationDropdown.vue
  app/src/components/__tests__/MemberCard.spec.ts
  app/src/components/__tests__/NotificationDropdown.spec.ts
  app/src/components/forms/roles/AddRoleCategoryForm.vue
  app/src/components/forms/roles/AddRoleForm.vue
  app/src/components/sections/SingleTeamView/MemberCard.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
  app/src/components/sections/SingleTeamView/forms/AddMemberRolesForm.vue
  app/src/types/inputs/member-input.ts
  app/src/types/role.ts
  app/src/utils/generalUtil.ts
Due: app-unit-tests

feat: change get contract to be public function
  app/src/services/expenseAccountService.ts
Due: app-unit-tests

feat: add useGetFunction
  app/src/composables/bank.ts
  app/src/composables/useExpenseAccount.ts
Due: app-unit-tests

feat: add views for function details
  app/src/components/sections/SingleTeamView/modals/ApproveRevokeAction.vue
Due: app-unit-tests

feat: update docker compose file for production
  docker-compose.yml
Due: none

fix: handle null or undefined
  app/src/components/sections/SingleTeamView/MemberCard.vue
Due: app-unit-tests

test: add test approve rovoke action and add mocks
  app/src/components/sections/SingleTeamView/modals/ApproveRevokeAction.vue
  app/src/components/sections/SingleTeamView/modals/__tests__/ApproveRevokeAction.spec.ts
  app/src/composables/__mocks__/bank.ts
  app/src/composables/__mocks__/bod.ts
  app/src/composables/__mocks__/useExpenseAccount.ts
  app/src/composables/bank.ts
Due: app-unit-tests

lint: remove unused
  app/src/components/sections/SingleTeamView/modals/__tests__/ApproveRevokeAction.spec.ts
Due: app-unit-tests

test: add composables tests
  app/src/composables/__tests__/bank.spec.ts
  app/src/composables/__tests__/useExpenseAccount.spec.ts
  app/src/composables/useExpenseAccount.ts
Due: app-unit-tests

feat: add investor contract
  contract/contracts/Investor/Investor.sol
  contract/contracts/Investor/types/MintAgreement.sol
Due: contract-unit-tests

test: add investor contract test
  contract/test/Investor.spec.ts
Due: contract-unit-tests

feat: add investor contract to officer contract
  contract/contracts/Officer.sol
Due: contract-unit-tests

test: update officer contract test
  contract/test/Investor.spec.ts
  contract/test/Officer.spec.ts
Due: contract-unit-tests

lint: fix lint
  contract/test/Investor.spec.ts
Due: contract-unit-tests

test: add more test
  contract/test/Voting.spec.ts
Due: contract-unit-tests

fix: add refetch after action get executed
  app/src/components/sections/SingleTeamView/modals/ApproveRevokeAction.vue
  app/src/components/sections/SingleTeamView/tables/ActionTable.vue
Due: app-unit-tests

fix: add member role type
  app/package-lock.json
  app/src/components/forms/roles/AddEntitlementForm.vue
  app/src/components/sections/SingleTeamView/MemberCard.vue
  app/src/types/inputs/member-input.ts
  app/src/types/role.ts
Due: app-unit-tests

fix: add role type
  app/src/components/forms/roles/AddRoleForm.vue
  app/src/components/sections/role-categories/RoleTable.vue
Due: app-unit-tests

fix: add role category type
  app/src/components/forms/roles/AddRoleCategoryForm.vue
  app/src/types/inputs/member-input.ts
  app/src/views/RoleCategoryView.vue
Due: app-unit-tests

style: prettier
  app/src/components/forms/roles/AddEntitlementForm.vue
  app/src/components/forms/roles/AddRoleCategoryForm.vue
  app/src/components/forms/roles/AddRoleForm.vue
Due: app-unit-tests

ci: add package-lock
  app/package-lock.json
Due: app-unit-tests

fix: delete member teams data
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: add teams data to user roles
  backend/prisma/migrations/20241016093820_permissioning_system_v2/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: update member teams data on add roles
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: add MemberTeamsData type
  app/src/types/team.ts
Due: app-unit-tests

feat: add member teams data to team response
  app/src/components/sections/SingleTeamView/MemberCard.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
  backend/src/controllers/teamController.ts
Due: app-unit-tests, api-unit-tests

fix: remove member teams data prop
  app/src/components/__tests__/MemberCard.spec.ts
  app/src/components/sections/SingleTeamView/MemberCard.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
  app/src/types/team.ts
Due: app-unit-tests

feat: add signing bonus
  contract/contracts/Investor/Investor.sol
Due: contract-unit-tests

test: fix tests
  contract/test/Investor.spec.ts
Due: contract-unit-tests

chore: remove unecessary code
  app/src/App.vue
Due: app-unit-tests

feat: refactor team member list
  app/src/components/sections/SingleTeamView/AddMemberCard.vue
  app/src/components/sections/SingleTeamView/MemberRow.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests

style: :lipstick: update delete action style
  app/src/components/sections/SingleTeamView/MemberRow.vue
Due: app-unit-tests

chore: remove add member card test
  app/src/components/__tests__/AddMemberCard.spec.ts
Due: app-unit-tests
