Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix: 🐛 update balance sheet tests to flag priced and unpriced native holdings accurately
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
Due: app-unit-tests, app-e2e-tests

style: 🎨 run prettier on CreditCallAccessStep files
  app/src/components/sections/CommunityCreditView/CreditCallAccessStep.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.validate.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enforce exact whitelist funding and polish Community Credit UX
  app/src/components/sections/CommunityCreditView/CreditCallAccessStep.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.validate.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallTermsStep.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditHistoryTable.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundCard.spec.ts
  app/src/components/sections/FixedReturnView/OfferingAccessStep.vue
  app/src/components/sections/FixedReturnView/WhitelistEditor.vue
  app/src/components/utils/SelectMemberResults.vue
  app/src/composables/fixedReturn/reads.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/types/communityCredit.schemas.ts
  app/src/types/communityCredit.ts
  app/src/types/index.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/communityCreditUtil.ts
  app/src/utils/offeringViewUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update accounting summary calculations to derive net income from the income statement for consistency
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove net income from summary assertions and update balance sheet checks for consistency
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/buildLedger.spec.ts
  app/src/utils/accounting/__tests__/nonRegression.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove unnecessary whitespace in LedgerTable.vue template
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 clarify memo-only entry descriptions and update Default-D handling in ledger functions
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/mappers/investor.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update tests to reflect unbacked mint as share issuance in accounting logic
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/investor.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ allow teams to share a name via a unique slug
  backend/prisma/migrations/20260710130001_team_unique_slug/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seeders/teams.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
  backend/src/utils/__tests__/slug.util.test.ts
  backend/src/utils/slug.util.ts
Due: api-unit-tests

feat: ✨ expose team slug in the frontend Team type
  app/src/components/forms/AddTeamForm.vue
  app/src/tests/mocks/query.mock.ts
  app/src/types/team.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 use a linear regex for slug trimming
  backend/src/utils/slug.util.ts
Due: api-unit-tests

test: ✅ cover the team slug unique-constraint retry branch
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

feat: ✨ allow duplicate team names with a unique slug (#2277)
  app/src/components/forms/AddTeamForm.vue
  app/src/tests/mocks/query.mock.ts
  app/src/types/team.ts
  backend/prisma/migrations/20260710130001_team_unique_slug/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seeders/teams.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
  backend/src/utils/__tests__/slug.util.test.ts
  backend/src/utils/slug.util.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

chore: 🔧 add github-flow skill for issue & PR management
  .claude/skills/github-flow/SKILL.md
  .gitignore
Due: none

chore: 🔧 add github-flow skill for issue & PR management (#2280)
  .claude/skills/github-flow/SKILL.md
  .gitignore
Due: none

feat: ✨ add version-aware ABI resolver (getAbi / useContractAbi)
  app/src/artifacts/__tests__/registry.spec.ts
  app/src/artifacts/abi/index.ts
  app/src/artifacts/abi/v1/index.ts
  app/src/artifacts/registry.ts
  app/src/composables/contracts/__tests__/useContractVersion.spec.ts
  app/src/composables/contracts/useContractAbi.ts
  app/src/composables/contracts/useContractVersion.ts
  app/src/types/team.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ resolve Bank ABI by team version
  app/src/composables/bank/reads.ts
  app/src/composables/bank/writes.ts
Due: app-unit-tests, app-e2e-tests

test: 🧪 add tests for merging bank fees and transaction hash functionality
  app/src/utils/accounting/__tests__/buildLedger.spec.ts
  app/src/utils/accounting/__tests__/mergeBankFees.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement merging of Bank protocol fees into transfers for cleaner ledger presentation
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/mergeBankFees.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add InvestorV2 with Merkle-pull shareholder migration
  contract/contracts/Investor/InvestorV2.sol
  contract/test/InvestorV2.spec.ts
Due: contract-unit-tests

refactor: ♻️ name the new share token Investor (drop version suffix)
  contract/contracts/Investor/Investor.sol
  contract/test/Investor.spec.ts
Due: contract-unit-tests

refactor: ♻️ adopt & enforce Chainlink Solidity style conventions in contracts (#2274)
  contract/.solhint.json
  contract/.solhintignore
  contract/contracts/AdCampaignManager.sol
  contract/contracts/Bank.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Elections/ElectionUtils.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/Proposals/ProposalUtils.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/Proxies.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/base/TokenSupport.sol
  contract/contracts/beacons/Beacon.sol
  contract/contracts/beacons/FactoryBeacon.sol
  contract/contracts/beacons/UserBeaconProxy.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/ICashRemuneration.sol
  contract/contracts/interfaces/IFeeCollector.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/contracts/interfaces/IInvestorV1.sol
  contract/contracts/interfaces/IMintableERC20.sol
  contract/contracts/interfaces/ISafeDepositRouter.sol
  contract/contracts/interfaces/IVesting.sol
  contract/package-lock.json
  contract/package.json
Due: contract-unit-tests

style: 💄 unbrace single-if-reverts in Investor (Chainlink solhint)
  contract/contracts/Investor/Investor.sol
Due: contract-unit-tests

refactor: ♻️ drop magic ABI resolver; keep explicit version signal
  app/src/artifacts/__tests__/registry.spec.ts
  app/src/artifacts/abi/index.ts
  app/src/artifacts/abi/v1/index.ts
  app/src/artifacts/registry.ts
  app/src/composables/bank/reads.ts
  app/src/composables/bank/writes.ts
  app/src/composables/contracts/README.md
  app/src/composables/contracts/__tests__/useContractVersion.spec.ts
  app/src/composables/contracts/useContractAbi.ts
  app/src/types/team.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ update historical token rates fetching to use market_chart/range for improved efficiency
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/accounting/useHistoricalTokenRates.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ reorder columns in accounting tables for consistency and clarity
  app/src/utils/__tests__/accountingExport.spec.ts
  app/src/utils/__tests__/accountingPdf.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ update balance sheet tests for improved clarity and accuracy in native holdings representation
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/historicalRate.spec.ts
  app/src/utils/accounting/__tests__/nonRegression.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ enhance documentation and improve number formatting for spreadsheet exports
  app/src/utils/accounting/mappers/expenseAccount.ts
  app/src/utils/accountingExport.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ improve documentation clarity and streamline code structure across accounting modules
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/historicalRate.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/mergeBankFees.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add Fee badge and filter to General ledger Activity
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
  app/src/utils/accounting/__tests__/ledgerFee.spec.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ show the Fee indicator as an Action badge, not on Account
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ make Fee a ledger filter pill that exports like the rest
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/utils/accounting/__tests__/ledgerFee.spec.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance FixedReturn contract with refund and partial funding mechanisms
  app/src/components/sections/CommunityCreditView/CreditCallAccessStep.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditLayoutSwitcher.vue
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRepayBreakdownTable.vue
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/CreditRoundGauge.vue
  app/src/components/sections/CommunityCreditView/CreditRoundLedger.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/components/sections/CommunityCreditView/CreditWhitelistEditor.vue
  app/src/components/sections/CommunityCreditView/RepayAmountPanel.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.validate.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallTermsStep.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditHistoryTable.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepayPanel.spec.ts
  app/src/composables/fixedReturn/__tests__/writes.spec.ts
  app/src/composables/fixedReturn/writes.ts
  app/src/router/index.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/fixedReturn.setup.ts
  app/src/types/__tests__/communityCredit.schemas.spec.ts
  app/src/types/communityCredit.schemas.ts
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/__tests__/communityCreditWhitelist.spec.ts
  app/src/utils/communityCreditUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RepayView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/test/FixedReturn.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 trim trailing zeros in General Ledger Rate column
  app/src/utils/accounting/__tests__/ledgerRate.spec.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ lay Accounting Summary cards out as a 3×2 grid
  app/src/components/sections/AccountingView/AccountingSummary.vue
Due: app-unit-tests, app-e2e-tests
