Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test ✅: cover the Community Credit mapper and its assembly
  app/src/utils/accounting/__tests__/assemble.fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/fixtures.ts
Due: app-unit-tests, app-e2e-tests

feat ✨: wire the FixedReturn feed into the accounting pipeline
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/utils/accounting/assemble.ts
Due: app-unit-tests, app-e2e-tests

feat ✨: map FixedReturn events to double-entry postings
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/mappers/fixedReturn.ts
  app/src/utils/accounting/mappers/index.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 make Vesting and FixedReturn beacons optional in Officer deployment
  app/src/constant/index.ts
  app/src/utils/__tests__/contractDeploymentUtil.spec.ts
  app/src/utils/contractDeploymentUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: update version headers in README files to v2
  app/README.md
  backend/readme.md
  dashboard/README.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: ♻️ split safe address setup out of SHER compensation toggle
  app/src/components/sections/SherTokenView/InvestorActions/SetSafeAddressAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/ToggleSherCompensationAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/SetSafeAddressAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/ToggleSherCompensationAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 call the SafeDepositRouter getters that the current ABI exposes
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/safeDepositRouter/reads.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 call the contract getters that the current ABIs expose
  app/src/components/sections/AdministrationView/BoDElectionDetailsSection.vue
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/composables/bod/writes.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ drop the commented-out read composables left by the getter migration
  app/src/composables/cashRemuneration/reads.ts
  app/src/composables/expenseAccount/reads.ts
Due: app-unit-tests, app-e2e-tests

build: 📦 distribute per-version deployed addresses to the backend
  backend/src/artifacts/deployed_addresses/V0.1/chain-137.json
  backend/src/artifacts/deployed_addresses/V0/chain-137.json
  backend/src/artifacts/deployed_addresses/V1/chain-137.json
  backend/src/artifacts/deployed_addresses/V2/chain-137.json
  contract/scripts/distribute-versions.mjs
Due: api-unit-tests, contract-unit-tests

refactor: ♻️ resolve Officer versions from the shared version registry
  backend/src/controllers/contractController.ts
  backend/src/utils/officerVersion.ts
Due: api-unit-tests

feat: ✨ add an admin endpoint that realigns every TeamOfficer version
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/officerVersionController.test.ts
  backend/src/controllers/officerVersionController.ts
  backend/src/routes/officerVersionRoutes.ts
  backend/src/validation/schemas/contract.ts
Due: api-unit-tests

feat: ✨ add an Officer version sync page to the dashboard
  dashboard/app/api/contract.ts
  dashboard/app/api/teams.ts
  dashboard/app/components/contracts/OfficerVersionTable.vue
  dashboard/app/composables/useContractRegistry.ts
  dashboard/app/composables/useOfficerBeaconSummary.ts
  dashboard/app/composables/useOfficerVersionAudit.ts
  dashboard/app/layouts/default.vue
  dashboard/app/pages/contracts/versions.vue
  dashboard/app/queries/contract.query.ts
  dashboard/app/queries/officerBeacon.query.ts
  dashboard/app/queries/officerVersion.query.ts
  dashboard/app/queries/team.query.ts
Due: none

fix: 🐛 restore the consolidated archive_and_hide migration
  backend/prisma/migrations/20260513120000_member_teams_is_hidden/migration.sql
  backend/prisma/migrations/20260527112240_archive_and_hide/migration.sql
Due: api-unit-tests

fix: 🐛 stop Community Credit amounts rounding to whole numbers
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/RepayAmountPanel.vue
  app/src/utils/communityCreditUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 treat any release of the active generation as migrated
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/contractController.ts
  backend/src/controllers/teamController.ts
  backend/src/utils/__tests__/officerVersion.test.ts
  backend/src/utils/officerVersion.ts
Due: api-unit-tests

feat: 🎨 colour the credit ledger badges by lifecycle phase
  app/src/utils/accounting/__tests__/ledgerCategory.spec.ts
  app/src/utils/accounting/ledgerCategory.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ recognise Community Credit interest as the term runs
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/utils/accounting/__tests__/chartOfAccounts.spec.ts
  app/src/utils/accounting/__tests__/creditAccrual.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/ledgerCategory.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/mappers/creditAccrual.ts
  app/src/utils/accounting/mappers/creditTimeline.ts
  app/src/utils/accounting/mappers/fixedReturn.ts
  app/src/utils/accounting/mergeBankFees.ts
  docs/features/accounting/cnc-accounting-spec.md
Due: app-unit-tests, app-e2e-tests

fix: 🚑️ resolve the conflicted stash pop in the dashboard accounting
  dashboard/app/utils/incomeStatement.ts
Due: none

feat: ✨ name and colour the interest a borrowing round owes
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/ledgerCategory.ts
  app/src/utils/accounting/ledgerEntry.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ owe the fixed return per lender the day a round funds
  app/src/utils/accounting/__tests__/creditAccrual.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/mappers/creditAccrual.ts
  app/src/utils/accounting/mappers/creditTimeline.ts
  app/src/utils/accounting/mappers/fixedReturn.ts
  docs/features/accounting/cnc-accounting-spec.md
Due: app-unit-tests, app-e2e-tests

feat: ✨ read each borrowing round's rate for the books
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/utils/accounting/assemble.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ move the journal's compound-posting dispatcher out of payroll
  app/src/utils/accounting/ledgerGrouping.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/payrollGrouping.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ read a lender's credit position as one entry, not several
  app/src/utils/accounting/__tests__/creditGrouping.spec.ts
  app/src/utils/accounting/creditGrouping.ts
  app/src/utils/accounting/ledgerGrouping.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ share the sample book the presenter specs run against
  app/src/utils/accounting/__tests__/fixtures.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ show what the team still owes its lenders on the summary
  app/src/utils/accounting/__tests__/summaryCards.spec.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ update sync mutation to invalidate all team weekly claims
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 prune resolved global mock exceptions
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove stale max-lines guidance
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

chore: 🔧 enforce non-empty object types
  app/eslint.config.js
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/queries/action.queries.ts
  app/src/queries/auth.queries.ts
  app/src/queries/health.queries.ts
  app/src/queries/notification.queries.ts
  app/src/queries/team.queries.ts
  app/src/types/safe.queries.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 make app lint checks non-mutating
  AGENTS.md
  app/package.json
Due: app-unit-tests, app-e2e-tests

feat: ✨ add a canonical display-formatting module
  app/src/utils/format/__tests__/address.spec.ts
  app/src/utils/format/__tests__/date.spec.ts
  app/src/utils/format/__tests__/number.spec.ts
  app/src/utils/format/address.ts
  app/src/utils/format/date.ts
  app/src/utils/format/index.ts
  app/src/utils/format/number.ts
  app/src/utils/format/shared.ts
  app/src/utils/formatAddress.ts
  app/src/utils/generalUtil.ts
  dashboard/app/utils/accounting.ts
  dashboard/app/utils/format/address.ts
  dashboard/app/utils/format/date.ts
  dashboard/app/utils/format/index.ts
  dashboard/app/utils/format/number.ts
  dashboard/app/utils/format/shared.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 enforce the canonical formatters with an ESLint ratchet
  app/eslint.config.js
  dashboard/eslint.config.mjs
Due: app-unit-tests, app-e2e-tests

ci: 👷 migrate Ponder linting to ESLint 9
  .github/workflows/ponder-code-quality.yml
  ponder/.eslintrc.json
  ponder/artifacts/deployed_addresses/chain-137.json
  ponder/eslint.config.mjs
  ponder/package-lock.json
  ponder/package.json
  ponder/ponder.config.ts
  ponder/scripts/generate-abis.ts
Due: none

docs: 📝 document the display-formatting standard
  .github/copilot-instructions/README.md
  .github/copilot-instructions/formatting-standards.md
  .github/copilot-instructions/review-checklist.md
  AGENTS.md
Due: none

chore: 🔧 use standard Node globals in contract linting
  contract/eslint.config.js
  contract/package-lock.json
  contract/package.json
Due: contract-unit-tests

test: ✅ stop AccountingView specs from writing real PDFs
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 ignore stray export artifacts at the root of app/
  .gitignore
Due: none

docs: 📝 map contract read/write cache invalidation coupling
  app/src/composables/contracts/INVALIDATION_MAP.md
  app/src/composables/contracts/README.md
Due: app-unit-tests, app-e2e-tests
