Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

refactor: enhance invalidateBankQueries to accept optional arguments and ensure proper query invalidation
  app/src/composables/bank/functions.ts
  app/src/composables/bank/writes.ts
  app/src/composables/transactions/useSafeSendTransaction.ts
Due: app-unit-tests, app-e2e-tests

feat: :zap: create function how close the modal
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: configure QueryClient with default options for query handling
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

refactor: improve transfer handling with delay and logging for transaction initiation
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

style: :zap: use flex method to organise the style
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

refactor: update transfer handling to use async writeContract and wait for transaction receipt
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unused toastStore import and commented-out error handling
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
Due: app-unit-tests, app-e2e-tests

refactor: integrate toastStore for error handling in monthly spent amount query
  app/src/components/sections/ExpenseAccountView/ExpenseMonthSpent.vue
Due: app-unit-tests, app-e2e-tests

refactor: update launch configuration to use Brave browser and adjust paths
  .vscode/launch.json
Due: none

refactor: format code for better readability in writes and main files
  app/src/composables/bank/writes.ts
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

test: skip ETH and USDC transfer tests in BankBalanceSection
  app/src/components/sections/BankView/__tests__/BankBalanceSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance modal management and reset functionality in InvestorsActions and MintForm components
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance modal state management and reset functionality in ShareholderList and MintForm components
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: update BankABI import and usage for consistency in BankBalanceSection
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

chore: format abi
  app/src/artifacts/abi/ad-campaign-manager.ts
  app/src/artifacts/abi/bank.ts
  app/src/artifacts/abi/board-of-directors.ts
  app/src/artifacts/abi/cash-remuneration-eip712.ts
  app/src/artifacts/abi/elections.ts
  app/src/artifacts/abi/expense-account-eip712.ts
  app/src/artifacts/abi/expense-account.ts
  app/src/artifacts/abi/investor-v1.ts
  app/src/artifacts/abi/investor.ts
  app/src/artifacts/abi/officer.ts
  app/src/artifacts/abi/proposals.ts
  app/src/artifacts/abi/tips.ts
  app/src/artifacts/abi/vesting.ts
  app/src/artifacts/abi/voting.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up formatting and whitespace in copy-abi script
  contract/scripts/copy-abi.ts
Due: contract-unit-tests

feat: improve modal state management in MemberSection for adding new members
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

feat: Add InvestorsV1UpgradeModule and update deployment files
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1UpgradeModule#Beacon_v2.dbg.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1UpgradeModule#Beacon_v2.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1UpgradeModule#InvestorV1_v2.dbg.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1UpgradeModule#InvestorV1_v2.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
  contract/ignition/modules/InvestorUpgradeModule.ts
Due: contract-unit-tests

feat: Add InvestorsV1UpgradeModule addresses to chain-137.json
  app/src/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, app-e2e-tests

fix: calculate end date relative to adjusted start date
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

feat: update modal management for distribute mint and pay dividends actions in InvestorsActions component
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add initial railway configuration file
  backend/railway.json
Due: api-unit-tests

feat: enhance modal management and reset functionality in CurrentBoDElectionSection and CreateElectionForm components
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance proposal creation modal with reset functionality and improved state management
  app/src/components/sections/ProposalsView/forms/CreateProposalForm.vue
  app/src/views/team/[id]/ProposalsView.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance modal management in ApproveUsersEIP712Form, ApprovedExpensesSection, and TransferAction components
  app/src/components/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

refactor: :art: format code
  app/src/artifacts/deployed_addresses/chain-137.json
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

fix: update builder configuration from NIXPACKS to Railpack
  backend/railway.json
Due: api-unit-tests

feat: add Dockerfile for Node.js application setup
  backend/file.to.remove
Due: api-unit-tests

chore: rename docker files
  app/frontend.Dockerfile
  backend/backend.Dockerfile
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: add section for app end-to-end testing in README
  README.md
Due: none

fix: correct typo in contribution guidelines section of README
  README.md
Due: none

fix: update TODO note in README for employee documentation
  app/README.md
Due: app-unit-tests, app-e2e-tests

fix: update TODO note in README to specify V2 documentation
  app/README.md
Due: app-unit-tests, app-e2e-tests

fix: update TODO note in README to include V3 documentation
  app/README.md
Due: app-unit-tests, app-e2e-tests

fix: remove obsolete railway configuration file
  backend/railway.json
Due: api-unit-tests

feat: improve modal state management and reset functionality in AdvertiseContractSection and CreateAddCampaign components
  app/src/components/sections/ContractManagementView/AdvertiseContractSection.vue
  app/src/components/sections/ContractManagementView/forms/CreateAddCampaign.vue
Due: app-unit-tests, app-e2e-tests

feat: update modal state structure in BankBalanceSection tests for improved clarity
  app/src/components/sections/BankView/__tests__/BankBalanceSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance add vesting modal management and add reset functionality in CreateVesting component
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/components/sections/VestingView/forms/CreateVesting.vue
Due: app-unit-tests, app-e2e-tests

fix: update storage initialization to support Railway credentials
  backend/src/utils/storage.ts
Due: api-unit-tests
