Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: Add mocks for CashRemuneration and ExpenseAccount contracts with owner withdrawal functions
  app/src/tests/mocks/contract.mock.ts
Due: app-unit-tests, app-e2e-tests

feat: Add unit tests for OwnerTreasuryWithdrawAction component
  app/src/components/sections/__tests__/OwnerTreasuryWithdrawAction.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: Add mock setup for CashRemuneration and ExpenseAccount components
  app/src/tests/setup/treasury.setup.ts
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

feat(abi): refactor ABI exports to use JSON imports for Bank, ERC20, and FeeCollector
  contract/hardhat.config.ts
  dashboard/app/artifacts/abi/bank.ts
  dashboard/app/artifacts/abi/erc20.ts
  dashboard/app/artifacts/abi/feeCollector.ts
Due: contract-unit-tests

fix: Update script quotes in package.json for consistency
  contract/package.json
Due: contract-unit-tests

style: Align address display in ExpenseStatsSection and CashRemunerationView
  app/src/components/sections/ExpenseAccountView/ExpenseStatsSection.vue
  app/src/views/team/[id]/Accounts/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

feat: add initial Ponder project setup with schema, config, and API
  ponder/.eslintrc.json
  ponder/.gitignore
  ponder/README.md
  ponder/abis/erc20ABI.ts
  ponder/package.json
  ponder/pnpm-lock.yaml
  ponder/ponder-env.d.ts
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/src/api/index.ts
  ponder/src/index.ts
  ponder/tsconfig.json
Due: none

fix: Remove unnecessary peer property from package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

feat: add FACTORY_BEACON_ABI and integrate with OfficerFactoryBeacon configuration and event handling
  ponder/abis/factory-beacon.ts
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: none

feat: add OFFICER_ABI and integrate Officer proxy handling in schema and event listeners
  ponder/abis/officer.ts
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: none

feat: update package.json and pnpm-lock.yaml to include tsx and generate-abis script
  ponder/package.json
  ponder/pnpm-lock.yaml
  ponder/scripts/generate-abis.ts
Due: none

feat: update officer ABI, add proposals and safe deposit router ABIs, and enhance ponder schema and event handling
  ponder/abis/bank.ts
  ponder/abis/board-of-directors.ts
  ponder/abis/cash-remuneration-e-i-p712.ts
  ponder/abis/cash-remuneration-eip712.ts
  ponder/abis/elections.ts
  ponder/abis/expense-account-e-i-p712.ts
  ponder/abis/expense-account-eip712.ts
  ponder/abis/factory-beacon.ts
  ponder/abis/investor-v1.ts
  ponder/abis/proposals.ts
  ponder/abis/safe-deposit-router.ts
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: none

feat: update README.md to include indexed events and setup instructions for CNC Portal Ponder Indexer
  ponder/README.md
Due: none

feat(api): add endpoints for contract events, team events, and user activity
  ponder/README.md
  ponder/ponder.schema.ts
  ponder/src/api/index.ts
Due: none

feat: add .env.local.example for environment configuration and update README.md with setup instructions
  ponder/.env.local.example
  ponder/README.md
  ponder/ponder.config.ts
Due: none

Implement feature X to enhance user experience and optimize performance
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

refactor: temporarily disable toast store mocks for implementation fixes
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.transfer.modal.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.transfer.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/AddSignerModal.spec.ts
  app/src/composables/safe/__tests__/useSafeExecution.spec.ts
  app/src/composables/safe/__tests__/useSafeOwnerManagement.spec.ts
  app/src/composables/safe/__tests__/useSafeProposal.spec.ts
  app/src/composables/safe/__tests__/useSafeProposal.state.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: temporarily disable toast verification in tests for implementation fixes
  app/src/composables/safe/__tests__/useSafeApproval.spec.ts
  app/src/composables/safe/__tests__/useSafeDeployment.spec.ts
  app/src/composables/safe/__tests__/useSafeExecution.advanced.spec.ts
  app/src/composables/safe/__tests__/useSafeExecution.spec.ts
  app/src/composables/safe/__tests__/useSafeOwnerManagement.errors.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update toast verification in tests to use mockToastAdd for consistency
  app/src/composables/safe/__tests__/useSafeExecution.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused mockToastAdd import from useSafeExecution tests
  app/src/composables/safe/__tests__/useSafeExecution.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: add .nuxt/**/*.d.ts to tsconfig.app.json include paths
  app/tsconfig.app.json
Due: app-unit-tests, app-e2e-tests

refactor: add useToast import to SafeDeploymentCard and AddSignerModal components
  app/src/components/sections/SafeView/SafeDeploymentCard.vue
  app/src/components/sections/SafeView/forms/AddSignerModal.vue
  app/tsconfig.app.json
Due: app-unit-tests, app-e2e-tests

feat: Enhance wage management with overtime rules and improved UI flow
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
Due: app-unit-tests, app-e2e-tests

feat: Add overtime management fields to Wage model and migration script
  backend/prisma/migrations/20260319123740_overtime_hours_per_week/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: Add optional overtime rates and maximum overtime hours to Wage interface
  app/src/queries/wage.queries.ts
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

feat: Add overtime rate and maximum overtime hours handling in wage controller and tests
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

feat: Add optional overtime rates to wage request body schema and update wage routes documentation
  backend/src/routes/wageRoute.ts
  backend/src/validation/schemas/wage.ts
Due: api-unit-tests

feat: Add tests for SetMemberWageModal including overtime handling and submission logic
  app/src/components/sections/DashboardView/__tests__/SetMemberWageModal.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add full scenario documentation for CNC Portal and TechDAO
  contract/SCENARIO_COMPLET.md
Due: contract-unit-tests

fix: correct formatting in SCENARIO_COMPLET.md for improved readability
  contract/SCENARIO_COMPLET.md
Due: contract-unit-tests

refactor: remove unused ABI files and improve error handling in generate-abis script
  ponder/.env.local.example
  ponder/abis/cash-remuneration-e-i-p712.ts
  ponder/abis/erc20ABI.ts
  ponder/abis/expense-account-e-i-p712.ts
  ponder/ponder.config.ts
  ponder/scripts/generate-abis.ts
  ponder/src/index.ts
Due: none

Refactored forms and related UI to use UForm, UButton, UInput, USelect, and UModal for improved consistency, structure, and validation handling across the app.
  app/src/components/forms/DepositSafeForm.vue
  app/src/components/forms/TokenAmount.vue
  app/src/components/forms/TransferForm.vue
  app/src/components/sections/SafeView/SafeBalanceSection.vue
  app/src/components/sections/SafeView/SafeTransactionStatusFilter.vue
  app/src/components/sections/SafeView/forms/AddSignerModal.vue
  app/src/components/sections/SafeView/forms/UpdateThresholdModal.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace toast store with toast utility for team creation feedback
  app/src/components/forms/AddTeamForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: update AddTeamForm to use UForm and improve validation handling
  app/src/components/forms/AddTeamForm.vue
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update UpdateThresholdModal binding and handleThresholdUpdated logic
  app/src/components/sections/SafeView/SafeOwnersCard.vue
Due: app-unit-tests, app-e2e-tests

refactor: update investor contract details section with descriptive text
  app/src/components/forms/AddTeamForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance AddTeamForm step indicators and improve user guidance
  app/src/components/forms/AddTeamForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove redundant headings and dividers from AddTeamForm steps
  app/src/components/forms/AddTeamForm.vue
Due: app-unit-tests, app-e2e-tests
