Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags:
          - app-unit-tests
      api:
        flags:
          - api-unit-tests
      contract:
        flags:
          - contract-unit-tests

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract

fix: remove comma
  backend/src/controllers/teamController.ts
Due: api-unit-tests

chore: apply suggestion
  contract/ignition/modules/OfficerModule.ts
Due: contract-unit-tests

Update contract/contracts/Officer.sol
  contract/contracts/Officer.sol
Due: contract-unit-tests

chore: Apply suggestions from code review
  contract/contracts/Officer.sol
Due: contract-unit-tests

chore: remove redundant check in contract
  contract/contracts/Officer.sol
Due: contract-unit-tests

feat: add pause and unpause functions
  contract/contracts/Officer.sol
Due: contract-unit-tests

fix types checks failing
  app/src/components/__tests__/TeamCard.spec.ts
  app/src/components/__tests__/TeamContracts.spec.ts
  app/src/components/forms/CreateAddCamapaign.vue
  app/src/components/forms/__tests__/CreateAddCampaign.spec.ts
  app/src/components/forms/__tests__/VoteForm.spec.ts
  app/src/services/AddCampaignService.ts
  app/src/types/team.ts
  contract/contracts/AdCampaignManager.sol
Due: app-unit-tests, contract-unit-tests

test: add more assertion
  contract/test/BoardOfDirectors.spec.ts
Due: contract-unit-tests

feat: improve ux
  app/src/components/forms/CreateOfficerTeam.vue
  app/src/components/forms/OfficerForm.vue
  app/src/views/SingleTeamView.vue
  app/src/wagmi.config.ts
Due: app-unit-tests

feat: improve ux
  app/src/components/forms/CreateOfficerTeam.vue
  app/src/components/forms/OfficerForm.vue
  app/src/views/SingleTeamView.vue
Due: app-unit-tests

feat: deploy voting contract
  app/src/components/forms/CreateOfficerTeam.vue
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

chore: update bod abi
  app/src/artifacts/abi/bod.json
Due: app-unit-tests

fix: wagmi error
  app/src/__tests__/wagmi.spec.ts
Due: app-unit-tests

refactor: temp switch to ethers
  app/src/components/forms/CreateOfficerTeam.vue
  app/src/components/forms/OfficerForm.vue
  app/src/composables/officer.ts
  app/src/services/officerService.ts
  app/src/wagmi.config.ts
Due: app-unit-tests

fix: wagmi tests
  app/src/__tests__/wagmi.spec.ts
Due: app-unit-tests

feat: add sender in bank and fix tests
  contract/contracts/Bank.sol
  contract/contracts/Officer.sol
  contract/test/Bank.spec.ts
  contract/test/BankBeacon.spec.ts
  contract/test/BoardOfDirectors.spec.ts
Due: contract-unit-tests

Revert "feat: add sender in bank and fix tests"
  contract/contracts/Bank.sol
  contract/contracts/Officer.sol
  contract/test/Bank.spec.ts
  contract/test/BankBeacon.spec.ts
  contract/test/BoardOfDirectors.spec.ts
Due: contract-unit-tests

feat: add tests for officer composable and service
  app/src/composables/__tests__/officer.spec.ts
  app/src/services/__tests__/officerService.spec.ts
Due: app-unit-tests

feat: approve owner on initialization
  contract/contracts/expense-account/ExpenseAccount.sol
Due: contract-unit-tests

test: add approve owner by default test
  contract/test/ExpenseAccount.spec.ts
Due: contract-unit-tests

tests: officer form and create team
  app/src/components/forms/OfficerForm.spec.ts
  app/src/components/forms/__tests__/CreateOfficerTeam.spec.ts
Due: app-unit-tests

test: unpause and pause
  contract/test/Officer.spec.ts
Due: contract-unit-tests

refactor: tests
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

feat: add chain ids to hardhat config
  contract/hardhat.config.ts
Due: contract-unit-tests

feat: add expense account upgrade module
  contract/ignition/modules/ExpenseAccountUpgradeModule.ts
Due: contract-unit-tests

refactor: add express account upgrade module addresses
  app/src/constant/index.ts
Due: app-unit-tests

refactor: update contract initialization parameters for ownership
  contract/contracts/Bank.sol
  contract/contracts/Officer.sol
  contract/contracts/Voting/Voting.sol
  contract/test/Bank.spec.ts
  contract/test/BankBeacon.spec.ts
  contract/test/BoardOfDirectors.spec.ts
  contract/test/Voting.spec.ts
Due: contract-unit-tests

fix: ownership to sender from officer contract & deploy
  app/src/artifacts/abi/bank.json
  app/src/artifacts/abi/voting.json
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
  contract/ignition/modules/BankBeaconModule.ts
  contract/ignition/modules/VotingBeaconModule.ts
Due: app-unit-tests, contract-unit-tests

tests: officer form and create team
  app/src/components/forms/__tests__/CreateOfficerTeam.spec.ts
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

feat: update employee contract to be able to have an active offer and a pending offer
  contract/contracts/Employee.sol
Due: contract-unit-tests

feat: introduce emploee address, so we can list address
  contract/contracts/Employee.sol
Due: contract-unit-tests

feat: :zap: Improve Employee contract perf and Dev Experience
  contract/contracts/Employee.sol
Due: contract-unit-tests

feat: add isEmployee Function to check if an address is an employee
  contract/contracts/Employee.sol
Due: contract-unit-tests
