Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: improve nonce retrieval tests to handle user existence and address parameter
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: fix test
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTable.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :zap: test: improve test of 500 return
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: add tests
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTable.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update user retrieval endpoint to accept address parameter and remove unnecessary logs
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

fix: update user routes to use dynamic address parameter and improve error handling in user retrieval
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: add test for missing address in user update and improve user not found response
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: :zap: improve test for getAllUsers who return 200
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

test: :zap: test: improve test for searchUsers when he return 200
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

feat: add erc20 support
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

test: approve and withdraw
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

test: unauthorised sign
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

test: withdrawer not approved
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

test: wage already paid
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

test: use paused contract
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

style: prettier
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

test: add remove supported tokens
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

doc: add natspec comments
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

contracts initilization
  contract/contracts/CommisionManager.sol
  contract/contracts/bank/BankV1.sol
  contract/contracts/bank/BankV2.sol
  contract/contracts/interfaces/ICommisionManager.sol
Due: contract-unit-tests

test: improve user retrieval tests for missing address and update error handling
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

fix: update user route to remove address parameter and improve error handling in user retrieval tests
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

fix: update user route to include address parameter and improve error handling in updateUser function
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: enable error handling test for updateUser and simulate update timestamp
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

fix: update user address validation in updateUser function
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: refactor authController tests for improved structure and clarity
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: add error handling test for 500
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: refactor authorization test setup by removing redundant middleware initialization
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: improve error handling for internal server error in token endpoint
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: enhance updateUser middleware to handle missing address and improve error logging
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: improve test
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/userController.ts
Due: api-unit-tests

test: add successful authentication test and clean up error handling in authenticateToken
  backend/src/controllers/__tests__/authController.test.ts
  backend/src/controllers/authController.ts
Due: api-unit-tests

test: remove unused imports in authController test file
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

remove file
  package-lock.json
  package.json
Due: none

test: use faker to generate dynamic Ethereum addresses in authorization middleware
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

Revert "Add unit tests for user controller and setup Vitest"
  backend/package-lock.json
  backend/package.json
  package-lock.json
Due: api-unit-tests

chore: remove package-lock.json file
  package-lock.json
Due: none

Update README.md
  app/README.md
Due: app-unit-tests, app-e2e-tests

ci: update workflow triggers for Vitest unit tests to run when the label run is added to the PR
  .github/workflows/app-vitest.yml
  .github/workflows/backend-vitest.yml
  .github/workflows/contract-vitest.yml
Due: none

feat: add description field to wage claim submission
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve modal handling and validation for wage claim submission
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
