Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix: 🐛 add missing newline at end of chain-137.json
  app/src/artifacts/deployed_addresses/chain-137.json
  ponder/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, app-e2e-tests

Update deployed addresses for chain-137 with new upgrade modules and their respective factory beacons
  app/src/artifacts/deployed_addresses/chain-137.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationV201UpgradeModule#CashRemunerationEIP712_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationV201UpgradeModule#CashRemunerationFactoryBeacon_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountV201UpgradeModule#ExpenseAccountEIP712_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountV201UpgradeModule#ExpenseAccountFactoryBeacon_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/InvestorV201UpgradeModule#InvestorBeacon_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/InvestorV201UpgradeModule#Investor_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/OfficerV201UpgradeModule#OfficerFactoryBeacon_v2_0_1.json
  contract/ignition/deployments/chain-137/artifacts/OfficerV201UpgradeModule#Officer_v2_0_1.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
  dashboard/app/artifacts/deployed_addresses/chain-137.json
  ponder/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 format Polygon deployment artifacts
  app/src/artifacts/deployed_addresses/chain-137.json
  ponder/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 align Polygon deployment artifacts
  contract/ignition/deployments/chain-137/deployed_addresses.json
  dashboard/app/artifacts/deployed_addresses/chain-137.json
Due: contract-unit-tests

fix: 🐛 identify Officer permission holders
  app/src/components/sections/SherTokenView/InvestorPermissionsSection.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorPermissionsSection.spec.ts
  app/src/composables/investor/permissions.ts
  app/src/queries/__tests__/investorPermissions.queries.spec.ts
  app/src/utils/investors/__tests__/permissions.spec.ts
  app/src/utils/investors/permissions.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Officer permission identities
  docs/features/shareholder-management/README.md
Due: none

fix: 🐛 respect contract pause capabilities
  app/src/components/sections/ContractManagementView/MainContractActionMenu.vue
  app/src/components/sections/ContractManagementView/MainContractActions.vue
  app/src/components/sections/ContractManagementView/MainContractDesktopTable.vue
  app/src/components/sections/ContractManagementView/MainContractMobileCard.vue
  app/src/components/sections/ContractManagementView/MainContractTable.types.ts
  app/src/components/sections/ContractManagementView/MainContractTable.vue
  app/src/components/sections/ContractManagementView/__tests__/MainContractActionMenu.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/MainContractActions.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/MainContractPauseStatus.spec.ts
  app/src/components/sections/ContractManagementView/__tests__/MainContractTable.spec.ts
  app/src/composables/contracts/__tests__/readTeamContracts.spec.ts
  app/src/composables/contracts/readTeamContracts.ts
  app/src/utils/contracts/__tests__/pauseCapabilities.spec.ts
  app/src/utils/contracts/pauseCapabilities.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document contract pause capabilities
  docs/features/contract-management/README.md
  docs/implementation/client-utilities/README.md
Due: none

fix: 🐛 complete shareholder availability guards
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/ShareholderClaimSection.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsHeader.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/MerkleClaimForm.spec.ts
  app/src/components/sections/SherTokenView/__tests__/MigrationOwnerSweep.spec.ts
  app/src/components/sections/SherTokenView/__tests__/ShareholderClaimSection.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ align focused shareholder acceptance evidence
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/InvestInSafeAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/MintTokenAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/SetCompensationMultiplierAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/SetSafeAddressAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/ToggleSherCompensationAction.spec.ts
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
  app/src/components/sections/SherTokenView/forms/__tests__/MintForm.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/PayDividendsForm.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/SafeDepositRouterForm.spec.ts
  app/src/utils/safeDepositRouter/__tests__/model.validation.spec.ts
  contract/test/Investor.spec.ts
  contract/test/SafeDepositRouter.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 update shareholder acceptance coverage
  docs/features/shareholder-management/README.md
  docs/implementation/transaction-history/README.md
Due: none

test: ✅ add integrated SHER issuance and dividend lifecycle
  app/test/e2e/shareholder/shareholder-chain.ts
  app/test/e2e/shareholder/shareholder-issuance-dividends.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-page.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record integrated shareholder issuance evidence
  docs/features/shareholder-management/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ move integrated E2E setup out of the backend
  .github/workflows/app-e2e.yml
  app/package.json
  app/test/README.md
  app/test/e2e/accounts.integrated.spec.ts
  backend/package.json
  backend/test/integration/payroll-database.integration.test.ts
  backend/vitest.payroll-integration.config.ts
  backend/vitest.unit.config.ts
  docs/features/payroll/README.md
  docs/testing/README.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 mark the unlinked Payroll database criteria
  docs/features/payroll/README.md
Due: none

test: ✅ tolerate stacked member success toasts
  app/test/e2e/company/real-company-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add integrated shareholder migration lifecycle
  app/test/e2e/shareholder/shareholder-chain.ts
  app/test/e2e/shareholder/shareholder-migration.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-page.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record integrated shareholder migration evidence
  docs/features/contract-management/README.md
  docs/features/shareholder-management/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ add integrated E2E team factory
  .github/workflows/app-e2e.yml
  app/test/README.md
  app/test/e2e/investor-permissions.integrated.spec.ts
  app/test/e2e/team-factory-deployment.ts
  app/test/e2e/team-factory.ts
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

chore: 🧹 remove integrated E2E database setup step from workflow
  .github/workflows/app-e2e.yml
Due: none

chore: 🧹 remove integrated E2E setup script and related command
  app/package.json
  backend/scripts/provisionIntegratedE2e.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 update E2E testing documentation and CI/CD workflow details
  docs/features/payroll/README.md
  docs/testing/E2E_QUICK_REFERENCE.md
  docs/testing/E2E_SETUP_SUMMARY.md
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

fix: 🐛 keep Board dividend authorization reactive
  app/src/components/sections/SherTokenView/InvestorActions/PayDividendsAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
  app/src/composables/bod/__tests__/reads.spec.ts
  app/src/composables/bod/reads.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 accept zero-based Board action identifiers
  backend/src/validation/schemas/__tests__/actions.test.ts
  backend/src/validation/schemas/actions.ts
Due: api-unit-tests

test: ✅ cover direct and Board dividend journeys
  app/test/e2e/elections/elections-chain.ts
  app/test/e2e/investor-permissions.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-chain.ts
  app/test/e2e/shareholder/shareholder-issuance-dividends.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-migration.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-page.ts
  app/test/e2e/team-factory.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Board dividend integration coverage
  app/test/README.md
  docs/features/contract-management/README.md
  docs/features/shareholder-management/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ consolidate Playwright E2E fixtures
  .github/workflows/app-e2e.yml
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/community-credit/community-credit-round.spec.ts
  app/test/e2e/company/company.integrated.spec.ts
  app/test/e2e/elections/elections.integrated.spec.ts
  app/test/e2e/elections/elections.spec.ts
  app/test/e2e/expense/expense-account.spec.ts
  app/test/e2e/fixtures.ts
  app/test/e2e/integrated-api.ts
  app/test/e2e/investor-permissions.integrated.spec.ts
  app/test/e2e/payroll/payroll-insufficient-funds.integrated.spec.ts
  app/test/e2e/payroll/payroll-page.ts
  app/test/e2e/payroll/payroll-payment.integrated.spec.ts
  app/test/e2e/payroll/payroll.integrated.spec.ts
  app/test/e2e/safe/safe-account.spec.ts
  app/test/e2e/shareholder/shareholder-issuance-dividends.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-migration.integrated.spec.ts
  app/test/e2e/team-factory.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Playwright fixture ownership
  app/test/README.md
  docs/testing/README.md
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ select required Community Credit deadline
  app/test/e2e/community-credit/community-credit-page.ts
  app/test/e2e/e2e-page.ts
  app/test/e2e/expense/expense-page.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ organize Playwright fixtures and factories
  app/test/README.md
  app/test/e2e/factories/operational-team-deployment.ts
  app/test/e2e/factories/operational-team.ts
  app/test/e2e/fixtures/index.ts
Due: app-unit-tests, app-e2e-tests

ci: 👷 harden full-stack E2E provisioning
  .github/workflows/app-e2e.yml
  backend/package.json
  backend/prisma/seed-e2e.ts
  docs/development-guide/database-seeding/README.md
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: api-unit-tests

ci: 👷 split E2E execution profiles
  .github/workflows/app-e2e.yml
  docs/testing/e2e-paths.md
Due: none

test: ✅ stabilize integrated E2E navigation
  app/test/e2e/elections/elections.integrated.spec.ts
  app/test/e2e/payroll/payroll-insufficient-funds.integrated.spec.ts
  app/test/e2e/payroll/payroll-page.ts
  app/test/e2e/payroll/payroll-payment.integrated.spec.ts
  app/test/e2e/payroll/payroll.integrated.spec.ts
  docs/testing/e2e-fixtures.md
Due: app-unit-tests, app-e2e-tests

test: ✅ add the integrated Accounting journey and contract generations
  app/test/e2e/accounting/accounting-books.ts
  app/test/e2e/accounting/accounting-export.ts
  app/test/e2e/accounting/accounting-generations.integrated.spec.ts
  app/test/e2e/accounting/accounting-journey.integrated.spec.ts
  app/test/e2e/accounting/accounting-operations.ts
  app/test/e2e/accounting/accounting-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover empty ledger scopes, pagination reset and point-in-time statements
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/views/team/[id]/Accounting/__tests__/GeneralLedgerFilters.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover empty exports, balance-sheet export detail and redeployment sweeps
  app/src/lib/accounting/__tests__/spreadsheet.spec.ts
  app/src/utils/accounting/__tests__/bank.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ name the Accounting criteria the existing tests already prove
  app/src/composables/__tests__/eventsViaLogs.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/__tests__/useLedgerDrilldown.spec.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/bankFeeAssembly.spec.ts
  app/src/utils/accounting/__tests__/exactPrecision.spec.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/__tests__/internalAddresses.spec.ts
  app/src/utils/accounting/__tests__/payrollAccrual.spec.ts
  app/src/utils/accounting/__tests__/toUsd.spec.ts
  backend/src/controllers/__tests__/journalAccountAssignmentController.test.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 record the Accounting test coverage and align the README structure
  docs/features/accounting/README.md
  docs/testing/e2e-paths.md
Due: none

🐛 fix(accounting): scope historical credit terms by generation
  app/src/composables/__tests__/eventsViaLogs.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.migration.spec.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/fixedReturn/useFixedReturnEventsViaLogs.ts
  app/src/types/contract-events/fixedReturn.ts
  app/src/utils/accounting/__tests__/fixedReturn.interest.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/sherRate.spec.ts
  app/src/utils/accounting/mappers/creditTimeline.ts
  app/src/utils/accounting/mappers/fixedReturn.ts
  app/test/e2e/accounting/accounting-journey.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

📝 docs(accounting): document historical generation evidence
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/community-credit-read-model/README.md
  docs/implementation/contract-event-feeds/README.md
Due: none
