Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix(App.vue): remove unused isLockedRoute computed property
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

fix(App.vue): remove unused route variable to clean up code
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

fix(App.vue): remove unused useRoute import to clean up code
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

chore: add .vscode/settings.json to .gitignore
  dashboard/.gitignore
Due: none

fix(LockScreen.vue): update logout button variant and improve text formatting
  app/src/__tests__/App.spec.ts
  app/src/components/LockScreen.vue
Due: app-unit-tests, app-e2e-tests

refactor(useTabGuardStore): simplify tab locking logic and expose openTabs state
  app/src/stores/__tests__/useTabGuardStore.spec.ts
  app/src/stores/useTabGuardStore.ts
Due: app-unit-tests, app-e2e-tests

add components for micropayments
  dashboard/app/artifacts/abi/erc20.ts
  dashboard/app/artifacts/abi/feeCollector.ts
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
  dashboard/app/components/sections/FeeCollectorView/types.ts
  dashboard/app/composables/useFeeCollector.ts
  dashboard/app/composables/useFeeColletor.ts
  dashboard/app/composables/useTokenWithdraw.ts
  dashboard/app/constant/index.ts
  dashboard/app/constant/network.ts
  dashboard/app/pages/micropayments.vue
  dashboard/app/types/network.ts
  dashboard/app/types/token.ts
  dashboard/app/utils/tokenHelpers.ts
Due: none

remove uncessary file
  dashboard/app/composables/useFeeColletor.ts
Due: none

feat: add helper to check period
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

Add type checking step to backend code quality workflow
  .github/workflows/backend-code-quality.yml
Due: none

build: update abi
  app/src/artifacts/abi/expense-account-eip712.ts
  backend/src/artifacts/expense-account-eip712.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix deployment issue
  dashboard/app/constant/index.ts
Due: none

Add code quality check workflow for pull requests
  .github/workflows/app-code-quality.yml
Due: none

feat: consider periods when setting status
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

chore: add permissions to workflow files for code quality checks
  .github/workflows/app-code-quality.yml
  .github/workflows/app-e2e.yml.bak
  .github/workflows/app-vitest.yml
  .github/workflows/backend-code-quality.yml
  .github/workflows/backend-vitest.yml
  .github/workflows/contract-code-quality.yml
  .github/workflows/contract-vitest.yml
  .github/workflows/dashboard-code-quality.yml
Due: none

chore: formatting backend files
  backend/eslint.config.mjs
  backend/src/artifacts/cash_remuneration_eip712_abi.json
  backend/src/artifacts/expense-account-eip712.json
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/expenseController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/expenseController.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/validation/schemas/__tests__/expense.test.ts
  backend/src/validation/schemas/expense.ts
Due: api-unit-tests

chore: backend lint fix
  backend/package-lock.json
  backend/src/controllers/notificationController.ts
  backend/src/controllers/teamController.ts
  backend/src/controllers/userController.ts
  backend/src/utils/notificationUtil.ts
Due: api-unit-tests

chore:lint dashboard
  dashboard/app/app.vue
  dashboard/app/assets/css/main.css
  dashboard/app/components/NotificationsSlideover.vue
  dashboard/app/components/TeamsMenu.vue
  dashboard/app/components/UserMenu.vue
  dashboard/app/components/customers/AddModal.vue
  dashboard/app/components/customers/DeleteModal.vue
  dashboard/app/components/home/HomeChart.client.vue
  dashboard/app/components/home/HomeDateRangePicker.vue
  dashboard/app/components/home/HomePeriodSelect.vue
  dashboard/app/components/home/HomeSales.vue
  dashboard/app/components/home/HomeStats.vue
  dashboard/app/components/inbox/InboxList.vue
  dashboard/app/components/inbox/InboxMail.vue
  dashboard/app/components/settings/MembersList.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useDashboard.ts
  dashboard/app/composables/useSiwe.ts
  dashboard/app/layouts/auth.vue
  dashboard/app/layouts/default.vue
  dashboard/app/pages/contracts/index.vue
  dashboard/app/pages/customers.vue
  dashboard/app/pages/inbox.vue
  dashboard/app/pages/login.vue
  dashboard/app/pages/micropayments.vue
  dashboard/app/pages/settings.vue
  dashboard/app/pages/settings/index.vue
  dashboard/app/pages/settings/members.vue
  dashboard/app/pages/settings/notifications.vue
  dashboard/app/utils/wagmi.config.ts
  dashboard/docs/authentication-flow.md
  dashboard/docs/functional-specifications.md
  dashboard/nuxt.config.ts
  dashboard/package-lock.json
  dashboard/server/api/customers.ts
  dashboard/server/api/mails.ts
  dashboard/server/api/members.ts
  dashboard/server/api/notifications.ts
Due: none

add missing artifacts files
  dashboard/app/artifacts/deployed_addresses/chain-11155111.json
  dashboard/app/artifacts/deployed_addresses/chain-137.json
  dashboard/app/artifacts/deployed_addresses/chain-31337.json
  dashboard/app/artifacts/deployed_addresses/chain-80002.json
Due: none

add network json
  dashboard/app/networks/networks.json
Due: none

fix: use string type
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

feat: add global authentication middleware for route protection
  dashboard/app/middleware/auth.global.ts
Due: none

test: isNewPeriod function
  contract/test/ExpenseAccountEIP712V2.isNewPeriod.spec.ts
Due: contract-unit-tests

chore: remove comments
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: update Node.js version in dashboard code quality workflow
  .github/workflows/dashboard-code-quality.yml
Due: none

chore: update Node.js version to 24.x in backend code quality workflow fix: add newline at end of auth.global.ts file
  .github/workflows/backend-code-quality.yml
  .github/workflows/backend-vitest.yml
  dashboard/app/middleware/auth.global.ts
Due: none

test(LockScreen.spec.ts): add unit tests for LockScreen component functionality
  app/src/components/__tests__/LockScreen.spec.ts
Due: app-unit-tests, app-e2e-tests

test(LockScreen.spec.ts): add test for handling missing user and connected addresses
  app/src/components/__tests__/LockScreen.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor(useTabGuardStore): remove tab guard store implementation and related tests
  app/src/stores/__tests__/useTabGuardStore.spec.ts
  app/src/stores/useTabGuardStore.ts
Due: app-unit-tests, app-e2e-tests

refactor(App.vue): simplify lock condition logic for better readability
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

refactor(main.ts): remove unused tab guard store initialization
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

test(App.spec.ts): add tests for LockScreen rendering based on user authentication and address matching
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: reorganize imports and improve error handling in various files
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/expenseRoute.ts
  backend/src/routes/uploadRoute.ts
  backend/src/utils/__tests__/dependenciesUtil.test.ts
  backend/src/utils/__tests__/upload.test.ts
  backend/src/utils/__tests__/viem.config.test.ts
  backend/src/utils/upload.ts
  backend/src/utils/utils.ts
  backend/src/validation/__tests__/utils.test.ts
  backend/src/validation/middleware/validate.ts
  backend/src/validation/schemas/__tests__/expense.test.ts
  backend/src/validation/schemas/claim.ts
  backend/src/validation/schemas/user.ts
  backend/src/validation/utils.ts
Due: api-unit-tests

fix: remove unused path import and improve error handling in Sentry middleware
  backend/src/config/serverConfig.ts
Due: api-unit-tests

fix: update errorResponse to handle string and unknown types for error parameter
  backend/src/utils/utils.ts
Due: api-unit-tests

refactor: improve nonce handling and error response in authenticateSiwe function
  backend/src/controllers/authController.ts
Due: api-unit-tests

feat: add custom address type to Express Request and update tsconfig to include type definitions
  backend/src/types/express.d.ts
  backend/tsconfig.json
Due: api-unit-tests

fix: update address assignment in authorizeUser to use correct type definition
  backend/src/middleware/authMiddleware.ts
Due: api-unit-tests

fix: replace type casting with direct property access for callerAddress in multiple controllers
  backend/src/controllers/actionController.ts
  backend/src/controllers/claimController.ts
  backend/src/controllers/contractController.ts
  backend/src/controllers/electionsController.ts
  backend/src/controllers/expenseController.ts
  backend/src/controllers/memberController.ts
  backend/src/controllers/notificationController.ts
  backend/src/controllers/teamController.ts
  backend/src/controllers/userController.ts
  backend/src/controllers/wageController.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: replace type casting with direct property access for address in multiple test files
  backend/src/controllers/__tests__/actionController.test.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/contractController.test.ts
  backend/src/controllers/__tests__/expenseController.test.ts
  backend/src/controllers/__tests__/memberController.test.ts
  backend/src/controllers/__tests__/notificationController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
