Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

chore: 🔧 remove orphan TransferOwnershipForm
  app/src/components/sections/AdministrationView/forms/TransferOwnershipForm.vue
  app/src/components/sections/AdministrationView/forms/__tests__/TransferOwnershipForm.spec.ts
Due: app-unit-tests, app-e2e-tests

style: 💄 reflow single-line USelect in ProposalsView
  app/src/views/team/[id]/ProposalsView.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 align SafeDepositRouterForm with post-merge composable shapes
  app/src/components/forms/SafeDepositRouterForm.vue
Due: app-unit-tests, app-e2e-tests

feat: implement safe deposit router events and related types; update investor transactions to include safe deposit data
  app/src/artifacts/deployed_addresses/chain-31337.json
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/queries/ponder/bank.queries.ts
  app/src/types/ponder/bank.ts
  app/src/types/ponder/investor.ts
  app/src/views/team/[id]/Accounts/WeeklyClaimView.vue
  ponder/abis/cash-remuneration-eip712.ts
  ponder/abis/expense-account-eip712.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance transaction components with UBadge for type display; refactor transaction data handling and introduce new utility functions for bank and investor transactions
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/queries/ponder/safe-deposit-router.queries.ts
  app/src/utils/bankTransactionUtil.ts
  app/src/utils/index.ts
  app/src/utils/investorsTransactionUtil.ts
  app/src/utils/rawTransactionsUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor doc structure
  app/src/views/team/[id]/Accounts/WeeklyClaimView.vue
Due: app-unit-tests, app-e2e-tests

Align vitest results artifact with develop
  .vite/vitest/results.json
Due: none

Align local notes files with develop
  .codex
  requirements/feature-local-safe.md
Due: none

Align backend docs snippets with develop
  backend/docs/javascript-snippets.md
  backend/docs/typescript-snippets.md
Due: api-unit-tests

refactor: improve index formatting and add newOwner index for bankOwnershipTransferred
  ponder/ponder.schema.ts
Due: none

fix: add minutesWorked property to claims in test files
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: refactor wage claim handling to use buildWageClaimPayload and update minutesWorked references
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  app/src/components/sections/CashRemunerationView/DeleteClaimModal.vue
  app/src/components/sections/CashRemunerationView/EditClaims.vue
Due: app-unit-tests, app-e2e-tests

fix: update references from hoursWorked to minutesWorked in ClaimHistory components and tests
  app/src/components/sections/ClaimHistoryView/ClaimHistoryDailyBreakdown.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryWeekNavigator.vue
  app/src/components/sections/ClaimHistoryView/WeeklyRecap.vue
  app/src/components/sections/ClaimHistoryView/__tests__/WeeklyRecap.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update references from hoursWorked to minutesWorked in WeeklyClaim component and mock data
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/tests/mocks/query.mock.ts
Due: app-unit-tests, app-e2e-tests

fix: update WageClaim to use minutesWorked and refactor related functions in wageUtil
  app/src/types/cash-remuneration.ts
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: replace hoursWorked with minutesWorked in tests and queries for consistency
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/queries/weeklyClaim.queries.ts
  app/src/types/cash-remuneration.ts
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: adjust wage calculations to convert minutesWorked to hourly rate for accurate payments
  contract/contracts/CashRemunerationEIP712.sol
  contract/test/CashRemunerationEIP712.spec.ts
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

fix: simplify getClaimWorkedMinutes function for clarity
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: correct minutesWorked assertions in claim form and weekly claim tests for accuracy
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: replace hoursWorked with minutesWorked in mockWeeklyClaimData for consistency
  app/src/tests/mocks/query.mock.ts
Due: app-unit-tests, app-e2e-tests

update package-lock json
  ponder/package-lock.json
Due: none

chore(ponder): ignore generated abis in prettier checks
  ponder/.prettierignore
Due: none

test(investors): add comprehensive tests for InvestorsTransactions component
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

format investor transaction test spec
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

add test for utils
  app/src/utils/__tests__/bankTransactionUtil.spec.ts
  app/src/utils/__tests__/investorsTransactionUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 detect cross-contract wage claim signatures
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/queries/weeklyClaim.queries.ts
  app/src/types/cash-remuneration.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: 🐛 distinguish ownership-change from cross-contract signature mismatch
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test(investors): enhance InvestorsTransactions tests with date filtering and fallback handling
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: improve readability of currentContract assignment in withdrawClaim function
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
Due: app-unit-tests, app-e2e-tests

add test for investorUtils
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.test-utils.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 tighten contractAddress validation and drop unused body schema
  backend/src/controllers/weeklyClaimController.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: api-unit-tests

refactor: ♻️ extract CashRemuneration EIP-712 domain and types to shared module
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/cashRemunerationEip712.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover guard failure paths in CRWithdrawClaim
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test(investors): add advanced tests for InvestorsTransactions component
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.advanced.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.fixture.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ move weekly-claim body validation into Zod schema + middleware
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/weeklyClaimRoute.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: api-unit-tests

update tests
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.fixture.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
