Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

ci: remove election from script
  contract/deploy.sh
Due: contract-unit-tests

ci: add elections to officer module
  contract/ignition/modules/OfficerModule.ts
Due: contract-unit-tests

feat: clear
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

fix: properly handle undefined
  app/src/utils/errorUtil.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

feat: refactor ClaimHistoryView to integrate MonthSelector and streamline week selection
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: add TotalValue component to display total hours, hourly rate, and total amount
  app/src/components/TotalValue.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: update ClaimHistoryView to display weekly claims based on selected week and user address
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: add @wagmi/core dependency
  app/package.json
Due: app-unit-tests, app-e2e-tests

feat: add VueDatePicker component and styles
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance SubmitClaims component with date picker and improved input fields
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

refactor: clean up claim validation logic in addClaim function
  backend/src/controllers/claimController.ts
Due: api-unit-tests

fix: adjust formatting in SubmitClaims component for consistency
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance ClaimHistoryView to display detailed weekly claims and auto-select current week
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: :heavy_plus_sign: add wagmi as dependency
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: correct variable name for total hours and clean up unused description
  app/src/components/TotalValue.vue
Due: app-unit-tests, app-e2e-tests

feat: bind weekly claims to TotalValue component for improved data display
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

bugfix: fix typeScript error
  app/src/components/MonthSelector.vue
  app/src/components/TotalValue.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: add elections contract to officer deployment
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

feat: get current contract data
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

fix: remove unused user data store and update member address retrieval in ClaimHistoryView
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: update claim history route to include member address for improved data handling
  app/src/components/TheDrawer.vue
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

feat: :zap: add new redirection for the claim history
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/views/team/[id]/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

refactor: update date handling in SubmitClaims component and claimController
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  backend/src/controllers/claimController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: format election data
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add election countdown
  app/src/components/sections/AdministrationView/CurrentBoDElectionSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance PendingWeeklyClaim and SubmitClaims components for better display and data handling
  app/src/components/sections/CashRemunerationView/PendingWeeklyClaim.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/composables/useContractBalance.ts
  app/src/stores/currencyStore.ts
  backend/src/controllers/weeklyClaimController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: add proposal type and adjust ProposalVoted event
  contract/contracts/Proposals/Proposals.sol
Due: contract-unit-tests

fix: add type on tests
  contract/test/Proposals.spec.ts
Due: contract-unit-tests

refactor: improve token handling in currency store and enhance getTokenPrice function
  app/src/stores/currencyStore.ts
Due: app-unit-tests, app-e2e-tests

feat: add TokenAmount component for handling token deposits with validation and balance management
  app/src/components/forms/TokenAmount.vue
Due: app-unit-tests, app-e2e-tests

feat: replace deposit input with TokenAmount component for improved token handling
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

fix: correct selectedToken property reference and enhance accessibility with aria-labels
  app/src/components/forms/TokenAmount.vue
Due: app-unit-tests, app-e2e-tests

fix: remove unused 'change' event emission from SelectComponent
  app/src/components/SelectComponent.vue
Due: app-unit-tests, app-e2e-tests

fix: remove unused 'change' event emission from GenericSelect tests
  app/src/components/__tests__/SelectComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update event emission from 'change' to 'update:modelValue' for SelectComponent in DepositBankForm tests
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: replace input group with TokenAmount component for improved token handling in TransferForm
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

fix: add missing 'code' property to tokenList and enforce required properties in TokenOption interface
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/TokenAmount.vue
Due: app-unit-tests, app-e2e-tests

feature: proposal
  app/src/artifacts/abi/elections.ts
  app/src/artifacts/abi/proposals.ts
  app/src/components/TheDrawer.vue
  app/src/components/sections/ProposalsView/ProposalDetail.vue
  app/src/components/sections/ProposalsView/ProposalsCard.vue
  app/src/components/sections/ProposalsView/ProposalsList.vue
  app/src/components/sections/ProposalsView/forms/CreateProposalForm.vue
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/constant/index.ts
  app/src/router/index.ts
  app/src/types/proposal.ts
  app/src/types/teamContract.ts
  app/src/views/team/[id]/ProposalsView.vue
  contract/contracts/Proposals/ProposalUtils.sol
  contract/contracts/Proposals/Proposals.sol
  contract/deploy.sh
  contract/ignition/modules/MockBoardOfDirectorsModule.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

Revert "feat: replace input group with TokenAmount component for improved token handling in TransferForm"
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests
