Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

ci: 👷 make Slither report-only until contract baseline is triaged
  .github/copilot-instructions/solidity-audit-checklist.md
  .github/workflows/contract-slither.yml
  contract/README.md
Due: contract-unit-tests

ci: 🔧 split danger PR-size cap into separate production / test budgets
  dangerfile.js
Due: none

ci: 👷 cache Playwright browsers and raise app-e2e timeout
  .github/workflows/app-e2e.yml
Due: none

feat: ✨ add pure cash-out plan builder
  app/src/composables/cashOut/__tests__/plan.spec.ts
  app/src/composables/cashOut/plan.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add useCashOutAll sequential withdraw orchestrator
  app/src/composables/cashOut/__tests__/useCashOutAll.spec.ts
  app/src/composables/cashOut/index.ts
  app/src/composables/cashOut/useCashOutAll.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 guard cash-out step access under noUncheckedIndexedAccess
  app/src/composables/cashOut/useCashOutAll.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add "Cash out all" action to the team dashboard
  app/src/components/sections/DashboardView/CashOutAllAction.vue
  app/src/components/sections/DashboardView/CompanyOverview.vue
  app/src/components/sections/DashboardView/__tests__/CashOutAllAction.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 type implicit-any table and form callback params
  app/src/components/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ProposalsView/forms/CreateProposalForm.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
Due: app-unit-tests, app-e2e-tests

ci: 👷 run app-e2e in the official Playwright container
  .github/workflows/app-e2e.yml
Due: none

fix: 🐛 align table & calendar callback param types with Nuxt UI emits
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ProposalsView/forms/CreateProposalForm.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add multi-endpoint RPC fallback to backend viem client
  backend/src/utils/__tests__/viem.config.test.ts
  backend/src/utils/viem.config.ts
Due: api-unit-tests

feat: ✨ add multi-endpoint RPC fallback to app wagmi transports
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add multi-endpoint RPC fallback to dashboard wagmi transports
  dashboard/.env.example
  dashboard/app/plugins/wagmi.client.ts
  dashboard/nuxt.config.ts
Due: none

refactor: ♻️ extract shared childRowClass table-meta helper
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/composables/transactions/__tests__/useTransactionTable.spec.ts
  app/src/composables/transactions/useTransactionTable.ts
Due: app-unit-tests, app-e2e-tests

ci: 🐛 fix e2e coverage upload from inside the container
  .github/workflows/app-e2e.yml
Due: none

refactor: remove accounting period composables and utility functions
  dashboard/app/composables/useAccountingPeriod.ts
  dashboard/app/utils/accountingPeriod.ts
Due: none

feat: ✨ enhance date picker with 'all time' range preset and default value handling
  dashboard/app/utils/datePicker.ts
Due: none

feat: ✨ enhance date picker with localStorage support for persistent selection
  dashboard/app/composables/useDatePicker.ts
Due: none

feat: ✨ add storageKey prop to date picker for enhanced localStorage support
  dashboard/app/components/AccountingDatePicker.vue
Due: none

feat: ✨ integrate date picker into accounting components for improved date selection
  dashboard/app/components/accounting/AccountingBalanceSheet.vue
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/components/accounting/AccountingLedger.vue
Due: none

fix: 🛠️ update AccountingDatePicker button variant from 'ghost' to 'outline'
  dashboard/app/components/AccountingDatePicker.vue
Due: none

feat: enhance transaction value display with conditional rendering for amounts
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/types/transaction-history.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance CashRemunerationView and ExpenseAccountView components with sub-row support and improved Apollo query mocks
  app/eslint.config.js
  app/src/components/sections/BankView/__tests__/BankTransactions.fixture.ts
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/tests/mocks/apollo.mock.ts
  app/src/tests/mocks/index.ts
  app/src/tests/mocks/store.mock.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add user P&L fetching functionality to Polymarket API
  dashboard/app/api/polymarket.ts
Due: none

feat: ✨ add Polymarket profile comparison metrics to AccountingSummary
  dashboard/app/components/accounting/AccountingSummary.vue
Due: none

feat: ✨ integrate user P&L query into accounting composables
  dashboard/app/composables/useAccounting.ts
  dashboard/app/queries/polymarket.queries.ts
Due: none

feat: ✨ enhance accounting interfaces with new Polymarket P&L metrics
  dashboard/app/types/polymarket.ts
  dashboard/app/utils/accounting.ts
Due: none

revert: scope this PR to Cash Remuneration only
  app/eslint.config.js
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/BankView/__tests__/BankTransactions.fixture.ts
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
Due: app-unit-tests, app-e2e-tests

fix: don't collapse expanded transaction rows on background refresh
  app/src/composables/transactions/__tests__/useTransactionTable.spec.ts
  app/src/composables/transactions/useTransactionTable.ts
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ streamline AccountingSummary by removing redundant metrics
  dashboard/app/components/accounting/AccountingSummary.vue
Due: none

feat: show — for zero-amount events in Bank/Expense transaction tables
  app/eslint.config.js
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/BankView/__tests__/BankTransactions.fixture.ts
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/tests/mocks/apollo.mock.ts
  app/src/tests/mocks/index.ts
  app/src/tests/mocks/store.mock.ts
Due: app-unit-tests, app-e2e-tests

fix: 🛠️ update AccountingSummary to clarify profit/loss terminology
  dashboard/app/components/accounting/AccountingSummary.vue
Due: none

[baobao] Implement fix: 🐛 Summary Fees card always ~$0 — detect per-trade sprea
  contracts/FeeTracker.sol
  contracts/interfaces/IFeeTracker.sol
  contracts/libraries/FeeCalculator.sol
Due: contract-unit-tests

fix: 🛠️ update AccountingSummary component to clarify fees description
  dashboard/app/components/accounting/AccountingSummary.vue
Due: none

fix: 🛠️ refine fee calculation logic in AccountingSummary
  dashboard/app/utils/accounting.ts
Due: none

docs: 📝 add CNC accounting functional specification (#1890)
  docs/features/accounting/README.md
  docs/features/accounting/functional-specification.md
Due: none

docs: CNC accounting spec — target app/ not dashboard (#1890)
  docs/features/accounting/README.md
  docs/features/accounting/functional-specification.md
Due: none

fix: 🛠️ improve fee calculation accuracy in AccountingSummary
  docs/features/accounting/README.md
  docs/features/accounting/functional-specification.md
Due: none

feat: display Bank ownership transfers and token support changes
  app/src/components/sections/BankView/__tests__/BankTransactions.fixture.ts
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
  app/src/queries/ponder/bank.queries.ts
  app/src/types/ponder/bank.ts
  app/src/utils/__tests__/bankTransactionUtil.spec.ts
  app/src/utils/bankTransactionUtil.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: index and display CashRemuneration and Expense ownership transfers
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.fixture.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/queries/ponder/cash-remuneration.queries.ts
  app/src/queries/ponder/expense.queries.ts
  app/src/types/ponder/cash-remuneration.ts
  app/src/types/ponder/expense.ts
  app/src/utils/__tests__/cashRemunerationTransactionUtil.spec.ts
  app/src/utils/__tests__/expenseTransactionUtil.spec.ts
  app/src/utils/cashRemunerationTransactionUtil.ts
  app/src/utils/expenseTransactionUtil.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: app-unit-tests, app-e2e-tests
