Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: add Get Users - No Results test case to validate response for non-existent search
  backend/bruno/CNCPortal/Get users/Get Users - 05 - No Results.bru
Due: api-unit-tests

feat: add case-insensitive search test for Get Users endpoint
  backend/bruno/CNCPortal/Get users/Get Users - 06 - Case.bru
Due: api-unit-tests

feat: update search parameter in Get Users tests to use specific user names
  backend/bruno/CNCPortal/Get users/Get Users - 02 - Search  Users.bru
  backend/bruno/CNCPortal/Get users/Get Users - 06 - Case.bru
Due: api-unit-tests

complete update and delete feature
  app/src/components/sections/CashRemunerationView/EditClaimModal.vue
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/DeleteClaimModal.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/DeleteClaimModal.spec.ts
  app/src/types/cash-remuneration.ts
  backend/prisma/migrations/20251106121221_remove_claim_fields/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
  backend/src/validation/schemas/claim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

update Claim structure
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

update tabstore
  app/src/stores/__tests__/useTabGuardStore.spec.ts
  app/src/stores/useTabGuardStore.ts
Due: app-unit-tests, app-e2e-tests

feat: remove outdated test cases for Get Users endpoint
  backend/bruno/CNCPortal/Get users/Get Users - 03 - Invalid Parameters.bru
  backend/bruno/CNCPortal/Get users/Get Users - 04 -Empty Search.bru
  backend/bruno/CNCPortal/Get users/Get Users - 05 - No Results.bru
  backend/bruno/CNCPortal/Get users/Get Users - 06 - Case.bru
Due: api-unit-tests

feat: add test case for handling invalid limit parameter in Get Users endpoint
  backend/bruno/CNCPortal/Get users/edge/Get Users - 01 - Invalid Parameters.bru
Due: api-unit-tests

feat: add test cases for SQL injection attempts in Get Users endpoint
  backend/bruno/CNCPortal/Get users/edge/Get Users - 02- Case.bru
  backend/bruno/CNCPortal/Get users/edge/Get Users - 03 - Sql Injection.bru
Due: api-unit-tests

feat: add test cases for empty search and no results in Get Users endpoint
  backend/bruno/CNCPortal/Get users/Get Users - 03 -Empty Search.bru
  backend/bruno/CNCPortal/Get users/Get Users - 04 - No Results.bru
Due: api-unit-tests

feat: add test cases for control character injection and excessive limit in Get Users endpoint
  backend/bruno/CNCPortal/Get users/edge/Get Users - 04 - Control Characters Attack.bru
  backend/bruno/CNCPortal/Get users/edge/Get Users - 05 - Dos Attack.bru
Due: api-unit-tests

add updated abi
  app/src/artifacts/abi/ad-campaign-manager.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance deposit flow by integrating ERC20 approval and deposit execution with improved state management
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: update transaction confirmation logic to wait for receipt success instead of write result success
  app/src/composables/contracts/useContractWritesV2.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up DemoExample.vue by removing unnecessary newline in script section
  app/src/utils/index.ts
  app/src/views/team/[id]/DemoExample.vue
Due: app-unit-tests, app-e2e-tests

fix code quality check
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused import of TransactionTimeline in DepositBankForm.vue
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

untrack abi files
  app/src/artifacts/abi/ad-campaign-manager.ts
Due: app-unit-tests, app-e2e-tests

restore adcampaign abi
  app/src/artifacts/abi/ad-campaign-manager.ts
Due: app-unit-tests, app-e2e-tests

tests completion
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  backend/src/controllers/__tests__/claimController.test.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

writing tests
  app/src/components/sections/ClaimHistoryView/__tests__/DeleteClaimModal.spec.ts
  backend/src/artifacts/cash_remuneration_eip712_abi.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: refactor and enhance tests for DepositBankForm component
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

chore:
  backend/bruno/CNCPortal/Get users/edge/Get Users - 01 - Edge Case - Invalid Parameters.bru
  backend/bruno/CNCPortal/Get users/edge/Get Users - 02 -  Edge Case - Case.bru
  backend/bruno/CNCPortal/Get users/edge/Get Users - 03 - Edge Case - Sql Injection.bru
  backend/bruno/CNCPortal/Get users/edge/Get Users - 04 - Edge Case - Control Characters Attack.bru
  backend/bruno/CNCPortal/Get users/edge/Get Users - 05 - Edge Case - Dos Attack.bru
Due: api-unit-tests

unit tests coverage upgrade
  app/src/components/sections/CashRemunerationView/DeleteClaimModal.vue
  app/src/components/sections/CashRemunerationView/__tests__/DeleteClaimModal.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove Transaction Timeline Demo component and related routes
  app/src/components/TheDrawer.vue
  app/src/router/index.ts
  app/src/views/TransactionTimelineDemoView.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for useTransactionTimeline composable
  app/src/composables/__tests__/useTransactionTimeline.test.ts
Due: app-unit-tests, app-e2e-tests

test: format expectation for transaction confirmation description in useTransactionTimeline tests
  app/src/composables/__tests__/useTransactionTimeline.test.ts
Due: app-unit-tests, app-e2e-tests

test: update expected menu item counts in TheDrawer component tests
  app/src/components/__tests__/TheDrawer.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: reorganize ERC20 imports in DepositBankForm component
  app/src/components/forms/DepositBankForm.vue
  app/src/components/sections/SherTokenView/__tests__/__snapshots__/DividendsBalancesSection.spec.ts.snap
  app/src/composables/erc20/index.ts
Due: app-unit-tests, app-e2e-tests

test: skip DepositBankForm component tests
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add comprehensive tests for bank contract write operations
  app/src/composables/bank/__tests__/bankWrites.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: correct spelling in DemoExample component title and improve allowance check in DepositBankForm
  app/src/components/forms/DepositBankForm.vue
  app/src/composables/contracts/useContractWritesV2.ts
  app/src/views/team/[id]/DemoExample.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unnecessary blank line in bankWrites.spec.ts
  app/src/composables/bank/__tests__/bankWrites.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance DepositBankForm tests with additional scenarios and mock implementations
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify argument handling in ERC20 contract write functions
  app/src/composables/erc20/erc20Writes.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove commented-out code for transaction timelines in DepositBankForm
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace amountToWei utility with viem's parseEther in bank functions and tests
  app/src/composables/bank/__tests__/BANK_TESTS_SUMMARY.md
  app/src/composables/bank/__tests__/bank-utils.spec.ts
  app/src/composables/bank/functions.ts
  app/src/composables/bank/utils.ts
Due: app-unit-tests, app-e2e-tests

test: add comprehensive tests for waitForCondition and formatDataForDisplay utilities
  app/src/utils/__tests__/index.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up whitespace in test files for better readability
  app/src/composables/bank/__tests__/BANK_TESTS_SUMMARY.md
  app/src/composables/bank/__tests__/bank-utils.spec.ts
  app/src/utils/__tests__/index.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance gas estimation handling in useContractWrites function
  app/src/composables/contracts/useContractWritesV2.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
