Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

remove useCryptoPrice composable and its tests
  app/src/composables/__tests__/useCryptoPrice.spec.ts
  app/src/composables/useCryptoPrice.ts
  app/src/tests/setup/store.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: update TransferForm to use model.token.balance directly and improve input handling
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

fix: export TransferModel interface for better accessibility
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

fix: enhance TransferForm import and improve token balance handling
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

test: skip success and error toast tests for claim submission
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

fix(tests): correct formatting in console log statement for claim submission test
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update WeeklyClaim model for consistent spacing in relation definition
  app/src/components/WeeklyClaimComponent.vue
  app/src/views/HomeView.vue
  backend/prisma/schema.prisma
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: rename 'description' to 'memo' in Claim model and related components
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  backend/prisma/migrations/20250521102722_add_memo_to_claim/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

style: add custom styles for number input fields to remove spin buttons
  app/src/assets/main.css
Due: app-unit-tests, app-e2e-tests

refactor: hourly rate inputs
  app/src/components/sections/DashboardView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

refactor: columns & headers
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

fix: update useContractBalance to improve balance calculations and add type definitions
  app/src/composables/useContractBalance.ts
Due: app-unit-tests, app-e2e-tests

test: enhance useContractBalance tests with detailed balance assertions and remove unused refetch logic
  app/src/composables/__tests__/useContractBalance.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: cash remuneration abi
  app/src/artifacts/abi/CashRemunerationEIP712.json
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/artifacts/abi/CashRemunerationEIP712.json
Due: app-unit-tests, app-e2e-tests

feat: refactor WeeklyClaimComponent integration and create CashRemunerationWeeklyClaim component
  app/src/components/WeeklyClaimComponent.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
  app/src/views/team/[id]/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

refactor: simplify template structure and improve notification layout in WeeklyClaimComponent
  app/src/components/WeeklyClaimComponent.vue
Due: app-unit-tests, app-e2e-tests

refactor: hourly rate headers and units
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for TransferForm component to improve coverage and validation
  app/src/components/forms/__tests__/TransferForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up imports and improve code organization in MyApprovedExpenseSection.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove old migration
  backend/prisma/migrations/20250519132321_add_erc20_hourly_rates/migration.sql
Due: api-unit-tests

refactor: add usdc token to wage model
  backend/prisma/migrations/20250522122808_usdc_hourly_rate/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: remove sherTokenPerHour
  backend/src/controllers/wageController.ts
Due: api-unit-tests

refactor: use tokenPerHout
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: add tokenPerHour to type
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

chore: remove logs and comments
  backend/src/controllers/wageController.ts
Due: api-unit-tests

test: update tests
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: cash remuneration usdc address initialize
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

feat: Enhance WeeklyClaimComponent with detailed notification table and refactor integration in CashRemunerationWeeklyClaim
  app/src/components/WeeklyClaimComponent.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationWeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: Update WeeklyClaimComponent with improved notification table layout and remove memo field; add WeeklyClaim model and migration
  app/src/components/WeeklyClaimComponent.vue
  backend/prisma/migrations/20250523103953_weekly_claim/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/weeklyClaimController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: update balance handling in transfer modal to use numbers instead of strings
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

ci: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/MockTokens#USDC.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/MockTokens#USDT.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#ProxyAdmin.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#Tips.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#TransparentUpgradeableProxy.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/TipsModule#Tips.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix: update currency handling in GenericTransactionHistory component to use local currency code
  app/src/components/GenericTransactionHistory.vue
Due: app-unit-tests, app-e2e-tests

test: enhance currency store tests by mocking useQuery and validating default currency and price data
  app/src/stores/__tests__/currencyStore.spec.ts
  app/src/stores/currencyStore.ts
Due: app-unit-tests, app-e2e-tests

feat: Add migration to drop claimId column from WeeklyClaim table
  backend/prisma/migrations/20250523145609_add_weekly_claim/migration.sql
Due: api-unit-tests

test: enhance currency store tests by adding error handling and mocking fetch responses
  app/src/stores/__tests__/currencyStore.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: Implement addWeeklyClaim function for weekly claims submission
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: Refactor addWeeklyClaim function and add getWeeklyClaims route
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/weeklyClaimRoute.ts
Due: api-unit-tests

chore: formating code
  app/src/App.vue
  app/src/assets/main.css
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/sections/BankView/__tests__/BankBalanceSection.spec.ts
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
