Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: auth controller
  backend/src/controllers/__tests__/authController.test.ts
  backend/src/controllers/authController.ts
Due: api-unit-tests

Fix code scanning alert no. 16: Missing rate limiting
  backend/package.json
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

build: update package-lock
  backend/package-lock.json
Due: api-unit-tests

Fix code scanning alert no. 18: Missing rate limiting
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

Fix code scanning alert no. 20: Missing rate limiting
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: authenticate user
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: use mock jwt
  backend/src/controllers/__tests__/authController.test.ts
Due: api-unit-tests

test: notification dropdown
  app/src/components/__tests__/NotificationDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/__tests__/NotificationDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/__tests__/NotificationDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update navigation and drawer components for responsive design
  app/src/App.vue
  app/src/assets/LogoWithoutText.png
  app/src/components/NavBar.vue
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance NavBar and TheDrawer components for improved layout and styling
  app/src/App.vue
  app/src/components/NavBar.vue
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve layout and styling of NavBar and TheDrawer components
  app/src/components/NavBar.vue
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unnecessary import
  app/src/components/NavBar.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance TheDrawer component styling and layout
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance TheDrawer component with improved styling and functionality
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: update TheDrawer component styling for improved visual consistency
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

chore: update pull request template to enhance clarity and checklist requirements
  .github/pull_request_template.md
Due: none

feat: update docs
  README.md
Due: none

chore: app readme
  app/README.md
Due: app-unit-tests, app-e2e-tests

test: add navbar testing e2e
  app/src/components/NavBar.vue
  app/src/components/NotificationDropdown.vue
  app/src/components/forms/EditUserForm.vue
  app/test/e2e/navbar.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add more test
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance TheDrawer component with new team selection dropdown and improved styling
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: update component styling and layout
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve component layout and styling
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: add activate deactivate approval
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

test: activate deactivate approval
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

docs: add NatSpec comments
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

style: prettier
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

feat: use new contract abi
  app/src/artifacts/abi/expense-account-eip712.json
Due: app-unit-tests, app-e2e-tests

feat: add find many
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: add find many api
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests, app-e2e-tests

test: find many expense data
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refactor: :lipstick: update navbar UI, no position or width calculation
  app/src/components/NavBar.vue
Due: app-unit-tests, app-e2e-tests

refactor: :lipstick: update drawer: no fixed position, and remove shadow and using border instead
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: :lipstick: restructure layout and styling of navbar and drawer components
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

refactor: :lipstick: update drawer toggle logic and collapse state management
  app/src/App.vue
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: deploy to sepolia
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: contract-unit-tests

feat: deploy to polygon
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Bank.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BankBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-137/artifacts/BoardOfDirectorsModule#BoardOfDirectors.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#ExpenseAccount.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountModule#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1BeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1BeaconModule#InvestorV1.json
  contract/ignition/deployments/chain-137/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#FactoryBeacon.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Beacon.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-137/artifacts/VotingBeaconModule#Voting.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
Due: contract-unit-tests

refactor: :lipstick: simplify NavBar template by removing unnecessary line breaks
  app/src/components/NavBar.vue
Due: app-unit-tests, app-e2e-tests
