Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: add test for testing error 404
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test:debug the test who return 403 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

refactor: :bug: change the status for fonction isUderPartOfTheTeam
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refact: change the return order of 403 and 404
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: :bug: improve the test for 200
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

fix: update subgraph endpoint in docker-compose and improve script for branch deletion
  docker-compose.yml
  scrip.bat
Due: none

feat: add soft delete functionality and replace string statuses with enums in models
  backend/prisma/schema.prisma
Due: api-unit-tests

fix: correct Vue version formatting in README and add newline in backend readme
  app/README.md
  backend/readme.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

test: add unit test for getAllTeams controller
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for 200 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for 500 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: improve the router of getTeam
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for updateTeam controller
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for 404 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for 403 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for 400 error (invalid contract address)
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit for error 200
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

test: :white_check_mark: add test unit for 500 error and comment code of 400 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: :test_tube: add unit test for deleteTeam controller
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: :white_check_mark: add unit test for 404 error
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: improve return 403 of getTeam
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for successful team deletion
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: add unit test for handling server error in deleteTeam
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

perf: :fire: comment buildFilterMember
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

test: improve unit test for delete success team
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: fix tests
  app/src/components/__tests__/GenericTokenHoldingsSection.spec.ts
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/components/forms/__tests__/TransferForm.spec.ts
  app/src/components/sections/BankView/__tests__/BankBalanceSection.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTable.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTotalBalance.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTransactions.spec.ts
  app/src/composables/__tests__/useCryptoPrice.spec.ts
  app/src/views/team/[id]/__tests__/BankView.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove logs backend
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

refactor: :fire: no need to handle team contract in team controller
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: create safe wallet interfaces
  contract/contracts/interfaces/ISafe.sol
  contract/contracts/interfaces/ISafeProxy.sol
  contract/contracts/interfaces/ISafeProxyFactory.sol
Due: contract-unit-tests

feat: integrate officer with safe wallet
  contract/contracts/Officer.sol
Due: contract-unit-tests

feat: add mocks
  contract/contracts/mocks/MockERC20.sol
  contract/contracts/mocks/MockSafeProxy.sol
  contract/contracts/mocks/MockSafeProxyFactory.sol
Due: contract-unit-tests

test: add unit test for successful team creation with owner as member
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: update delete team unit test to use teamMockResolve
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: simplify team creation unit test by using teamMockResolve
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

docs: fix spacing in README template description
  app/README.md
Due: app-unit-tests, app-e2e-tests

chore: update favicon.ico file
  app/public/favicon.ico
Due: app-unit-tests, app-e2e-tests

handle error message properly
  app/src/components/forms/CreateAddCampaign.vue
Due: app-unit-tests, app-e2e-tests

test update
  app/src/components/forms/__tests__/CreateAddCampaign.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
