Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 update documentation for daily cap feature and improve formatting
  docs/00_DOCUMENTATION_INDEX.md
  docs/features/contracts/cash-remuneration/README.md
Due: none

feat: 🎉 add user stories for payroll and cash remuneration features
  docs/features/cash-remuneration/daily-cap.md
  docs/features/payroll/Readme.md
Due: none

docs: 📝 enhance payroll user stories with detailed acceptance criteria and lifecycle steps
  docs/features/payroll/Readme.md
Due: none

docs: 📝 streamline agent guidance
  .github/copilot-instructions/commit-conventions.md
  .github/copilot-instructions/vue-component-standards.md
  AGENTS.md
  app/src/queries/README.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 assign issues to the current user
  .claude/skills/github-flow/SKILL.md
  AGENTS.md
Due: none

docs: 📝 add repository agent skills
  .agents/skills/cnc-contract-change/SKILL.md
  .agents/skills/cnc-contract-change/agents/openai.yaml
  .agents/skills/cnc-docs-governance/SKILL.md
  .agents/skills/cnc-docs-governance/agents/openai.yaml
  .agents/skills/cnc-frontend-change/SKILL.md
  .agents/skills/cnc-frontend-change/agents/openai.yaml
  .agents/skills/cnc-github-flow/SKILL.md
  .agents/skills/cnc-github-flow/agents/openai.yaml
  .agents/skills/cnc-pr-review/SKILL.md
  .agents/skills/cnc-pr-review/agents/openai.yaml
  .agents/skills/cnc-work-orchestrator/SKILL.md
  .agents/skills/cnc-work-orchestrator/agents/openai.yaml
  .claude/skills/github-flow/SKILL.md
  .github/copilot-instructions/vue-component-standards.md
  AGENTS.md
  scripts/audit-doc-drift.sh
Due: none

feat: 🎉 implement authorization checks for withdraw action in weekly claims
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: 🎉 add requireTeamMember middleware and optimize team ID resolution
  backend/src/middleware/__tests__/teamAuthzMiddleware.test.ts
  backend/src/middleware/teamAuthzMiddleware.ts
Due: api-unit-tests

docs: 📝 update weekly claim action descriptions and API withdrawal criteria in documentation
  backend/src/routes/weeklyClaimRoute.ts
  docs/features/payroll/Readme.md
  docs/platform/security.md
Due: api-unit-tests

ci: 👷 add Markdown quality checks
  .agents/skills/cnc-docs-governance/SKILL.md
  .github/workflows/docs-drift.yml
  .markdownlint-cli2.yaml
  .prettierignore
  AGENTS.md
  docs/contracts/contracts-technical-architecture.md
  package-lock.json
  package.json
  scripts/check-markdown-format.mjs
Due: none

fix: 🐛 align claim form daily-cap fallback with the server default
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add effectiveFrom field to Wage interface and clarify scheduledWage in Member interface
  app/src/types/cash-remuneration.ts
  app/src/types/member.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add effectiveFrom field to Wage model and create migration for database update
  backend/prisma/migrations/20260812000000_wage_effective_from/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

test: 🧪 add tests for scheduled wage alerts in ClaimHistoryActionAlerts component
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryActionAlerts.scheduledWage.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/claimHistoryActionAlerts.harness.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add scheduled wage alerts to ClaimHistoryActionAlerts and MemberSection components
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/DashboardView/SetMemberWageModal.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 replace currency symbol logic with rateSymbol utility in RateDotList component
  app/src/components/RateDotList.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add useScheduledWageRefresh composable to handle scheduled wage updates
  app/src/composables/useClaimForm.ts
  app/src/composables/useScheduledWageRefresh.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add useCancelScheduledWageMutation to handle cancellation of scheduled wage changes
  app/src/queries/wage.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add scheduledWage property to Wage interface for handling future wage claims
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update Readme and add wage scheduling documentation for clarity on effective wage changes
  docs/features/payroll/Readme.md
  docs/features/payroll/wage-scheduling.md
Due: none

fix: 🐛 add index on Wage model for teamId and userAddress to optimize query performance
  backend/prisma/migrations/20260812010000_wage_member_chain_index/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

fix: 🐛 add tests for wage scheduling and resolution utilities in controllers
  app/src/utils/__tests__/wageScheduling.spec.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/validation/schemas/wage.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: 🐛 integrate wage resolution for weekly claims and enhance team wage fetching logic
  backend/src/controllers/claimController.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: 🐛 enhance wage handling in weekly claims and implement wage resolution logic
  backend/src/controllers/wageController.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: 🐛 add endpoint to cancel scheduled wage changes and update route handling
  backend/src/routes/wageRoute.ts
Due: api-unit-tests

feat: implement wage resolution logic and utility functions for weekly claims
  backend/src/utils/__tests__/wageResolution.test.ts
  backend/src/utils/wageResolution.ts
Due: api-unit-tests

fix: 🐛 enhance wage display logic and add utility functions for scheduled wage changes
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

ci: 👷 centralize Markdown formatting
  .agents/skills/cnc-docs-governance/SKILL.md
  AGENTS.md
  app/.prettierignore
  backend/.prettierignore
  contract/.prettierignore
Due: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 remove historical guidance references
  .agents/skills/cnc-docs-governance/SKILL.md
  .github/copilot-instructions/formatting-standards.md
  .github/copilot-instructions/solidity-audit-checklist.md
  .github/copilot-instructions/testing-anti-patterns.md
  .github/workflows/contract-slither.yml
Due: none

docs: 📝 verify published GitHub artifact formatting
  AGENTS.md
Due: none

docs: 📝 prevent malformed GitHub Markdown
  .agents/skills/cnc-github-flow/SKILL.md
  AGENTS.md
Due: none

test: ✅ remove legacy wrapper.vm cast exceptions
  app/eslint.config.js
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/components/forms/__tests__/TransferForm.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryWeekNavigator.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ migrate Safe specs to global test mocks
  app/eslint.config.js
  app/src/components/sections/SafeView/__tests__/RemoveOwnerButton.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.transfer.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeOwnersCard.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/AddSignerModal.spec.ts
  app/src/components/sections/SafeView/forms/__tests__/UpdateThresholdModal.spec.ts
  app/src/composables/safe/__tests__/useSafeSdk.spec.ts
  app/src/composables/safe/__tests__/useSafeTransactionActions.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ migrate cash remuneration specs to global mocks
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.migration.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/treasury.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ migrate investor form specs to global mocks
  app/src/components/sections/SherTokenView/forms/__tests__/MintForm.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/MintRecapCard.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/MintStakeSection.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/TwinAmountInputs.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ migrate shared utility specs to global mocks
  app/src/components/sections/AdministrationView/__tests__/CurrentBoDSection.spec.ts
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
  app/src/composables/__tests__/useFileUrl.spec.ts
  app/src/queries/__tests__/contract.queries.spec.ts
  app/src/tests/mocks/api.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ migrate administration specs to global mocks
  app/src/components/sections/AdministrationView/__tests__/PastBoDElectionCard.spec.ts
  app/src/views/team/[id]/__tests__/BankView.spec.ts
  app/src/views/team/[id]/__tests__/BodElectionView.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ migrate vesting specs to global mocks
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/vesting.setup.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
