Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 document multiple vesting schedules per member
  docs/contracts/README.md
Due: none

feat: ✨ enhance UserComponent and LedgerTable with size prop for responsive design
  app/src/components/UserComponent.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement transfer initiators resolution in CNC accounting
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/accounting/useTransferInitiators.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add unit tests for useTransferInitiators composable
  app/src/composables/accounting/__tests__/useTransferInitiators.spec.ts
  app/src/utils/accounting/__tests__/describeEntry.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance ledger entry descriptions with transfer initiator and improved activity narration
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/ledgerEntry.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ Vesting — CEI ordering and cached array length
  contract/contracts/Vesting.sol
Due: contract-unit-tests

refactor: ♻️ Vesting UI — multiple schedules per member
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingErrors.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingInitial.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
  app/src/composables/vesting/useCreateVesting.ts
  app/src/types/vesting.ts
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 sync hardhat deployed_addresses with the Vesting beacon
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

feat: ✨ update payroll accrual logic to date entries at the end of the work week
  app/src/utils/accounting/__tests__/payrollAccrual.spec.ts
  app/src/utils/accounting/mappers/payrollAccrual.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ update formatHours function to format hours and minutes instead of decimals
  app/src/utils/accounting/__tests__/describeEntry.spec.ts
  app/src/utils/accounting/describeEntry.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add ColumnVisibilitySelect component for dynamic column management
  app/src/components/ColumnVisibilitySelect.vue
  app/src/components/__tests__/ColumnVisibilitySelect.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement column visibility management in GeneralLedger and LedgerTable
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

Add FixedReturn ABI JSON files for dashboard and ponder
  app/src/artifacts/deployed_addresses/chain-31337.json
  dashboard/app/artifacts/abi/json/FixedReturn.json
  ponder/abis/json/FixedReturn.json
Due: app-unit-tests, app-e2e-tests

feat: ✨ add FixedReturn offering metadata create mutation
  app/src/queries/fixedReturnOffering.queries.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ back Community Credit UI with the on-chain FixedReturn contract
  app/src/components/sections/AdministrationView/__tests__/PublishResult.spec.ts
  app/src/components/sections/CommunityCreditView/CreditAccountHero.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRoleSwitcher.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/stores/communityCreditSeed.ts
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/communityCreditUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RepayView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 adjust layout and alignment in GeneralLedger component
  app/src/components/sections/AccountingView/GeneralLedger.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ improve transfer initiators resolution with error handling
  app/src/composables/accounting/__tests__/useTransferInitiators.spec.ts
  app/src/composables/accounting/useTransferInitiators.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 start the credit round on its subscription deadline
  app/src/views/team/[id]/CommunityCredit/NewView.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add Community Credit sidebar sub-navigation
  app/src/composables/useSidebarNavItems.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ rename error handling in useTransferInitiators to TransferInitiatorsError
  app/src/composables/accounting/__tests__/useTransferInitiators.spec.ts
  app/src/composables/accounting/useTransferInitiators.ts
Due: app-unit-tests, app-e2e-tests

feat: add StepIndicator component for offering steps visualization
  app/src/components/sections/FixedReturnView/CreateOfferingForm.vue
  app/src/components/sections/FixedReturnView/FixedReturnBalanceSection.vue
  app/src/components/sections/FixedReturnView/OfferingDetail.vue
  app/src/components/sections/FixedReturnView/OfferingIssuerActions.vue
  app/src/components/sections/FixedReturnView/OfferingLendersSection.vue
  app/src/components/sections/FixedReturnView/OfferingSummaryCard.vue
  app/src/components/sections/FixedReturnView/OfferingTermsStep.vue
  app/src/components/sections/FixedReturnView/OfferingsDashboard.vue
  app/src/components/sections/FixedReturnView/OfferingsList.vue
  app/src/components/sections/FixedReturnView/RepayLendersModal.vue
  app/src/components/sections/FixedReturnView/StepIndicator.vue
  app/src/components/sections/FixedReturnView/__tests__/CreateOfferingForm.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingBasicsStep.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingDetail.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingIssuerActions.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingTermsStep.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingsDashboard.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingsList.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/RepayLendersModal.spec.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/composables/useBlockTimestamp.ts
  app/src/types/__tests__/offering.schemas.spec.ts
  app/src/types/offering.schemas.ts
  app/src/types/offering.ts
  app/src/utils/__tests__/contractDeploymentUtil.spec.ts
  app/src/utils/__tests__/offeringUtil.spec.ts
  app/src/utils/__tests__/offeringViewUtil.spec.ts
  app/src/utils/contractDeploymentUtil.ts
  app/src/utils/offeringUtil.ts
  app/src/utils/offeringViewUtil.ts
  app/src/views/team/[id]/FixedReturnView.vue
Due: app-unit-tests, app-e2e-tests

test: ✅ cover Community Credit write flows
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ cover Community Credit write-flow error paths
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ drive the store-spec owner query via the global vue-query mock
  app/src/stores/__tests__/communityCredit.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ back Community Credit UI with the on-chain FixedReturn contract (#2231)
  app/src/components/sections/AdministrationView/__tests__/PublishResult.spec.ts
  app/src/components/sections/CommunityCreditView/CreditAccountHero.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRoleSwitcher.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/composables/useSidebarNavItems.ts
  app/src/queries/fixedReturnOffering.queries.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/stores/communityCreditSeed.ts
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/communityCreditUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RepayView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update refund logic and repayment status handling in offering components
  app/src/components/sections/FixedReturnView/OfferingDetail.vue
  app/src/components/sections/FixedReturnView/OfferingIssuerActions.vue
  app/src/components/sections/FixedReturnView/OfferingLendersSection.vue
  app/src/types/offering.ts
  app/src/utils/offeringViewUtil.ts
Due: app-unit-tests, app-e2e-tests

test: update OfferingDetail and OfferingIssuerActions tests for lender claim logic and timestamp handling
  app/src/components/sections/FixedReturnView/__tests__/OfferingDetail.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingIssuerActions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add releaseLenderRepayment function to IBank interface
  app/src/artifacts/abi/json/FixedReturn.json
  app/src/components/sections/FixedReturnView/RepayLendersModal.vue
  app/src/components/sections/FixedReturnView/__tests__/RepayLendersModal.spec.ts
  app/src/composables/contracts/__tests__/errorCatalogs.spec.ts
  app/src/composables/contracts/fixedReturnErrorCatalog.ts
  app/src/types/__tests__/offering.schemas.spec.ts
  app/src/types/offering.schemas.ts
  contract/contracts/Bank.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IBank.sol
  contract/test/Bank.spec.ts
  contract/test/FixedReturn.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: add FixedReturnContractNotFound and NotFixedReturn error types; implement releaseLenderRepayment function
  app/src/artifacts/abi/json/Bank.json
Due: app-unit-tests, app-e2e-tests

style: format code for better readability in Bank and FixedReturn tests
  contract/test/Bank.spec.ts
  contract/test/FixedReturn.spec.ts
Due: contract-unit-tests

style: improve code formatting for better readability in RepayLendersModal and offering schemas tests
  app/src/components/sections/FixedReturnView/RepayLendersModal.vue
  app/src/types/__tests__/offering.schemas.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ index FixedReturn lending events with Ponder
  ponder/abis/fixed-return.ts
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/src/api/index.ts
  ponder/src/index.ts
Due: none

feat: ✨ persist a weekly goals memo per weekly claim
  backend/prisma/migrations/20260703000000_add_weekly_goals/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/claimController.ts
  backend/src/controllers/weeklyClaimController.ts
  backend/src/routes/weeklyClaimRoute.ts
  backend/src/validation/schemas/weeklyClaim.ts
Due: api-unit-tests

feat: ✨ submit weekly goals with a GitHub-style Markdown editor
  app/src/components/MarkdownEditor.vue
  app/src/components/__tests__/MarkdownEditor.spec.ts
  app/src/components/sections/CashRemunerationView/SubmitWeeklyGoals.vue
  app/src/components/sections/CashRemunerationView/__tests__/SubmitWeeklyGoals.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistoryActionAlerts.spec.ts
  app/src/queries/__tests__/weeklyClaimGoals.queries.spec.ts
  app/src/queries/weeklyClaim.queries.ts
  app/src/tests/mocks/query.mock.ts
  app/src/types/cash-remuneration.ts
  app/vite.config.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ emit FundsSweptToBank and FundingProgressed on FixedReturn deposits
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/test/FixedReturn.spec.ts
Due: contract-unit-tests

feat: ✨ index FixedReturn FundsSweptToBank in Ponder
  ponder/abis/fixed-return.ts
  ponder/abis/json/FixedReturn.json
  ponder/ponder.schema.ts
  ponder/src/api/index.ts
  ponder/src/index.ts
Due: none

ci: 👷 exclude generated ponder ABI exports from Danger PR-size budget
  dangerfile.js
Due: none

refactor: remove direct repayment function from FixedReturn and implement Bank.fundFixedReturnRepayment
  app/src/artifacts/abi/json/Bank.json
  app/src/artifacts/abi/json/FixedReturn.json
  app/src/components/sections/FixedReturnView/LenderMarketplace.vue
  app/src/components/sections/FixedReturnView/RepayLendersModal.vue
  app/src/components/sections/FixedReturnView/__tests__/RepayLendersModal.spec.ts
  app/src/composables/bank/__tests__/bankWrites.spec.ts
  app/src/composables/bank/writes.ts
  app/src/composables/contracts/__tests__/errorCatalogs.spec.ts
  app/src/composables/contracts/errorCatalogs.ts
  app/src/composables/fixedReturn/__tests__/writes.spec.ts
  app/src/composables/fixedReturn/writes.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/bank.setup.ts
  app/src/tests/setup/fixedReturn.setup.ts
  contract/contracts/Bank.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/contracts/mocks/MockFixedReturn.sol
  contract/test/Bank.spec.ts
  contract/test/FixedReturn.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
