Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: ✨ add functionality to persist Accounting menu's expanded state with local storage
  app/src/components/ui/SidebarLayout.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add isAllTimeRange function to identify "All time" date range preset
  app/src/utils/accountingExport.ts
  app/src/utils/accountingPdf.ts
  app/src/utils/datePicker.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add accounting menu persistence and export functionality
  app/src/composables/__tests__/useSidebarNavItems.spec.ts
  app/src/composables/accounting/useAccountingExport.ts
  app/src/composables/useSidebarNavItems.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance export functionality to use dynamic filenames for accounting reports
  app/src/components/sections/AccountingView/BalanceSheetCard.vue
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/IncomeStatementCard.vue
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add tests for statement headings and reporting periods in accounting tables
  app/src/utils/__tests__/accountingPdf.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add export title functions and tests for accounting reports
  app/src/utils/accounting/__tests__/exportNaming.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/exportNaming.ts
  app/src/utils/accounting/presenter.ts
  app/src/utils/accountingExport.ts
  app/src/utils/accountingPdf.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 pin dashboard/ to Node 24 for Railway npm ci lockfile match
  dashboard/.nvmrc
  dashboard/package.json
Due: none

refactor: ♻️ remove the unused Tips contract
  app/src/artifacts/abi/json/Tips.json
  app/src/composables/bank/__tests__/BANK_TESTS_SUMMARY.md
  app/src/composables/contracts/__tests__/errorCatalogs.spec.ts
  app/src/composables/contracts/errorCatalogs.ts
  app/src/composables/contracts/errorCatalogs.types.ts
  contract/SCENARIO_COMPLET.md
  contract/contracts/Tips.sol
  contract/hardhat.config.ts
  contract/ignition/modules/ProxyModule.ts
  contract/scripts/deploy.ts
  contract/scripts/validate-upgrade.ts
  contract/storage-baselines/polygon/Tips.json
  contract/test/Tips.spec.ts
  dashboard/app/artifacts/abi/json/Tips.json
  docs/03_IMPLEMENTATION_STATUS.md
  docs/contracts/README.md
  docs/contracts/contracts-quick-reference.md
  docs/features/contracts/README.md
  docs/features/contracts/tips/README.md
  ponder/abis/json/Tips.json
  ponder/scripts/generate-abis.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

chore: 🔧 ignore .codex and scripts directories
  .gitignore
Due: none

chore: 🔧 ignore .codex and scripts directories (#2272)
  .gitignore
Due: none

chore: 🔧 add Chainlink solhint plugin for style conventions
  contract/.solhint.json
  contract/.solhintignore
  contract/contracts/Elections/Elections.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/base/TokenSupport.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/package-lock.json
  contract/package.json
Due: contract-unit-tests

refactor: ♻️ apply s_/i_ storage naming to contracts
  contract/contracts/AdCampaignManager.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Officer.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
Due: contract-unit-tests

perf: ⚡️ cache storage array length in view loops
  contract/contracts/FeeCollector.sol
  contract/contracts/Officer.sol
Due: contract-unit-tests

refactor: ♻️ prefix library internal functions with underscore
  contract/contracts/Elections/ElectionUtils.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/Proposals/ProposalUtils.sol
  contract/contracts/Proposals/Proposals.sol
Due: contract-unit-tests

refactor: ♻️ use explicit named imports across contracts
  contract/contracts/AdCampaignManager.sol
  contract/contracts/Bank.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/Proxies.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/base/TokenSupport.sol
  contract/contracts/beacons/Beacon.sol
  contract/contracts/beacons/FactoryBeacon.sol
  contract/contracts/beacons/UserBeaconProxy.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/contracts/interfaces/IBank.sol
  contract/contracts/interfaces/ICashRemuneration.sol
  contract/contracts/interfaces/IFeeCollector.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/contracts/interfaces/IInvestorV1.sol
  contract/contracts/interfaces/IMintableERC20.sol
  contract/contracts/interfaces/ISafeDepositRouter.sol
  contract/contracts/interfaces/IVesting.sol
Due: contract-unit-tests

chore: 🔧 enforce no-require-statements solhint rule
  contract/.solhint.json
Due: contract-unit-tests

refactor: ♻️ move Ownable arg to constructor in AdCampaignManager
  contract/.solhint.json
  contract/contracts/AdCampaignManager.sol
Due: contract-unit-tests

refactor: ♻️ drop braces on single-statement if-revert guards
  contract/.solhint.json
  contract/contracts/AdCampaignManager.sol
  contract/contracts/BoardOfDirectors.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Elections/ElectionUtils.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/FeeCollector.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Officer.sol
  contract/contracts/Proposals/ProposalUtils.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
  contract/contracts/Voting/Voting.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

chore: 🔧 disable solhint:all naming rules superseded by Chainlink
  contract/.solhint.json
Due: contract-unit-tests

refactor: ♻️ drop dead imports revealed by named imports
  contract/contracts/Officer.sol
  contract/contracts/Proxies.sol
  contract/contracts/beacons/Beacon.sol
  contract/contracts/beacons/FactoryBeacon.sol
Due: contract-unit-tests

chore: 🔧 ignore constructor visibility in func-visibility rule
  contract/.solhint.json
Due: contract-unit-tests

refactor: ♻️ mark EIP-712 typehash constants private
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

refactor: ♻️ move __gap into the storage section
  contract/contracts/FixedReturn.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
Due: contract-unit-tests

chore: 🔧 silence Slither unused-state on upgrade __gap
  contract/contracts/FixedReturn.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
Due: contract-unit-tests

feat: ✨ update transaction fee handling and enhance accounting tests
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/buildLedger.spec.ts
  app/src/utils/accounting/__tests__/chartOfAccounts.spec.ts
  app/src/utils/accounting/__tests__/describeEntry.spec.ts
  app/src/utils/accounting/__tests__/fees.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance balance sheet and ledger with cash breakdown by currency and transaction fee tracking
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/buildLedger.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ update transaction fee handling to reflect as an expense in accounting records
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/mappers/fees.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ index Bank transfer fees in Ponder, deriving when FeePaid is absent
  ponder/abis/fee-collector.ts
  ponder/ponder.config.ts
  ponder/src/index.ts
Due: none

refactor: ♻️ remove Slither unused-state disable comments from storage gaps
  contract/contracts/FixedReturn.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
Due: contract-unit-tests

refactor: ♻️ reorder solhint rules for improved readability
  contract/.solhint.json
Due: contract-unit-tests

refactor: ♻️ use named arguments for calls with 4+ parameters
  contract/contracts/AdCampaignManager.sol
  contract/contracts/Elections/Elections.sol
  contract/contracts/FixedReturn.sol
  contract/contracts/Proposals/Proposals.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
  contract/contracts/Voting/Voting.sol
Due: contract-unit-tests

refactor: 💡 improve code readability by formatting multiline function calls in balance sheet tests
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/balanceSheet.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add currency, quantity, and rate columns to ledger table with appropriate templates
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add historical token rates functionality for accurate accounting records
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/accounting/useHistoricalTokenRates.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance accounting tests with additional columns and non-regression checks
  app/src/utils/__tests__/accountingExport.spec.ts
  app/src/utils/__tests__/accountingPdf.spec.ts
  app/src/utils/accounting/__tests__/historicalRate.spec.ts
  app/src/utils/accounting/__tests__/nonRegression.spec.ts
  app/src/utils/accounting/__tests__/toUsd.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance ledger export functionality by adding currency, quantity, and rate fields
  app/src/utils/accounting/toUsd.ts
  app/src/utils/accountingExport.ts
  app/src/utils/accountingPdf.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement historical rate resolution and enhance ledger entry structure with currency, quantity, and rate fields
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/historicalRate.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/ledgerPresenter.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update ledger column order and description for clarity in display format
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add 'priced' field to CashCurrencyLine and update cashCurrencyValue logic for accurate display of holdings
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests
