Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

Enhance updateClaim to validate hoursWorked against weekly maximum hours
  backend/src/controllers/claimController.ts
Due: api-unit-tests

Remove redundant comment from updateClaim function regarding hoursWorked validation
  backend/src/controllers/claimController.ts
Due: api-unit-tests

fix: convert to bigint integer
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

fix: use eip712 expense account
  contract/ignition/modules/ExpenseAccountUpgradeModule.ts
Due: contract-unit-tests

chore: remove log
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

test: expense formatting
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

Enhance updateClaim to validate weekly hours against maximum limit
  backend/src/controllers/claimController.ts
Due: api-unit-tests

Add validation to prevent claim updates exceeding maximum weekly hours
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

Refactor upload utility to include file extension preservation and improve MIME type validation
  backend/src/utils/upload.ts
Due: api-unit-tests

Add ref to ClaimForm and reset form on submit in EditClaims and SubmitClaims
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

Refactor ClaimForm to use ref for UploadImage and update types for imageScreens
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

Enhance UploadImage component with improved file handling, validation, and user feedback
  app/src/components/sections/CashRemunerationView/Form/UploadImage.vue
Due: app-unit-tests, app-e2e-tests

Add imageScreens field to Claim and ClaimSubmitPayload interfaces; update validation schema for imageScreens
  app/src/types/cash-remuneration.ts
  backend/src/validation/schemas/claim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

Add imageScreens handling to addClaim and updateClaim functions
  backend/src/controllers/claimController.ts
Due: api-unit-tests

Add file gallery and lightbox functionality to ClaimHistory component
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

Increase memo character limit to 3000 in claim forms and validation schemas
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  backend/src/validation/schemas/claim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

Increase memo length validation
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
Due: app-unit-tests, app-e2e-tests

Increase memo character limit validation to 3000 words in test scenarios
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

add fee setting to dashboard
  app/src/components/forms/DepositBankForm.vue
  contract/contracts/FeeCollectorV2.sol
  contract/ignition/modules/FeeCollectorModule.ts
  contract/ignition/modules/FeeCollectorUpgradeModule.ts
  dashboard/app/artifacts/abi/feeCollector.ts
  dashboard/app/artifacts/deployed_addresses/chain-137.json
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorManagement.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigAddActions.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigList.vue
  dashboard/app/components/sections/FeeCollectorView/types.ts
  dashboard/app/composables/useFeeCollector.ts
  dashboard/app/types/teamContracts.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

fix lint issue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigAddActions.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigList.vue
Due: none

perf modals and price digits
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorStats.vue
  dashboard/app/components/sections/FeeCollectorView/FeeConfigFormModal.vue
  dashboard/app/components/sections/FeeCollectorView/TokenHoldingsTable.vue
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
  dashboard/app/composables/useTokenPrices.ts
  dashboard/app/utils/currency.ts
Due: none

add test for feeCollectoV2
  contract/test/FeeCollectorV2.spec.ts
Due: contract-unit-tests

update withdraw modal title
  dashboard/app/components/sections/FeeCollectorView/WithdrawModal.vue
Due: none

Refactor code structure for improved readability and maintainability
  app/src/artifacts/deployed_addresses/chain-137.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountUpgradeModule#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountUpgradeModule#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountUpgradeModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-137/artifacts/ExpenseAccountUpgradeModule#FactoryBeacon.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

include fallback api to coingecko
  app/src/stores/currencyStore.ts
  dashboard/app/composables/useTokenPrices.ts
  dashboard/app/utils/currency.ts
Due: app-unit-tests, app-e2e-tests

fix format issue
  app/src/components/forms/DepositBankForm.vue
  app/src/services/AddCampaignService.ts
  app/src/stores/currencyStore.ts
Due: app-unit-tests, app-e2e-tests

Fix formatting issue in AddCampaignService.ts
  app/src/services/AddCampaignService.ts
Due: app-unit-tests, app-e2e-tests

Refactor ExtendedPaymentReleasedOnWithdrawApprovalEvent
  app/src/services/AddCampaignService.ts
Due: app-unit-tests, app-e2e-tests

Fix formatting by removing extra lines
  app/src/services/AddCampaignService.ts
Due: app-unit-tests, app-e2e-tests

direct update the main fee collector contract
  contract/contracts/FeeCollector.sol
  contract/contracts/FeeCollectorV2.sol
  contract/ignition/modules/FeeCollectorUpgradeModule.ts
  contract/test/FeeCollector.spec.ts
  contract/test/FeeCollectorV2.spec.ts
Due: contract-unit-tests

Add FeeCollector upgrade module addresses and journal entries for deployment
  app/src/artifacts/deployed_addresses/chain-137.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorUpgradeModule#FeeCollectorProxyABI_v2.dbg.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorUpgradeModule#FeeCollectorProxyABI_v2.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorUpgradeModule#FeeCollectorProxyAdmin_v2.dbg.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorUpgradeModule#FeeCollectorProxyAdmin_v2.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorUpgradeModule#FeeCollector_impl_v2.dbg.json
  contract/ignition/deployments/chain-137/artifacts/FeeCollectorUpgradeModule#FeeCollector_impl_v2.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

Add Global Restriction and Team Overrides components for claim submission settings
  dashboard/app/components/features/GlobalRestrictionSection.vue
  dashboard/app/components/features/SubmitRestrictionCard.vue
  dashboard/app/components/features/TeamOverridesTable.vue
Due: none

Add SubmitRestriction component to manage restriction submissions
  dashboard/app/pages/features/SubmitRestriction.vue
Due: none

Add 'Submit Restriction' feature link to navigation and update page title mapping
  dashboard/app/layouts/default.vue
Due: none

Add GlobalRestrictionSetting and TeamRestrictionOverride models to manage restrictions
  backend/prisma/schema.prisma
Due: api-unit-tests

Add Prettier configuration file for code formatting
  dashboard/.prettierrc.json
Due: none

Add migration for GlobalRestrictionSetting and TeamRestrictionOverride tables
  backend/prisma/migrations/20251215202319_add_submit_restriction/migration.sql
Due: api-unit-tests

Revert "Add GlobalRestrictionSetting and TeamRestrictionOverride models to manage restrictions"
  backend/prisma/schema.prisma
Due: api-unit-tests

Remove Prettier configuration file
  dashboard/.prettierrc.json
Due: none

Revert "Merge branch 'feature/RestrictionDesign' of https://github.com/globe-and-citizen/cnc-portal into feature/RestrictionDesign"
  backend/prisma/migrations/20251215202319_add_submit_restriction/migration.sql
Due: api-unit-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
