Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: handle potential undefined candidate props in election candidates tests
  app/src/components/sections/AdministrationView/__tests__/ElectionCandidatesSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: enhance election results display and pagination in past elections section
  app/src/components/sections/AdministrationView/ElectionCandidateCard.vue
  app/src/components/sections/AdministrationView/ElectionCandidatesSection.vue
  app/src/components/sections/AdministrationView/PastElectionCard.vue
  app/src/components/sections/AdministrationView/PastElectionsSection.vue
  app/src/components/ui/TablePagination.vue
Due: app-unit-tests, app-e2e-tests

fix: add address helper functions for case-insensitive equality and inclusion checks
  app/src/utils/elections/__tests__/election.spec.ts
  app/src/utils/elections/election.ts
Due: app-unit-tests, app-e2e-tests

fix: remove unused getResults mock from elections setup
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/elections.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: update election results handling in tests to ensure correct filtering of published elections
  app/src/composables/elections/__tests__/history.spec.ts
  app/src/composables/elections/__tests__/writes.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: refactor election fetching logic and add winners retrieval functionality
  app/src/composables/elections/history.ts
  app/src/composables/elections/index.ts
  app/src/composables/elections/invalidation.ts
  app/src/composables/elections/reads.ts
Due: app-unit-tests, app-e2e-tests

fix: add usePaginatedList composable for improved pagination handling
  app/src/composables/__tests__/usePagination.spec.ts
  app/src/composables/contracts/INVALIDATION_MAP.md
  app/src/composables/usePagination.ts
  docs/features/elections/README.md
Due: app-unit-tests, app-e2e-tests

fix: update implementation evidence references in election and transaction history documentation
  docs/features/elections/README.md
  docs/implementation/transaction-history/README.md
Due: none

fix: add election notification edge case tests for team ownership and unknown team scenarios
  backend/bruno/CNCPortal/Elections/Election - 01 - Notifications - Notify Team Of New Election.bru
  backend/bruno/CNCPortal/Elections/edge/Election - 02 - Edge Case - Notifications - Caller Is Not Team Owner.bru
  backend/bruno/CNCPortal/Elections/edge/Election - 03 - Edge Case - Notifications - Unknown Team.bru
Due: api-unit-tests

fix: implement election notification logic for team owners in elections controller
  backend/src/controllers/__tests__/electionsController.test.ts
  backend/src/controllers/electionsController.ts
Due: api-unit-tests

fix: update election notification API documentation and business rules
  backend/src/routes/electionsRoute.ts
  docs/features/elections/README.md
Due: api-unit-tests

fix: update implementation evidence reference in election documentation
  docs/features/elections/README.md
Due: none

refactor: stop hand-writing FixedReturn query keys in components
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/CreditRoundReadState.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundReadState.spec.ts
  app/src/composables/fixedReturn/invalidation.ts
  app/src/views/team/[id]/CommunityCredit/NewView.vue
Due: app-unit-tests, app-e2e-tests

docs: refresh implementation evidence attestation
  docs/features/community-credit/README.md
Due: none

fix: correct a stale acceptance-criterion ID reference
  app/src/components/sections/AdministrationView/__tests__/PastElectionsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record integrated E2E test groups
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

test: cover the new invalidation exports and the enabled/queryKey gating
  app/src/composables/fixedReturn/__tests__/invalidation.spec.ts
  app/src/composables/fixedReturn/__tests__/myLenderPosition.spec.ts
  app/src/composables/fixedReturn/__tests__/myLenderPositions.spec.ts
  app/src/composables/fixedReturn/__tests__/offerLenders.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove the unused isLender/CreditRole role model
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/types/communityCredit.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: record the Community Credit architecture map
  docs/features/community-credit/README.md
Due: none

docs: record the Community Credit lender payout scale decision
  contract/test/FixedReturnPayoutGasBenchmark.spec.ts
  docs/adr/0002-community-credit-lender-payout-scale.md
  docs/adr/README.md
Due: contract-unit-tests

test: add Community Credit E2E coverage for the primary lending journey
  app/test/e2e/community-credit/community-credit-chain.ts
  app/test/e2e/community-credit/community-credit-page.ts
  app/test/e2e/community-credit/community-credit-round.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 keep acceptance criteria out of test titles
  docs/platform/feature-specification-guide.md
  scripts/acceptance-criteria-traceability.test.mjs
Due: none

test: ✅ streamline company creation E2E coverage
  app/package.json
  app/playwright.config.ts
  app/src/e2e/chain.ts
  app/test/e2e/company/company-creation.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ add integrated company user flows
  app/playwright.config.ts
  app/test/e2e/company/company-management.integrated.spec.ts
  app/test/e2e/company/company-onboarding.integrated.spec.ts
  app/test/e2e/company/company-onboarding.spec.ts
  app/test/e2e/company/real-company-page.ts
  app/test/e2e/e2e-page.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 group company onboarding E2E paths
  docs/features/companies/README.md
  docs/testing/e2e-paths.md
Due: none

docs: 📝 group E2E paths by user journey
  docs/testing/e2e-paths.md
Due: none

test: ✅ consolidate company E2E specs
  app/test/e2e/company/company-contracts.spec.ts
  app/test/e2e/company/company-creation.spec.ts
  app/test/e2e/company/company-onboarding.integrated.spec.ts
  app/test/e2e/company/company-onboarding.spec.ts
  app/test/e2e/company/company-recovery.spec.ts
  app/test/e2e/company/company.integrated.spec.ts
  docs/features/companies/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ restrict company E2E to user actions
  app/test/e2e/company/company-chain.ts
  app/test/e2e/company/company-contracts.spec.ts
  app/test/e2e/company/company-onboarding.spec.ts
  app/test/e2e/company/company-page.ts
  app/test/e2e/company/company.integrated.spec.ts
  app/test/e2e/company/real-company-page.ts
  docs/features/companies/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ separate integrated and mocked company flows
  app/package.json
  app/test/e2e/company/company.integrated.spec.ts
  app/test/e2e/company/company.mocked.spec.ts
  docs/features/companies/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

ci: 👷 run Companies E2E against integrated stack
  .github/workflows/app-company-e2e.yml
  .github/workflows/app-e2e.yml
  app/playwright.config.ts
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

ci: 👷 run integrated E2E in registered workflow
  .github/workflows/app-company-e2e.yml
  .github/workflows/app-e2e.yml
Due: none

fix: 🐛 align integrated E2E browser origin
  .github/workflows/app-e2e.yml
Due: none

fix: 🐛 deploy Company E2E token infrastructure
  .github/workflows/app-e2e.yml
Due: none

fix: 🐛 seed deterministic E2E token recipients
  .github/workflows/app-e2e.yml
Due: none

test: ✅ reference the published election criterion
  app/src/components/sections/AdministrationView/__tests__/PastElectionsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 consolidate Company E2E helpers
  app/test/e2e/company/company-archive.spec.ts
  app/test/e2e/company/company-delete.spec.ts
  app/test/e2e/company/company-lifecycle-page.ts
  app/test/e2e/company/company-update.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up props in ElectionStatsCard and remove unused mock in PublishResult tests
  app/src/components/sections/AdministrationView/__tests__/ElectionStats.spec.ts
  app/src/components/sections/AdministrationView/__tests__/PublishResult.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
