Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

chore: remove unused
  backend/types/express.d.ts
Due: api-unit-tests

ci: add git ignore for subragph.yaml
  the-graph/package.json
Due: none

refactor: use expense store for disabled address
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: use store to rfetch data
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: create new api to retrieve monthly pending claim
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

feat: add monthly pending claim card
  app/src/components/OverviewCard.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationOverview.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: add isLoading
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
Due: app-unit-tests, app-e2e-tests

docs: add docs for new api
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

update composable
  app/src/components/TeamContracts.vue
  app/src/components/forms/CreateAddCampaign.vue
  app/src/composables/useContractFunctions.ts
Due: app-unit-tests, app-e2e-tests

feat: add limit reached status
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

feat: add transactions limit and filter out limit-teaced
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

feat: filter expense reponse
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

chore: remove comments
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

fix: update USDC address in networks.json and subgraph.yaml for matic network
  the-graph/networks.json
  the-graph/subgraph.yaml
Due: none

feat: handle error adding expense
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

fix: remove unnecessary blank lines in MemberAction tests for cleaner code
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

chore:remove unused
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: use all expense data parsed
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: move ReceiptComponent to a new location and update imports accordingly
  app/src/components/GenericTransactionHistory.vue
  app/src/components/ReceiptComponent.vue
  app/src/components/__tests__/ReceiptComponent.spec.ts
  app/src/components/sections/BankView/__tests__/TransactionsHistorySection.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/TransactionHistorySection.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update GenericTransactionHistory component to streamline amount and value displays
  app/src/components/GenericTransactionHistory.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance ReceiptComponent to include price and value calculations based on currency store
  app/src/components/ReceiptComponent.vue
Due: app-unit-tests, app-e2e-tests

refactor: update ReceiptComponent to display transaction and address links with formatted hashes
  app/src/components/ReceiptComponent.vue
Due: app-unit-tests, app-e2e-tests

refactor: adjust hash formatting in ReceiptComponent for improved readability
  app/src/components/ReceiptComponent.vue
Due: app-unit-tests, app-e2e-tests

refactor: update GenericTransactionHistory and ReceiptComponent tests for improved currency handling and link formatting
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
  app/src/components/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance pdfExport tests with new exportTransactionsToPdf functionality and improved data handling
  app/src/utils/__tests__/pdfExport.spec.ts
  app/src/utils/__tests__/pdfExportTestData.json
Due: app-unit-tests, app-e2e-tests

refactor: update GenericTransactionHistory and ReceiptComponent to improve currency handling and value calculations
  app/src/components/GenericTransactionHistory.vue
  app/src/components/ReceiptComponent.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for USDC conversion rate handling in ReceiptComponent
  app/src/components/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: monthlyWithdrawn immutable
  the-graph/schema.graphql
Due: none

fix: docs
  backend/src/routes/claimRoute.ts
Due: api-unit-tests

fix: api pending claim
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: use transaction reduce instead
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  the-graph/schema.graphql
  the-graph/src/cashRemunerationEip712.ts
Due: app-unit-tests, app-e2e-tests

test: add test for currencyUtil
  app/src/utils/__tests__/currencyUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add test for CashRemunerationMonthlyClaim
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationMonthlyClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add test for CashRemunerationPendingClaim
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add CashRemunerationTotalBalance test
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTotalBalance.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add claimController test
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: api-unit-tests

test: add more test
  app/src/composables/__tests__/useContractBalance.spec.ts
Due: app-unit-tests, app-e2e-tests
