Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: add sysnc expense status
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

fix: delete related expense record
  backend/src/controllers/teamController.ts
Due: api-unit-tests

ci: add expense abi
  backend/src/artifacts/expense-account-eip712.json
Due: api-unit-tests

fix: update Polygon USDC address in TOKEN_ADDRESSES
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

fix: update USDC address for Polygon in TOKEN_ADDRESSES test
  app/src/constant/__tests__/index.test.ts
Due: app-unit-tests, app-e2e-tests

refactor: :recycle: comment out TransferForm tests in ExpenseAccountView and MyApprovedExpenseSection
  app/src/components/sections/ExpenseAccountView/__tests__/MyApprovedExpenseSection.spec.ts
  app/src/utils/__tests__/pdfExport.spec.ts
  app/src/views/team/[id]/__tests__/ExpenseAccountView.spec.ts
  app/src/views/team/[id]/__tests__/ExpenseAccountViewERC20.spec.ts
Due: app-unit-tests, app-e2e-tests

style: :art: format code for better readability in GenericTokenHoldingsSection and MemberAction components
  app/src/components/GenericTokenHoldingsSection.vue
  app/src/components/sections/DashboardView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

fix: update ESLint max-lines rule to enforce a stricter limit of 300 lines
  app/eslint.config.js
Due: app-unit-tests, app-e2e-tests

fix: :bug: update TeamMock interface to include additional properties for better type safety
  app/src/components/sections/DashboardView/__tests__/TeamMeta.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :white_check_mark: enhance tests by updating mocks and commenting out TransferForm tests for clarity
  app/src/components/sections/DashboardView/__tests__/TeamMeta.spec.ts
  app/src/components/sections/DashboardView/forms/__tests__/AddMemberForm.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/MyApprovedExpenseSection.spec.ts
  app/src/views/team/__tests__/ListIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

apply wagmi vue in setcosts functions and update contract
  app/src/artifacts/abi/AdCampaignManager.json
  app/src/components/TeamContractAdmins.vue
  app/src/components/TeamContractsDetail.vue
  app/src/components/forms/CreateAddCampaign.vue
  app/src/stores/teamStore.ts
  contract/contracts/AdCampaignManager.sol
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

add skip to team contract details test
  app/src/components/__tests__/TeamContractDetail.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add Iconify dependencies and update AddressToolTip component to use IconComponent for icons
  app/package-lock.json
  app/package.json
  app/src/components/AddressToolTip.vue
  app/src/components/IconComponent.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace icon components with IconComponent for consistency and update menu item icons to use Iconify format
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace Heroicons with IconComponent in CustomDatePicker, NotificationDropdown, and AddTeamCard for consistency
  app/src/components/CustomDatePicker.vue
  app/src/components/NotificationDropdown.vue
  app/src/components/sections/TeamView/AddTeamCard.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace Heroicons with IconComponent in TeamMetaComponent and DepositBankForm
  app/src/components/TeamMetaComponent.vue
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace Heroicons with IconComponent across components
  app/src/components/GenericTransactionHistory.vue
  app/src/components/TableComponent.vue
  app/src/components/TeamContracts.vue
  app/src/components/forms/EditUserForm.vue
  app/src/components/forms/TransferForm.vue
  app/src/components/sections/AdministrationView/BoardOfDirectorsSection.vue
  app/src/components/sections/AdministrationView/forms/CreateProposalForm.vue
  app/src/components/sections/BankView/BankBalanceSection.vue
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/SherTokenView/forms/DistributeMintForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove @heroicons/vue dependency from package.json and package-lock.json
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

refactor: update TestToast component to use IconComponent for icons
  app/src/components/TestToast.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace remaining Heroicons with IconComponent in tests for consistency
  app/src/components/__tests__/AddTeamCard.spec.ts
  app/src/components/__tests__/AddressToolTip.spec.ts
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
  app/src/constant/__tests__/index.test.ts
  app/src/views/team/[id]/__tests__/ExpenseAccountView.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update EditUserForm tests to use IconComponent with correct Heroicons outline format
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update MemberSection tests to reflect currency changes from ETH to SepoliaETH and enhance TOKEN_ADDRESSES mock for network testing
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
  app/src/constant/__tests__/index.test.ts
Due: app-unit-tests, app-e2e-tests

fix: enhance MemberAction modals with conditional rendering and improved error handling in tests
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace IconComponent with IconifyIcon across multiple components for consistency and improved icon handling
  app/src/components/AddressToolTip.vue
  app/src/components/CustomDatePicker.vue
  app/src/components/GenericTransactionHistory.vue
  app/src/components/IconComponent.vue
  app/src/components/NotificationDropdown.vue
  app/src/components/TableComponent.vue
  app/src/components/TeamContracts.vue
  app/src/components/TeamMetaComponent.vue
  app/src/components/TestToast.vue
  app/src/components/TheDrawer.vue
  app/src/components/forms/CreateProposalForm.vue
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/EditUserForm.vue
  app/src/components/forms/TransferForm.vue
  app/src/components/sections/AdministrationView/BoardOfDirectorsSection.vue
  app/src/components/sections/AdministrationView/forms/CreateProposalForm.vue
  app/src/components/sections/BankView/BankBalanceSection.vue
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/SherTokenView/forms/DistributeMintForm.vue
  app/src/components/sections/TeamView/AddTeamCard.vue
Due: app-unit-tests, app-e2e-tests

refactor: update EditUserForm tests to use IconifyIcon instead of IconComponent for improved icon handling
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update tests in AddTeamCard, CreateProposalForm, and ExpenseAccountView to use IconifyIcon instead of IconComponent for improved icon handling
  app/src/components/__tests__/AddTeamCard.spec.ts
  app/src/components/sections/AdministrationView/__tests__/CreateProposalForm.spec.ts
  app/src/views/team/[id]/__tests__/ExpenseAccountView.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify emits definition in AddTeamCard component
  app/src/components/sections/TeamView/AddTeamCard.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove CreateProposalForm component as part of codebase cleanup
  app/src/components/forms/CreateProposalForm.vue
Due: app-unit-tests, app-e2e-tests

fix: update validation error handling and improve wage modal functionality in MemberAction component
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: format code
  app/src/components/sections/DashboardView/MemberAction.vue
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: enhance MemberAction component tests with detailed modal interactions
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: fixe lint
  app/src/components/sections/DashboardView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add MonthlyWithdrawn schema graphql
  the-graph/schema.graphql
Due: none

feat: handle monthly wihtdrawn
  the-graph/src/cashRemunerationEip712.ts
Due: none

refactor: into some components
  app/src/components/sections/CashRemunerationView/CashRemunerationMonthlyClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationOverview.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTotalBalance.vue
Due: app-unit-tests, app-e2e-tests

feat: add types
  backend/src/controllers/expenseController.ts
  backend/src/types/expense-account.ts
  backend/src/types/index.ts
Due: api-unit-tests

fix: types
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

feat: parse expense data collecttion
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

refactor: use new api
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: use data from expense store
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests
