Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix: tests
  app/src/components/OverviewCard.vue
  app/src/components/__tests__/OverviewCard.spec.ts
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTable.spec.ts
  app/src/views/team/[id]/__tests__/CashRemunerationView.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: use expense store
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
  app/src/components/sections/ExpenseAccountView/ExpenseStatsSection.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

text: fix errors
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseStatsSection.spec.ts
  app/src/views/team/[id]/__tests__/ExpenseAccountViewERC20.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/stores/__tests__/useExpenseStore.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: update contract addresses post deployment
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

fix tests
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseStatsSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: tests
  app/src/components/__tests__/OverviewCard.spec.ts
  app/src/components/sections/ExpenseAccountView/ExpenseStatsSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: clean up router by removing unused routes and adding meta information
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused header and clean up imports in CashRemunerationView
  app/src/views/team/[id]/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

feat: add contracts endpoint to team controller and update dependencies
  backend/package-lock.json
  backend/package.json
  backend/src/artifacts/officer_abi.json
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
  backend/src/utils/viem.config.ts
  backend/tsconfig.json
Due: api-unit-tests

feat: enhance addContracts function to map and update team contract addresses
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refactor: simplify contract address handling and improve error logging in DeployContractSection
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for addContracts function in teamController
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

feat: export getChain function for improved chain ID handling in viem.config
  backend/src/utils/__tests__/viem.config.test.ts
  backend/src/utils/viem.config.ts
Due: api-unit-tests

feat: add CHAIN_ID variable to .env.example for enhanced configuration
  backend/.env.example
Due: api-unit-tests

chore: remove comment
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: use generic transaction
  contract/test-the-graph/schema.graphql
  contract/test-the-graph/src/expenseAccountEip712.ts
  contract/test-the-graph/subgraph.yaml
Due: contract-unit-tests

refactor: use transactions entity
  app/src/components/sections/ExpenseAccountView/TransactionHistorySection.vue
Due: app-unit-tests, app-e2e-tests

feat: search by contract address
  app/src/components/sections/ExpenseAccountView/TransactionHistorySection.vue
Due: app-unit-tests, app-e2e-tests

feat: add network to app
  app/src/artifacts/deployed_addresses/chain-31337.json
  app/src/artifacts/deployed_addresses/chain-80002.json
  app/src/constant/index.ts
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

revert
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

fix: revert this 31337
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

fix: ignore codecov on constants
  app/vitest.config.ts
Due: none

fix: typo
  app/vitest.config.ts
Due: none

test: fix
  app/src/__tests__/wagmi.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add MemberAction component for managing team member actions
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: integrate MemberAction component into MemberSection for enhanced team member management
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance wage management in MemberAction component with validation and state handling
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: add error handling and success notifications for member deletion and wage data addition
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance wage management by adding validation and updating route for setting employee wages
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

feat: improve error messages for missing wage data in addEmployeeWage function
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: update wage setting API to use PUT method and streamline request headers
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: update success message for member wage data addition and adjust status code check
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: remove unused error toast and clean up member action component
  app/src/components/sections/SingleTeamView/MemberAction.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance error handling in team member management with detailed messages
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: update member management routes to allow deletion by member address
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

feat: simplify error response structure by removing redundant success field
  backend/src/utils/utils.ts
Due: api-unit-tests
