Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: add status query and filtering
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

test: invalid status
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

handle error message properly
  app/src/components/forms/CreateAddCampaign.vue
Due: app-unit-tests, app-e2e-tests

test: set status
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

test: all statuses
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

refactor: update SelectMemberInput to use button for user selection and enhance dropdown visibility logic
  app/src/components/utils/SelectMemberInput.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve dropdown item selection and enhance search debounce logic in SelectMemberInput
  app/src/components/utils/SelectMemberInput.vue
Due: app-unit-tests, app-e2e-tests

fix: update selectMember function to correctly assign selected member details
  app/src/components/utils/SelectMemberInput.vue
Due: app-unit-tests, app-e2e-tests

tests improvement.
  app/src/components/TeamContractsDetail.vue
  app/src/components/__tests__/TeamContractDetail.spec.ts
  app/src/components/__tests__/TeamContractEventList.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: teams drawer not reload
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

test: increase debounce time in SelectMemberInput tests to improve reliability
  app/src/components/sections/DashboardView/__tests__/TeamMeta.spec.ts
  app/src/components/utils/__tests/SelectMemberInput.spec.ts
Due: app-unit-tests, app-e2e-tests

elevate tests
  app/src/components/__tests__/TeamContractDetail.spec.ts
  app/src/components/__tests__/TeamContractDetailExtend.spec.ts
  app/src/components/__tests__/TeamContracts.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add Dockerfile and docker-compose configuration for coverage service
  Dockerfile
  apache-config.conf
  docker-compose.yml
Due: none

chore: remove
  app/src/App.vue
Due: app-unit-tests, app-e2e-tests

feat: refetch team when open dropdown
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

test: :safety_vest: remove unnecessary check
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

test: :white_check_mark: delete check if the member is part of the team
  backend/src/controllers/__tests__/wageController.test.ts
  backend/src/controllers/wageController.ts
Due: api-unit-tests

test: :white_check_mark: add a new fonction to test
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

chore: :fire: remove line 92
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

feat: :white_check_mark: add test for getWages
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

refactor: change expense data type to json
  backend/prisma/migrations/20250421150852_change_data_to_json_type/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: use expense data json type
  backend/src/controllers/expenseController.ts
  backend/src/types/expense-account.ts
Due: api-unit-tests

refactor: update store to handle new expense type
  app/src/stores/expenseStore.ts
  app/src/types/expense-account.ts
Due: app-unit-tests, app-e2e-tests

style: format
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

test: fix to use json
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

chore: remove unused
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

fix: type-check
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTotalApproved.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTotalApproved.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

feat: disable the button when adding wage claim
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

test: add tests
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: reactivity on team show
  app/src/components/sections/DashboardView/TeamDetails.vue
  app/src/components/sections/DashboardView/TeamMetaSection.vue
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

test: refactor test
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add tests
  app/src/components/sections/DashboardView/TeamMetaSection.vue
  app/src/components/sections/DashboardView/__tests__/TeamMeta.spec.ts
Due: app-unit-tests, app-e2e-tests

test: fix tests
  app/src/components/sections/DashboardView/__tests__/TeamDetails.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: remove drop expiry
  backend/prisma/migrations/20250421150852_change_data_to_json_type/migration.sql
Due: api-unit-tests

refactor: use computed value
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove check if has has active expenses
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

refactor: remove unmount
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: move mocks to separate file
  app/src/components/sections/ExpenseAccountView/__tests__/MyApprovedExpenseSection.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/mock/MyApprovedExpenseSection.mock.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
