Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: add advanced tests for useContractWrites V2 functionality
  app/src/composables/contracts/__tests__/useContractWritesV2.advanced.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV2.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: standardize mockFormatDataForDisplay function syntax in tests
  app/src/composables/contracts/__tests__/useContractWritesV2.advanced.spec.ts
  app/src/composables/contracts/__tests__/useContractWritesV2.spec.ts
Due: app-unit-tests, app-e2e-tests

review updates
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimActions.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimActions.spec.ts
  app/src/components/sections/ClaimHistoryView/__tests__/ClaimHistory.spec.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
  backend/src/validation/schemas/claim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

chore: remove overflow visible
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: add border and shadow
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

feat: add dropdown item
  app/src/components/sections/CashRemunerationView/CRSigne.vue
Due: app-unit-tests, app-e2e-tests

feat: use CRSigne component
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

feat: add global wagmi mocks
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/tests/setup/wagmi.vue.setup.ts
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

test: dropdown item
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
Due: app-unit-tests, app-e2e-tests

test: use CRSigne component
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

test: mock useWiteContract
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/tests/setup/wagmi.vue.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: add dropdown item
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: use withdraw claim component
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

test: use withdraw claim component
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

build: update cash remuneration abi
  app/src/artifacts/abi/cash-remuneration-eip712.ts
Due: app-unit-tests, app-e2e-tests

feat: close menu after withdraw
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

test: close dropdown
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add wagmi core mocks
  app/src/tests/mocks/index.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/tests/setup/wagmi.vue.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: handle disable actions
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: add disable claim logic
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
Due: app-unit-tests, app-e2e-tests

test: disable claim
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: set overflow visible
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove Investor and ExpenseAccount contracts
  contract/contracts/Investor/Investor.sol
  contract/contracts/expense-account/ExpenseAccount.sol
Due: contract-unit-tests

Refactor code structure for improved readability and maintainability
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-137/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-137/artifacts/InvestorsV1BeaconModule#InvestorV1.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-137/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-137/deployed_addresses.json
  contract/ignition/deployments/chain-137/journal.jsonl
Due: contract-unit-tests

chore: add package.json and package-lock.json with conventional changelog dependencies
  CHANGELOG.md
  app/src/artifacts/deployed_addresses/chain-137.json
  package-lock.json
  package.json
Due: app-unit-tests, app-e2e-tests

refactor: remove ExpenseAccount and Investor test files
  contract/test/ExpenseAccount.spec.ts
  contract/test/Investor.spec.ts
Due: contract-unit-tests

refactor: update ExpenseAccount references to ExpenseAccountEIP712 in Officer tests
  contract/test/Officer.spec.ts
Due: contract-unit-tests

test: skip contract deployment test for BeaconProxy
  contract/test/Officer.spec.ts
Due: contract-unit-tests

test: disable claim errors
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.methods.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
Due: app-unit-tests, app-e2e-tests

test: disable errors
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.methods.spec.ts
Due: app-unit-tests, app-e2e-tests

test: disable status
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

refactor: create separate enable action component
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
Due: app-unit-tests, app-e2e-tests

test: add enable action component
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add enable action
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

test: enable action
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: simplify route parameters for teams menu item
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unnecessary logging for team wage data fetching
  app/src/components/sections/DashboardView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: simplify argument handling in ERC20 contract write functions
  app/src/composables/erc20/erc20Writes.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unnecessary blank line in useERC20Transfer function
  app/src/composables/erc20/erc20Writes.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
