Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: add missing mock implementations for distributeNativeDividends and distributeTokenDividends
  app/src/tests/setup/bank.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: add mockBankWrites to PayDividendsAction test imports
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
Due: app-unit-tests, app-e2e-tests

revert he chain 31337 updates
  dashboard/app/artifacts/deployed_addresses/chain-31337.json
Due: none

fix: format import statements in PayDividendsAction test for consistency
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: clean up formatting in PayDividendsAction tests for improved readability
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/PayDividendsAction.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove obsolete InvestorsTransactionTable component and related tests; update InvestorsTransactions component for improved transaction display
  app/src/components/sections/SherTokenView/InvestorsTransactionTable.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionTable.spec.ts
  app/src/types/nuxt-imports.d.ts
  ponder/ponder.schema.ts
  ponder/src/index.ts
Due: app-unit-tests, app-e2e-tests

Refactor deployed addresses and update ABIs
  app/src/components/sections/SherTokenView/InvestorsTransactionFilter.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransactionFilter.spec.ts
  dashboard/app/artifacts/deployed_addresses/chain-31337.json
  ponder/package.json
  ponder/ponder.config.ts
  ponder/ponder.schema.ts
  ponder/scripts/generate-abis.ts
  ponder/src/index.ts
Due: app-unit-tests, app-e2e-tests

update local example
  ponder/.env.local.example
Due: none

refactor: update ERC20 approval logic to use V3 mutation and simplify related tests
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/DepositSafeForm.vue
  app/src/components/forms/SafeDepositRouterForm.vue
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/composables/erc20/__tests__/writes.spec.ts
  app/src/composables/erc20/writes.ts
  app/src/tests/mocks/erc20.mock.ts
  app/src/tests/setup/erc20.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: update transfer logic to use V3 mutations and simplify related tests
  app/src/components/forms/TransferModal.vue
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
  app/src/components/forms/__tests__/DepositSafeForm.spec.ts
  app/src/components/forms/__tests__/SafeDepositRouterForm.spec.ts
  app/src/components/forms/__tests__/TransferModal.spec.ts
  app/src/components/sections/VestingView/forms/__tests__/CreateVestingSubmission.spec.ts
  app/src/composables/bank/writes.ts
Due: app-unit-tests, app-e2e-tests

refactor: update TransferModal tests to use mockBankWrites and simplify related logic
  app/src/components/forms/__tests__/TransferModal.spec.ts
  app/src/tests/setup/bank.setup.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify transfer and transferToken functions by removing bankAddress parameter
  app/src/components/forms/TransferModal.vue
  app/src/composables/bank/writes.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline claim enabling and disabling logic using composables
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
  app/src/composables/cashRemuneration/writes.ts
  app/src/tests/mocks/contract.mock.ts
Due: app-unit-tests, app-e2e-tests

fix: rename hoursWorked to minutesWorked in CashRemunerationEIP712.json
  app/src/artifacts/abi/json/CashRemunerationEIP712.json
Due: app-unit-tests, app-e2e-tests

fix: update hoursWorked to minutesWorked in multiple test files for consistency
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: rename hoursWorked to minutesWorked in CashRemunerationView components for consistency
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

fix: update ClaimFormSubmitPayload to use minutesWorked instead of hoursWorked
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
Due: app-unit-tests, app-e2e-tests

fix: update claim processing to use minutesWorked instead of hoursWorked in queries and mutations
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for weeklyClaim query normalization using minutesWorked
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update Claim interface to include minutesWorked and clarify hoursWorked as legacy field
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

fix: implement hotfix for claim migration to ensure minutesWorked is correctly backfilled and required
  backend/prisma/migrations/20260416120000_hours_to_minutes/migration.sql
  backend/prisma/migrations/20260422173000_claim_minutes_hotfix/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seeders/claims.ts
Due: api-unit-tests

fix: add migration script to transition from hoursWorked to minutesWorked and ensure data integrity
  backend/prisma/migrations/20260416120000_hours_to_minutes/migration.sql
Due: api-unit-tests

fix: rename hoursWorked to minutesWorked in cash_remuneration_eip712_abi.json
  backend/src/artifacts/cash_remuneration_eip712_abi.json
Due: api-unit-tests

fix: update tests to replace hoursWorked with minutesWorked across claim and statistics controllers
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/__tests__/statsController.test.ts
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: replace hoursWorked with minutesWorked in claim and stats controllers
  backend/src/controllers/claimController.ts
  backend/src/controllers/statsController.ts
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

fix: update claim and stats routes to replace hoursWorked with minutesWorked for consistency
  backend/src/routes/claimRoute.ts
  backend/src/routes/statsRoute.ts
  backend/src/routes/weeklyClaimRoute.ts
Due: api-unit-tests

fix: replace hoursWorked with minutesWorked in claim validation schemas
  backend/src/validation/schemas/claim.ts
Due: api-unit-tests

fix: rename hoursWorked to minutesWorked in WageClaim struct and related references
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

fix: replace hoursWorked with minutesWorked in CashRemuneration EIP712 tests
  contract/test/CashRemunerationEIP712.spec.ts
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

fix: rename hoursWorked to minutesWorked in CashRemuneration EIP712 JSON
  dashboard/app/artifacts/abi/json/CashRemunerationEIP712.json
  ponder/abis/json/CashRemunerationEIP712.json
Due: none

refactor: add disabled property to wage object in mockClaim for better test accuracy
  app/src/components/sections/CashRemunerationView/__tests__/CRSigne.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: streamline minutesWorked assignment and improve formatting in claims seeder and stats controller
  backend/prisma/seeders/claims.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/statsController.ts
Due: api-unit-tests

fix: update minutesWorked calculation and improve formatting in claim queries
  app/src/composables/useClaimForm.ts
  app/src/queries/__tests__/weeklyClaim.queries.spec.ts
  app/src/queries/weeklyClaim.queries.ts
Due: app-unit-tests, app-e2e-tests

fix: adjust indentation for wageClaim calculations in CashRemuneration EIP712 tests
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

fix: add minutesWorked field to mockWeeklyClaimData for consistency
  app/src/tests/mocks/query.mock.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 restore useBankOwner and bank transfer mocks after develop merge
  app/src/composables/bank/reads.ts
  app/src/tests/setup/bank.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove unused unref import in bod writes
  app/src/composables/bod/writes.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ remove obsolete pre-withdraw balance-check test
  app/src/components/sections/CashRemunerationView/__tests__/CRWithdrawClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

style: 💄 apply prettier formatting
  app/src/components/forms/TransferModal.vue
  app/src/composables/bank/__tests__/bankWrites.spec.ts
  app/src/composables/contracts/errorCatalogs.ts
  app/src/tests/setup/bod.setup.ts
  app/src/utils/__tests__/classifyError.spec.ts
  app/src/utils/classifyError.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ swap native input for UInput in CompensationAmount
  app/src/components/forms/CompensationAmount.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
