Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 update accounting terminology to replace "Shares to be issued" with "SHERS To Be Issued" and introduce "Deferred SHER Compensation" as a contra-equity account
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: none

Refactor money-flow catalogue documentation for clarity and formatting improvements
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: none

fix: 🐛 align Vesting state with on-chain outcomes
  app/src/components/sections/VestingView/VestingActions.vue
  app/src/components/sections/VestingView/VestingFlow.vue
  app/src/components/sections/VestingView/VestingScheduleDetailsModal.vue
  app/src/components/sections/VestingView/VestingSchedulePreview.vue
  app/src/components/sections/VestingView/VestingStats.vue
  app/src/components/sections/VestingView/__tests__/VestingActionReviewModal.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingActions.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingFlow.spec.ts
  app/src/components/sections/VestingView/__tests__/VestingStats.spec.ts
  app/src/components/sections/VestingView/forms/CreateVesting.vue
  app/src/composables/contracts/INVALIDATION_MAP.md
  app/src/composables/vesting/__tests__/useVestingSchedules.spec.ts
  app/src/composables/vesting/__tests__/writes.factory.spec.ts
  app/src/composables/vesting/useCreateVesting.ts
  app/src/composables/vesting/useVestingSchedules.ts
  app/src/composables/vesting/writes.ts
  app/src/types/vesting.ts
  app/src/utils/__tests__/vestingPresentation.spec.ts
  app/src/utils/__tests__/vestingScheduleUtil.spec.ts
  app/src/utils/vestingPresentation.ts
  app/src/utils/vestingScheduleUtil.ts
  app/src/views/team/[id]/VestingView.vue
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove stale Vesting frontend code
  app/src/components/sections/VestingView/VestingStatusFilter.vue
  app/src/components/sections/VestingView/__tests__/VestingStatusFilter.spec.ts
  app/src/composables/vesting/__tests__/reads.factory.spec.ts
  app/src/composables/vesting/__tests__/writes.spec.ts
  app/src/composables/vesting/reads.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 type campaign slideover close event
  app/src/components/sections/ContractManagementView/AdvertisingCampaignDetailsSlideover.vue
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ keep Vesting composables as reactive shells
  app/src/composables/vesting/useCreateVesting.ts
  app/src/composables/vesting/useVestingSchedules.ts
  app/src/utils/__tests__/vestingScheduleUtil.spec.ts
  app/src/utils/vestingScheduleUtil.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 define and trial the feature documentation contract
  .agents/skills/cnc-docs-governance/SKILL.md
  docs/features/vesting/README.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 move user story ownership to features
  docs/00_DOCUMENTATION_INDEX.md
  docs/02_USER_STORIES.md
  docs/03_IMPLEMENTATION_STATUS.md
  docs/README.md
  docs/platform/development-standards.md
  docs/platform/performance.md
  docs/platform/security.md
  docs/platform/testing-strategy.md
Due: none

docs: 📝 tighten user story spacing
  docs/features/vesting/README.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 require Mermaid for documentation diagrams
  AGENTS.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 align feature inventory with product surfaces
  docs/00_DOCUMENTATION_INDEX.md
  docs/02_USER_STORIES.md
  docs/README.md
  docs/features/README.md
  docs/features/backoffice/README.md
  docs/features/backoffice/statistics/README.md
  docs/features/backoffice/statistics/functional-specification.md
  docs/features/backoffice/statistics/stats-api.md
  docs/features/backoffice/statistics/stats-dashboard-integration.md
  docs/features/stats/README.md
  docs/features/stats/functional-specification.md
  docs/features/stats/stats-api.md
  docs/features/stats/stats-dashboard-integration.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 define architectural capability ownership
  .agents/skills/cnc-docs-governance/SKILL.md
  docs/README.md
  docs/implementation/README.md
  docs/platform/feature-specification-guide.md
  docs/platform/implementation-documentation-guide.md
Due: none

docs: 📝 remove obsolete statistics compatibility paths
  docs/01_PROJECT_CHARTER.md
  docs/features/stats/README.md
  docs/features/stats/functional-specification.md
  docs/features/stats/stats-api.md
  docs/features/stats/stats-dashboard-integration.md
  docs/tasks/08-add-architecture-diagrams.md
  docs/tasks/archive/07-verify-cross-references.md
Due: none

docs: 📝 add Community Credit feature README
  docs/02_USER_STORIES.md
  docs/README.md
  docs/features/README.md
  docs/features/community-credit/README.md
  docs/features/community-credit/user-flow-analysis.md
Due: none

docs: 📝 validate implemented Community Credit criteria
  docs/features/community-credit/README.md
Due: none

docs: 📝 define implemented criteria semantics
  docs/features/community-credit/README.md
  docs/features/vesting/README.md
  docs/platform/feature-specification-guide.md
Due: none

test: 🧪 add unit tests for accounting classification and context handling
  app/src/utils/accounting/__tests__/applyClassification.spec.ts
  app/src/utils/accounting/__tests__/assemble.classification.spec.ts
  app/src/utils/accounting/__tests__/classification.spec.ts
  app/src/utils/accounting/__tests__/classificationTarget.spec.ts
  app/src/utils/accounting/__tests__/fixtures.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 remove obsolete compatibility paths
  docs/00_DOCUMENTATION_INDEX.md
  docs/01_PROJECT_CHARTER.md
  docs/auth/README.md
  docs/auth/app-authentication.md
  docs/auth/dashboard-authentication.md
  docs/features/backoffice/feature-flags.md
Due: none

docs: 📝 align implementation and review records
  docs/README.md
Due: none

docs: 📝 validate payroll acceptance criteria
  docs/02_USER_STORIES.md
  docs/README.md
  docs/features/README.md
  docs/features/payroll/README.md
  docs/features/payroll/Readme.md
  docs/features/payroll/wage-scheduling.md
  docs/features/safe/Readme.md
Due: none

docs: 📝 record payroll validation decisions
  docs/features/payroll/README.md
Due: none

docs: 📝 replace payroll wage scheduling model
  docs/features/payroll/README.md
  docs/features/payroll/wage-scheduling.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 add feature documentation skill
  .agents/skills/cnc-docs-governance/SKILL.md
  .agents/skills/cnc-feature-documentation/SKILL.md
  .agents/skills/cnc-feature-documentation/agents/openai.yaml
  AGENTS.md
Due: none

fix: 🐛 align daily claim memo validation
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/routes/claimRoute.ts
  backend/src/validation/__tests__/claim.test.ts
  backend/src/validation/schemas/claim.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 require functional acceptance criteria
  .agents/skills/cnc-feature-documentation/SKILL.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 align payroll claim memo documentation
  docs/features/payroll/README.md
Due: none

feat: ✨ enforce documentation freshness
  .github/workflows/docs-drift.yml
  package.json
  scripts/documentation-freshness.test.mjs
  scripts/lib/documentation-freshness.mjs
  scripts/validate-documentation-freshness.mjs
Due: none

docs: 📝 govern AI documentation freshness
  .agents/skills/cnc-docs-governance/SKILL.md
  .github/copilot-instructions/README.md
  AGENTS.md
  docs/README.md
  docs/platform/documentation-freshness-policy.md
  docs/platform/feature-specification-guide.md
  docs/platform/implementation-documentation-guide.md
Due: none

ci: 👷 add client API surface ratchet
  .github/copilot-instructions/vue-component-standards.md
  app/package.json
  app/scripts/__tests__/check-api-surface.node.mjs
  app/scripts/api-surface-baseline.json
  app/scripts/check-api-surface.mjs
Due: app-unit-tests, app-e2e-tests

ci: 👷 enforce repository-wide Markdown formatting
  .agents/skills/cnc-docs-governance/SKILL.md
  .prettier-markdown.json
  AGENTS.md
  scripts/check-markdown-format.mjs
Due: none

fix: 🐛 exclude Markdown documents from freshness source checks
  docs/platform/documentation-freshness-policy.md
  scripts/documentation-freshness.test.mjs
  scripts/lib/documentation-freshness.mjs
Due: none

ci: 👷 remove unused Markdown base reference
  .github/workflows/docs-drift.yml
Due: none

refactor: ♻️ simplify Claim Form API
  app/scripts/api-surface-baseline.json
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
  app/src/components/sections/ClaimHistoryView/ClaimHistoryDailyBreakdown.vue
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
  app/src/utils/__tests__/claimFormUtil.spec.ts
  app/src/utils/claimFormUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 reject signing goals-only weekly claims
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
  backend/src/controllers/weeklyClaimController.ts
  docs/features/payroll/README.md
Due: api-unit-tests

docs: 📝 refactor Payroll acceptance criteria
  docs/features/payroll/README.md
Due: none

docs: 📝 define categorized acceptance criteria
  .agents/skills/cnc-feature-documentation/SKILL.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 categorize Payroll acceptance criteria
  docs/features/payroll/README.md
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
