Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: add scenarios for payroll accruals based on week status
  app/src/utils/accounting/__tests__/payrollAccrual.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: update ApplyOfferingModal and LenderMarketplace for improved UI and functionality
  app/src/components/sections/FixedReturnView/AdminDashboard.vue
  app/src/components/sections/FixedReturnView/ApplyOfferingModal.vue
  app/src/components/sections/FixedReturnView/LenderMarketplace.vue
  app/src/types/offering.ts
Due: app-unit-tests, app-e2e-tests

feat: add lender marketplace route to SidebarLayout tests
  app/src/components/ui/__tests__/SidebarLayout.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ delete dead ReceiptComponent and its spec
  app/src/components/ReceiptComponent.vue
  app/src/components/__tests__/ReceiptComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace divs with UCard components in accounting views
  app/src/components/sections/AccountingView/BalanceSheetCard.vue
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/IncomeStatementCard.vue
  app/src/components/sections/AccountingView/LedgerTable.vue
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance TrialBalanceCard layout and functionality
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
Due: app-unit-tests, app-e2e-tests

feat: add live SHER multiplier retrieval to CNC accounting
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/utils/accounting/assemble.ts
Due: app-unit-tests, app-e2e-tests

refactor: improve SHER multiplier handling and testing
  app/src/utils/accounting/__tests__/sherRate.spec.ts
  app/src/utils/accounting/sherRate.ts
Due: app-unit-tests, app-e2e-tests

feat: add FixedReturn contract and beacon module
  app/src/artifacts/abi/json/FixedReturn.json
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/ignition/modules/FixedReturnBeaconModule.ts
  contract/ignition/modules/OfficerModule.ts
  dashboard/app/artifacts/abi/json/FixedReturn.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

chore: drop dashboard ABI artifact for FixedReturn
  dashboard/app/artifacts/abi/json/FixedReturn.json
Due: none

test: add unit tests for FixedReturn
  contract/test/FixedReturn.spec.ts
Due: contract-unit-tests

refactor: rename FixedReturn locals and expand comments
  app/src/artifacts/abi/json/FixedReturn.json
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IFixedReturn.sol
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: enhance wage utility and accounting chart
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: update accounting entries for share-based compensation
  app/src/utils/accounting/__tests__/catalogueLedger.ts
  app/src/utils/accounting/mappers/payrollAccrual.ts
Due: app-unit-tests, app-e2e-tests

test: update accounting tests for share-based compensation
  app/src/utils/accounting/__tests__/chartOfAccounts.spec.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/__tests__/incomeStatement.spec.ts
  app/src/utils/accounting/__tests__/payrollAccrual.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add FixedReturnBeacon upgrade-mechanics tests
  contract/test/FixedReturnBeacon.spec.ts
Due: contract-unit-tests

fix: avoid stack-too-deep in coverage builds for FixedReturn
  app/src/artifacts/abi/json/FixedReturn.json
  contract/contracts/FixedReturn.sol
  contract/contracts/interfaces/IFixedReturn.sol
  contract/test/FixedReturn.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

ci: pin danger workflow to Node 24.16.0
  .github/workflows/danger.yml
Due: none

test: add additional validation tests for FixedReturn contract
  contract/test/FixedReturn.spec.ts
Due: contract-unit-tests

refactor: ♻️ move TVL tab to home stats page, remove /stats duplicate
  dashboard/app/pages/stats.vue
Due: none

feat: ✨ wire TVL tab into home page (completes /stats move)
  dashboard/app/pages/index.vue
Due: none

feat: ✨ add dashboard login error classifier
  dashboard/app/utils/loginError.ts
Due: none

refactor: ♻️ rebuild dashboard SIWE composable on TanStack Query
  dashboard/app/composables/useSiwe.ts
Due: none

refactor: ♻️ simplify dashboard login page
  dashboard/app/pages/login.vue
Due: none

fix: 🐛 Dashboard login error display & SIWE refactor (#2199)
  dashboard/app/composables/useSiwe.ts
  dashboard/app/pages/login.vue
  dashboard/app/utils/loginError.ts
Due: none

test: ✅ rate-limit stats route in TVL test (CodeQL)
  backend/src/controllers/__tests__/tvlStats.test.ts
Due: api-unit-tests

test: ✅ cover tvl util (multicall fallback, ponder fetch paths)
  backend/src/utils/__tests__/tvl.test.ts
Due: api-unit-tests

ci: revert danger.yml Node pin (unrelated to accounting PR)
  .github/workflows/danger.yml
Due: none

ci: restore danger.yml Node 24.16.0 pin (required: 24.17.0 breaks danger)
  .github/workflows/danger.yml
Due: none

feat: pre-register initial supported tokens in FixedReturn's initializer
  app/src/artifacts/abi/json/FixedReturn.json
  contract/contracts/FixedReturn.sol
  contract/test/FixedReturn.spec.ts
  contract/test/FixedReturnBeacon.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: persist off-chain title/purpose metadata for FixedReturn offerings
  backend/prisma/migrations/20260626051210_add_fixed_return_offering/migration.sql
  backend/prisma/schema.prisma
  backend/src/artifacts/fixed-return.json
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/fixedReturnOfferingController.test.ts
  backend/src/controllers/fixedReturnOfferingController.ts
  backend/src/routes/fixedReturnOfferingRoute.ts
  backend/src/validation/index.ts
  backend/src/validation/schemas/__tests__/fixedReturnOffering.test.ts
  backend/src/validation/schemas/fixedReturnOffering.ts
Due: api-unit-tests

feat: ✨ Add wage utilities for claim calculations
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ Enhance WeeklyClaim and ClaimHistory components for improved claim calculations
  app/src/components/sections/ClaimHistoryView/WeeklyRecap.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

feat: wire FixedReturn into team deployment and the Issue Note create flow
  app/src/artifacts/abi/fixed-return.ts
  app/src/components/sections/FixedReturnView/CreateOfferingForm.vue
  app/src/components/sections/FixedReturnView/OfferingBasicsStep.vue
  app/src/components/sections/FixedReturnView/OfferingTermsStep.vue
  app/src/components/sections/FixedReturnView/__tests__/OfferingTermsStep.spec.ts
  app/src/composables/fixedReturn/__tests__/reads.spec.ts
  app/src/composables/fixedReturn/__tests__/writes.spec.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/composables/fixedReturn/writes.ts
  app/src/constant/index.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/fixedReturn.setup.ts
  app/src/types/offering.ts
  app/src/types/teamContract.ts
  app/src/utils/__tests__/offeringUtil.spec.ts
  app/src/utils/contractDeploymentUtil.ts
  app/src/utils/offeringUtil.ts
  app/src/views/team/[id]/FixedReturnView.vue
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ Improve code organization in wage utilities and WeeklyRecap component
  app/src/components/sections/ClaimHistoryView/WeeklyRecap.vue
  app/src/utils/wageUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: address pattern-check findings on the FixedReturn issue-note wiring
  app/eslint.config.js
  app/src/components/sections/FixedReturnView/CreateOfferingForm.vue
  app/src/components/sections/FixedReturnView/__tests__/CreateOfferingForm.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingBasicsStep.spec.ts
  app/src/types/offering.ts
  app/src/utils/__tests__/contractDeploymentUtil.spec.ts
  app/src/utils/__tests__/offeringUtil.spec.ts
  app/src/utils/offeringUtil.ts
  app/src/views/team/[id]/FixedReturnView.vue
  app/src/views/team/[id]/__tests__/FixedReturnView.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: wire My Offerings and Browse & Lend to live FixedReturn data
  app/src/components/sections/FixedReturnView/LenderMarketplace.vue
  app/src/components/sections/FixedReturnView/OfferingDetail.vue
  app/src/components/sections/FixedReturnView/OfferingsList.vue
  app/src/components/sections/FixedReturnView/__tests__/LenderMarketplace.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingDetail.spec.ts
  app/src/components/sections/FixedReturnView/__tests__/OfferingsList.spec.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/queries/__tests__/fixedReturnOffering.queries.spec.ts
  app/src/queries/fixedReturnOffering.queries.ts
  app/src/queries/index.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/fixedReturn.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ persist active stats tab in the URL (?tab=)
  dashboard/app/pages/index.vue
Due: none

Implement feature X to enhance user experience and optimize performance
  dashboard/package-lock.json
Due: none
