Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 disable public source maps in production
  app/.env.example
  app/vite.config.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 rename VITE_RELEASE to VITE_APP_RELEASE for consistency
  app/.env.example
  app/vite.config.ts
Due: app-unit-tests, app-e2e-tests

Remove hardhat console imports from production contracts
  .github/workflows/contract-code-quality.yml
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Voting/Voting.sol
Due: contract-unit-tests

fix: 🐛 add VITE_APP_BACKEND_URL to Sentry tracePropagationTargets
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

style: 💄 fix prettier formatting in serverConfig.ts
  backend/src/config/serverConfig.ts
Due: api-unit-tests

fix: 🐛 remove /debug-sentry endpoint from production
  backend/src/config/serverConfig.ts
Due: api-unit-tests

docs: 📝 add missing Sentry vars to backend/.env.example
  backend/.env.example
Due: api-unit-tests

style: 💄 fix prettier formatting in main.ts
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add VITE_APP_SUBGRAPH_ENDPOINT to Sentry tracePropagationTargets
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 set replaysOnErrorSampleRate to 1.0 and fix tracePropagationTargets
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 exclude app/src/main.ts from codecov measurement
  codecov.yml
Due: none

chore: 🔧 add 0.5% threshold to codecov project check
  codecov.yml
Due: none

feat: ✨ add Sentry tunnel route to bypass ad-blockers
  backend/.env.example
  backend/src/config/serverConfig.ts
  backend/src/routes/__tests__/sentryTunnelRoute.test.ts
  backend/src/routes/sentryTunnelRoute.ts
Due: api-unit-tests

feat: ✨ configure Sentry tunnel in frontend
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 eliminate SSRF in Sentry tunnel by computing URL server-side
  backend/.env.example
  backend/src/routes/__tests__/sentryTunnelRoute.test.ts
  backend/src/routes/sentryTunnelRoute.ts
Due: api-unit-tests

fix: 🐛 fix import style and enable distributed tracing on backend
  backend/src/instrument.ts
Due: api-unit-tests

fix: 🐛 align Sentry DSN var name with VITE_APP_* convention
  app/.env.example
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 update deployment.md with current Sentry architecture
  docs/platform/deployment.md
Due: none

chore: 🔧 remove redundant sentry:releases script
  app/package.json
Due: app-unit-tests, app-e2e-tests

test: ✅ cover non-sentry.io host guard in tunnel route
  backend/src/routes/__tests__/sentryTunnelRoute.test.ts
Due: api-unit-tests

chore: 🔧 remove orphaned @sentry/cli from frontend
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

chore: 🔧 add VITE_APP_SUBGRAPH_ENDPOINT to app .env.example
  app/.env.example
Due: app-unit-tests, app-e2e-tests

chore: 🔧 use env vars in backend sentry:sourcemaps script
  backend/.env.example
  backend/package.json
Due: api-unit-tests

fix: 🐛 skip sentry:sourcemaps when SENTRY_AUTH_TOKEN is not set
  backend/package.json
Due: api-unit-tests

chore: 🔧 enforce prettier formatting via husky pre-commit hook
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

fix: 🐛 resync app/package-lock.json after manual edits in PR #2007
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove unused dependencies from package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 restore zod@3.25.76 and tailwindcss bundled entries in lock file
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

style: 💄 fix prettier formatting in app/package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove deprecated zod entry and add string_decoder dependencies in package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 restore zod@3.25.76 peer dep entry removed by previous commit
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

wip: transaction history improvements (phase 1 UX polish)
  app/src/components/TransactionTableFooter.vue
  app/src/components/UserComponent.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/SafeView/SafeTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/composables/transactions/useTransactionTable.ts
  app/src/utils/__tests__/transactionHistoryUtil.spec.ts
  app/src/utils/constantUtil.ts
  app/src/utils/index.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance transaction history with grouping and improved UI components
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/types/index.ts
  app/src/types/transaction-history.ts
Due: app-unit-tests, app-e2e-tests

style: 💄 apply prettier formatting to ElectionUserComponent spec
  app/src/components/sections/AdministrationView/__tests__/ElectionUserComponent.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ improve error handling in useSiweMutation and update mock implementations
  app/src/composables/useSiwe.ts
  app/src/tests/mocks/wagmi.vue.mock.ts
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ standardize prettier formatting commands in package.json
  app/package.json
  backend/package.json
  package.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: 🛠️ migrate to @wagmi/core for wallet interactions and enhance error handling in useSiweMutation
  app/src/composables/__tests__/useSiwe.spec.ts
  app/src/composables/useSiwe.ts
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ replace Synpress Playwright workflow with a streamlined E2E Playwright setup
  .github/workflows/app-e2e.yml
  .github/workflows/app-e2e.yml.bak
  .github/workflows/app-e2e.yml.new
Due: none

feat: ✨ collect e2e coverage with vite-plugin-istanbul + nyc
  app/.nycrc.json
  app/package-lock.json
  app/package.json
  app/playwright.config.ts
  app/test/e2e/fixtures.ts
  app/test/e2e/login.spec.ts
  app/vite.config.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 exclude e2e test infra from codecov coverage
  codecov.yml
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
