Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: ✅ stabilize long-running E2E interactions
  app/test/e2e/community-credit/community-credit-page.ts
  app/test/e2e/payroll/payroll-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ parallelize isolated browser acceptance tests
  .github/workflows/app-e2e.yml
  app/.gitignore
  app/package.json
  app/playwright.config.ts
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/authentication.integrated.spec.ts
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/community-credit/community-credit-round.spec.ts
  app/test/e2e/company/company-archive.spec.ts
  app/test/e2e/company/company-delete.spec.ts
  app/test/e2e/company/company-update.spec.ts
  app/test/e2e/company/company-visibility.spec.ts
  app/test/e2e/company/company.integrated.spec.ts
  app/test/e2e/company/company.mocked.spec.ts
  app/test/e2e/elections/elections.integrated.spec.ts
  app/test/e2e/elections/elections.spec.ts
  app/test/e2e/expense/expense-account.spec.ts
  app/test/e2e/fixtures/base.ts
  app/test/e2e/fixtures/chain.ts
  app/test/e2e/fixtures/index.ts
  app/test/e2e/fixtures/integrated.ts
  app/test/e2e/fixtures/mocked.ts
  app/test/e2e/investor-permissions.integrated.spec.ts
  app/test/e2e/login.spec.ts
  app/test/e2e/payroll/payroll-insufficient-funds.integrated.spec.ts
  app/test/e2e/payroll/payroll-payment.integrated.spec.ts
  app/test/e2e/payroll/payroll.integrated.spec.ts
  app/test/e2e/safe/safe-account.spec.ts
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-issuance-dividends.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-migration.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Playwright worker profiles
  app/test/README.md
  docs/testing/README.md
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ stabilize Community Credit lending
  app/test/e2e/community-credit/community-credit-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ await Community Credit detail route
  app/test/e2e/community-credit/community-credit-page.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 add agent planning maintenance guidance
  .gitignore
  AGENTS.md
Due: none

fix: 🐛 resolve Accounting review findings
  app/src/utils/accounting/__tests__/assemble.sherMultiplier.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/sherRate.spec.ts
  app/src/utils/accounting/mappers/fixedReturn.ts
  app/test/e2e/accounting/accounting-books.ts
  app/test/e2e/accounting/accounting-generations.integrated.spec.ts
  app/test/e2e/accounting/accounting-journey.integrated.spec.ts
  app/test/e2e/accounting/accounting-operations.ts
  docs/features/accounting/README.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 propose a business-first Accounting catalogue
  docs/features/accounting/README.md
  docs/features/accounting/accounting-test-script.md
  docs/features/accounting/journal-entry-catalogue.md
  docs/features/accounts/README.md
Due: none

fix: 🐛 read the integrated USDC address from the deployment manifest
  app/test/e2e/accounting/accounting-operations.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 pass the team to the Accounting payroll wage helper
  app/test/e2e/accounting/accounting-operations.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ let the Accounting journey claim a completed week
  app/test/e2e/accounting/accounting-journey.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ count the Accounting journey's real cash movements
  app/test/e2e/accounting/accounting-journey.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove obsolete Synpress E2E tooling
  .github/copilot-instructions/testing-overview.md
  .github/copilot-instructions/testing-web3.md
  app/eslint.config.js
  app/package-lock.json
  app/package.json
  app/test/README.md
  app/test/sypress.ts
  app/test/wallet-setup/connected.setup.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 align testing guidance with current profiles
  app/src/tests/mocks/README.md
  docs/development-guide/README.md
  docs/platform/testing-strategy.md
  docs/testing/E2E_QUICK_REFERENCE.md
  docs/testing/E2E_SETUP_SUMMARY.md
  docs/testing/MOCK_SYSTEM.md
  docs/testing/README.md
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
  docs/testing/global-mocks-setup.md
  docs/testing/unit-testing.md
  scripts/check-markdown-format.mjs
Due: app-unit-tests, app-e2e-tests

chore: 🔧 remove obsolete Synpress ignore rules
  .gitignore
  app/.gitignore
Due: app-unit-tests, app-e2e-tests

docs: 📝 mark evidenced E2E path checks
  docs/testing/e2e-paths.md
Due: none

docs: 📝 link E2E steps to user stories
  docs/testing/e2e-paths.md
Due: none

docs: 📝 make E2E status snapshot path-level
  docs/testing/e2e-paths.md
Due: none

docs: 📝 simplify E2E status snapshot
  docs/testing/e2e-paths.md
Due: none

docs: 📝 show full E2E path identifiers
  docs/testing/e2e-paths.md
Due: none

feat: ✨ implement G0 technical readiness
  app/test/e2e/factories/operational-team-deployment.ts
  app/test/e2e/factories/operational-team.ts
  app/test/e2e/readiness.integrated.spec.ts
  backend/src/controllers/__tests__/healthController.test.ts
  backend/src/controllers/healthController.ts
  backend/src/routes/healthRoutes.ts
  docs/implementation/README.md
  docs/implementation/runtime-wake-up/README.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

docs: 📝 attest G0 readiness evidence
  docs/implementation/runtime-wake-up/README.md
Due: none

docs: 📝 decouple Safe coverage from Bank path
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: none

ci: 👷 add shared integrated E2E preflight
  .github/workflows/app-e2e.yml
  app/package.json
  app/scripts/__tests__/check-integrated-readiness.node.mjs
  app/scripts/check-integrated-readiness.mjs
Due: app-unit-tests, app-e2e-tests

test: ✅ keep G0 diagnostic independent of SIWE
  app/test/e2e/readiness.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 separate E2E preflight from G0 evidence
  app/test/README.md
  docs/testing/README.md
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ replace integrated readiness scenario with G0 preflight gate
  app/test/README.md
  app/test/e2e/authentication.integrated.spec.ts
  app/test/e2e/readiness.integrated.spec.ts
  docs/development-guide/autonomous-audits/user-journey.md
  docs/testing/README.md
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

test: ✅ decouple Safe setup from Bank E2E path
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/safe/safe-setup.integrated.spec.ts
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 align E2E evidence and isolated path dependencies
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: none

docs: 📝 plan E2E paths for missing client capabilities
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ select payroll history week from visible month
  app/test/e2e/payroll/payroll-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ prove Bank deposit receipts and reloaded history
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/bank/bank-funding.integrated.spec.ts
  app/test/e2e/bank/bank-integrated-helpers.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 record direct Bank path evidence
  docs/testing/e2e-fixtures.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ prove integrated Company member and archive access
  app/test/e2e/company/company-access.integrated.spec.ts
  app/test/e2e/company/company.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 align G2 path and Company evidence inventory
  docs/features/companies/README.md
  docs/testing/e2e-paths.md
Due: none

feat: ✨ discover Safe assets and contract market data
  app/src/queries/__tests__/assetMarket.queries.spec.ts
  app/src/queries/__tests__/safe.queries.spec.ts
  app/src/queries/assetMarket.queries.ts
  app/src/queries/safe.queries.ts
  app/src/types/safe.ts
  app/src/utils/format/__tests__/number.spec.ts
  app/src/utils/format/index.ts
  app/src/utils/format/number.ts
  app/src/utils/tokens/assets.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ account for Safe swaps using evidenced carrying values
  app/src/components/sections/AccountingView/AccountingPage.vue
  app/src/components/sections/AccountingView/__tests__/AccountingPage.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.safe.spec.ts
  app/src/composables/accounting/useAccountingStatus.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/queries/__tests__/historicalTokenRate.queries.spec.ts
  app/src/queries/historicalTokenRate.queries.ts
  app/src/utils/accounting/__tests__/chartOfAccounts.spec.ts
  app/src/utils/accounting/__tests__/safeExchanges.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/describeEntry.ts
  app/src/utils/accounting/enrichment.ts
  app/src/utils/accounting/journalEntry.ts
  app/src/utils/accounting/journalEntryDraft.ts
  app/src/utils/accounting/journalLedgerPresenter.ts
  app/src/utils/accounting/ledgerCategory.ts
  app/src/utils/accounting/mappers/context.ts
  app/src/utils/accounting/mappers/safe.ts
  app/src/utils/accounting/monetaryAmount.ts
  app/src/utils/accounting/presenter.ts
  app/src/utils/accounting/safeExchanges.ts
  app/src/utils/accounting/safeTransfers.ts
  app/src/utils/accounting/toUsd.ts
  app/src/utils/accounting/types.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ display discovered assets in the Safe portfolio
  app/src/components/sections/SafeView/SafeAssetHoldings.vue
  app/src/components/sections/SafeView/SafeBalanceSection.vue
  app/src/components/sections/SafeView/__tests__/SafeAssetHoldings.spec.ts
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
  app/src/composables/safe/__tests__/useSafePortfolio.spec.ts
  app/src/composables/safe/useSafePortfolio.ts
  app/src/tests/mocks/safePortfolio.mock.ts
  app/src/tests/setup/composables.setup.ts
  app/src/utils/safe/__tests__/model.spec.ts
  app/src/utils/safe/model.ts
  app/src/utils/safe/portfolio.ts
  app/src/views/team/[id]/Accounts/SafeView.vue
  app/src/views/team/[id]/Accounts/__tests__/SafeView.spec.ts
  app/test/e2e/safe/safe-transaction-service.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Safe portfolios and exchange accounting
  docs/features/accounting/README.md
  docs/features/accounting/journal-entry-catalogue.md
  docs/features/accounting/safe-swap-test-script.md
  docs/features/accounts/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-data-access/README.md
  docs/implementation/client-utilities/README.md
Due: none

test: ✅ isolate widget API tests from stylesheet compilation
  app/src/widget/__tests__/main.spec.ts
Due: app-unit-tests, app-e2e-tests
