Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix: use team store id
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

fix: set fetch response type
  app/src/stores/expenseStore.ts
  app/src/types/expense-account.ts
Due: app-unit-tests, app-e2e-tests

fix: remove unnecessary exports
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove init function
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove logs
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

style: format
  app/src/stores/expenseStore.ts
  app/src/types/expense-account.ts
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/stores/expenseStore.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: streamline deleteTeam logic by consolidating wage and claim deletions
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refactor: remove unused expense account functions from teamController
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refactor: remove unused expense account routes from teamRoutes
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

ignore service account file
  backend/.gitignore
Due: api-unit-tests

feat: add file input in the edit user form
  app/src/components/forms/EditUserForm.vue
  backend/.gitignore
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: claim status for controller
  backend/src/controllers/claimController.ts
Due: api-unit-tests

fix: expense table tests
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
Due: app-unit-tests, app-e2e-tests

test: remove unused
  app/src/components/sections/ExpenseAccountView/__tests__/ApprovedExpensesSection..spec.ts
Due: app-unit-tests, app-e2e-tests

test: fix my approved expense section
  app/src/components/sections/ExpenseAccountView/__tests__/MyApprovedExpenseSection.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/__tests__/MyApprovedExpenseSection.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: team controller
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

fix: expense controller
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

refactor: enhance pdfExport functionality with improved layout, header/footer, and dynamic content generation
  app/src/utils/pdfExport.ts
Due: app-unit-tests, app-e2e-tests

refactor: update export functions in GenericTransactionHistory to support async operations for PDF exports
  app/src/components/GenericTransactionHistory.vue
  app/src/components/__tests__/GenericTransactionHistory.spec.ts
Due: app-unit-tests, app-e2e-tests

test: refactor pdfExport tests to improve async handling and enhance receipt and transaction exports with updated data structures
  app/src/utils/__tests__/pdfExport.spec.ts
  app/src/utils/__tests__/pdfExportTestData.json
Due: app-unit-tests, app-e2e-tests

test: remove unnecessary consoleSpy restoration in pdfExport tests for cleaner code
  app/src/utils/__tests__/pdfExport.spec.ts
Due: app-unit-tests, app-e2e-tests

test: restore consoleSpy in pdfExport tests to ensure proper cleanup after assertions
  app/src/utils/__tests__/pdfExport.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add comprehensive tests for pdfExport utility functions, including table layout, header/footer creation, and column alignment
  app/src/utils/__tests__/pdfExport.spec.ts
  app/src/utils/pdfExport.ts
Due: app-unit-tests, app-e2e-tests

refactor: use existing endpoint and calculate in frontend
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
  backend/src/controllers/claimController.ts
  backend/src/routes/claimRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

test: remove test
  backend/src/controllers/__tests__/claimController.test.ts
Due: api-unit-tests

refactor: remove unused type
  the-graph/src/cashRemunerationEip712.ts
Due: none

test: fix test
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationPendingClaim.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add test
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationOverview.spec.ts
Due: app-unit-tests, app-e2e-tests

Update app/src/components/sections/CashRemunerationView/CashRemunerationTotalBalance.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTotalBalance.vue
Due: app-unit-tests, app-e2e-tests

chore: remove question mark
  app/src/components/sections/CashRemunerationView/CashRemunerationPendingClaim.vue
Due: app-unit-tests, app-e2e-tests

refactor: use contract balance composable
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/composables/index.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/composables/index.ts
Due: app-unit-tests, app-e2e-tests

test: remove error
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/composables/expense-account/useExpenseAccountData.ts
Due: app-unit-tests, app-e2e-tests

chore: remove deleted file import
  app/src/composables/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: streamline deleteTeam function and improve query readability
  backend/src/controllers/teamController.ts
Due: api-unit-tests
