Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: ✅ fix Investor.spec.ts after the contract naming-convention refactor
  contract/test/Investor.spec.ts
Due: contract-unit-tests

style: 💄 reformat FixedReturn.sol to satisfy prettier
  contract/contracts/FixedReturn.sol
Due: contract-unit-tests

feat: ✨ rewrite shareholder migration to commit a Merkle root instead of minting
  app/package-lock.json
  app/package.json
  app/src/composables/CONVENTIONS.md
  app/src/composables/contracts/__tests__/useOfficerRedeploy.spec.ts
  app/src/composables/contracts/useOfficerRedeploy.ts
  app/src/composables/investor/__tests__/useShareholderMigration.pipeline.spec.ts
  app/src/composables/investor/__tests__/useShareholderMigration.spec.ts
  app/src/composables/investor/useShareholderMigration.ts
  app/src/queries/investorMigration.queries.ts
  app/src/tests/mocks/query.mock.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add an in-place share-token upgrade path for existing teams
  app/src/composables/investor/readsV2.ts
  app/src/composables/investor/useInvestorUpgrade.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/mocks/store.mock.ts
  app/src/tests/setup/investor.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update redeploy modal + migration banner for the Merkle migration flow
  app/src/components/sections/ContractManagementView/RedeployOfficerModal.vue
  app/src/components/sections/ContractManagementView/__tests__/RedeployOfficerModal.spec.ts
  app/src/components/sections/SherTokenView/ShareholderMigrationBanner.vue
  app/src/components/sections/SherTokenView/__tests__/ShareholderMigrationBanner.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ track Investor (v2) events in Ponder
  ponder/abis/investor.ts
  ponder/ponder.config.ts
  ponder/src/index.ts
Due: none

chore: 🔧 seed a placeholder local Hardhat address for the Investor beacon
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests, app-e2e-tests

format createLendAmountSchema function parameters for better readability
  app/src/types/communityCredit.schemas.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ emit distinct factory events per contract type for Ponder indexing
  contract/contracts/Officer.sol
  ponder/ponder.config.ts
Due: contract-unit-tests

test: ✅ update Officer tests to use distinct deployment events
  contract/test/Officer.spec.ts
Due: contract-unit-tests

refactor ♻️: improve code formatting in README and test files for better readability
  app/src/artifacts/abi/json/Officer.json
Due: app-unit-tests, app-e2e-tests

feat: 🎉 implement on-chain event handling via getLogs composables for accounting
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useCNCAccounting.ts
Due: app-unit-tests, app-e2e-tests

feat: 🎉 expose refetch method in useContractEventsViaLogs for enhanced data refreshing
  app/src/composables/eventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: 🎉 enhance payroll claim matching logic in enrichEntries for accurate settlement pairing
  app/src/utils/accounting/__tests__/enrichment.spec.ts
  app/src/utils/accounting/enrichment.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add new deployment events for Bank, Board of Directors, Investor, and more in Officer ABI
  dashboard/app/artifacts/abi/json/Officer.json
  ponder/abis/json/Officer.json
Due: none

feat: ✨ add Merkle snapshot generation endpoint for Investor v1→v2 migration
  backend/src/controllers/investorMigrationController.ts
  backend/src/routes/investorMigrationRoute.ts
  backend/src/services/merkleSnapshotService.ts
Due: api-unit-tests

fix: 🐛 use double hash matching Investor.sol for Merkle tree
  backend/package-lock.json
  backend/package.json
  backend/src/services/merkleSnapshotService.ts
Due: api-unit-tests

feat: 🎉 implement block timestamp caching for optimized event log processing
  app/src/composables/eventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

feat: 🎉 enable batched RPC calls for improved performance in transports
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add Merkle claim + sweep UI components for v1→v2 migration
  app/src/components/sections/SherTokenView/MerkleClaimForm.vue
  app/src/components/sections/SherTokenView/MigrationOwnerSweep.vue
  app/src/composables/investor/useClaimMigration.ts
  app/src/composables/investor/useMerkleSnapshot.ts
  app/src/composables/investor/useSweepMigration.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add useSetMigrationRoot composable for backend Merkle integration
  app/src/composables/investor/useSetMigrationRoot.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ use useSetMigrationRoot in Officer redeploy flow
  app/src/composables/contracts/useOfficerRedeploy.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ separate concerns — queries vs write composables
  app/src/composables/investor/useSetMigrationRoot.ts
  app/src/queries/investorMigration.queries.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ wire Merkle claim UI + update redeploy orchestration
  app/src/components/sections/SherTokenView/ShareholderClaimSection.vue
  app/src/composables/contracts/useOfficerRedeploy.ts
  app/src/composables/investor/useShareholderMigration.ts
  app/src/views/team/[id]/SherTokenView.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 support both V1→V2 and V2→V2 investor migrations
  app/src/composables/contracts/useOfficerRedeploy.ts
  app/src/composables/investor/useShareholderMigration.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ all Officer-deployed contracts search only Investor V2
  app/src/artifacts/abi/investors.ts
  app/src/artifacts/abi/json/InvestorV1.json
  app/src/artifacts/abi/json/Officer.json
  contract/contracts/Bank.sol
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
  contract/contracts/SafeDepositRouter.sol
  contract/contracts/Vesting.sol
  contract/contracts/interfaces/IInvestor.sol
  contract/contracts/interfaces/IInvestorV1.sol
  dashboard/app/artifacts/abi/json/InvestorV1.json
  dashboard/app/artifacts/abi/json/Officer.json
  ponder/abis/json/InvestorV1.json
  ponder/abis/json/Officer.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

chore: 🔧 clean up InvestorV1 references from ignition and scripts
  contract/deploy.sh
  contract/ignition/modules/InvestorsV1BeaconModule.ts
  contract/ignition/modules/OfficerModule.ts
  contract/ignition/modules/OfficerUpgradeModule.ts
  contract/scripts/copy-abi.ts
  contract/scripts/validate-upgrade.ts
Due: contract-unit-tests

chore: 🔧 remove unused Voting contract
  contract/contracts/Voting/Types.sol
  contract/contracts/Voting/Voting.sol
  contract/ignition/MODULES.md
  contract/ignition/modules/OfficerModule.ts
  contract/ignition/modules/VotingBeaconModule.ts
  contract/scripts/copy-abi.ts
  contract/scripts/validate-upgrade.ts
  contract/test/Voting.spec.ts
Due: contract-unit-tests

Remove Voting ABI JSON files from both dashboard and ponder directories
  app/src/artifacts/abi/json/Voting.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  dashboard/app/artifacts/abi/json/Voting.json
  ponder/abis/json/Voting.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update address validation for V2 only, auto-detect Investor beacon
  app/src/artifacts/deployed_addresses/V2/chain-31337.json
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 auto-detect Investor V2/V1 address across stores and composables
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/stores/currencyStore.ts
  app/src/stores/teamStore.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 resolve TypeScript errors and remove unused code
  app/src/artifacts/abi/voting.ts
  app/src/components/sections/SherTokenView/ShareholderClaimSection.vue
  app/src/composables/investor/useMerkleSnapshot.ts
Due: app-unit-tests, app-e2e-tests

refactor: 🔄 change investor-migration GET to return all migrations (array)
  app/src/components/sections/SherTokenView/ShareholderClaimSection.vue
  app/src/queries/investorMigration.queries.ts
  backend/src/controllers/investorMigrationController.ts
  backend/src/routes/investorMigrationRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: 🎉 update expense balance retrieval and structure in syncExpenseStatus
  backend/src/artifacts/expense-account-eip712.json
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

refactor: 🎨 update function names in syncWeeklyClaims for consistency with ABI
  backend/src/artifacts/cash_remuneration_eip712_abi.json
  backend/src/controllers/weeklyClaimController.ts
Due: api-unit-tests

feat: ✨ add deadline time selection and overdue round status to Community Credit
  app/src/components/sections/CommunityCreditView/CreditCallSummaryCard.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallTermsStep.spec.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/types/communityCredit.schemas.ts
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditOfferUtil.spec.ts
  app/src/utils/__tests__/communityCreditUtil.mappers.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/__tests__/communityCreditWhitelist.spec.ts
  app/src/utils/communityCreditOfferUtil.ts
  app/src/utils/communityCreditUtil.ts
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
Due: app-unit-tests, app-e2e-tests

style: 🎨 prettier formatting on CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update investor address retrieval to use correct type and enhance query enabling logic
  app/src/composables/bank/reads.ts
  app/src/composables/investor/reads.ts
Due: app-unit-tests, app-e2e-tests

feat: 🎉 add handling for zero-amount withdrawals in mapCashRemunerationEvents
  app/src/utils/accounting/__tests__/cashRemuneration.spec.ts
  app/src/utils/accounting/mappers/cashRemuneration.ts
Due: app-unit-tests, app-e2e-tests

[Feature]: per-round transaction history on Community Credit round detail page (#2328)
  app/src/components/sections/CommunityCreditView/CreditAccountTransactions.vue
  app/src/components/sections/CommunityCreditView/CreditCallSummaryCard.vue
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallTermsStep.spec.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/composables/fixedReturn/useFixedReturnEventsViaLogs.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/types/communityCredit.schemas.ts
  app/src/types/communityCredit.ts
  app/src/types/ponder/fixedReturn.ts
  app/src/types/transactions.ts
  app/src/utils/__tests__/communityCreditOfferUtil.spec.ts
  app/src/utils/__tests__/communityCreditUtil.mappers.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/__tests__/communityCreditWhitelist.spec.ts
  app/src/utils/communityCreditOfferUtil.ts
  app/src/utils/communityCreditUtil.ts
  app/src/utils/fixedReturnTransactionUtil.ts
  app/src/utils/index.ts
  app/src/utils/transactionHistoryUtil.ts
  app/src/utils/transactionTypeRegistry.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
