Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

refactor: use TableRow type
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

complete multisig flow
  app/src/components/sections/ContractManagementView/BodApprovalModal.vue
  app/src/components/sections/ContractManagementView/MainContractActions.vue
  app/src/components/sections/SherTokenView/InvestorPendingActions.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

corred bodAction props on pay dividends
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

fix wagmi config error in investorsActions test file
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
Due: app-unit-tests, app-e2e-tests

fix unhandled error in test
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
Due: app-unit-tests, app-e2e-tests

add test for bodApprovalModal
  app/src/components/sections/ContractManagementView/__tests__/BodApprovalModal.spec.ts
Due: app-unit-tests, app-e2e-tests

test: mock readContract
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

fix: bod majority calculation
  contract/contracts/BoardOfDirectors.sol
Due: contract-unit-tests

feat: bod upgrade module
  contract/ignition/modules/BoardOfDirectorsUpgradeModule.ts
Due: contract-unit-tests

test: bod upgrade module
  contract/test/BoardOfDirectorsUpgradeModule.spec.ts
Due: contract-unit-tests

test: comment out
  contract/test/BoardOfDirectorsUpgradeModule.spec.ts
Due: contract-unit-tests

fix: use contract owner instead of team
  app/src/components/sections/AdministrationView/ElectionActions.vue
  app/src/composables/useElections.ts
Due: app-unit-tests, app-e2e-tests

fix: disable if not owner
  app/src/components/sections/AdministrationView/ElectionActions.vue
Due: app-unit-tests, app-e2e-tests

chore: remove comment
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

refactor: use tanstack query to fetch data
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

ci: set global tanstack mocks
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/tests/setup/composables.setup.ts
  app/vitest.config.ts
Due: app-unit-tests, app-e2e-tests

test: use global mocks
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseAccountTable.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: use find instead of index
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

fix: use find and handle undefined
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

fix: return generic error if parse failed
  app/src/utils/errorUtil.ts
Due: app-unit-tests, app-e2e-tests

chore: remove log
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

fix: clear data on unmounted
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

bank balance check on pay dividend
  app/src/components/sections/ContractManagementView/BodApprovalModal.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

remove continuous error on investorsTransactions fail
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

remove useToastStore
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
Due: app-unit-tests, app-e2e-tests

remove uncessary success toast
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/composables/bod/functions.ts
Due: app-unit-tests, app-e2e-tests

include bod notification feature
  app/src/composables/bod/functions.ts
  app/src/composables/useNotification.ts
  app/src/types/notification.ts
  backend/src/controllers/notificationController.ts
  backend/src/routes/notificationRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: clear loading on error
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

use proper function name for bulk notification
  app/src/composables/bod/functions.ts
  app/src/composables/useNotification.ts
  app/src/types/notification.ts
  backend/src/controllers/notificationController.ts
  backend/src/routes/notificationRoute.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

refactor: :fire: remove comment
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

feat: add zeroAddress import and user data store mock
  app/src/components/sections/CashRemunerationView/__tests__/CRAddERC20Support.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: :art: format code & remove comment
  backend/src/controllers/__tests__/expenseController.test.ts
  backend/src/controllers/expenseController.ts
Due: api-unit-tests

test: skip tests for TheDrawer and CRAddERC20Support components
  app/src/components/__tests__/TheDrawerV2.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/CRAddERC20Support.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify console error mock implementation in tests
  app/src/components/sections/CashRemunerationView/__tests__/CRAddERC20Support.spec.ts
Due: app-unit-tests, app-e2e-tests

test: :fire: skip test
  backend/src/controllers/__tests__/expenseController.test.ts
Due: api-unit-tests

refactor: remove unused handleSelectItem function and clean up MintForm.vue docs: enhance SelectMemberContractsInput component documentation
  app/src/components/sections/SherTokenView/forms/MintForm.vue
  app/src/components/utils/SelectMemberContractsInput.vue
Due: app-unit-tests, app-e2e-tests

complete bod action flow
  app/src/components/forms/TransferForm.vue
  app/src/components/sections/BankView/BankBalanceSection.vue
Due: app-unit-tests, app-e2e-tests

fix: validate that max transactions is integer
  app/src/components/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

feat: validate max per transaction
  app/src/components/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
