Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

chore: add todo
  contract/contracts/Investor/InvestorV1.sol
Due: contract-unit-tests

refactor: restore old structure
  contract/contracts/Employee.sol
Due: contract-unit-tests

feat: add updated salary struct
  contract/contracts/Employee.sol
Due: contract-unit-tests

refactor: set default to accepted
  contract/contracts/Employee.sol
Due: contract-unit-tests

feat: set start date
  contract/contracts/Employee.sol
Due: contract-unit-tests

fix: individually insert salary items
  contract/contracts/Employee.sol
Due: contract-unit-tests

feat: override _update function and update getShareholders
  contract/contracts/Investor/InvestorV1.sol
Due: contract-unit-tests

feat: set owner by initialize
  contract/contracts/Investor/InvestorV1.sol
  contract/contracts/Officer.sol
Due: contract-unit-tests

feat: add new tab
  app/src/views/SingleTeamView.vue
Due: app-unit-tests

feat: add artifacts
  app/src/artifacts/abi/investorsV1.ts
  app/src/artifacts/abi/officer.json
  app/src/artifacts/deployed_addresses/chain-31337.json
Due: app-unit-tests

feat: add some types
  app/src/constant/index.ts
  app/src/types/single-team-tabs-type.ts
  app/src/types/team.ts
Due: app-unit-tests

feat: add investors tab functonality
  app/src/components/forms/OfficerForm.vue
  app/src/components/sections/SingleTeamView/InvestorsActions.vue
  app/src/components/sections/SingleTeamView/InvestorsHeader.vue
  app/src/components/sections/SingleTeamView/InvestorsSection.vue
  app/src/components/sections/SingleTeamView/ShareholderList.vue
  app/src/components/sections/SingleTeamView/forms/DistributeMintForm.vue
  app/src/components/sections/SingleTeamView/forms/MintForm.vue
  app/src/components/sections/SingleTeamView/forms/PayDividendsForm.vue
Due: app-unit-tests

feat: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests

fix: change console.log to use log utils
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

fix: use ref instead of defineModel
  app/src/components/sections/SingleTeamView/forms/MintForm.vue
  app/src/components/sections/SingleTeamView/forms/PayDividendsForm.vue
Due: app-unit-tests

feat: add name and symbol of the shares and do minor bug fix
  app/src/components/forms/DeployInvestorContractForm.vue
  app/src/components/forms/OfficerForm.vue
  app/src/components/sections/SingleTeamView/InvestorsActions.vue
  app/src/components/sections/SingleTeamView/InvestorsSection.vue
  app/src/components/sections/SingleTeamView/ShareholderList.vue
  app/src/components/sections/SingleTeamView/forms/DistributeMintForm.vue
  app/src/views/SingleTeamView.vue
Due: app-unit-tests

feature: update singleTeamview for adCamapaign minimal flow
  app/src/artifacts/abi/AdCampaignManager.json
  app/src/types/index.ts
  app/src/types/single-team-tabs-type.ts
  app/src/types/team.ts
  app/src/views/SingleTeamView.vue
  backend/src/controllers/teamController.ts
  contract/contracts/AdCampaignManager.sol
Due: app-unit-tests, api-unit-tests, contract-unit-tests

feature: update singleTeamview for adCamapaign minimal flow
  app/src/services/AddCampaignService.ts
Due: app-unit-tests

feature: complete flow advertise contract deployment
  app/src/components/TeamContractAdmins.vue
  app/src/components/TeamContractEventList.vue
  app/src/components/TeamContracts.vue
  app/src/components/TeamContractsDetail.vue
  app/src/components/__tests__/TeamContractAdmins.spec.ts
  app/src/components/__tests__/TeamContractDetail.spec.ts
  app/src/components/__tests__/TeamContracts.spec.ts
  app/src/components/forms/CreateAddCamapaign.vue
  app/src/components/forms/__tests__/CreateAddCampaign.spec.ts
  app/src/services/AddCampaignService.ts
  app/src/services/__tests__/AddCampaignService.spec.ts
  app/src/types/index.ts
  app/src/types/single-team-tabs-type.ts
  app/src/types/team.ts
  app/src/types/teamContract.ts
  app/src/views/SingleTeamView.vue
Due: app-unit-tests

fix: remove unnecessary code
  contract/contracts/Investor/InvestorV1.sol
Due: contract-unit-tests

refactor(contract): improve Officer contract architecture and testing
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

tests: improve coverage
  contract/test/Officer.spec.ts
Due: contract-unit-tests

feat: Add batch deployment and contract tracking
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

test: Add contract type management tests
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

feat: add cash remuneration contract
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

test: employee withdrawal
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

fix: add date
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

test: cash remuneration
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

style: prettier
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

chore: remove unused
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

feature:add_migration
  backend/prisma/migrations/20241111143741_init/migration.sql
Due: api-unit-tests

feat: add claims model
  backend/prisma/schema.prisma
Due: api-unit-tests

chore: use proper contract name
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

fix: improve error handling for missing contract addresses
  app/src/components/forms/OfficerForm.vue
  app/src/constant/index.ts
Due: app-unit-tests

refactor: use withdraw instead of transfer
  contract/contracts/CashRemunerationEIP712.sol
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

tests: constant validation
  app/src/constant/__tests__/index.test.ts
  app/src/constant/index.ts
Due: app-unit-tests

style:
  contract/test/CashRemunerationEIP712.spec.ts
Due: contract-unit-tests

chore: remove unused error
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

tests:
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

Path conditions:
  app-unit-tests: any of: app
  api-unit-tests: any of: backend
  contract-unit-tests: any of: contract
