Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

feat: enhance transaction detail modal and improve transaction handling across components
  app/src/components/TransactionDetailModal.vue
  app/src/components/__tests__/TransactionDetailModal.spec.ts
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/composables/transactions/useTransactionTable.ts
  app/src/utils/__tests__/transactionHistoryUtil.spec.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: correct header index for 'Value (USD)' in ExpenseTransactions test
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add wallet address validation and Polymarket profile link
  dashboard/app/pages/accounting.vue
Due: none

feat: ✨ add new utility functions for date range and balance sheet resolution
  dashboard/app/utils/accountingPeriod.ts
Due: none

feat: ✨ enhance AccountingBalanceSheet component with date range selection
  dashboard/app/components/accounting/AccountingAsOfDatePicker.vue
  dashboard/app/components/accounting/AccountingBalanceSheet.vue
Due: none

style: 🎨 update table layout and improve text wrapping in AccountingLedger
  dashboard/app/components/accounting/AccountingLedger.vue
Due: none

style: 🎨 enhance table layout and text formatting in AccountingIncomeStatement
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
Due: none

fix: 🔄 sort trades by most recent timestamp in AccountingIncomeStatement
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
Due: none

feat: ✨ enhance column visibility picker in AccountingColumnVisibility component
  dashboard/app/components/accounting/AccountingColumnVisibility.vue
Due: none

feat: ✨ add dark mode toggle to navbar
  app/src/components/NavBar.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add accounting table search component and utility functions
  dashboard/app/components/accounting/AccountingTableSearch.vue
  dashboard/app/utils/accountingSearch.ts
Due: none

feat: ✨ implement search functionality in accounting components
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/components/accounting/AccountingLedger.vue
  dashboard/app/components/accounting/AccountingPositions.vue
Due: none

feat: ✨ pagination prototype in dashboard (resize anchoring + route binding)
  dashboard/app/components/accounting/AccountingIncomeStatement.vue
  dashboard/app/components/accounting/AccountingLedger.vue
  dashboard/app/components/accounting/AccountingPagination.vue
  dashboard/app/components/accounting/AccountingPositions.vue
  dashboard/app/composables/usePagination.ts
Due: none

fix: 🐛 avoid dynamic delete in usePagination query writer
  dashboard/app/composables/usePagination.ts
Due: none

feat: ✨ add dual-mode (date / period) accounting date picker
  dashboard/app/components/AccountingDatePicker.vue
  dashboard/app/composables/useDatePicker.ts
  dashboard/app/utils/datePicker.ts
Due: none

refactor: ♻️ back the date picker with dayjs instead of date-fns
  dashboard/app/composables/useDatePicker.ts
  dashboard/app/utils/datePicker.ts
  dashboard/package-lock.json
  dashboard/package.json
Due: none

fix: 🐛 keep the date picker calendar from crashing on deselect
  dashboard/app/components/AccountingDatePicker.vue
Due: none

Implement feature X to enhance user experience and optimize performance
  dashboard/package-lock.json
Due: none

refactor: ♻️ select custom dates with a UCalendar range
  dashboard/app/components/AccountingDatePicker.vue
  dashboard/app/composables/useDatePicker.ts
  dashboard/app/utils/datePicker.ts
Due: none

feat: ✨ add a public date-picker demo page
  dashboard/app/middleware/auth.global.ts
  dashboard/app/pages/date-picker-demo.vue
Due: none

chore: 🔧 remove unused Home date-range/period components
  dashboard/app/components/home/HomeDateRangePicker.vue
  dashboard/app/components/home/HomePeriodSelect.vue
Due: none

feat: ✨ accept a Polygon WS URL list (PONDER_WS_URLS_137)
  ponder/ponder.config.ts
Due: none

docs: 📝 default Polygon RPC example to public drpc with Alchemy backup
  ponder/.env.local.example
Due: none

feat: ✨ paginate the Company Payroll WeeklyClaim table (#2028)
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/composables/__tests__/usePagination.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ route-bound pagination composable + footer for app
  app/src/components/TablePagination.vue
  app/src/composables/usePagination.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove dead util exports in app and dashboard
  app/src/utils/dayUtils.ts
  app/src/utils/fileUtil.ts
  app/src/utils/storageWithExpiration.ts
  app/src/utils/web3Util.ts
  dashboard/app/utils/currency.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ drop needless export on internal-only utils
  app/src/utils/claimHistoryWeekNavigator.ts
  app/src/utils/classifyError.ts
  app/src/utils/contractDeploymentUtil.ts
  app/src/utils/errorUtil.ts
  app/src/utils/expenseUtil.ts
  app/src/utils/generalUtil.ts
  app/src/utils/wageUtil.ts
  dashboard/app/utils/accounting.ts
  dashboard/app/utils/accountingIdentities.ts
  dashboard/app/utils/balanceSheet.ts
  dashboard/app/utils/datePicker.ts
  dashboard/app/utils/generalLedger.ts
  dashboard/app/utils/generalUtil.ts
  dashboard/app/utils/incomeStatement.ts
  dashboard/app/utils/mergedLedger.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ migrate all app transaction tables to usePagination (#2028)
  app/src/components/TransactionTableFooter.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.test-utils.ts
  app/src/components/sections/SafeView/SafeTransactions.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
  app/src/composables/transactions/useTransactionTable.ts
  app/src/tests/mocks/router.mock.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ default WeeklyClaim page size to 20 like every section
  app/src/components/sections/WeeklyClaimView/WeeklyClaim.vue
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove unused web3Util module
  app/src/utils/__tests__/web3Util.spec.ts
  app/src/utils/index.ts
  app/src/utils/web3Util.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove unused storageWithExpiration module
  app/src/utils/__tests__/storageWithExpiration.spec.ts
  app/src/utils/storageWithExpiration.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove dead files in app
  app/src/components/sections/ProposalsView/ProposalDetail.vue
  app/src/components/ui/TransactionTimeline.vue
  app/src/constant/tokens.ts
  app/src/router/__tests__/index.spec.ts
  app/src/utils/__tests__/pdfExport.spec.ts
  app/src/utils/__tests__/pdfExportTestData.json
  app/src/utils/pdfExport.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ remove dead scaffolding files in dashboard
  dashboard/app/artifacts/abi/bank.ts
  dashboard/app/artifacts/abi/erc20.ts
  dashboard/app/components/TeamsMenu.vue
  dashboard/app/components/home/HomeChart.client.vue
  dashboard/app/components/home/HomeChart.server.vue
  dashboard/app/components/home/HomeSales.vue
  dashboard/app/components/home/HomeStats.vue
  dashboard/app/composables/useContractWrites.ts
  dashboard/app/composables/useTransactionTimeline.ts
  dashboard/app/constant/abi.ts
  dashboard/app/lib/index.ts
  dashboard/app/types/network.ts
Due: none

refactor: ♻️ roll out shared pagination to dashboard teams & customers (#2030)
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/pages/customers.vue
Due: none

Refactor transaction components and utilities
  app/src/components/TransactionChildRow.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/stores/currencyStore.ts
  app/src/types/transactions.ts
  app/src/utils/abiDecodeUtil.ts
  app/src/utils/index.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: update transaction detail modal and utility functions for improved transaction handling
  app/src/components/TransactionDetailModal.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/utils/investorsTransactionUtil.ts
  app/src/utils/transactionHistoryUtil.ts
Due: app-unit-tests, app-e2e-tests

ci: 👷 run Slither on contract PRs, fail on high/medium
  .github/workflows/contract-slither.yml
  contract/slither.config.json
Due: contract-unit-tests

docs: 📝 add Solidity audit checklist for contract PRs
  .github/copilot-instructions/README.md
  .github/copilot-instructions/solidity-audit-checklist.md
  AGENTS.md
  contract/README.md
Due: contract-unit-tests

ci: 👷 cap PR size at 400 lines via danger-js
  .github/workflows/danger.yml
  dangerfile.js
  package-lock.json
  package.json
Due: none

refactor: update MintForm and related components to handle edge cases for stake percentage and address input
  app/src/components/sections/SherTokenView/forms/MintForm.vue
  app/src/components/sections/SherTokenView/forms/MintStakeSection.vue
  app/src/components/sections/SherTokenView/forms/TwinAmountInputs.vue
  app/src/components/sections/SherTokenView/forms/__tests__/MintForm.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/MintStakeSection.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/TwinAmountInputs.spec.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
