Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract

fix: condition for amount per transaction
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

fix: transactions per period condition
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

test: limit constraints
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

chore: remove unused
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

style: prettier
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

docs: add natspec formt comments
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

feat: add non empty data condition
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
Due: contract-unit-tests

test: empty budget data
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

test: fix tests
  app/src/components/sections/SingleTeamView/forms/DistributeMintForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/DistributeMintForm.spec.ts
Due: app-unit-tests

chore: remove try catch
  app/src/components/NotificationDropdown.vue
Due: app-unit-tests

fix: store user data store
  app/src/components/NotificationDropdown.vue
Due: app-unit-tests

tests: add more tests
  app/src/components/sections/SingleTeamView/forms/__tests__/DistributeMintForm.spec.ts
Due: app-unit-tests

feat: add multi limit inputs
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

refactor: improve ui
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

feat: remove old budget limit inputs
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

test: multi budget limit inputs
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests

refactor: improve ui alignment
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

style: prettier
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests

test: add more tests
  app/src/components/sections/SingleTeamView/forms/DistributeMintForm.vue
  app/src/components/sections/SingleTeamView/forms/MintForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/DistributeMintForm.spec.ts
  app/src/components/sections/SingleTeamView/forms/__tests__/MintForm.spec.ts
Due: app-unit-tests

test: remove .only
  app/src/components/sections/SingleTeamView/forms/__tests__/MintForm.spec.ts
Due: app-unit-tests

test: add more tests
  app/src/components/sections/SingleTeamView/__tests__/ShareholderList.spec.ts
Due: app-unit-tests

test: get claims
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

test: get claim
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: get claim 201
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

feat: return new limit data structure
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

refactor: add new budget limit type
  app/src/types/expense-account.ts
Due: app-unit-tests

feat: add new expense abi
  app/src/artifacts/abi/expense-account-eip712.json
Due: app-unit-tests

feat: use new data structure and contract
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

refactor: use signature hash instead of digest
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

chore: remove unused
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

style: prettier
  app/src/artifacts/abi/expense-account-eip712.json
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests

test: mock viem keccak256
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

test: add more tests
  app/src/components/sections/SingleTeamView/InvestorsActions.vue
  app/src/components/sections/SingleTeamView/__tests__/InvestorsActions.spec.ts
  app/src/components/sections/SingleTeamView/forms/PayDividendsForm.vue
Due: app-unit-tests

test: add more expect
  app/src/components/sections/SingleTeamView/__tests__/InvestorsActions.spec.ts
Due: app-unit-tests

test: add user mock
  app/src/stores/__mocks__/user.ts
Due: app-unit-tests

test: fix app spec
  app/src/__tests__/App.spec.ts
Due: app-unit-tests

test: add more tests
  app/src/__tests__/App.spec.ts
  app/src/components/sections/SingleTeamView/__tests__/InvestorsSection.spec.ts
Due: app-unit-tests

fix: address only show 1 address
  app/src/components/forms/TransferFromBankForm.vue
Due: app-unit-tests

test: add more tests
  app/src/components/forms/__tests__/TransferFromBankForm.spec.ts
Due: app-unit-tests

test: enhance CreateProposalForm tests and improve input selectors
  app/src/components/forms/__tests__/CreateProposalForm.spec.ts
  app/src/components/sections/SingleTeamView/forms/CreateProposalForm.vue
Due: app-unit-tests
