Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

test: ✅ add shareholder investment lifecycle
  app/test/e2e/shareholder/shareholder-chain.ts
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
  app/test/e2e/shareholder/shareholder-page.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ start the credit call deadline date empty
  app/src/components/sections/CommunityCreditView/CreditCallTermsStep.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallTermsStep.spec.ts
  app/src/utils/communityCredit/__tests__/wizard.spec.ts
  app/src/utils/communityCredit/wizard.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document shareholder investment evidence
  docs/features/shareholder-management/README.md
  docs/testing/e2e-paths.md
Due: none

docs: 📝 record the empty Community Credit deadline default
  docs/features/community-credit/README.md
Due: none

test: ✅ normalize Safe address assertion
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ match shareholder percentage format
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ scope shareholder register assertion
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 preserve all-time transaction history
  app/src/composables/transactions/__tests__/useTransactionTable.spec.ts
  app/src/composables/transactions/useTransactionTable.ts
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document unbounded transaction history
  docs/features/shareholder-management/README.md
  docs/implementation/date-picker/README.md
  docs/implementation/transaction-history/README.md
Due: none

test: ✅ expand grouped shareholder investment
  app/test/e2e/shareholder/shareholder-investment.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh shareholder evidence revision
  docs/features/shareholder-management/README.md
Due: none

docs: 📝 refresh Community Credit evidence revision after develop merge
  docs/features/community-credit/README.md
Due: none

fix: 🐛 align Investor authority transfers
  app/src/artifacts/abi/generated.ts
  contract/contracts/Investor/Investor.sol
  contract/contracts/Officer.sol
  contract/test/Investor.spec.ts
  contract/test/Officer.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

feat: ✨ add Investor permission management
  app/src/components/sections/SherTokenView/InvestorActions/MintTokenAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/MintTokenAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorPermissionsSection.vue
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorPermissionsSection.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsActions.spec.ts
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
  app/src/composables/investor/permissions.ts
  app/src/composables/investor/writes.ts
  app/src/queries/__tests__/investorPermissions.queries.spec.ts
  app/src/queries/investorPermissions.queries.ts
  app/src/tests/mocks/contract.mock.ts
  app/src/tests/setup/investor.setup.ts
  app/src/utils/errors/contractCatalog.ts
  app/src/views/team/[id]/SherTokenView.vue
  app/test/e2e/investor-permissions.integrated.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Investor permission lifecycle
  app/src/composables/contracts/INVALIDATION_MAP.md
  app/src/queries/README.md
  docs/contracts/features/README.md
  docs/contracts/features/investor/README.md
  docs/contracts/features/officer/README.md
  docs/features/contract-management/README.md
  docs/features/shareholder-management/README.md
Due: app-unit-tests, app-e2e-tests

fix: 🐛 satisfy Investor validation constraints
  app/src/artifacts/abi/generated.ts
  app/src/utils/errors/contractCatalog.ts
  contract/contracts/Investor/Investor.sol
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 refresh Investor implementation evidence
  docs/contracts/features/investor/README.md
  docs/contracts/features/officer/README.md
  docs/features/contract-management/README.md
  docs/features/shareholder-management/README.md
Due: none

build: 📦 add versioned 2.0.1 upgrade modules
  contract/ignition/lib/deployment-addresses.ts
  contract/ignition/modules/CashRemunerationV201UpgradeModule.ts
  contract/ignition/modules/ExpenseAccountV201UpgradeModule.ts
  contract/ignition/modules/InvestorV201UpgradeModule.ts
  contract/ignition/modules/OfficerV201UpgradeModule.ts
  contract/scripts/validate-upgrade.ts
  contract/storage-baselines/polygon/ExpenseAccountEIP712.json
  contract/storage-baselines/polygon/Investor.json
  contract/storage-baselines/polygon/Officer.json
  contract/test/CashRemunerationEIP712UpgradeModule.spec.ts
  contract/test/ExpenseAccountEIP712UpgradeModule.spec.ts
  contract/test/InvestorUpgradeModule.spec.ts
  contract/test/OfficerUpgradeModule.spec.ts
Due: contract-unit-tests

chore: 🔧 guard the Polygon 2.0.1 upgrade flow
  .gitignore
  contract/deploy-upgrade-v2.0.1.sh
  contract/package.json
  contract/scripts/verify-v201-upgrade.ts
  contract/test/V201UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests

docs: 📝 document the Polygon 2.0.1 upgrade runbook
  contract/CHANGELOG.md
  contract/README.md
  contract/UPGRADE_STRATEGY.md
  contract/ignition/MODULES.md
  contract/releases/polygon-v2.0.1.md
Due: contract-unit-tests

fix: 🐛 stabilize Payroll CI validation
  .github/workflows/backend-vitest.yml
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/e2e-page.ts
  app/test/e2e/payroll/payroll-page.ts
  backend/package.json
  backend/vitest.unit.config.ts
  docs/features/payroll/README.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

fix: 🐛 wait for completed Payroll funding deposit
  app/test/e2e/payroll/payroll-page.ts
  docs/features/payroll/README.md
Due: app-unit-tests, app-e2e-tests

refactor: 🧹 remove obsolete payroll database integration tests and configuration
  .github/workflows/backend-vitest.yml
  backend/package.json
  backend/test/integration/payroll-database.integration.test.ts
  backend/vitest.payroll-integration.config.ts
  docs/features/payroll/README.md
Due: api-unit-tests

ci: 👷 remove Playwright and backend Vitest workflows
  .github/workflows/app-e2e.yml
  .github/workflows/backend-vitest.yml
  docs/features/payroll/README.md
  docs/testing/E2E_QUICK_REFERENCE.md
  docs/testing/E2E_SETUP_SUMMARY.md
  docs/testing/README.md
  docs/testing/e2e-paths.md
Due: none

test: ✅ preserve Payroll database migration coverage
  app/test/README.md
  backend/package.json
  backend/test/integration/payroll-database.integration.test.ts
  backend/vitest.payroll-integration.config.ts
  backend/vitest.unit.config.ts
  docs/features/payroll/README.md
Due: app-unit-tests, api-unit-tests, app-e2e-tests

ci: 👷 restore E2E and backend Vitest workflows
  .github/workflows/app-e2e.yml
  .github/workflows/backend-vitest.yml
Due: none

ci: 👷 remove integrated E2E runtime settings from workflow ci: 👷 exclude backend-vitest workflow file from path triggers
  .github/workflows/app-e2e.yml
  .github/workflows/backend-vitest.yml
Due: none

build: 📦 align Vitest 5 peer dependencies
  app/package-lock.json
  app/package.json
  backend/package-lock.json
  backend/package.json
Due: app-unit-tests, api-unit-tests, app-e2e-tests

test: ✅ synchronize integrated balance reads
  app/test/e2e/accounts.integrated.spec.ts
  app/test/e2e/bank/bank-page.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ stub integrated token prices
  app/test/e2e/fixtures.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 complete Investor permission safeguards
  app/src/components/sections/SherTokenView/InvestorActions/MintTokenAction.vue
  app/src/components/sections/SherTokenView/InvestorActions/__tests__/MintTokenAction.spec.ts
  app/src/components/sections/SherTokenView/InvestorPermissionsSection.vue
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/__tests__/InvestorPermissionsSection.spec.ts
  app/src/components/sections/SherTokenView/__tests__/ShareholderList.spec.ts
Due: app-unit-tests, app-e2e-tests

test: ✅ align Investor permission evidence
  app/src/components/sections/SherTokenView/__tests__/InvestorPermissionsSection.spec.ts
  contract/test/Investor.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 align Investor permission upgrade evidence
  contract/releases/polygon-v2.0.1.md
  docs/features/shareholder-management/README.md
Due: contract-unit-tests

refactor: ♻️ extract Investor permission presentation
  app/src/components/sections/SherTokenView/InvestorPermissionsSection.vue
  app/src/utils/investors/permissions.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh Investor permission evidence
  docs/features/shareholder-management/README.md
Due: none

refactor: ♻️ retain only active versioned upgrade modules
  contract/deploy-upgrade-4-april.sh
  contract/deploy-upgrade-v2.0.1.sh
  contract/deploy.sh
  contract/ignition/lib/deployment-addresses.ts
  contract/ignition/modules/BankUpgradeModule.ts
  contract/ignition/modules/BoardOfDirectorsUpgradeModule.ts
  contract/ignition/modules/CashRemunerationUpgradeModule.ts
  contract/ignition/modules/ExpenseAccountUpgradeModule.ts
  contract/ignition/modules/FeeCollectorUpgradeModule.ts
  contract/ignition/modules/OfficerUpgradeModule.ts
  contract/ignition/modules/SafeDepositRouterUpgradeModule.ts
  contract/package.json
  contract/test/BankUpgradeModule.spec.ts
  contract/test/BoardOfDirectorsUpgradeModule.spec.ts
  contract/test/V201UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests

docs: 📝 document versioned contract upgrade flow
  contract/README.md
  contract/UPGRADE_STRATEGY.md
  contract/ignition/MODULES.md
  contract/ignition/modules/README.md
  contract/releases/polygon-v2.0.1.md
  docs/contracts/contracts-technical-architecture.md
Due: contract-unit-tests

refactor: ♻️ group upgrade modules by release
  contract/deploy-upgrade-v2.0.1.sh
  contract/ignition/MODULES.md
  contract/ignition/modules/README.md
  contract/ignition/modules/upgrades/v2.0.1/CashRemunerationUpgradeModule.ts
  contract/ignition/modules/upgrades/v2.0.1/ExpenseAccountUpgradeModule.ts
  contract/ignition/modules/upgrades/v2.0.1/InvestorUpgradeModule.ts
  contract/ignition/modules/upgrades/v2.0.1/OfficerUpgradeModule.ts
  contract/releases/polygon-v2.0.1.md
  contract/test/CashRemunerationEIP712UpgradeModule.spec.ts
  contract/test/OfficerUpgradeModule.spec.ts
  contract/test/V201UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests

fix: 🐛 unlock keystore once during V2.0.1 preparation
  contract/UPGRADE_STRATEGY.md
  contract/deploy-upgrade-v2.0.1.sh
  contract/ignition/modules/README.md
  contract/releases/polygon-v2.0.1.md
  contract/scripts/README.md
  contract/scripts/validate-upgrade.ts
  contract/test/V201UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests

fix: 🐛 reuse keystore across V2.0.1 deployment
  contract/UPGRADE_STRATEGY.md
  contract/deploy-upgrade-v2.0.1.sh
  contract/ignition/MODULES.md
  contract/ignition/modules/README.md
  contract/releases/polygon-v2.0.1.md
  contract/scripts/README.md
  contract/scripts/deploy-v201-upgrade.ts
  contract/scripts/lib/v201-upgrade-verification.ts
  contract/scripts/verify-v201-upgrade.ts
  contract/test/V201UpgradeDeploymentScript.spec.ts
Due: contract-unit-tests
