Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

fix: tests
  app/src/views/HomeView.vue
  app/test/e2e/dashboard.spec.ts
  app/test/e2e/login.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: decrease timeout
  app/playwright.config.ts
Due: none

docs: update docs
  README.md
Due: none

refactor: remove unused import from DepositBankForm test file
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove old expense account
  app/src/components/sections/SingleTeamView/ExpenseAccountSection.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountSection.spec.ts
  app/src/components/sections/SingleTeamView/forms/ApproveUsersForm.vue
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersForm.spec.ts
Due: app-unit-tests, app-e2e-tests

build: install dependencies
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

Update app/test/e2e/teams.spec.ts
  app/test/e2e/teams.spec.ts
Due: app-unit-tests, app-e2e-tests

change workflow
  .github/workflows/app-e2e.yml
Due: none

change config
  app/playwright.config.ts
Due: none

Revert "build: install dependencies"
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

build: use develop branch package-lock.json
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

feat: add switch chain
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

test: mock use switch chain
  app/src/composables/__tests__/useSiwe.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: check metamask using wagmi
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

test: metamask not installed
  app/src/composables/__tests__/useSiwe.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove logs and comments
  app/src/composables/__tests__/useSiwe.spec.ts
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

fix: tests
  README.md
  app/test/e2e/login.spec.ts
  app/test/wallet-setup/connected.setup.ts
Due: app-unit-tests, app-e2e-tests

format code
  app/test/e2e/login.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: lock
  app/package-lock.json
Due: app-unit-tests, app-e2e-tests

feat: add erc20 token support
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

refactor: remove commented-out test cases in DeploymentActions and ExpenseAccountEIP712Section
  app/src/components/forms/__tests__/DeploymentActions.spec.ts
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace isAddress vite.config
  app/vite.config.ts
Due: none

refactor: replace isAddress TeamContractAdmins
  app/src/components/TeamContractAdmins.vue
Due: app-unit-tests, app-e2e-tests

test: mock viem instead of ethers
  app/src/components/__tests__/TeamContractAdmins.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: update comment
  app/src/components/__tests__/TeamContractAdmins.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: replace isAddress TransferFromBankForm
  app/src/components/forms/TransferFromBankForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace isAddress AddMemberForm
  app/src/components/sections/SingleTeamView/forms/AddMemberForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace isAddress ApproveUsersEIP712Form
  app/src/components/sections/SingleTeamView/forms/ApproveUsersEIP712Form.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace isAddress TransferOwnershipForm
  app/src/components/sections/SingleTeamView/forms/TransferOwnershipForm.vue
Due: app-unit-tests, app-e2e-tests

fix: cast type
  app/src/components/sections/SingleTeamView/forms/TransferOwnershipForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: replace isAddress AddTeamForm
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  backend/src/controllers/notificationController.ts
Due: api-unit-tests

build: install viem
  backend/package-lock.json
  backend/package.json
Due: api-unit-tests

refactor: replace isAddress teamController
  backend/src/controllers/teamController.ts
Due: api-unit-tests

chore: remove unused
  backend/src/controllers/teamController.ts
Due: api-unit-tests

refactor: replace isAddress notificationUtil
  backend/src/utils/notificationUtil.ts
Due: api-unit-tests

style: prettier
  app/src/components/sections/SingleTeamView/forms/TransferOwnershipForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove siweMessageCreatorAdaptor dependency
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests
