Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

refactor: ♻️ align balance sheet account projection
  app/src/components/sections/AccountingView/BalanceSheetCard.vue
  app/src/components/sections/AccountingView/BalanceSheetTable.vue
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
  app/src/components/sections/AccountingView/__tests__/BalanceSheetTable.spec.ts
  app/src/composables/accounting/__tests__/useLedgerDrilldown.spec.ts
  app/src/lib/accounting/__tests__/pdf.spec.ts
  app/src/lib/accounting/__tests__/spreadsheet.spec.ts
  app/src/lib/accounting/pdf.ts
  app/src/lib/accounting/spreadsheet.ts
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/exportNaming.spec.ts
  app/src/utils/accounting/__tests__/journalAssembly.spec.ts
  app/src/utils/accounting/__tests__/nonRegression.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/journalBalances.ts
  app/src/utils/accounting/presenter.ts
  app/src/utils/accounting/summaryCards.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document balance sheet account reconciliation
  docs/features/accounting/README.md
  docs/features/accounting/money-flow-catalogue.md
  docs/implementation/accounting-read-model/README.md
Due: none

test: ✅ align balance sheet activity-row expectations
  app/src/utils/accounting/__tests__/assemble.fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/summaryCards.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 💄 put the recipient amount at the bottom of the transfer summary
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh accounts implementation evidence attestation
  docs/features/accounts/README.md
Due: none

refactor: ♻️ preserve exact accounting precision
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/utils/accounting/__tests__/accountLedger.spec.ts
  app/src/utils/accounting/__tests__/accountLedgerInstance.spec.ts
  app/src/utils/accounting/__tests__/assemble.classification.spec.ts
  app/src/utils/accounting/__tests__/assemble.fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/bank2FeeTrial.spec.ts
  app/src/utils/accounting/__tests__/bankFeeAssembly.spec.ts
  app/src/utils/accounting/__tests__/buildLedger.spec.ts
  app/src/utils/accounting/__tests__/cashRemuneration.spec.ts
  app/src/utils/accounting/__tests__/catalogueLedger.ts
  app/src/utils/accounting/__tests__/exactPrecision.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/fixtures.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/__tests__/incomeStatement.spec.ts
  app/src/utils/accounting/__tests__/journalAssembly.spec.ts
  app/src/utils/accounting/__tests__/journalEntry.spec.ts
  app/src/utils/accounting/__tests__/nonRegression.spec.ts
  app/src/utils/accounting/__tests__/summaryCards.spec.ts
  app/src/utils/accounting/__tests__/transactionFirst.spec.ts
  app/src/utils/accounting/__tests__/vesting.spec.ts
  app/src/utils/accounting/accountLedger.ts
  app/src/utils/accounting/accountingSummary.ts
  app/src/utils/accounting/balanceSheet.ts
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/generalLedger.ts
  app/src/utils/accounting/incomeStatement.ts
  app/src/utils/accounting/journalBalances.ts
  app/src/utils/accounting/journalEntry.ts
  app/src/utils/accounting/journalLedgerPresenter.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/mappers/cashRemuneration.ts
  app/src/utils/accounting/mappers/payrollAccrual.ts
  app/src/utils/accounting/monetaryAmount.ts
  app/src/utils/accounting/presenter.ts
  app/src/utils/accounting/summaryCards.ts
  app/src/utils/accounting/toUsd.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document exact accounting precision
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-utilities/README.md
Due: none

refactor: ♻️ require rate-stamped journal entries
  app/src/components/sections/AccountingView/__tests__/AccountingSummary.spec.ts
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
  app/src/components/sections/AccountingView/__tests__/LedgerActivityJump.spec.ts
  app/src/components/sections/AccountingView/__tests__/LedgerRedeployLabel.spec.ts
  app/src/utils/accounting/__tests__/accountInstances.spec.ts
  app/src/utils/accounting/__tests__/accountLedgerInstance.spec.ts
  app/src/utils/accounting/__tests__/accountRegistry.spec.ts
  app/src/utils/accounting/__tests__/assembleAccounting.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/bank2FeeTrial.spec.ts
  app/src/utils/accounting/__tests__/buildLedger.spec.ts
  app/src/utils/accounting/__tests__/catalogueLedger.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/fixtures.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/__tests__/journalAssembly.spec.ts
  app/src/utils/accounting/__tests__/journalEntry.spec.ts
  app/src/utils/accounting/__tests__/ledgerCategory.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/__tests__/transactionFirst.spec.ts
  app/src/utils/accounting/accountInstances.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/generalLedger.ts
  app/src/utils/accounting/journalEntry.ts
  app/src/utils/accounting/journalLedgerPresenter.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/mappers/sherIssuance.ts
  app/src/utils/accounting/monetaryAmount.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ present trial balance from journal
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
  app/src/lib/accounting/pdf.ts
  app/src/lib/accounting/spreadsheet.ts
  app/src/utils/accounting/__tests__/accountLedgerInstance.spec.ts
  app/src/utils/accounting/__tests__/assembleAccounting.ts
  app/src/utils/accounting/__tests__/balanceSheet.spec.ts
  app/src/utils/accounting/__tests__/catalogueLedger.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/__tests__/journalAssembly.spec.ts
  app/src/utils/accounting/__tests__/journalEntry.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/__tests__/transactionFirst.spec.ts
  app/src/utils/accounting/accountInstances.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/buildLedger.ts
  app/src/utils/accounting/generalLedger.ts
  app/src/utils/accounting/journalEntry.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/mappers/sherIssuance.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document direct journal projections
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-utilities/README.md
Due: none

refactor: ♻️ flatten accounting journal projections
  app/src/components/sections/AccountingView/AccountingSummary.vue
  app/src/components/sections/AccountingView/__tests__/AccountingSummary.spec.ts
  app/src/components/sections/AccountingView/__tests__/GeneralLedgerFilters.spec.ts
  app/src/composables/accounting/__tests__/useAccountingExport.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useAccountingExport.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/lib/accounting/pdf.ts
  app/src/lib/accounting/spreadsheet.ts
  app/src/utils/accounting/__tests__/accountInstances.spec.ts
  app/src/utils/accounting/__tests__/accountRegistry.spec.ts
  app/src/utils/accounting/__tests__/assemble.classification.spec.ts
  app/src/utils/accounting/__tests__/assemble.fixedReturn.spec.ts
  app/src/utils/accounting/__tests__/assemble.rate.spec.ts
  app/src/utils/accounting/__tests__/assemble.spec.ts
  app/src/utils/accounting/__tests__/bankFeeAssembly.spec.ts
  app/src/utils/accounting/__tests__/journalAssembly.spec.ts
  app/src/utils/accounting/__tests__/nonRegression.spec.ts
  app/src/utils/accounting/__tests__/presenter.spec.ts
  app/src/utils/accounting/__tests__/sherAccrualRate.spec.ts
  app/src/utils/accounting/__tests__/summaryCards.spec.ts
  app/src/utils/accounting/__tests__/vesting.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/exportSpec.ts
  app/src/utils/accounting/presenter.ts
  app/src/utils/accounting/summaryCards.ts
Due: app-unit-tests, app-e2e-tests

ci: 👷 raise Codecov patch coverage target to 90%
  codecov.yml
Due: none

refactor: ♻️ share journal across accounting routes
  app/src/components/sections/AccountingView/AccountingPage.vue
  app/src/components/sections/AccountingView/__tests__/AccountingPage.spec.ts
  app/src/components/sections/AccountingView/__tests__/AccountingView.spec.ts
  app/src/components/sections/AccountingView/__tests__/GeneralLedgerInteractions.spec.ts
  app/src/composables/accounting/__tests__/useAccountingContext.spec.ts
  app/src/composables/accounting/useAccountingContext.ts
  app/src/router/__tests__/index.spec.ts
  app/src/router/index.ts
  app/src/views/team/[id]/Accounting/BalanceSheetView.vue
  app/src/views/team/[id]/Accounting/ClassificationView.vue
  app/src/views/team/[id]/Accounting/GeneralLedgerView.vue
  app/src/views/team/[id]/Accounting/IncomeStatementView.vue
  app/src/views/team/[id]/Accounting/SummaryView.vue
  app/src/views/team/[id]/Accounting/TrialBalanceView.vue
  app/src/views/team/[id]/Accounting/__tests__/AccountingViews.spec.ts
  app/src/views/team/[id]/ShowIndex.vue
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document shared accounting journal lifetime
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/companies/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-navigation/README.md
Due: none

refactor: ♻️ move accounting reports into route views
  app/src/components/sections/AccountingView/AccountingSummary.vue
  app/src/components/sections/AccountingView/BalanceSheetCard.vue
  app/src/components/sections/AccountingView/ClassificationTable.vue
  app/src/components/sections/AccountingView/GeneralLedger.vue
  app/src/components/sections/AccountingView/IncomeStatementCard.vue
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
  app/src/views/team/[id]/Accounting/BalanceSheetView.vue
  app/src/views/team/[id]/Accounting/ClassificationView.vue
  app/src/views/team/[id]/Accounting/GeneralLedgerView.vue
  app/src/views/team/[id]/Accounting/IncomeStatementView.vue
  app/src/views/team/[id]/Accounting/SummaryView.vue
  app/src/views/team/[id]/Accounting/TrialBalanceView.vue
  app/src/views/team/[id]/Accounting/__tests__/AccountingReports.spec.ts
  app/src/views/team/[id]/Accounting/__tests__/AccountingViews.spec.ts
  app/src/views/team/[id]/Accounting/__tests__/ClassificationView.spec.ts
  app/src/views/team/[id]/Accounting/__tests__/GeneralLedgerFilters.spec.ts
  app/src/views/team/[id]/Accounting/__tests__/GeneralLedgerInteractions.spec.ts
  app/src/views/team/[id]/Accounting/__tests__/SummaryView.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 align accounting report ownership
  docs/features/accounting/README.md
  docs/features/accounting/contract-migration-history.md
  docs/implementation/accounting-read-model/README.md
Due: none

refactor: ♻️ remove dead accounting composable
  app/src/composables/accounting/__tests__/useTeamInternalAddresses.spec.ts
  app/src/composables/accounting/useAccountingBackendFeeds.ts
  app/src/composables/accounting/useTeamInternalAddresses.ts
  app/src/utils/accounting/internalAddresses.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 remove dead accounting composable evidence
  docs/features/accounting/README.md
  docs/features/accounting/contract-migration-history.md
Due: none

docs: 📝 document shared accounting type ownership
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-utilities/README.md
Due: none

refactor: ♻️ fold fee mapping into Bank
  app/src/utils/accounting/__tests__/bank2FeeTrial.spec.ts
  app/src/utils/accounting/__tests__/bankFees.spec.ts
  app/src/utils/accounting/__tests__/orchestrator.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/mappers/bank.ts
  app/src/utils/accounting/mappers/fees.ts
  app/src/utils/accounting/mappers/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ consolidate Payroll and Expense mappers
  app/src/utils/accounting/__tests__/expenseAccount.spec.ts
  app/src/utils/accounting/__tests__/orchestrator.spec.ts
  app/src/utils/accounting/__tests__/payroll.spec.ts
  app/src/utils/accounting/__tests__/payrollAccrual.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/mappers/expenseAccount.ts
  app/src/utils/accounting/mappers/index.ts
  app/src/utils/accounting/mappers/internalPosting.ts
  app/src/utils/accounting/mappers/payroll.ts
  app/src/utils/accounting/mappers/payrollAccrual.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ separate SHER settlement from source mappers
  app/src/utils/accounting/__tests__/sherIssuance.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/sherIssuance.ts
  app/src/utils/accounting/sherRate.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document Accounting mapper boundaries
  docs/features/accounting/README.md
  docs/features/accounting/journal-entry-catalogue.md
  docs/features/accounting/vesting-accounting-restricted-stock.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-utilities/README.md
Due: none

refactor: ♻️ migrate journal account assignment API
  backend/prisma/migrations/20260908000000_migrate_journal_account_assignments/migration.sql
  backend/prisma/schema.prisma
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/classificationController.test.ts
  backend/src/controllers/__tests__/journalAccountAssignmentController.test.ts
  backend/src/controllers/classificationController.ts
  backend/src/controllers/journalAccountAssignmentController.ts
  backend/src/routes/classificationRoute.ts
  backend/src/routes/journalAccountAssignmentRoute.ts
  backend/src/validation/index.ts
  backend/src/validation/schemas/classification.ts
  backend/src/validation/schemas/journalAccountAssignment.ts
Due: api-unit-tests

fix: 🐛 migrate only assignable journal accounts
  backend/prisma/migrations/20260908000000_migrate_journal_account_assignments/migration.sql
Due: api-unit-tests

refactor: ♻️ align account assignment terminology
  app/src/utils/accounting/mappers/bank.ts
  app/src/views/team/[id]/Accounting/AccountAssignmentsView.vue
Due: app-unit-tests, app-e2e-tests

docs: 📝 document journal account assignments
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/accounting/accounting-test-plan.md
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/journal-entry-catalogue.md
  docs/features/accounting/money-flow-catalogue.md
  docs/features/accounts/README.md
  docs/features/payroll/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/client-navigation/README.md
  docs/implementation/feature-flags/README.md
Due: none

test: ✅ cover internal transfer fees
  app/src/utils/accounting/__tests__/bankFeeAssembly.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ inline accounting backend queries
  app/scripts/architecture-candidate-baseline.json
  app/src/components/sections/AccountingView/AccountingPage.vue
  app/src/composables/accounting/__tests__/useAccountingContext.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useAccountingBackendFeeds.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/views/team/[id]/Accounting/AccountAssignmentsView.vue
  app/src/views/team/[id]/Accounting/__tests__/AccountAssignmentsView.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document direct accounting query ownership
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
Due: none

refactor: ♻️ keep accounting status refs independent
  app/src/components/sections/AccountingView/AccountingPage.vue
  app/src/composables/accounting/__tests__/useAccountingContext.spec.ts
  app/src/composables/accounting/__tests__/useCNCAccounting.spec.ts
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/views/team/[id]/Accounting/AccountAssignmentsView.vue
  app/src/views/team/[id]/Accounting/__tests__/AccountAssignmentsView.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 refresh accounting implementation evidence
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
Due: none

refactor: ♻️ inline the Vesting page read model
  app/scripts/architecture-candidate-baseline.json
  app/src/composables/vesting/__tests__/useVestingSchedules.spec.ts
  app/src/composables/vesting/useVestingSchedules.ts
  app/src/views/team/[id]/VestingView.vue
  app/src/views/team/[id]/__tests__/VestingView.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 point Vesting evidence to the page
  docs/features/vesting/README.md
Due: none

fix: 🐛 load complete reactive Safe accounting history
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/queries/__tests__/safe.queries.integration.spec.ts
  app/src/queries/__tests__/safe.queries.spec.ts
  app/src/queries/safe.queries.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document complete Safe accounting history
  docs/features/accounting/README.md
  docs/implementation/accounting-read-model/README.md
Due: none

fix: 🐛 normalize Safe addresses before use
  app/src/composables/accounting/useCNCAccounting.ts
  app/src/composables/safe/__tests__/useSafeDeployment.spec.ts
  app/src/composables/safe/__tests__/useSafeSdk.spec.ts
  app/src/composables/safe/useSafeDeployment.ts
  app/src/composables/safe/useSafeImport.ts
  app/src/composables/safe/useSafeSdk.ts
  app/src/lib/safe/__tests__/transactions.spec.ts
  app/src/lib/safe/transactions.ts
  app/src/queries/__tests__/safe.queries.integration.spec.ts
  app/src/queries/__tests__/safe.queries.spec.ts
  app/src/queries/safe.queries.ts
  app/src/stores/__tests__/teamStore.spec.ts
  app/src/stores/teamStore.ts
  app/src/utils/safe/__tests__/address.spec.ts
  app/src/utils/safe/__tests__/model.spec.ts
  app/src/utils/safe/address.ts
  app/src/utils/safe/model.ts
  app/src/views/team/[id]/Accounts/SafeView.vue
Due: app-unit-tests, app-e2e-tests
