Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: 🐛 restore nodemon moveConstants script on Node 22
  contract/package.json
Due: contract-unit-tests

docs: 📝 analyse the Community Credit (FixedReturn) user flow
  docs/00_DOCUMENTATION_INDEX.md
  docs/features/community-credit/user-flow-analysis.md
Due: none

fix: 🐛 enhance layout and styling for user components and election details
  app/src/components/UserComponent.vue
  app/src/components/sections/AdministrationView/BoDElectionDetailsCard.vue
  app/src/components/sections/AdministrationView/CurrentBoDSection.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add comprehensive CNC accounting test scenario
  docs/features/accounting/accounting-test-plan.md
Due: none

fix: 🐛 restore expense spend form and spendable balance
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/components/sections/ExpenseAccountView/__tests__/TransferAction.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 harden expense spendable balance math
  app/src/utils/__tests__/expenseUtil.spec.ts
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 validate transfers against the spendable balance
  app/src/components/forms/TransferForm.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 drop unused ERC20 approval from expense account spend
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/components/sections/ExpenseAccountView/__tests__/TransferAction.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: ♻️ move expense EIP-712 helpers into expenseUtil
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/components/sections/ExpenseAccountView/__tests__/TransferAction.spec.ts
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 correct address display logic in UserComponent
  app/src/components/UserComponent.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 close Community Credit review findings against FixedReturn.sol
  app/src/components/sections/CommunityCreditView/CreditLayoutSwitcher.vue
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepayPanel.spec.ts
  app/src/router/index.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/stores/communityCredit.ts
  app/src/tests/setup/bank.setup.ts
  app/src/types/communityCredit.ts
  app/src/utils/communityCreditUtil.ts
  app/src/utils/communityCreditWizardUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

style: 💄 apply prettier formatting to community credit files
  app/src/artifacts/deployed_addresses/chain-31337.json
  app/src/utils/communityCreditUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
  app/src/views/team/[id]/CommunityCredit/NewView.vue
Due: app-unit-tests, app-e2e-tests

chore: 🔧 drop local dev deployed-address drift from chain-31337.json
  app/src/artifacts/deployed_addresses/chain-31337.json
  app/src/e2e/mockConnector.ts
  contract/package.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

chore: 🔧 revert accidental inclusion of local-only files
  app/src/e2e/mockConnector.ts
  contract/package.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

style: improve button styling for sign and withdraw actions in CRSigne and CRWithdrawClaim components
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 enable refetch on mount for useGetTeamWeeklyClaimsQuery and improve weekly claim query mocks
  app/src/queries/weeklyClaim.queries.ts
  app/src/tests/setup/composables.setup.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update query keys in WeeklyClaimAction tests for consistency
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionDropdown.spec.ts
  app/src/components/sections/WeeklyClaimView/__tests__/WeeklyClaimActionEnable.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 refactor dropdown menu logic and improve accessibility in WeeklyClaimAction components
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionDropdown.vue
  app/src/components/sections/WeeklyClaimView/WeeklyClaimActionEnable.vue
  app/src/components/sections/WeeklyClaimView/useWeeklyClaimDropdown.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 ensure toggles remain enabled regardless of input values in wage components
  app/src/components/sections/DashboardView/__tests__/SetMemberWageOvertimeStep.spec.ts
  app/src/components/sections/DashboardView/__tests__/SetMemberWageStandardStep.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 remove unnecessary watch on wageData amounts in SetMemberWageOvertimeStep and SetMemberWageStandardStep components
  app/src/components/sections/DashboardView/SetMemberWageOvertimeStep.vue
  app/src/components/sections/DashboardView/SetMemberWageStandardStep.vue
Due: app-unit-tests, app-e2e-tests

chore: 🔧 update root dev dependencies to latest compatible versions
  package-lock.json
  package.json
Due: none

chore: 🔧 update app dependencies to latest compatible versions
  app/package-lock.json
  app/package.json
Due: app-unit-tests, app-e2e-tests

chore: 🔧 update backend dependencies to latest compatible versions
  backend/package-lock.json
  backend/package.json
Due: api-unit-tests

chore: 🔧 update contract dependencies to latest compatible versions
  contract/package-lock.json
  contract/package.json
Due: contract-unit-tests

chore: 🔧 update dashboard dependencies to latest compatible versions
  dashboard/package-lock.json
  dashboard/package.json
Due: none

chore: 🔧 update ponder dependencies to latest compatible versions
  ponder/package-lock.json
  ponder/package.json
Due: none

fix: 🐛 clarify debt and interest accounting in CNC financial statements
  docs/features/accounting/cnc-accounting-spec.md
Due: none

fix: 🐛 update credit contract handling to reflect external deposits and simplify posting logic
  app/src/utils/accounting/creditGrouping.ts
  app/src/utils/accounting/mappers/fixedReturn.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update credit grouping tests to reflect accurate accounting for deposits and refunds
  app/src/utils/accounting/__tests__/creditGrouping.spec.ts
  app/src/utils/accounting/__tests__/fixedReturn.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 show an accurate lender count on Community Credit round cards
  app/src/composables/fixedReturn/reads.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditUtil.mappers.spec.ts
  app/src/utils/communityCreditOfferUtil.ts
  app/src/utils/communityCreditUtil.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 use SafeERC20 for contract token transfers
  .github/workflows/contract-code-quality.yml
  app/src/artifacts/abi/generated.ts
  contract/CHANGELOG.md
  contract/contracts/CashRemunerationEIP712.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/contracts/test/MockNoReturnERC20.sol
  contract/test/CashRemunerationEIP712.spec.ts
  contract/test/ExpenseAccountEIP712.spec.ts
  contract/test/ExpenseAccountEIP712V2.spec.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

docs: 📝 clarify global CNC fee accounting
  docs/features/accounting/README.md
  docs/features/accounting/cnc-accounting-spec.md
  docs/features/accounting/money-flow-catalogue.md
Due: none

style: 💄 format contract changelog
  contract/CHANGELOG.md
Due: contract-unit-tests

feat: 🎉 add daily cap badge for maximum hours per day in MemberSection
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: 🎉 add maximum hours per day prop to ClaimForm and SubmitClaims components
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

feat: 🎉 update daily cap badge to display hours correctly and adjust related tests
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/components/sections/DashboardView/MemberSection.vue
  app/src/components/sections/DashboardView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: 🎉 enforce daily cap on hours worked in ClaimForm and update validation logic
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ validate hours worked against remaining daily allowance
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
  app/src/components/sections/ClaimHistoryView/ClaimHistoryActionAlerts.vue
  app/src/composables/__tests__/useClaimForm.spec.ts
  app/src/composables/useClaimForm.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document remaining daily allowance validation
  docs/features/cash-remuneration/daily-cap.md
Due: none

feat: 🎉 add daily cap documentation and related link in cash remuneration README
  docs/00_DOCUMENTATION_INDEX.md
  docs/features/contracts/cash-remuneration/README.md
Due: none

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
