Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: ✨ derive and filter general-ledger entries by currency
  app/src/utils/accounting/__tests__/ledgerCurrency.spec.ts
  app/src/utils/accounting/ledgerCurrency.ts
  app/src/utils/accounting/ledgerPresenter.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add CurrencyFilterSelect multi-select component
  app/src/components/CurrencyFilterSelect.vue
  app/src/components/__tests__/CurrencyFilterSelect.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ carry the ledger currency selection into exports
  app/src/utils/accounting/exportSpec.ts
  app/src/utils/accountingExport.ts
  app/src/utils/accountingPdf.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ wire the currency filter into the General Ledger view
  app/src/components/sections/AccountingView/GeneralLedger.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement Credit Balance section and update refund status handling across components
  app/src/components/sections/CommunityCreditView/CreditBalanceSection.vue
  app/src/components/sections/CommunityCreditView/CreditHistoryTable.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/CreditRoundGauge.vue
  app/src/components/sections/CommunityCreditView/CreditRoundLedger.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/types/communityCredit.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/utils/communityCreditUtil.ts
  app/src/views/team/[id]/CommunityCredit/IndexView.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance Community Credit views with owner-specific lending logic and tests
  app/src/components/sections/CommunityCreditView/CreditRepayPanel.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepayPanel.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundCard.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 standardize string quotes in version function
  contract/contracts/FixedReturn.sol
Due: contract-unit-tests

feat: ✨ add unit tests for communityCreditUtil on-chain mappers
  app/src/utils/__tests__/communityCreditUtil.mappers.spec.ts
  app/src/utils/__tests__/communityCreditUtil.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update variable names to use consistent prefix for lending offers
  contract/contracts/FixedReturn.sol
Due: contract-unit-tests

fix: 🐛 update validation logic for whitelisted allocations in CreditCallAccessStep tests
  app/src/components/sections/CommunityCreditView/__tests__/CreditCallAccessStep.validate.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance TeamsList component with UserIdentity and version display
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/types/index.d.ts
  dashboard/package-lock.json
Due: none

feat: ✨ implement reusable sortable headers for team columns
  dashboard/app/components/teams/TeamsList.vue
Due: none

feat: ✨ refactor TeamsList component to use template slots for cell rendering
  dashboard/app/components/teams/TeamsList.vue
Due: none

feat: ✨ add TeamOfficersCell component and related API for fetching officer history
  dashboard/app/api/contract.ts
  dashboard/app/components/teams/TeamOfficersCell.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/queries/contract.query.ts
  dashboard/app/types/index.d.ts
Due: none

feat: ✨ add OfficerBeacon component and query for fetching beacon address
  dashboard/app/components/teams/OfficerBeacon.vue
  dashboard/app/components/teams/TeamOfficersCell.vue
  dashboard/app/queries/officerBeacon.query.ts
Due: none

feat: ✨ update TeamsList component to enhance officer version display and adjust officer history column width
  dashboard/app/components/teams/TeamsList.vue
Due: none

feat: ✨ add CopyButton component and integrate it into UserIdentity, OfficerBeacon, and TeamOfficersCell for improved address copying functionality
  dashboard/app/components/CopyButton.vue
  dashboard/app/components/UserIdentity.vue
  dashboard/app/components/teams/OfficerBeacon.vue
  dashboard/app/components/teams/TeamOfficersCell.vue
Due: none

feat: ✨ enhance TeamOfficersCell component with improved loading states and officer details display
  dashboard/app/components/teams/OfficerBeacon.vue
  dashboard/app/components/teams/TeamOfficersCell.vue
Due: none

feat: ✨ update styles in OfficerBeacon and TeamOfficersCell components for improved loading states and layout adjustments
  dashboard/app/components/teams/OfficerBeacon.vue
  dashboard/app/components/teams/TeamOfficersCell.vue
  dashboard/app/components/teams/TeamsList.vue
Due: none

feat: ✨ update TeamsList component to simplify officer history column definition and adjust TeamOfficersCell width for better layout
  dashboard/app/components/teams/TeamOfficersCell.vue
  dashboard/app/components/teams/TeamsList.vue
Due: none

feat: ✨ add OfficerBeaconSummary component and integrate it into TeamsList for enhanced officer beacon display
  dashboard/app/components/teams/OfficerBeaconSummary.vue
  dashboard/app/components/teams/TeamsList.vue
  dashboard/app/composables/useOfficerBeaconSummary.ts
Due: none

fix: 🐛 refactor SHER rate calculations to use current multiplier directly
  app/src/utils/accounting/__tests__/sherRate.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/sherRate.ts
Due: app-unit-tests, app-e2e-tests

feat: implement version-aware FeeCollector management
  dashboard/app/artifacts/feeCollectorRegistry.ts
  dashboard/app/components/sections/FeeCollectorView/FeeCollectorPanelV1.vue
  dashboard/app/components/sections/FeeCollectorView/legacy/FeeCollectorLegacyActions.vue
  dashboard/app/components/sections/FeeCollectorView/legacy/FeeCollectorLegacyView.vue
  dashboard/app/components/sections/FeeCollectorView/legacy/FeeCollectorPanelV0.vue
  dashboard/app/components/sections/FeeCollectorView/legacy/FeeCollectorPanelV01.vue
  dashboard/app/composables/FeeCollector/read.ts
  dashboard/app/composables/FeeCollector/useFeeCollectorVersion.ts
  dashboard/app/composables/FeeCollector/v0/read.ts
  dashboard/app/composables/FeeCollector/v0/writes.ts
  dashboard/app/composables/FeeCollector/v0_1/read.ts
  dashboard/app/composables/FeeCollector/v0_1/writes.ts
  dashboard/app/composables/FeeCollector/v1/read.ts
  dashboard/app/composables/FeeCollector/v1/writes.ts
  dashboard/app/composables/FeeCollector/writes.ts
  dashboard/app/pages/micropayments.vue
Due: none

feat: add contract history page and related components for version tracking
  dashboard/app/components/contracts/AddressLink.vue
  dashboard/app/components/contracts/BeaconOwner.vue
  dashboard/app/components/contracts/ContractHistoryCard.vue
  dashboard/app/composables/useContractRegistry.ts
  dashboard/app/layouts/default.vue
  dashboard/app/pages/contracts/history.vue
  dashboard/app/queries/beaconOwner.query.ts
Due: none

feat: refactor contract components and queries for improved address handling and UI consistency
  dashboard/app/components/contracts/AddressLink.vue
  dashboard/app/components/contracts/BeaconOwner.vue
  dashboard/app/components/contracts/ContractHistoryCard.vue
  dashboard/app/components/contracts/ContractOwner.vue
  dashboard/app/pages/contracts/history.vue
  dashboard/app/queries/beaconOwner.query.ts
  dashboard/app/queries/upgradeOwner.query.ts
Due: none

feat: add LegacyContractBanner component to display legacy contract warnings
  app/src/components/sections/DashboardView/LegacyContractBanner.vue
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

feat: add legacy badge to TeamCard for teams on older contract generations
  app/src/components/sections/TeamView/TeamCard.vue
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update SHER token address fallback to use investor address if not provided
  app/src/composables/accounting/useCNCAccounting.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 update deployed addresses in chain-137.json for various modules
  app/src/artifacts/deployed_addresses/chain-137.json
Due: app-unit-tests, app-e2e-tests

fix: 🐛 value each SHER ledger leg at the multiplier of its own date
  app/src/utils/accounting/__tests__/sherAccrualRate.spec.ts
  app/src/utils/accounting/__tests__/sherRate.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/sherRate.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 settle SHER issuances at the frozen value of their accruals
  app/src/utils/accounting/__tests__/sherIssuance.spec.ts
  app/src/utils/accounting/assemble.ts
  app/src/utils/accounting/mappers/sherIssuance.ts
Due: app-unit-tests, app-e2e-tests

fix: 🐛 keep every currency selected while the ledger loads
  app/src/components/sections/AccountingView/GeneralLedger.vue
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ update accounting routes and remove deprecated AccountingView component
  app/src/composables/accounting/useAccountingContext.ts
  app/src/router/index.ts
  app/src/views/team/[id]/AccountingView.vue
Due: app-unit-tests, app-e2e-tests

refactor: 🛠️ remove accounting layout handling from team outlet key computation
  app/src/views/team/[id]/ShowIndex.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ add accounting view components for BalanceSheet, GeneralLedger, IncomeStatement, Summary, and TrialBalance
  app/src/views/team/[id]/Accounting/BalanceSheetView.vue
  app/src/views/team/[id]/Accounting/GeneralLedgerView.vue
  app/src/views/team/[id]/Accounting/IncomeStatementView.vue
  app/src/views/team/[id]/Accounting/SummaryView.vue
  app/src/views/team/[id]/Accounting/TrialBalanceView.vue
Due: app-unit-tests, app-e2e-tests
