Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

refactor: enhance feature handling by adding current feature computation and improving features prop handling
  dashboard/app/pages/features/[id].vue
  dashboard/app/pages/features/index.vue
  dashboard/app/queries/feature.query.ts
Due: none

feat: update file attachment structure in ClaimForm and EditClaims tests
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add additional file upload test cases in ClaimForm.spec.ts
  app/src/components/sections/CashRemunerationView/Form/__tests__/ClaimForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance FileData structure with size, key, and URL properties
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

feat: update FileAttachment interface to include fileKey and fileUrl properties
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

feat: update FileAttachment interface to include fileKey and fileUrl properties
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

feat: add Storage Migration Summary documentation for Railway S3 integration
  backend/docs/STORAGE_MIGRATION_SUMMARY.md
Due: api-unit-tests

feat: integrate storage service for file uploads and management in claims
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: api-unit-tests

feat: implement profile image upload and retrieval in user update process
  backend/src/controllers/userController.ts
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests

feat: remove deprecated Google Cloud Storage integration and related tests
  backend/src/utils/__tests__/storage.test.ts
  backend/src/utils/__tests__/upload.test.ts
  backend/src/utils/storage.ts
  backend/src/utils/upload.ts
Due: api-unit-tests

feat: update environment configuration for Railway S3 integration and replace Google Cloud Storage with AWS SDK
  backend/.env.example
  backend/package.json
Due: api-unit-tests

feat: add profile image upload functionality to user update route
  backend/src/routes/userRoutes.ts
Due: api-unit-tests

feat: implement storage service with S3 integration and file management functions
  backend/src/services/__tests__/storageService.test.ts
  backend/src/services/storageService.ts
Due: api-unit-tests

refactor: remove S3 file handling and update existingFiles type to FileData
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unused file attachment handling and simplify file preview logic
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unnecessary comments from FileAttachment interface
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

refactor: simplify file attachment handling and remove legacy code
  backend/src/controllers/claimController.ts
Due: api-unit-tests

refactor: remove file existence checks from storage routes and update comments
  backend/src/routes/storageRoute.ts
  backend/src/routes/userRoutes.ts
Due: api-unit-tests

refactor: format style bindings and improve readability in image upload components
  app/src/components/forms/ProfileImageUpload.vue
  app/src/components/sections/CashRemunerationView/Form/MultiFileUpload.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for ProfileImageUpload component
  app/src/components/forms/__tests__/ProfileImageUpload.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add unit tests for useFileUrl composable and presigned URL handling
  app/src/components/sections/CashRemunerationView/Form/__tests__/FilePreviewGallery.spec.ts
  app/src/composables/__tests__/useFileUrl.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: streamline response structure in notification and team controllers
  backend/src/controllers/notificationController.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: update notification and team controller tests to remove success property and adjust response structure
  backend/src/controllers/__tests__/notificationController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

fix: change response status from 201 to 200 for notification retrieval and update
  backend/src/controllers/notificationController.ts
Due: api-unit-tests

fix: change response status from 201 to 200 in notification controller tests
  backend/src/controllers/__tests__/notificationController.test.ts
Due: api-unit-tests

fix: remove obsolete migration files and clean up database schema
  backend/prisma/migrations/20250404114337_v4/migration.sql
  backend/prisma/migrations/20250416084621_image_url/migration.sql
  backend/prisma/migrations/20250421150852_change_data_to_json_type/migration.sql
  backend/prisma/migrations/20250524093140_merge_migrations/migration.sql
  backend/prisma/migrations/20250604120914_create_weeklyclaim/migration.sql
  backend/prisma/migrations/20250609132846_add_rate_per_hour_array/migration.sql
  backend/prisma/migrations/20250610152527_wage_rate_aray_plus_weekly_claim/migration.sql
  backend/prisma/migrations/20250612134153_add_week_claim_status/migration.sql
  backend/prisma/migrations/20251106121221_remove_claim_fields/migration.sql
  backend/prisma/migrations/20251211183516_add_image_screens_to_claim/migration.sql
  backend/prisma/migrations/20251224133022_feature/migration.sql
  backend/prisma/migrations/20251227132357_rbac/migration.sql
  backend/prisma/migrations/20251231035854_remove_column/migration.sql
  backend/prisma/migrations/20260105093422_add_file_attachments_to_claim/migration.sql
Due: api-unit-tests

feat: add initial database migration with user, team, and notification tables
  backend/prisma/migrations/20260112112145_v7/migration.sql
Due: api-unit-tests

fix: update backend readme version to v2
  backend/readme.md
Due: api-unit-tests

fix: update file upload handling to use unified endpoint and improve response handling
  app/src/components/forms/ProfileImageUpload.vue
  app/src/components/sections/CashRemunerationView/Form/MultiFileUpload.vue
Due: app-unit-tests, app-e2e-tests

fix: make fileName optional in FileData and enhance existingFiles handling for better preview generation
  app/src/components/sections/CashRemunerationView/Form/ClaimForm.vue
Due: app-unit-tests, app-e2e-tests

fix: implement pre-upload for files in claim submission and update handling of attachments
  app/src/components/sections/CashRemunerationView/EditClaims.vue
  app/src/components/sections/CashRemunerationView/SubmitClaims.vue
Due: app-unit-tests, app-e2e-tests

fix: remove fileName from FileAttachment interface and derive display name from fileKey in buildFilePreviews
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

fix: remove fileName from FileAttachment interface and clarify fileKey description
  app/src/types/cash-remuneration.ts
Due: app-unit-tests, app-e2e-tests

fix: refactor file upload handling to use pre-uploaded attachments and remove unused upload logic
  backend/src/controllers/__tests__/claimController.test.ts
  backend/src/controllers/claimController.ts
Due: api-unit-tests

fix: update profile image upload logic to use new uploadFile function
  backend/src/controllers/userController.ts
Due: api-unit-tests

fix: update upload routes to support multiple file types and adjust response structure
  backend/src/routes/__tests__/uploadRoute.test.ts
  backend/src/routes/claimRoute.ts
  backend/src/routes/storageRoute.ts
  backend/src/routes/uploadRoute.ts
Due: api-unit-tests

fix: remove deprecated uploadProfileImage function and update related tests
  backend/src/services/__tests__/storageService.test.ts
  backend/src/services/storageService.ts
Due: api-unit-tests

fix: update claim schemas to include attachments and improve validation
  backend/src/validation/schemas/claim.ts
Due: api-unit-tests

fix: update imageUrl to fileUrl in tests and enhance file upload handling
  app/src/components/forms/__tests__/ProfileImageUpload.spec.ts
  app/src/components/sections/CashRemunerationView/Form/__tests__/MultiFileUpload.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/EditClaims.spec.ts
  app/src/components/sections/CashRemunerationView/__tests__/SubmitClaims.spec.ts
Due: app-unit-tests, app-e2e-tests
