Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

refactor: remove web3 adapter cash remuneration
  app/src/components/sections/SingleTeamView/CashRemunerationSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  app/src/components/sections/SingleTeamView/CashRemunerationSection.vue
Due: app-unit-tests, app-e2e-tests

test: mock wagmi composables
  app/src/components/sections/SingleTeamView/__tests__/CashRemunerationSection.spec.ts
Due: app-unit-tests, app-e2e-tests

style: prettier
  app/src/components/sections/SingleTeamView/CashRemunerationSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: change variable name
  app/src/components/sections/SingleTeamView/CashRemunerationSection.vue
Due: app-unit-tests, app-e2e-tests

test: sign typed data
  app/src/components/sections/SingleTeamView/__tests__/CashRemunerationSection.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update AddTeamForm and TeamView components for improved team and investor contract management
  app/src/components/sections/TeamView/forms/AddTeamForm.vue
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

fix: bank tips not using bank funds
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

test: add more assertion
  contract/test/Bank.spec.ts
Due: contract-unit-tests

chore: remove console.log
  app/src/components/sections/SingleTeamView/BankSection.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance Officer contract to support batch deployment of contracts
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

style: fix formatter
  contract/test/Bank.spec.ts
Due: contract-unit-tests

feat: implement officer contract creation and deployment logic in TeamView
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance DepositBankForm with token selection and improved UI
  app/src/components/forms/DepositBankForm.vue
  app/src/components/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance TeamView with officer address handling and contract event watching
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

feat: add event for deployed beacon proxies in Officer contract
  contract/contracts/Officer.sol
Due: contract-unit-tests

refactor: streamline Officer contract and enhance TeamView functionality
  app/src/artifacts/abi/officer.json
  app/src/views/SingleTeamView.vue
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

feat: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
  contract/ignition/modules/OfficerModule.ts
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: update deployAllContracts function and add new modifier
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

refactor: update access control in deployBeaconProxy function
  contract/contracts/Officer.sol
  contract/test/Officer.spec.ts
Due: contract-unit-tests

feat: deploy to sepolia
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#Officer.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

refactor: remove investor contract deployment modal and related logic
  app/src/views/SingleTeamView.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove investor contract deployment logic from SingleTeamView.vue
  app/src/views/SingleTeamView.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance TeamView and teamController for officer contract integration
  app/src/views/TeamView.vue
  backend/src/controllers/teamController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

feat: integrate investor contract deployment in TeamView
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

refactor: simplify TeamView by removing unused deployment logic
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

refactor: clean up SingleTeamView and enhance error handling in TeamView
  app/src/views/SingleTeamView.vue
  app/src/views/TeamView.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove CreateOfficerTeam component and related logic from OfficerForm
  app/src/components/forms/CreateOfficerTeam.vue
  app/src/components/forms/OfficerForm.vue
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused Member type import from OfficerForm.vue
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove CreateOfficerTeam and related tests, clean up AddTeamForm.spec.ts
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
  app/src/components/forms/__tests__/CreateOfficerTeam.spec.ts
  app/src/components/forms/__tests__/OfficerForm.spec.ts
  app/src/views/__tests__/TeamView.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove unused vars
  app/src/components/forms/__tests__/AddTeamForm.spec.ts
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: clean up OfficerForm.spec.ts by removing unused imports
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: form badge ui
  app/src/components/forms/DepositBankForm.vue
Due: app-unit-tests, app-e2e-tests

feat: add vite-plugin-vue-devtools for improved development experience
  app/package-lock.json
  app/package.json
  app/vite.config.ts
Due: app-unit-tests, app-e2e-tests

feat: add TableComponent for dynamic data display with sorting and loading states
  app/src/components/TableComponent.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance TableComponent with improved props and dynamic row sorting
  app/src/components/TableComponent.vue
Due: app-unit-tests, app-e2e-tests

feat: add connect wallet
  app/src/composables/useSiwe.ts
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

refactor: add execute function
  app/src/composables/useSiwe.ts
Due: app-unit-tests, app-e2e-tests

fix: remove metaMask connector
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

test: use account return types
  app/src/composables/__tests__/useSiwe.spec.ts
Due: app-unit-tests, app-e2e-tests
