Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

refactor: simplify template conditionals in MemberSection.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: clean up and enhance tests for MemberSection component
  app/src/components/sections/SingleTeamView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add cash remuneration abi
  the-graph/abis/CashRemunerationEIP712.json
Due: none

feat: add handler for cash remuneration
  the-graph/src/cashRemunerationEip712.ts
Due: none

feat: add subgraph for cash remuneration
  the-graph/subgraph.yaml
Due: none

fix conflicts
  README.md
  app/package-lock.json
  app/src/components/TeamContracts.vue
  app/src/components/TeamContractsDetail.vue
  app/src/services/AddCampaignService.ts
  app/src/views/SingleTeamView.vue
  contract/hardhat.config.ts
  contract/package-lock.json
  contract/package.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

create contract management page and add tests
  app/src/components/TeamContractsDetail.vue
  app/src/components/TheDrawer.vue
  app/src/components/__tests__/TeamContractDetail.spec.ts
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
  app/src/router/index.ts
  app/src/services/__tests__/AddCampaignService.spec.ts
  app/src/views/team/[id]/ContractManagementView.vue
  app/src/views/team/[id]/__tests__/ContractManagementView.spec.ts
Due: app-unit-tests, app-e2e-tests

add package lock
  app/package-lock.json
  package-lock.json
Due: app-unit-tests, app-e2e-tests

add hardhatconfig
  contract/hardhat.config.ts
Due: contract-unit-tests

feat: graph for bank contract
  the-graph/abis/Bank.json
  the-graph/schema.graphql
  the-graph/src/bank.ts
  the-graph/src/utils.ts
  the-graph/subgraph.yaml
Due: none

refactor: remove import of defineProps: it's macro and don't need import
  app/src/components/CardComponent.vue
  app/src/components/TeamContractsDetail.vue
Due: app-unit-tests, app-e2e-tests

test: add unit tests for MemberAction component
  app/src/components/sections/SingleTeamView/__tests__/MemberAction.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unnecessary blank lines and improve code formatting in multiple components
  app/src/components/CardComponent.vue
  app/src/components/TeamContractsDetail.vue
  app/src/components/sections/CashRemunerationView/__tests__/CashRemunerationTable.spec.ts
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove localhost network configuration from subgraph.yaml
  the-graph/subgraph.yaml
Due: none

ci: redeploy contracts
  app/src/artifacts/deployed_addresses/chain-11155111.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

ci: update sepolia addresses
  the-graph/networks.json
  the-graph/subgraph.yaml
Due: none

fix: handle empty value
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: update API endpoints for claim actions and fix event naming in CashRemuneration components
  app/src/components/sections/CashRemunerationView/CRSigne.vue
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/CashRemunerationView/CashRemunerationTable.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve error handling in approveClaim function by typing error object
  app/src/components/sections/CashRemunerationView/CRSigne.vue
Due: app-unit-tests, app-e2e-tests

refactor: enhance error handling in approveClaim function to avoid duplicate toast notifications
  app/src/components/sections/CashRemunerationView/CRSigne.vue
Due: app-unit-tests, app-e2e-tests

feat: add handler on officer
  the-graph/src/officer.ts
Due: none

feat: add transaction subgraph in cash remuneration subgraph
  the-graph/subgraph.yaml
Due: none

refactor: remove unused withdrawal logic and balance loading indicators from App and NavBar components
  app/src/App.vue
  app/src/components/NavBar.vue
Due: app-unit-tests, app-e2e-tests

refactor: remove unused loading states and related tests from NavBar component
  app/src/components/__tests__/NavBar.spec.ts
Due: app-unit-tests, app-e2e-tests

chore: remove define props import
  app/src/components/TableComponent.vue
  app/src/components/TeamContractAdmins.vue
  app/src/components/TestToast.vue
  app/src/components/ToastContainer.vue
Due: app-unit-tests, app-e2e-tests

test: add TODO for logout click functionality in NavBar tests
  app/src/components/__tests__/NavBar.spec.ts
Due: app-unit-tests, app-e2e-tests

test: logout test
  app/src/components/__tests__/NavBar.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove unused toast tests from App component
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

style: fix formatting in ToastContainer.vue
  app/src/components/ToastContainer.vue
Due: app-unit-tests, app-e2e-tests

Update the-graph/src/bank.ts
  the-graph/src/bank.ts
Due: none

Update the-graph/subgraph.yaml
  the-graph/subgraph.yaml
Due: none

refactor: remove unused claim handling functions from teamController
  backend/src/controllers/teamController.ts
Due: api-unit-tests

feat: add syncContracts endpoint to manage team contracts
  backend/src/controllers/ContractController.ts
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

fix: identation
  the-graph/subgraph.yaml
Due: none

feat: add getContracts endpoint and improve syncContracts error handling
  backend/src/controllers/ContractController.ts
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

feat: update TeamContract model to enforce unique contract types per team
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: add cash remuneration transaction response
  app/src/types/transactions.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
