Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: resolve USDCe token-symbol bugs in Community Credit
  app/src/components/sections/CommunityCreditView/CreditConditionsCard.vue
  app/src/components/sections/CommunityCreditView/CreditRepaymentCard.vue
  app/src/components/sections/CommunityCreditView/CreditRoundGauge.vue
  app/src/components/sections/CommunityCreditView/CreditRoundLedger.vue
  app/src/components/sections/CommunityCreditView/CreditRoundTimeline.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditConditionsCard.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRepaymentCard.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundGauge.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundLedger.spec.ts
  app/src/stores/__tests__/communityCredit.spec.ts
  app/src/utils/tokens/__tests__/metadata.spec.ts
  app/src/utils/tokens/metadata.ts
Due: app-unit-tests, app-e2e-tests

docs: refresh Community Credit implementation evidence
  docs/features/community-credit/README.md
Due: none

test: 🧪 enhance BankTransactions tests to distinguish between empty and error states
  app/src/components/sections/BankView/__tests__/BankTransactions.fixture.ts
  app/src/components/sections/BankView/__tests__/BankTransactions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance BankView components with improved error handling and loading states
  app/src/components/sections/BankView/BankBalanceSection.vue
  app/src/components/sections/BankView/BankTransactions.vue
  app/src/components/sections/BankView/forms/DepositBankForm.vue
  app/src/components/sections/BankView/forms/TransferModal.vue
  app/src/components/sections/BankView/forms/__tests__/DepositBankForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add bankEventKeys to invalidate logs after Bank writes
  app/src/composables/bank/useBankEventsViaLogs.ts
Due: app-unit-tests, app-e2e-tests

refactor: reorganize E2E tests and enhance bank account functionality
  app/test/README.md
  app/test/e2e/bank-account.spec.ts
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/bank/bank-chain.ts
  app/test/e2e/bank/bank-page.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add pretest script for E2E and enhance mock event feed state with gaps and timestamps
  app/package.json
  app/playwright.config.ts
  app/src/tests/mocks/eventFeed.mock.ts
Due: app-unit-tests, app-e2e-tests

refactor: update Bank user stories and identifiers to align with new contract capabilities
  docs/contracts/features/bank/README.md
  docs/features/accounts/README.md
  docs/implementation/transaction-history/README.md
Due: none

feat: ✨ update Bank functionality with new ABI integration and enhance cash out logic for supported tokens
  app/src/composables/bod/reads.ts
  app/src/composables/cashOut/__tests__/useCashOutAll.spec.ts
  app/src/composables/cashOut/useCashOutAll.ts
  app/src/composables/contracts/INVALIDATION_MAP.md
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance E2E support with dynamic token addresses and improved transaction handling
  app/src/constant/index.ts
  app/src/e2e/mockConnector.ts
  app/src/wagmi.config.ts
Due: app-unit-tests, app-e2e-tests

docs: document per-token account statistics as a business rule
  docs/features/community-credit/README.md
Due: none

fix: make FixedReturn offering metadata saves idempotent
  backend/src/controllers/__tests__/fixedReturnOfferingController.test.ts
  backend/src/controllers/fixedReturnOfferingController.ts
  backend/src/routes/fixedReturnOfferingRoute.ts
Due: api-unit-tests

docs: document the metadata endpoint's idempotency contract
  docs/features/community-credit/README.md
Due: none

fix: stop presenting FixedReturn read failures as confirmed empty state
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditLendPositionAlert.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundCard.spec.ts
  app/src/composables/fixedReturn/__tests__/myLenderPositions.spec.ts
  app/src/composables/fixedReturn/__tests__/offerLenders.spec.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/composables/fixedReturn/useMyLenderOffering.ts
  app/src/tests/mocks/composables.mock.ts
  app/src/types/communityCredit.ts
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/NewView.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/RoundView.repayment.spec.ts
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: introduce a typed FixedReturn cache-key factory
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/CreditRoundReadState.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundReadState.spec.ts
  app/src/composables/fixedReturn/__tests__/invalidate.spec.ts
  app/src/composables/fixedReturn/__tests__/keys.spec.ts
  app/src/composables/fixedReturn/__tests__/myLenderPositions.spec.ts
  app/src/composables/fixedReturn/invalidate.ts
  app/src/composables/fixedReturn/keys.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/composables/fixedReturn/useMyLenderOffering.ts
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/RoundView.repayment.spec.ts
Due: app-unit-tests, app-e2e-tests

perf: stop RoundView re-running the full overview just for one position
  app/src/composables/fixedReturn/__tests__/rpcBudget.spec.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/tests/setup/fixedReturn.setup.ts
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

docs: document the FixedReturn read-model boundaries and cache-key factory
  docs/features/community-credit/README.md
Due: none

fix: inline the position-unavailable alert, fix a real Map type error
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/CreditLendPositionAlert.vue
  app/src/composables/fixedReturn/reads.ts
Due: app-unit-tests, app-e2e-tests

docs: refresh implementation evidence attestation
  docs/features/community-credit/README.md
Due: none

refactor: merge FixedReturn's cache-key factory into reads.ts
  app/src/components/sections/CommunityCreditView/CreditRoundCard.vue
  app/src/components/sections/CommunityCreditView/CreditRoundReadState.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditRoundReadState.spec.ts
  app/src/composables/fixedReturn/__tests__/invalidate.spec.ts
  app/src/composables/fixedReturn/__tests__/keys.spec.ts
  app/src/composables/fixedReturn/invalidate.ts
  app/src/composables/fixedReturn/keys.ts
  app/src/composables/fixedReturn/reads.ts
  app/src/tests/setup/fixedReturn.setup.ts
  app/src/views/team/[id]/CommunityCredit/NewView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/RoundView.repayment.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: surface a failed lender-position/offerLenders read instead of hiding it
  app/src/components/sections/CommunityCreditView/CreditRoundActions.vue
  app/src/views/team/[id]/CommunityCredit/RoundView.vue
  app/src/views/team/[id]/CommunityCredit/__tests__/communityCreditViews.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: inline the single-consumer lender-position composable into CreditLendModal
  app/src/components/sections/CommunityCreditView/CreditLendModal.vue
  app/src/components/sections/CommunityCreditView/__tests__/CreditLendModal.spec.ts
  app/src/composables/fixedReturn/useMyLenderOffering.ts
  app/src/utils/communityCredit/offer.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add Expense Account E2E tests and implement expense approval chain helpers
  app/test/e2e/expense/expense-account.spec.ts
  app/test/e2e/expense/expense-chain.ts
  app/test/e2e/expense/expense-page.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ refactor Bank E2E tests to improve structure and replace deprecated variables
  app/test/e2e/bank/bank-account.spec.ts
  app/test/e2e/bank/bank-chain.ts
  app/test/e2e/bank/bank-page.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement Safe E2E tests and supporting utilities for transaction handling
  app/test/e2e/safe/safe-account.spec.ts
  app/test/e2e/safe/safe-chain.ts
  app/test/e2e/safe/safe-page.ts
  app/test/e2e/safe/safe-transaction-service.ts
  app/test/e2e/safe/safe-transaction.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add E2E chain and global setup utilities for improved testing infrastructure
  app/test/e2e/e2e-chain.ts
  app/test/e2e/e2e-page.ts
  app/test/e2e/global-setup.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ update BankBalanceSection to use computed values for total balances and enhance test for currency formatting
  app/src/components/sections/BankView/BankBalanceSection.vue
  app/src/components/sections/BankView/__tests__/BankBalanceSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add useSafeSignerRole composable and corresponding tests for wallet signer recognition
  app/src/composables/safe/__tests__/useSafeSignerRole.spec.ts
  app/src/composables/safe/useSafeSdk.ts
  app/src/composables/safe/useSafeSignerRole.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ update SafeBalanceSection to use computed values for balance display and enhance tests for currency formatting
  app/src/components/sections/SafeView/SafeBalanceSection.vue
  app/src/components/sections/SafeView/__tests__/SafeBalanceSection.rendering.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add E2E configuration constants and enhance mock connector for improved testing
  app/src/e2e/chain.ts
  app/src/e2e/mockConnector.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ enhance ExpenseTransactions component to handle error states for incomplete expense log scans
  app/src/components/sections/ExpenseAccountView/ExpenseTransactions.vue
  app/src/components/sections/ExpenseAccountView/__tests__/ExpenseTransactions.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ integrate E2E configurations for Safe infrastructure and add signer role utility functions with tests
  app/src/constant/safeInfra.ts
  app/src/types/safe.ts
  app/src/utils/safe/__tests__/signerRole.spec.ts
  app/src/utils/safe/signerRole.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ update Playwright configuration to use dynamic E2E RPC URL and token addresses for improved testing stability
  app/playwright.config.ts
Due: none

feat: ✨ update implementation evidence reference and enhance E2E journey documentation for Bank, Expense, and Safe accounts
  docs/features/accounts/README.md
Due: none

feat: ✨ update implementation evidence references across multiple documentation files for consistency
  docs/contracts/features/bank/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/contract-event-feeds/README.md
  docs/implementation/transaction-history/README.md
Due: none

docs: 📝 refresh implementation evidence attestation after merge with develop
  docs/contracts/features/bank/README.md
  docs/features/accounts/README.md
  docs/implementation/accounting-read-model/README.md
  docs/implementation/contract-event-feeds/README.md
Due: none

ci: 👷 install contract deps in E2E job so Hardhat node starts
  .github/workflows/app-e2e.yml
Due: none

ci: 👷 compile contract artifacts before running E2E specs
  .github/workflows/app-e2e.yml
Due: none

test: 🧪 cover getSafeInfraAddresses branches (Hardhat / Polygon / unsupported chain)
  app/src/constant/__tests__/safeInfra.test.ts
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
