Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

fix: add updateWeeklyClaims route and enhance tests for weekly claim actions
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

fix: update weekly claim route tests to handle not found and ownership validation scenarios
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

test: add validation for incomplete week in weekly claim update
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

test: add validation for already signed and withdrawn weekly claims
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

test: add validation for weekly claim withdrawal without prior signing
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

test: add validation for already withdrawn weekly claims and handle missing teamId
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

refactor: remove commented-out test for database error handling
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

test: refactor mock data for weekly claim tests to improve readability and maintainability
  backend/src/controllers/__tests__/weeklyClaimController.test.ts
Due: api-unit-tests

refactor: clean up test code for improved readability and maintainability
  backend/src/controllers/__tests__/authController.test.ts
  backend/src/controllers/__tests__/contractController.test.ts
  backend/src/controllers/__tests__/expenseController.test.ts
  backend/src/controllers/__tests__/memberController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/__tests__/wageController.test.ts
Due: api-unit-tests

feat: enhance menu items with dropdown functionality and improve active route handling
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

feat: create expense utils
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

refactor: use expense utils to get current user expenses
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/composables/index.ts
  app/src/utils/index.ts
Due: app-unit-tests, app-e2e-tests

feat: add contract balance types
  app/src/types/contract-balance.ts
  app/src/types/index.ts
Due: app-unit-tests, app-e2e-tests

refactor: create expense get tokens uti;
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

chore: remove comments
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add InvestorsNumber component to display investor count
  app/src/components/sections/SherTokenView/InvestorsNumber.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance InvestorsOverviewRow with additional props for better data display
  app/src/components/sections/SherTokenView/InvestorsSection.vue
Due: app-unit-tests, app-e2e-tests

feat: add InvestorsBalance component to display token balance information
  app/src/components/sections/SherTokenView/InvestorsBalance.vue
Due: app-unit-tests, app-e2e-tests

feat: add TotalSupply component to display total supply information
  app/src/components/sections/SherTokenView/TotalSupply.vue
Due: app-unit-tests, app-e2e-tests

feat: update InvestorsNumber component title and icon for clarity
  app/src/components/sections/SherTokenView/InvestorsNumber.vue
Due: app-unit-tests, app-e2e-tests

feat: add InvestorsOverviewRow component to display investor, balance, and supply information
  app/src/components/sections/SherTokenView/InvestorsOverviewRow.vue
Due: app-unit-tests, app-e2e-tests

refactor: comment out InvestorsHeader component import and usage
  app/src/components/sections/SherTokenView/InvestorsSection.vue
Due: app-unit-tests, app-e2e-tests

feat: :zap: enhance amount input field
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

feat: :fire: remove contrat Address to past another part
  app/src/components/sections/SherTokenView/InvestorsHeader.vue
Due: app-unit-tests, app-e2e-tests

feat: :zap: disable distribute mint button, add tooltip and add contract Address
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

refactor: create transfer action component
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/ExpenseAccountView/MyApprovedExpenseSection.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

subgraph config
  the-graph/abis/InvestorV1.json
  the-graph/schema.graphql
  the-graph/src/investorV1.ts
  the-graph/src/officer.ts
  the-graph/subgraph.yaml
Due: none

update subgraph
  the-graph/subgraph.yaml
Due: none

refactor: use find
  app/src/utils/expenseUtil.ts
Due: app-unit-tests, app-e2e-tests

ci: update local addresses to current values
  the-graph/networks.json
Due: none

feat: update ShareholderList layout and integrate UserComponent for shareholder display
  app/src/components/sections/SherTokenView/ShareholderList.vue
Due: app-unit-tests, app-e2e-tests

feat: add mint button to Investor Actions for token minting
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

feat: adjust layout of contract address display in Investor Actions
  app/src/components/sections/SherTokenView/InvestorsActions.vue
Due: app-unit-tests, app-e2e-tests

feat: enhance MintForm layout with SelectMemberInput and improve amount input styling
  app/src/components/sections/SherTokenView/ShareholderList.vue
  app/src/components/sections/SherTokenView/forms/MintForm.vue
Due: app-unit-tests, app-e2e-tests

fix: correct indentation for error messages in PayDividendsForm
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

feat: update button styles in InvestorsActions and add type import in InvestorsNumber
  app/src/components/sections/SherTokenView/InvestorsActions.vue
  app/src/components/sections/SherTokenView/InvestorsNumber.vue
Due: app-unit-tests, app-e2e-tests

fix: remove trailing whitespace in CreateElectionForm.vue
  app/src/components/sections/AdministrationView/forms/CreateElectionForm.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
