Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

test: unauthorised mint
  contract/test/CashRemunerationEIP712.withdrawSher.spec.ts
Due: contract-unit-tests

doc: add comments
  contract/contracts/CashRemunerationEIP712.sol
Due: contract-unit-tests

Update Sentry replay sample rates to 10% for sessions and error tracking
  app/src/main.ts
Due: app-unit-tests, app-e2e-tests

transactions history added
  app/src/components/sections/SherTokenView/DividendsBalancesSection.vue
  app/src/components/sections/SherTokenView/InvestorsSection.vue
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
  app/src/views/team/[id]/BankView.vue
  app/src/views/team/[id]/SherTokenView.vue
  the-graph/abis/Bank.json
  the-graph/schema.graphql
  the-graph/src/bank.ts
  the-graph/subgraph.yaml
Due: app-unit-tests, app-e2e-tests

fix: reorganize mocks in EditUserForm tests for improved linting and robustness
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

fix: update user image URL to use DiceBear API for dynamic avatars
  backend/src/controllers/authController.ts
Due: api-unit-tests

refactor: :fire: remove metamask image
  app/public/meta.svg
Due: app-unit-tests, app-e2e-tests

ci: set viaIR true
  contract/hardhat.config.ts
Due: contract-unit-tests

refactor: create functions for deployment steps
  contract/contracts/Officer.sol
Due: contract-unit-tests

build: update contract abis
  app/src/artifacts/abi/bank.ts
  app/src/artifacts/abi/cash-remuneration-eip712.ts
  app/src/artifacts/abi/expense-account-eip712.ts
  app/src/artifacts/abi/investor-v1.ts
  app/src/artifacts/abi/officer.ts
  app/src/artifacts/abi/vesting.ts
Due: app-unit-tests, app-e2e-tests

feat: update to configure on deployment
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

ci: remove partially supported option
  contract/hardhat.config.ts
Due: contract-unit-tests

test: use time helper function
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

feat: add wallet address display with copy functionality and tooltip support
  app/src/components/forms/EditUserForm.vue
Due: app-unit-tests, app-e2e-tests

fix: change ButtonUI variant from primary to error in ModalComponent
  app/src/components/ModalComponent.vue
Due: app-unit-tests, app-e2e-tests

refactor: update modal handling and user data binding in EditUserForm
  app/src/App.vue
  app/src/components/forms/EditUserForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: improve test structure and mock implementations in EditUserForm.spec.ts
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: enhance EditUserForm tests by adding currency selection and name change scenarios
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update EditUserForm tests for improved clarity and add watchers validation
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: implement complete authentication flow with SIWE and token validation tests
  backend/bruno/CNC Portal/Auth/Auth - Login with SIWE.bru
  backend/bruno/CNC Portal/environments/CNC URI.bru
  backend/bruno/CNCPortal/Auth/Auth - 1 - Get Nonce.bru
  backend/bruno/CNCPortal/Auth/Auth - 1- Get Nonce.bru
  backend/bruno/CNCPortal/Auth/Auth - 2 - Login with SIWE.bru
  backend/bruno/CNCPortal/Auth/Auth - 2 - Validate Token.bru
  backend/bruno/CNCPortal/Auth/Auth - 3 - Test Protected Route.bru
  backend/bruno/CNCPortal/Auth/Auth - 4 - Complete Auth Flow.bru
  backend/bruno/CNCPortal/Auth/Auth - 5 - Validate Token.bru
  backend/bruno/CNCPortal/Auth/Auth - 6 - Invalid Token.bru
  backend/bruno/CNCPortal/Auth/Auth - 7 - Missing Token.bru
  backend/bruno/CNCPortal/Auth/Auth - Invalid Token.bru
  backend/bruno/CNCPortal/Auth/Auth - Missing Token.bru
  backend/bruno/CNCPortal/Auth/README.md
  backend/bruno/CNCPortal/Get Claims.bru
  backend/bruno/CNCPortal/README.md
  backend/bruno/CNCPortal/Submit Claim.bru
  backend/bruno/CNCPortal/Wage not authenticated.bru
  backend/bruno/CNCPortal/Wage.bru
  backend/bruno/CNCPortal/bruno.json
  backend/bruno/CNCPortal/collection.bru
  backend/bruno/CNCPortal/environments/CNCURI.bru
Due: api-unit-tests

feat: remove obsolete authentication test scripts and update protected route test to validate token
  backend/bruno/CNCPortal/Auth/Auth - 1 - Get Nonce.bru
  backend/bruno/CNCPortal/Auth/Auth - 2 - Validate Token.bru
  backend/bruno/CNCPortal/Auth/Auth - 3 - Test Protected Route.bru
Due: api-unit-tests

remove unecessary variables
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

remove unused variables
  app/src/components/sections/SherTokenView/DividendsBalancesSection.vue
Due: app-unit-tests, app-e2e-tests

remove unused variables
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
Due: app-unit-tests, app-e2e-tests

update store usage
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
Due: app-unit-tests, app-e2e-tests

fix failing test
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
Due: app-unit-tests, app-e2e-tests

test: skip ModalComponent render test in App.vue
  app/src/__tests__/App.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add user information display in ClaimHistory component
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

refactor: update user update logic in EditUserForm to improve success handling and endpoint structure
  app/public/Vector.png
  app/src/components/forms/EditUserForm.vue
Due: app-unit-tests, app-e2e-tests

test: enhance EditUserForm tests to validate updated user handling and toast notifications
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: integrate AddressToolTip component for address display in ClaimHistory
  app/src/components/sections/ClaimHistoryView/ClaimHistory.vue
Due: app-unit-tests, app-e2e-tests

upgrade coverage
  app/src/components/sections/SherTokenView/InvestorsTransactions.vue
  app/src/components/sections/SherTokenView/__tests__/DividendsBalancesSection.spec.ts
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/__tests__/__snapshots__/DividendsBalancesSection.spec.ts.snap
  app/src/components/sections/SherTokenView/forms/PayDividendsForm.vue
  app/src/components/sections/SherTokenView/forms/__tests__/PayDividendsForm.spec.ts
Due: app-unit-tests, app-e2e-tests

udpdate tests
  app/src/components/sections/SherTokenView/__tests__/InvestorsTransaction.spec.ts
  app/src/components/sections/SherTokenView/forms/__tests__/PayDividendsForm.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: handle revert
  app/src/utils/errorUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: use simulate contract
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
Due: app-unit-tests, app-e2e-tests

feat: pass abi & use simulate contract
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
Due: app-unit-tests, app-e2e-tests

chore: remove unused
  app/src/components/sections/CashRemunerationView/CRWithdrawClaim.vue
  app/src/components/sections/ExpenseAccountView/TransferAction.vue
  app/src/utils/errorUtil.ts
Due: app-unit-tests, app-e2e-tests

feat: add development routes and controller for SIWE signature generation and health check
  backend/src/config/serverConfig.ts
  backend/src/controllers/__tests__/devController.test.ts
  backend/src/controllers/devController.ts
  backend/src/routes/devRoutes.ts
  backend/src/types/index.ts
  backend/src/types/siwe-types.ts
Due: api-unit-tests

correct useContract balance call
  app/src/components/sections/SherTokenView/DividendsBalancesSection.vue
Due: app-unit-tests, app-e2e-tests

feat: implement complete authentication flow with SIWE, including signature generation, login, and token validation tests
  backend/bruno/CNCPortal/Auth/Auth - 2 - Generate SIWE Signature.bru
  backend/bruno/CNCPortal/Auth/Auth - 3 - Login with SIWE.bru
  backend/bruno/CNCPortal/Auth/Auth - 4 - Test Protected Route.bru
  backend/bruno/CNCPortal/Auth/Auth - 5 - Complete Auth Flow.bru
  backend/bruno/CNCPortal/Auth/Auth - 6 - Validate Token.bru
  backend/bruno/CNCPortal/Auth/Auth - 7 - Invalid Token.bru
  backend/bruno/CNCPortal/Auth/Auth - 8 - Missing Token.bru
  backend/bruno/CNCPortal/environments/CNCURI.bru
Due: api-unit-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
