Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract

test: add mock for useAddAction in BankManagement, BankSection, and BoardOfDirectorsSection tests
  app/src/components/sections/SingleTeamView/__tests__/BankManagement.spec.ts
  app/src/components/sections/SingleTeamView/__tests__/BankSection.spec.ts
  app/src/components/sections/SingleTeamView/__tests__/BoardOfDirectorsSection.spec.ts
Due: app-unit-tests

fix testing
  app/src/components/sections/SingleTeamView/tables/__tests__/SendToWalletHistory.spec.ts
Due: app-unit-tests

test: expense account section
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests

chore: remove logs and commemts
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

chore: remove unused
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
  app/src/components/sections/SingleTeamView/forms/__tests__/ApproveUsersEIP712Form.spec.ts
Due: app-unit-tests

test: add is fetching test
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

test: add exp account form
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

test: add and get expense data
  backend/src/controllers/__tests__/teamConroller.test.ts
  backend/src/controllers/teamController.ts
Due: api-unit-tests

test: fix tests
  app/src/__mocks__/viem.ts
  app/src/__mocks__/viem/actions.ts
  app/src/components/sections/SingleTeamView/tables/DepositHistory.vue
  app/src/components/sections/SingleTeamView/tables/SendToWalletHistory.vue
  app/src/components/sections/SingleTeamView/tables/TransferHistory.vue
  app/src/components/sections/SingleTeamView/tables/__tests__/DepositHistory.spec.ts
  app/src/components/sections/SingleTeamView/tables/__tests__/SendToWalletHistory.spec.ts
  app/src/components/sections/SingleTeamView/tables/__tests__/TransferHistory.spec.ts
  app/src/components/sections/TransactionsView/__tests__/PushTipTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/__tests__/SendTipTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/__tests__/TipWithdrawalTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/tables/PushTipTransactionsTable.vue
  app/src/components/sections/TransactionsView/tables/SendTipTransactonsTable.vue
  app/src/components/sections/TransactionsView/tables/TipWithdrawalTransactionsTable.vue
  app/src/composables/__tests__/bank.spec.ts
Due: app-unit-tests

test: set vitest to UTC
  app/src/components/sections/SingleTeamView/tables/__tests__/DepositHistory.spec.ts
  app/src/components/sections/SingleTeamView/tables/__tests__/SendToWalletHistory.spec.ts
  app/src/components/sections/SingleTeamView/tables/__tests__/TransferHistory.spec.ts
  app/src/components/sections/TransactionsView/__tests__/PushTipTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/__tests__/SendTipTransactionsTable.spec.ts
  app/src/components/sections/TransactionsView/__tests__/TipWithdrawalTransactionsTable.spec.ts
  app/vitest.config.ts
Due: app-unit-tests

fix: error description
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: test name typo
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: test new message
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

fix: update contract deployment status and hide buttons after deployment
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

fix: streamline team update logic in OfficerForm component
  app/src/components/forms/OfficerForm.vue
Due: app-unit-tests

test: add unit test for rendering members and founders in OfficerForm component
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

test: add additional tests for OfficerForm component and improve button visibility logic
  app/src/components/forms/OfficerForm.vue
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

chore: remove unused import
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

chore: remove unused
  app/src/services/__tests__/bankService.spec.ts
  app/src/services/bankService.ts
  app/src/services/bodService.ts
  app/src/services/tipsService.ts
Due: app-unit-tests

test: add more tests
  app/src/components/forms/OfficerForm.vue
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

test: add more test
  app/src/components/forms/__tests__/OfficerForm.spec.ts
Due: app-unit-tests

feat: add AdCampaignManager contract and test
  contract/contracts/AdCampaignManager.sol
  contract/test/AdCampaignManager.spec.ts
Due: contract-unit-tests

fix: format conteact/test/AdCampaignManager.spec.ts
  contract/test/AdCampaignManager.spec.ts
Due: contract-unit-tests

refactor: tips feature
  app/src/App.vue
  app/src/composables/tips.ts
  app/src/services/tipsService.ts
Due: app-unit-tests

refactor: change path names
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

refactor: update api endpoints
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

test: update endpoint
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
Due: app-unit-tests

chore: remove log
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
Due: app-unit-tests

feat: add intitialization
  contract/contracts/Officer.sol
  contract/contracts/expense-account/ExpenseAccountEIP712.sol
  contract/ignition/modules/ExpenseAccountEIP712Module.ts
  contract/ignition/modules/OfficerModule.ts
Due: contract-unit-tests

test: add initialization argument
  contract/test/ExpenseAccountEIP712.spec.ts
Due: contract-unit-tests

test: add eip712 argument
  contract/test/Officer.spec.ts
Due: contract-unit-tests

feat: add eip712 constants
  app/src/constant/index.ts
Due: app-unit-tests

refactor: use noun instead of verb
  app/src/components/sections/SingleTeamView/ExpenseAccountEIP712Section.vue
  app/src/components/sections/SingleTeamView/__tests__/ExpenseAccountEIP712Section.spec.ts
  backend/src/routes/teamRoutes.ts
Due: app-unit-tests, api-unit-tests

test: add more tests
  app/src/App.vue
  app/src/__tests__/App.spec.ts
  app/src/stores/__mocks__/user.ts
Due: app-unit-tests

feat: add individual mint
  contract/contracts/Investor/Investor.sol
Due: contract-unit-tests

test: add tests
  contract/test/Investor.spec.ts
Due: contract-unit-tests

feat: add investors contract to team table
  backend/prisma/migrations/20241111155854_add_investor_address_to_team/migration.sql
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: add investor address team controller
  backend/src/controllers/teamController.ts
Due: api-unit-tests

fix: e2e testing
  app/test/fixtures/login.fixture.ts
Due: app-unit-tests

feat: add service and composables for addCampaign
  app/src/artifacts/abi/AdCampaignManager.json
  app/src/composables/__tests__/addCampaign.spec.ts
  app/src/composables/addCampaign.ts
  app/src/services/AddCampaignService.ts
  app/src/services/__tests__/AddCampaignService.spec.ts
  backend/prisma/schema.prisma
  backend/src/controllers/teamController.ts
Due: app-unit-tests, api-unit-tests
