Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: ✨ enhance UI for classification badges and buttons in AccountingView
  app/src/components/sections/AccountingView/ClassificationTable.vue
  app/src/components/sections/AccountingView/LedgerClassificationCell.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ refactor classification logic and improve documentation for Bank/Safe transactions
  app/src/utils/accounting/__tests__/classification.spec.ts
  app/src/utils/accounting/classification.ts
  app/src/utils/accounting/classificationTarget.ts
  app/src/utils/accounting/mappers/applyClassification.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ improve documentation and refactor classification logic in Accounting components
  app/src/components/sections/AccountingView/ClassificationTable.vue
  app/src/components/sections/AccountingView/LedgerClassificationCell.vue
Due: app-unit-tests, app-e2e-tests

feat: ✨ implement useAccountingBackendFeeds for off-chain enrichment queries in CNC Accounting
  app/src/composables/accounting/useAccountingBackendFeeds.ts
  app/src/composables/accounting/useCNCAccounting.ts
Due: app-unit-tests, app-e2e-tests

feat: ✨ add rate limiting to classification routes and extend classification categories
  backend/src/controllers/__tests__/classificationController.test.ts
  backend/src/routes/classificationRoute.ts
  backend/src/validation/schemas/classification.ts
Due: api-unit-tests

feat: ✨ add link to Accounting backend feeds in documentation
  docs/features/accounting/README.md
Due: none

feat: ✨ add a real Vite dev server for the widget, fix scripts/ gitignore
  .gitignore
  app/package.json
  app/scripts/serve-widget.mjs
  app/src/widget/main.ts
  app/vite.widget.config.ts
  app/widget-dev/entry.ts
  app/widget-dev/index.html
Due: app-unit-tests, app-e2e-tests

feat: ✨ make the widget's base URL configurable, clarify the embed snippet
  app/.env.example
  app/src/components/sections/PaymentGateView/IntegrationCard.vue
  app/src/constant/index.ts
Due: app-unit-tests, app-e2e-tests

chore: 🔧 drop the local widget preview server script
  app/package.json
  app/scripts/serve-widget.mjs
  app/widget-dev/index.html
Due: app-unit-tests, app-e2e-tests

fix: 🐛 add missing payment-gate routes to SidebarLayout's test router
  app/src/components/ui/__tests__/SidebarLayout.spec.ts
Due: app-unit-tests, app-e2e-tests

style: 🎨 apply prettier markdown formatting to payment-gate docs
  docs/features/payment-gate/Readme.md
  docs/features/payment-gate/flow-and-edge-cases.md
  docs/features/payment-gate/v0-Readme.md
Due: none

feat: add contractAddress to bank event types and queries
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
  app/src/composables/bank/useBankEventsViaLogs.ts
  app/src/queries/ponder/bank.queries.ts
  app/src/types/ponder/bank.ts
Due: app-unit-tests, app-e2e-tests

feat: add support for cash pockets with contract instances and update ledger entry structure
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/ledgerEntry.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance bank and cash remuneration mappers to include contractAddress and improve internal move handling
  app/src/utils/accounting/mappers/bank.ts
  app/src/utils/accounting/mappers/cashRemuneration.ts
  app/src/utils/accounting/mappers/expenseAccount.ts
  app/src/utils/accounting/mappers/safe.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance general ledger to support trial balance rows for redeployed pockets with instance suffixing
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/generalLedger.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 satisfy documentation freshness for the Payment Gate feature
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/community-credit/README.md
  docs/features/companies/README.md
  docs/features/payment-gate/Readme.md
  docs/features/payroll/README.md
Due: none

docs: 📝 replace the full Payment Gate Readme with the v0-scoped one
  app/src/composables/usePaymentGateMockState.ts
  docs/features/payment-gate/Readme.md
  docs/features/payment-gate/flow-and-edge-cases.md
  docs/features/payment-gate/v0-Readme.md
Due: app-unit-tests, app-e2e-tests

docs: 📝 rename Readme.md to README.md for the Payment Gate feature
  app/src/composables/usePaymentGateMockState.ts
  docs/features/README.md
  docs/features/payment-gate/README.md
Due: app-unit-tests, app-e2e-tests

feat: add tests for handling bank entries with and without instances in general ledger
  app/src/utils/accounting/__tests__/accountLedger.spec.ts
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: refactor expense account event mapping to use nativeTag for token-less rows
  app/src/utils/accounting/mappers/expenseAccount.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance accounting logic to support instance scoping for split-pocket ledgers
  app/src/utils/accounting/accountLedger.ts
  app/src/utils/accounting/chartOfAccounts.ts
  app/src/utils/accounting/exportSpec.ts
  app/src/utils/accounting/generalLedger.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance ledger options to include instance and blank row handling for accounting exports
  app/src/utils/accountingExport.ts
  app/src/utils/accountingPdf.ts
Due: app-unit-tests, app-e2e-tests

feat: enhance ledger drilldown to support pocket instance scoping and improve openFor functionality
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
  app/src/composables/accounting/useLedgerDrilldown.ts
Due: app-unit-tests, app-e2e-tests

feat: update README to include trial balance details and additional bank components
  docs/features/accounting/README.md
  docs/features/accounts/README.md
Due: none

feat: enhance trial balance row structure to support instance splitting and primary instance identification
  app/src/utils/accounting/__tests__/generalLedger.spec.ts
  app/src/utils/accounting/generalLedger.ts
  app/src/utils/accounting/presenter.ts
Due: app-unit-tests, app-e2e-tests

feat: update trial sheet and table to use label instead of account for exports
  app/src/utils/accountingExport.ts
  app/src/utils/accountingPdf.ts
Due: app-unit-tests, app-e2e-tests

feat: add redeploy hint tooltip for split accounts in trial balance
  app/src/components/sections/AccountingView/TrialBalanceCard.vue
Due: app-unit-tests, app-e2e-tests

feat: update contract migration history to clarify trial balance handling for redeployed cash pockets
  docs/features/accounting/contract-migration-history.md
Due: none

docs: 📝 align board elections user stories
  docs/features/README.md
  docs/features/elections/README.md
  docs/features/elections/Readme.md
Due: none

docs: 📝 simplify user-story status metadata
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/backoffice/feature-restrictions/README.md
  docs/features/backoffice/statistics/README.md
  docs/features/community-credit/README.md
  docs/features/companies/README.md
  docs/features/contract-management/README.md
  docs/features/elections/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/features/vesting/README.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 avoid repeated user-story statuses
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/backoffice/feature-restrictions/README.md
  docs/features/backoffice/statistics/README.md
  docs/features/community-credit/README.md
  docs/features/companies/README.md
  docs/features/contract-management/README.md
  docs/features/elections/README.md
  docs/features/payroll/README.md
  docs/features/shareholder-management/README.md
  docs/features/vesting/README.md
  docs/platform/feature-specification-guide.md
Due: none

docs: 📝 centralize shared client navigation evidence
  docs/features/README.md
  docs/features/accounting/README.md
  docs/features/accounts/README.md
  docs/features/authentication/README.md
  docs/features/community-credit/README.md
  docs/features/companies/README.md
  docs/features/elections/README.md
  docs/features/payroll/README.md
  docs/implementation/README.md
  docs/implementation/client-navigation/README.md
Due: none

docs: 📝 satisfy documentation freshness after merging develop
  contract/scripts/README.md
  docs/features/payment-gate/README.md
  scripts/audit-contract-coverage.README.md
Due: contract-unit-tests

revert: ⏪ drop mockConnector's sendTransaction/multi-account support
  app/src/e2e/mockConnector.ts
Due: app-unit-tests, app-e2e-tests

docs: 📝 document complete company lifecycle
  docs/features/companies/README.md
Due: none

docs: 📝 order company user stories
  docs/features/companies/README.md
Due: none

docs: apply prettier markdown formatting to accounting docs
  docs/features/accounting/README.md
  docs/features/accounting/contract-migration-history.md
  docs/features/accounts/README.md
Due: none

chore: auto-format staged markdown via lint-staged to prevent CI format failures
  package.json
Due: none

docs: update accounting documentation to clarify dividend distribution entries
  docs/features/accounting/README.md
  docs/features/accounting/money-flow-catalogue.md
Due: none

feat: add dividend grouping to ledger rendering
  app/src/utils/accounting/ledgerGrouping.ts
Due: app-unit-tests, app-e2e-tests
