Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

codecov.yml:

coverage:
  status:
    project: true

github_checks:
  annotations: true

flags:
  app-unit-tests:
    carryforward: true
    paths:
      - app
  api-unit-tests:
    carryforward: true
    paths:
      - backend
  contract-unit-tests:
    carryforward: true
    paths:
      - contract
  app-e2e-tests:
    carryforward: true
    paths:
      - app
ignore:
  - "app/*.ts"

feat: update error handling for member actions to reflect correct status codes and improve messaging
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

feat: update member section to use team.id for member actions and clean up unused code
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

test: comment out unused mocks and tests in MemberSection.spec.ts
  app/src/components/sections/SingleTeamView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

test: comment out unused TableComponent import in MemberSection.spec.ts
  app/src/components/sections/SingleTeamView/__tests__/MemberSection.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: moove member management functionality with add, delete, and wage setting operations in a separate file
  backend/src/controllers/memberController.ts
  backend/src/controllers/teamController.ts
  backend/src/routes/teamRoutes.ts
Due: api-unit-tests

test: comment out wage-related tests in teamController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
Due: api-unit-tests

test: integrate vue-router into ShowIndex.spec.ts for navigation testing
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add route and navigation test for ShowIndex component
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: remove success property from JSON responses in action and auth controllers
  backend/src/controllers/__tests__/authController.test.ts
  backend/src/controllers/__tests__/notificationController.test.ts
  backend/src/controllers/__tests__/teamController.test.ts
  backend/src/controllers/actionController.ts
  backend/src/controllers/authController.ts
Due: api-unit-tests

chore: remove unused import
  app/src/views/team/[id]/__tests__/ShowIndex.spec.ts
Due: app-unit-tests, app-e2e-tests

refactor: update UserComponent and related components to use refined User type
  app/src/components/UserComponent.vue
  app/src/components/sections/SingleTeamView/MemberSection.vue
  app/src/components/utils/MultiSelectMemberInput.vue
  app/src/types/user.ts
Due: app-unit-tests, app-e2e-tests

refactor: update AddMemberForm to use computed membersAddress and refine formData type
  app/src/components/sections/SingleTeamView/forms/AddMemberForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: update addMembers function to validate members data and improve error handling
  backend/src/controllers/memberController.ts
Due: api-unit-tests

refactor: update addMembers function to map member addresses for improved data handling
  backend/src/controllers/memberController.ts
Due: api-unit-tests

chore: add @faker-js/faker as a dev dependency for improved testing capabilities
  backend/package-lock.json
  backend/package.json
Due: api-unit-tests

refactor: update addMembers function to return a 404 response for missing teams
  backend/src/controllers/memberController.ts
Due: api-unit-tests

test: add unit tests for addMembers function in userController
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

refactor: update addMembers function to use Pick<User, "address"> for membersData type
  backend/src/controllers/memberController.ts
Due: api-unit-tests

test: remove commented console logs from userController tests
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

test: remove describe.only from memberController tests to ensure all tests run
  backend/src/controllers/__tests__/userController.test.ts
Due: api-unit-tests

refactor: add address middleware and authorization check in addMembers function
  backend/src/controllers/__tests__/userController.test.ts
  backend/src/controllers/memberController.ts
Due: api-unit-tests

test: add unit tests for memberController and improve error handling in deleteMember function
  backend/src/controllers/__tests__/memberController.test.ts
  backend/src/controllers/memberController.ts
Due: api-unit-tests

style: format code for better readability in MemberSection and MultiSelectMemberInput components
  app/src/components/sections/SingleTeamView/MemberSection.vue
  app/src/components/utils/MultiSelectMemberInput.vue
Due: app-unit-tests, app-e2e-tests

test: add authorization check for adding members in memberController tests
  backend/src/controllers/__tests__/memberController.test.ts
Due: api-unit-tests

refactor: enhance error handling and validation in setEmployeeWage function
  backend/src/controllers/memberController.ts
Due: api-unit-tests

test: add unit tests for setEmployeeWage endpoint with various scenarios
  backend/src/controllers/__tests__/memberController.test.ts
Due: api-unit-tests

test: add validation check for invalid member address in setWage endpoint
  backend/src/controllers/__tests__/memberController.test.ts
Due: api-unit-tests

refactor: improve validation for wage data in setEmployeeWage function
  backend/src/controllers/memberController.ts
Due: api-unit-tests

feat: deploy mock usdt token
  app/src/constant/index.ts
  contract/ignition/deployments/chain-80002/artifacts/MockTokens#USDT.dbg.json
  contract/ignition/deployments/chain-80002/artifacts/MockTokens#USDT.json
  contract/ignition/deployments/chain-80002/deployed_addresses.json
  contract/ignition/deployments/chain-80002/journal.jsonl
Due: app-unit-tests, contract-unit-tests, app-e2e-tests

Revert folder contract/ignition/ to original
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Bank.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BankBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/BoardOfDirectorsModule#BoardOfDirectors.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#CashRemunerationEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/CashRemunerationEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#ExpenseAccountEIP712.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountEIP712Module#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#ExpenseAccount.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ExpenseAccountModule#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/InvestorsV1BeaconModule#InvestorV1.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/Officer#FactoryBeacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#ProxyAdmin.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#Tips.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/ProxyModule#TransparentUpgradeableProxy.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/TipsModule#Tips.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Beacon.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.dbg.json
  contract/ignition/deployments/chain-11155111/artifacts/VotingBeaconModule#Voting.json
  contract/ignition/deployments/chain-11155111/deployed_addresses.json
  contract/ignition/deployments/chain-11155111/journal.jsonl
Due: contract-unit-tests

revert: use old deployed addresses
  app/src/artifacts/deployed_addresses/chain-11155111.json
Due: app-unit-tests, app-e2e-tests

chore: remove unused file
  contract/abi/Officer.json
Due: contract-unit-tests

ci: create folder fot the graph
  the-graph/.gitignore
  the-graph/abis/ERC20.json
  the-graph/abis/ExpenseAccountEIP712.json
  the-graph/abis/Officer.json
  the-graph/abis/OfficerFactoryBeacon.json
  the-graph/docker-compose.yml
  the-graph/networks.json
  the-graph/package.json
  the-graph/schema.graphql
  the-graph/src/expenseAccountEip712.ts
  the-graph/src/officer.ts
  the-graph/src/officerFactoryBeacon.ts
  the-graph/subgraph.yaml
  the-graph/tests/officer-utils.ts
  the-graph/tests/officer.test.ts
  the-graph/tsconfig.json
  the-graph/yarn.lock
Due: none

style: format schema.prisma for improved readability and consistency
  backend/prisma/schema.prisma
Due: api-unit-tests

refactor: rename executeDeleteMember to deleteMember and streamline deletion logic to handle reload after delete
  app/src/components/sections/SingleTeamView/MemberAction.vue
Due: app-unit-tests, app-e2e-tests

refactor: update MemberSection to use teamStore for better state management and improve reactivity
  app/src/components/sections/SingleTeamView/MemberSection.vue
Due: app-unit-tests, app-e2e-tests

refactor: change response status from 200 to 204 in deleteMember for improved API consistency
  backend/src/controllers/memberController.ts
Due: api-unit-tests

feat: add Wage and wageRelated models to schema for wage management
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: add Wage model and update related models for wage management
  backend/prisma/schema.prisma
Due: api-unit-tests

feat: add createdAt and updatedAt fields to models for better tracking of record changes
  backend/prisma/schema.prisma
Due: api-unit-tests
