Repository globe-and-citizen/cnc-portal: changes, and which Codecov flags are due for each by the changed paths.
All: app-unit-tests, api-unit-tests, contract-unit-tests, app-e2e-tests

Refactor async fetch call for contract sync in DeployContractSection
  app/src/components/sections/TeamView/forms/DeployContractSection.vue
Due: app-unit-tests, app-e2e-tests

Remove outdated information about Tips.sol from README.md
  contract/README.md
Due: contract-unit-tests

Enhance AddMemberForm to fetch updated team data after adding members
  app/src/components/sections/SingleTeamView/forms/AddMemberForm.vue
Due: app-unit-tests, app-e2e-tests

Remove SingleTeamView component and associated routes
  app/src/router/index.ts
  app/src/views/SingleTeamView.vue
Due: app-unit-tests, app-e2e-tests

Remove SingleTeamView import from router configuration
  app/src/router/index.ts
Due: app-unit-tests, app-e2e-tests

Update TeamMetaComponent to display dynamic member count and modify teamController to include member count in team data
  app/src/components/TeamMetaComponent.vue
  backend/src/controllers/teamController.ts
Due: app-unit-tests, api-unit-tests, app-e2e-tests

build: install morgan
  backend/package-lock.json
  backend/package.json
Due: api-unit-tests

fix: use ref instead of value
  app/src/components/sections/ExpenseAccountView/ApprovedExpensesSection.vue
Due: app-unit-tests, app-e2e-tests

fix: rename query
  app/src/components/sections/CashRemunerationView/CashRemunerationTransactions.vue
Due: app-unit-tests, app-e2e-tests

fix: use cash remuneration not expense
  app/src/views/team/[id]/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

fix: add missing import
  app/src/views/team/[id]/CashRemunerationView.vue
Due: app-unit-tests, app-e2e-tests

fix: handle possible null
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

chore: remove logs
  app/src/components/sections/ExpenseAccountView/ExpenseAccountTable.vue
Due: app-unit-tests, app-e2e-tests

fix: temporarily disable rate limiter
  backend/src/config/serverConfig.ts
Due: api-unit-tests

git status
  backend/src/config/serverConfig.ts
Due: api-unit-tests

feat: bind data to the graph
  app/src/components/sections/BankView/TransactionsHistorySection.vue
Due: app-unit-tests, app-e2e-tests

fix: remove duplicate handling of stable coins
  the-graph/src/bank.ts
  the-graph/subgraph.yaml
Due: none

ci: deploy sepolia
  the-graph/subgraph.yaml
Due: none

style: prettier
  app/src/components/sections/BankView/TransactionsHistorySection.vue
Due: app-unit-tests, app-e2e-tests

feat: add currencyStore
  app/src/stores/currencyStore.ts
Due: app-unit-tests, app-e2e-tests

feat: add currency input in edit user form
  app/src/components/forms/EditUserForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: use v-model instead
  app/src/components/forms/EditUserForm.vue
Due: app-unit-tests, app-e2e-tests

refactor: use barrel export
  app/src/components/forms/EditUserForm.vue
  app/src/stores/index.ts
Due: app-unit-tests, app-e2e-tests

test: fix tests
  app/src/components/forms/__tests__/EditUserForm.spec.ts
Due: app-unit-tests, app-e2e-tests

test: fix error
  app/src/components/sections/BankView/__tests__/TransactionsHistorySection.spec.ts
Due: app-unit-tests, app-e2e-tests

test: add tests
  app/src/components/forms/EditUserForm.vue
  app/src/components/forms/__tests__/EditUserForm.spec.ts
  app/src/stores/__tests__/currencyStore.spec.ts
Due: app-unit-tests, app-e2e-tests

Update TheDrawer.vue to conditionally show menu items based on team contracts availability
  app/src/components/TheDrawer.vue
Due: app-unit-tests, app-e2e-tests

test: reflect changes in visible menu items
  app/src/components/__tests__/TheDrawerV2.spec.ts
Due: app-unit-tests, app-e2e-tests

feat: add SHER Token route and update drawer menu item
  app/src/components/TheDrawer.vue
  app/src/router/index.ts
  app/src/views/team/[id]/SherTokenView.vue
Due: app-unit-tests, app-e2e-tests

refactor: rename SHER TOKEN to Investors and update SherTokenView to use InvestorsSection component
  app/src/components/TheDrawer.vue
  app/src/views/team/[id]/SherTokenView.vue
Due: app-unit-tests, app-e2e-tests

refactor: wrap investor actions and token information in CardComponent
  app/src/components/sections/SingleTeamView/InvestorsActions.vue
  app/src/components/sections/SingleTeamView/InvestorsHeader.vue
Due: app-unit-tests, app-e2e-tests

refactor: integrate CardComponent in ShareholderList for improved layout
  app/src/components/sections/SingleTeamView/ShareholderList.vue
Due: app-unit-tests, app-e2e-tests

test: enhance InvestorsHeader tests to validate loading states and team contract integration
  app/src/components/sections/SingleTeamView/__tests__/InvestorsHeader.spec.ts
Due: app-unit-tests, app-e2e-tests

test: improve InvestorsHeader tests for loading states and team contract integration
  app/src/views/team/[id]/__tests__/SherTokenView.spec.ts
Due: app-unit-tests, app-e2e-tests

reploace useCustomFetch to teamStore usage
  app/src/components/TeamContractAdmins.vue
  app/src/components/TeamContracts.vue
  app/src/components/__tests__/TeamContractAdmins.spec.ts
  app/src/components/__tests__/TeamContracts.spec.ts
  app/src/views/team/[id]/ContractManagementView.vue
  app/src/views/team/[id]/__tests__/ContractManagementView.spec.ts
Due: app-unit-tests, app-e2e-tests

Update backend/src/config/serverConfig.ts
  backend/src/config/serverConfig.ts
Due: api-unit-tests

refactor: use object of currency instead
  app/src/components/forms/EditUserForm.vue
  app/src/stores/currencyStore.ts
Due: app-unit-tests, app-e2e-tests

update contract management vue
  app/src/components/forms/CreateAddCamapaign.vue
Due: app-unit-tests, app-e2e-tests

Enhance modal visibility and integrate team reload on contract deployment
  app/src/App.vue
  app/src/components/forms/AddTeamForm.vue
Due: app-unit-tests, app-e2e-tests

Path conditions:
  app-unit-tests: any of: app, but not: app/*.ts
  api-unit-tests: any of: backend, but not: app/*.ts
  contract-unit-tests: any of: contract, but not: app/*.ts
  app-e2e-tests: any of: app, but not: app/*.ts
